@font-face {
  font-family: 'iconfont';  /* project id 2360175 */
  src: url('https://at.alicdn.com/t/font_2360175_5gzv1uwswoo.eot');
  src: url('https://at.alicdn.com/t/font_2360175_5gzv1uwswoo.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2360175_5gzv1uwswoo.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2360175_5gzv1uwswoo.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2360175_5gzv1uwswoo.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2360175_5gzv1uwswoo.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
  content: "\e652";
}

.icon-up:before {
  content: "\e74d";
}
.icon-down:before {
  content: "\e6f0";
}
.icon-zan:before {
  content: "\e62e";
}
.icon-share:before {
  content: "\e63e";
}
.icon-search:before {
  content: "\e62d";
}
.icon-collect:before {
  content: "\e659";
}

.icon-badDown:before {
  content: "\e607";
}

.icon-replay:before {
  content: "\e609";
}
.icon-chart:before {
  content: "\e616";
}
.icon-close:before {
  content: "\e71f";
}
.icon-sharefill:before {
  content: "\e871";
}
.icon-starfill:before {
  content: "\e608";
}

.icon-longsearch:before{
  content: "\e600";
}
.icon-smallup:before{
  content: "\e612";
}
.icon-smalldown:before{
  content: "\e610";
}

.icon-newEdit:before{
  content: "\e601";
}

.icon-link:before{
  content: "\e621";
}

.icon-del:before{
  content: "\e632";
}