main{
    background-color: #fff;
    padding-top: .37rem;
}

.advertising{
    background-color: #fff;
}
.invited,.hotUser{
    li{
        float: left;
        width: 50%;  
        font-size: 0;
        padding-right: .9rem;
        margin-top: .33rem;
        box-sizing: border-box; 
        a{
            font-size: .37rem;
        } 
        .users{
            span{
                font-weight: 600;
            }
        }
        p{
            float: left;
            max-width: 50%;
            font-size: .37rem;
        }
    }
}
.hotUser {
    li{
        height: .48rem;
    }
}
.invited{
    li{
        a{
            span{
                font-weight: 600;
            }
        }
    }
}
.recommendPro,.hotProblem{
    li{
        font-size: .44rem;
        margin-top: .33rem;
    }
}
