.questDetail{
    // padding-top: 28px;
    padding: 0 2.66%;
    background-color: #fff;
    // padding: 0 11px 0 15px;
    &>img{
        width: 100%;
        margin-bottom: 10px;
    }
    .questTit{
        // display: flex;
        // justify-content: space-between;
        >p{
            font-size: .44rem;
            font-weight: bold;
        }
        >div{
            margin-top: 10px;
            p{
                float: left;
                font-size: 0;
                .articlName{
                    font-size: 14px;
                }
                img{
                    width: 14px;
                    vertical-align: baseline;
                }
            }
            >div{
                font-size: 0;
                float: right;
                >a{
                    color: #ccc;
                    cursor: pointer;
                    font-size: 12px;
                    &.isSelect{
                        color: #ff9900;
                        span{
                            color: #ff9900;
                        }
                    }
                }
                span{
                    color: #ccc;
                    margin-left: 5px;
                }
            }
        }
    }
    .questContent{
        margin-top: .44rem;
        margin-bottom: .26rem;
        font-size: .26rem;
        color: #444;
        img{
            max-width: 100%;
        }
    }
    .questHandle{
        padding-bottom: 10px;
        p{
            &:nth-of-type(1){
                float: left;
                a{
                    display: inline-block;
                    // width: 68px;
                    // height: 30px;
                    padding: .148rem .22rem;
                    border-radius: 5px;
                    // line-height: 30px;
                    border: 1px solid #ff9900;
                    text-align: center;
                    margin-right: .11rem;
                    font-size: .26rem;
                    color: #ff9900;
                }
            }
            
        }
    }
    
}

.advertising{
    background-color: #fff;
}
.topTable{
    padding-top: 20px;
}
.requestList{
    padding: 0 2.66%;
    margin-top: 10px;
    background-color: #fff;
    .commentList{
        > ul{
            li{
                &:nth-last-child(1){
                    margin-bottom: 0;
                }
            }
        }
    }
}
.answerEdit{
    padding: 0 2.66%;
    background-color: #fff;
    margin-top: 10px;
    padding-top: 20px;
    display: none;
    // padding: 0 11px 0 15px;
    .userInfor{
        display: flex;
        justify-content: space-between;
        // padding-top: 19px;
        margin-bottom: 13px;
        &>p{
            &:nth-of-type(1){
                font-size: 0;
                &>span{
                    display: inline-block;
                    height: 0.74rem;
                    line-height: 0.74rem;
                    vertical-align: middle;
                    &:nth-of-type(1){
                        width: 0.74rem;
                        height: 0.74rem;
                        border-radius: 50%;
                        margin-right: 6px;
                        display: inline-block;
                        vertical-align: middle;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            vertical-align: baseline;
                        }
                    }
                }
            }
            &:nth-of-type(2){
                line-height: 36px;
                color: #808080;
                font-size: 12px;
            }
        }
    }
    .editFu{
        #div1{
            &>div{
                &:nth-of-type(1){
                    border: none!important;
                    border-top: 1px solid #e6e6e6!important;
                    border-bottom: 1px solid #e6e6e6!important;
                }
                &:nth-of-type(2){
                    border: none!important;
                }
            }
        }
        .btnBox{
            text-align: right;
            padding-bottom: 19px;
            padding-top: 5px;
        }
        button{
            padding: 9px 12px;
            border: none;
            border-radius: 5px;
            background-color: #ff9900;
            color: #fff;
        }
    }
}
main{
    // background-color: #fff;
    
}
.invited,.hotUser{
    li{
        font-size: 0;
        float: left;
        width: 50%;  
        padding-right: .9rem;
        margin-top: .33rem;
        box-sizing: border-box; 
        a{
            font-size: .37rem;
        } 
        .users{
            span{
                font-weight: 600;
            }
        }
        p{
            float: left;
            max-width: 50%;
            font-size: .37rem;
        }
    }
}
.hotUser {
    li{
        height: .48rem;
    }
}
.searchQuest {
    padding:  .3rem 2.66%;
    background-color: #fff;
}
.invited{
    li{
        a{
            span{
                font-weight: 600;
            }
        }
    }
}
.recommendPro,.hotProblem{
    li{
        font-size: .44rem;
        margin-top: .33rem;
    }
}

.inviteList{
    width: 100%;
    height: 100vh;
    position:fixed;
    top: 0;
    z-index: 999999;
    left: 0;
    background-color: rgba(18,18,18,.65);
    display: none;
    justify-content: center;
    align-items: center;
    .inviteBox{
        padding: 0 20px;
        box-sizing: border-box;
        width: 689px;
        height: calc(100vh - 48px);
        background-color: #fff;
        margin: 0 auto;
    }
    
    .inviteTop{
        height: 50px;
        font-size: 14px;
        line-height: 50px;
        border-bottom:1px solid #f6f6f6;
        font-weight: 600;
        >a{
            float: right;
        }
    }
    .inviteInfo{
        height: calc(100% - 51px);
        overflow: hidden;
        overflow-y: scroll;
        font-size: 12px;
        li{
            padding: 12px 0;
            border-bottom: 1px solid #f6f6f6;
            .userInfos{
                float: left;
            }
            >a{
                float: right;
                width: 80px;
                height: 32px;
                text-align: center;
                line-height: 32px;
                border:1px solid #ff9900;
                color:#ff9900;
                margin-top: 5px;
            }
            >span{
                float: right;
                width: 80px;
                text-align: center;
                line-height: 32px;
                height: 32px;
                border:1px solid rgb(133, 144, 166);
                color:rgb(133, 144, 166);
                margin-top: 5px;
            }
            .userInfos {
                img{
                    float: left;
                    width: 38px;
                    height: 38px;
                    border-radius: 3px;
                }
                .nameAndDesc{
                    float: left;
                    margin-left: 16px;
                    a{
                        font-weight: 600;
                        font-size: 15px;
                    }
                    p{
                        color: #8590a6;
                    }
                }
            }
        }
    }
}
.focusProblem.hasFocus{
    background: #ff9900;
    color: #fff!important;
}

.hasTurn{
    position: relative;
    &:hover{
        .shareBox{
            display: inline-block;
        }
    }
    .shareBox{
        position: absolute;
        right: 0;
        top: 17px;
        background-color: #fff;
        transform: translate(50%, 0);
        width: 168px;
        display: none;
    }
}
