main {
  background-color: #fff;
  padding-top: 0.37rem;
}

.advertising {
  background-color: #fff;
}

.invited li, .hotUser li {
  float: left;
  width: 50%;
  font-size: 0;
  padding-right: 0.9rem;
  margin-top: 0.33rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.invited li a, .hotUser li a {
  font-size: 0.37rem;
}
.invited li .users span, .hotUser li .users span {
  font-weight: 600;
}
.invited li p, .hotUser li p {
  float: left;
  max-width: 50%;
  font-size: 0.37rem;
}

.hotUser li {
  height: 0.48rem;
}

.invited li a span {
  font-weight: 600;
}

.recommendPro li, .hotProblem li {
  font-size: 0.44rem;
  margin-top: 0.33rem;
}