.questDetail {
  padding: 0 2.66%;
  background-color: #fff;
}
.questDetail > img {
  width: 100%;
  margin-bottom: 10px;
}
.questDetail .questTit > p {
  font-size: 0.44rem;
  font-weight: bold;
}
.questDetail .questTit > div {
  margin-top: 10px;
}
.questDetail .questTit > div p {
  float: left;
  font-size: 0;
}
.questDetail .questTit > div p .articlName {
  font-size: 14px;
}
.questDetail .questTit > div p img {
  width: 14px;
  vertical-align: baseline;
}
.questDetail .questTit > div > div {
  font-size: 0;
  float: right;
}
.questDetail .questTit > div > div > a {
  color: #ccc;
  cursor: pointer;
  font-size: 12px;
}
.questDetail .questTit > div > div > a.isSelect {
  color: #ff9900;
}
.questDetail .questTit > div > div > a.isSelect span {
  color: #ff9900;
}
.questDetail .questTit > div > div span {
  color: #ccc;
  margin-left: 5px;
}
.questDetail .questContent {
  margin-top: 0.44rem;
  margin-bottom: 0.26rem;
  font-size: 0.26rem;
  color: #444;
}
.questDetail .questContent img {
  max-width: 100%;
}
.questDetail .questHandle {
  padding-bottom: 10px;
}
.questDetail .questHandle p:nth-of-type(1) {
  float: left;
}
.questDetail .questHandle p:nth-of-type(1) a {
  display: inline-block;
  padding: 0.148rem 0.22rem;
  border-radius: 5px;
  border: 1px solid #ff9900;
  text-align: center;
  margin-right: 0.11rem;
  font-size: 0.26rem;
  color: #ff9900;
}

.advertising {
  background-color: #fff;
}

.topTable {
  padding-top: 20px;
}

.requestList {
  padding: 0 2.66%;
  margin-top: 10px;
  background-color: #fff;
}
.requestList .commentList > ul li:nth-last-child(1) {
  margin-bottom: 0;
}

.answerEdit {
  padding: 0 2.66%;
  background-color: #fff;
  margin-top: 10px;
  padding-top: 20px;
  display: none;
}
.answerEdit .userInfor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13px;
}
.answerEdit .userInfor > p:nth-of-type(1) {
  font-size: 0;
}
.answerEdit .userInfor > p:nth-of-type(1) > span {
  display: inline-block;
  height: 0.74rem;
  line-height: 0.74rem;
  vertical-align: middle;
}
.answerEdit .userInfor > p:nth-of-type(1) > span:nth-of-type(1) {
  width: 0.74rem;
  height: 0.74rem;
  border-radius: 50%;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
.answerEdit .userInfor > p:nth-of-type(1) > span:nth-of-type(1) img {
  width: 100%;
  height: 100%;
  vertical-align: baseline;
}
.answerEdit .userInfor > p:nth-of-type(2) {
  line-height: 36px;
  color: #808080;
  font-size: 12px;
}
.answerEdit .editFu #div1 > div:nth-of-type(1) {
  border: none !important;
  border-top: 1px solid #e6e6e6 !important;
  border-bottom: 1px solid #e6e6e6 !important;
}
.answerEdit .editFu #div1 > div:nth-of-type(2) {
  border: none !important;
}
.answerEdit .editFu .btnBox {
  text-align: right;
  padding-bottom: 19px;
  padding-top: 5px;
}
.answerEdit .editFu button {
  padding: 9px 12px;
  border: none;
  border-radius: 5px;
  background-color: #ff9900;
  color: #fff;
}

.invited li, .hotUser li {
  font-size: 0;
  float: left;
  width: 50%;
  padding-right: 0.9rem;
  margin-top: 0.33rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.invited li a, .hotUser li a {
  font-size: 0.37rem;
}
.invited li .users span, .hotUser li .users span {
  font-weight: 600;
}
.invited li p, .hotUser li p {
  float: left;
  max-width: 50%;
  font-size: 0.37rem;
}

.hotUser li {
  height: 0.48rem;
}

.searchQuest {
  padding: 0.3rem 2.66%;
  background-color: #fff;
}

.invited li a span {
  font-weight: 600;
}

.recommendPro li, .hotProblem li {
  font-size: 0.44rem;
  margin-top: 0.33rem;
}

.inviteList {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 999999;
  left: 0;
  background-color: rgba(18, 18, 18, 0.65);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inviteList .inviteBox {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 689px;
  height: calc(100vh - 48px);
  background-color: #fff;
  margin: 0 auto;
}
.inviteList .inviteTop {
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  border-bottom: 1px solid #f6f6f6;
  font-weight: 600;
}
.inviteList .inviteTop > a {
  float: right;
}
.inviteList .inviteInfo {
  height: calc(100% - 51px);
  overflow: hidden;
  overflow-y: scroll;
  font-size: 12px;
}
.inviteList .inviteInfo li {
  padding: 12px 0;
  border-bottom: 1px solid #f6f6f6;
}
.inviteList .inviteInfo li .userInfos {
  float: left;
}
.inviteList .inviteInfo li > a {
  float: right;
  width: 80px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border: 1px solid #ff9900;
  color: #ff9900;
  margin-top: 5px;
}
.inviteList .inviteInfo li > span {
  float: right;
  width: 80px;
  text-align: center;
  line-height: 32px;
  height: 32px;
  border: 1px solid #8590a6;
  color: #8590a6;
  margin-top: 5px;
}
.inviteList .inviteInfo li .userInfos img {
  float: left;
  width: 38px;
  height: 38px;
  border-radius: 3px;
}
.inviteList .inviteInfo li .userInfos .nameAndDesc {
  float: left;
  margin-left: 16px;
}
.inviteList .inviteInfo li .userInfos .nameAndDesc a {
  font-weight: 600;
  font-size: 15px;
}
.inviteList .inviteInfo li .userInfos .nameAndDesc p {
  color: #8590a6;
}

.focusProblem.hasFocus {
  background: #ff9900;
  color: #fff !important;
}

.hasTurn {
  position: relative;
}
.hasTurn:hover .shareBox {
  display: inline-block;
}
.hasTurn .shareBox {
  position: absolute;
  right: 0;
  top: 17px;
  background-color: #fff;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  width: 168px;
  display: none;
}