* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

.layui-form-select dl {
  max-height: 200px !important;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.container {
  width: 94.68%;
  margin: 0 auto;
}

.hide {
  display: none;
}

.singleHide {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.doubleHide {
  -o-text-overflow: -o-ellipsis-lastline;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.threeHide {
  -o-text-overflow: -o-ellipsis-lastline;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.fourHide {
  -o-text-overflow: -o-ellipsis-lastline;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.layui-btn {
  font-size: 0.26rem !important;
}

.layui-btn[type=submit] {
  background-color: #ff9900 !important;
}

.bannerImg {
  font-size: 0.26rem;
}