main{
    background-color: #fff;
    padding-top: .37rem;
    .small-menu{
        ul{
            li{
                float: left;
                padding: 0.33rem 0;
                margin-right: 0.33rem;
                font-size: 0;
                &.active{
                    color: #ff9900;
                    a{
                        color: #ff9900;
                    }
                }
            }
            div{
                float: left;
                font-weight: 600;
                font-size: 0;
                padding: 0.33rem 0;
                margin-right: 0.33rem;
            }
        }
    }
}

.itemAddress{
    .cityBox{
        .layui-input-inline{
            width: 100%!important;
        }
    }
}
.advertising{
    background-color: #fff;
    .smallTitle{
        &:nth-of-type(1){
            margin-top: 0;
        }
    }
}
.showrecommends,.showHotItem,.showHotTeam{
    li{
        font-size: .44rem;
        margin-top: .33rem;
    }
}
.projectDetail{
    background-color: #fff;
    // padding-top: .44rem;
    padding-bottom: .44rem ;
    .statement{
        font-size: 14px;
        color: #cbcbcb;
    }
    .detatiTit{
        font-size: .44rem;
        color: #444;
        font-weight: bold;
        // text-align: center;
        margin: .33rem 0 .37rem 0;
    }
    .timeAndAuthor{
        font-size: .3rem;
        color: #808080;
        display: flex;
        margin-bottom: .44rem;
        justify-content: space-between;
        >div{
            &:nth-of-type(1){
                span{
                    &:nth-of-type(2){
                        margin-left: 24px;
                    }
                }
            }
            &:nth-of-type(2){
                color: #ccc;
                >a{
                    color: #e6e6e6;
                    span{
                        color: #e6e6e6; 
                    }
                    &.isSelect{
                        color: #ff9900;
                        span{
                            color: #ff9900; 
                        }
                    }
                }
                
            }
        }
    }
    .detailInfo{
        img{
            max-width: 100%;
        }
    }
}
.hasTurn{
    position: relative;
    &:hover{
        .shareBox{
            display: inline-block;
        }
    }
    .shareBox{
        position: absolute;
        right: 0;
        top: 17px;
        background-color: #fff;
        transform: translate(50%, 0);
        width: 168px;
        display: none;
    }
}