header{
    background-color: #fff;
    .container{
        padding-top: .43rem;
        &>div>img{
            width: 1.59rem;
            height: 1.59rem;
            float: left;
            padding-right: .15rem;
        }
        .headContent{
            float: left;
            &>p{
                font-size: .55rem;
                color: #444;
                font-weight: 600;
                padding-bottom: .43rem;
            }
            .search{
                height: .7rem;
                line-height: .7rem;
                .searchBox{
                    position: relative;
                    float: left;
                    width: 4.2rem;
                    height: .7rem;
                    padding-right: .44rem;
                    // padding-left: .35rem;
                    box-sizing: border-box;
                    border-radius: .7rem;
                    border: 1px solid #cfcfcf;
                    // overflow: hidden;
                    >input{
                        // border-radius: .7rem;
                        width: calc(100% - 80px);
                        font-size: 12px;
                        margin-left: 62px;
                        border:none;
                        vertical-align: top;
                        position: relative;
                        z-index: 99;
                        height: 100%;
                    }
                    #demo2 {
                      width: calc(100% - .8rem);
                      position: absolute;
                      padding-left: 8px;
                      border: none;
                      top: 0;
                      height: .65rem;
                    //   right: .58rem;
                    left: 0;
                      xm-select{
                          line-height: .7rem;
                          min-height: 100%;
                          height: 100%;
                          border: none;
                          .xm-icon{
                            right: 0!important;
                            }
                            .xm-label.single-row{
                                // display: none;
                                .scroll{
                                    height: 100%;
                                    .label-content{
                                        padding: 0!important;
                                        height: 100%;
                                        display: flex;
                                        align-items: center;
                                        .xm-label-block {
                                            height: .5rem!important;
                                            line-height: .5rem!important;
                                            margin: 0!important;
                                            padding: 0 3px!important;
                                            background-color: transparent!important;
                                            span{
                                                font-size: 12px!important;
                                                color: #ff9900;
                                            }
                                            .xm-iconfont {
                                                display: none!important;
                                            }
                                        }
                                    }
                                }
                            }
                      }
                    }  
                    >i{
                        font-size: .3rem;
                        color: #ff9900;
                        position: absolute;
                        right: 7px;
                    }
                }
                .collect{
                    float: left;
                    padding: 0 .18rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        font-size: .3rem;
                        margin-right: .22rem;
                        &:nth-of-type(2){
                            margin-right: 0;
                        }
                    }
                }
                .search_btn{
                    // width: 119px;
                    border: 1px solid #ffa115;
                    border-radius: 0.55rem;
                    // height: 0.55rem;
                    display: flex;
                    justify-content: center;
                    padding: 0 .18rem;
                    text-align: center;
                    box-sizing: border-box;
                    >i{
                        width: 1px;
                        background-color: #ff9900;
                        margin: 0 5px;
                    }
                    a{
                        border: none;
                        color: #ff9900;
                        display: inline-block;
                        // line-height: 22px;
                        font-size: 12px;
                        background-color: transparent;
                    }
                }
                .search_btn.haslogin{
                    // border: 1px solid #cccccc;
                    border: none;
                    border-radius: 4px;
                    transform: translateY(-25%);
                    padding: 2px;
                    font-size: 0;
                    display: inline-block;
                    height: auto;
                    width: auto;
                    outline: none;
                    &>.userInfo{
                        &>img{
                            width: 0.55rem;
                            height: 0.55rem;
                        }
                    }
                    .userInfo{
                        font-size: 0;
                        line-height: 0;
                        position: relative;
                        outline: none;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        >div{
                            position: absolute;
                            background: #fff;
                            display:none;
                            width: 100px;
                            box-sizing: border-box;
                            top: 36px;
                            left: 50%;
                            transform: translateX(-50%);
                            border: 1px solid #ebebeb;
                            border-radius: 4px;
                            margin-top: 0;
                            -webkit-box-shadow: 0 5px 20px rgb(18 18 18 / 10%);
                            box-shadow: 0 5px 20px rgb(18 18 18 / 10%);
                            z-index: 203;
                            span{
                                width: 16px;
                                height: 16px;
                                position: absolute;
                                top: 20px;
                                left: 50%;
                                -webkit-transform: translate(-50%,-100%);
                                transform: translate(-50%,-100%);
                                &:after{
                                    content: "";
                                    left: 0;
                                    position: absolute;
                                    -webkit-box-sizing: border-box;
                                    box-sizing: border-box;
                                    width: 12px;
                                    height: 12px;
                                    border: 1px solid #ebebeb;
                                    border-bottom: none;
                                    border-right: none;
                                    background: #fff;
                                    -webkit-transform: rotate(45deg) translate(-50%,-50%);
                                    transform: rotate(45deg) translate(-50%,-50%);
                                    pointer-events: auto;
                                }
                            }
                            &>div{
                                position: relative;
                                &>div{
                                    position: relative;
                                    padding:6px;
                                    font-size: 15px;
                                    line-height: 16px;
                                    outline: none;
                                    a{
                                        color: #444;
                                        display: block;
                                        &:hover{
                                            color: #ff9900;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                // .haslogin{
                //     float: left;
                //     border: 1px solid #ff9900;
                //     border-radius: .6rem;
                //     display: flex;
                //     height: 0.55rem;
                //     justify-content: center;
                //     align-items: center;
                //     padding: 3px 19px 3px 22px;
                //     box-sizing: border-box;
                //     a{
                //         font-size: .2222rem;
                //         color: #ff9900;
                //     }
                //     i{
                //         display: inline-block;
                //         width: 1px;
                //         height: .43rem;
                //         background-color: #ff9900;
                //         margin-left: 13px;
                //         margin-right: 16px;
                //     }
                // }
            }
        }
        .menu{
            margin-top: .88rem;
            margin-bottom: .37rem;
            li{
                float: left;
                margin-right: .55rem;
                font-weight: 600;
                color: #444;
                font-size: .37rem;
                padding-bottom: .185rem;
                &.active{
                    border-bottom: 2px solid #ff9900;
                    font-size: .37rem;
                }
            }
        }
    }
}

footer{
    padding: .37rem 0 ;
    background-color: #e6e6e6;
    p{
        font-size: .27rem;
        text-align: center;
        color: #808080;
        line-height: .48rem;
    }
    span{
        font-size: .27rem;
        &:nth-of-type(1){
            margin-right: .6rem;
        }
    }
}

//小类型菜单样式
.request_menu{
    width: 100%;
    font-size: .33rem;
    margin-bottom: .37rem;
    background-color: #fff;
    >.container{
        >.orderby{
            // margin: .33rem 0;
            float: right;
            padding: .16rem 0;
            padding-right: 15px;
            position: relative;
            cursor: pointer;
            span{
                color: #808080;
            }
            i{
                position: absolute;
                right: 0;
                color: #cccccc;
                &:nth-of-type(1){
                    top: 5px;
                }
                &:nth-of-type(2){
                    top: 12px;
                }
            }
        }
        ul{
            float: left;
            >div{
                float: left;
                padding: .16rem 0;
                // margin-right: .33rem;
            }
            li{
                padding: .16rem 0;
                margin-right: .33rem;
                float: left;
                &:last-of-type{
                    margin-right: 0;
                }
                a{
                    font-size: .33rem;
                }
                &.active{
                    a{
                        color: #ff9900;
                    }
                }
            }
        }
    }
}
.searchQuest{
    // margin-bottom: .55rem;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    .searchInput{
        display: inline-block;
        position: relative;
        // width: 71.63%;
        box-sizing: border-box;
        height: .72rem;
        vertical-align: bottom;
        border: 1px solid #ccc;
        /* padding-left: 25px; */
        padding-right: 31px;
        width: calc(100% - 2.5rem);
        >input{
            width: calc(100% - 70px);
            border: none;
            font-size: 14px;
            position: relative;
            z-index: 9;
            margin-left: 70px;
            box-sizing: border-box;
            border-right: 0px solid #ccc;
            height: 100%;
        }
    }
    a{
        &:nth-of-type(1){
            display: inline-block;
            padding: 0px 3px;
            font-size: .3rem;
            color: #ff9900;
            border: 1px solid #ff9900;
            height: .66rem;
            line-height: .66rem;
            text-align: center;
        }
        &:nth-of-type(2){
            display: inline-block;
            padding: 0px 3px;
            font-size: .3rem;
            color: #cccccc;
            border: 1px solid #ccc;
            height: .66rem;
            line-height: .66rem;
            background-color: #fff;
            text-align: center;
        }
    }
    #searchSelect{
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        width: 100%;
        xm-select{
            // margin-top: 15px;
            border:none;
            height: 100%;
            min-height:.52rem;
            line-height: .52rem;
            .xm-label{
                .scroll{
                    height: 100%;
                    .label-content{
                        line-height:normal;
                        height: 100%!important;
                        padding-right: 5px!important;
                        padding-left: 5px!important;
                        .xm-label-block{
                            line-height: .55rem!important;
                            height: auto!important;
                            background-color: transparent!important;
                            // padding: 0!important;
                            margin: 0!important;
                            span{
                                font-size: 12px!important;
                                color: #ff9900;
                            }
                            .xm-iconfont{
                                display: none!important;
                            }
                        }
                    }
                    
                }
            }
        }
      }
}
// xm-select /deep/.xm-body .xm-option .xm-option-icon{
//     width: 12px;
// }
.smallType{
    ul{
        li{
            float: left;
            padding: 0.33rem 0;
            margin-right: 0.33rem;
            font-size: .33rem;
            &.active{
                color: #ff9900;
            }
        }
        div{
            float: left;
            font-weight: 600;
            padding: 0.33rem 0;
            margin-right: 0.33rem;
            font-size: .33rem;
        }
    }
}
.itemAddress{
    .layui-form-item{
        .layui-form-label{
            font-size: .33rem;
        }
    }
}

//列表样式
.requestList{
    // min-height: calc(100vh - 100px);
    li{
        padding: .37rem 0;
        border-bottom: 1px solid #e6e6e6;
        .titleBox{
            margin-bottom: .31rem;
            .listTitle{
                float: left;
                font-size: .37rem;
                font-weight: 600;
                width: 50%;
                &.newList{
                    width: 100%;
                }
            }
            .userInfo{
                float: right;
                font-size: .259rem;
                img{
                    vertical-align: baseline;
                }
            }
        }
        .lisTxt{
            margin-bottom: .31rem;
            &>img{
                float: left;
                max-width: 2.77rem;
                max-height: 1.85rem;
                margin-right: .18rem;
            }
            &>p{
                font-size: .29rem;
                line-height: .55rem;
                &.newDesc{
                    float: right;
                    width:calc(100% - 2.95rem) ;
                }
            }
            &>div{
                font-size: .29rem!important;
                line-height: .55rem;
                &.newDesc{
                    float: right;
                    width:calc(100% - 2.95rem) ;
                }
                div,p,span {
                    font-size: .29rem!important;
                }
            }
        }
        .timeAndZan{
           .zanLeft{
               float: left;
               font-size: 0;
               .favor{
                   font-size: 12px;
                   padding: .13rem 0.16rem;
                   background-color: #f2f2f2;
                   border-radius: 4px;
                   color: #808080;
                   margin-right: 6px;
                   &.upFavor{
                       color: #fff;
                       background-color: #ff9900;
                       i{
                           color: #fff;
                       }
                       span{
                        color: #fff;
                       }
                   }
               }
               .cancelfavor{
                   font-size: 12px;
                   padding:  .13rem 0.16rem;
                   background-color: #f2f2f2;
                   border-radius: 4px;
                   color: #808080;
                   margin-right: .296rem;
               }
               .commentIcon{
                    font-size: 12px;
                    color: #808080;
               }
           }
           .zanRight{
               float: right;
               font-size: 0;
               span{
                   font-size: .259rem;
                   img{
                       vertical-align: baseline;
                   }
               }
           } 
        }
        &.shopList{
            font-size: 12px;
            &:nth-child(2n){
                margin-right: 0;
            }
            width: 49%;
            float: left;
            padding: .3rem .185rem;
            box-sizing: border-box;
            box-shadow: 0px 1px 8px #ccc;
            margin-right: 1.835%;
            margin-bottom: 10px;
            img{
                width: 100%;
            }
            &>p{
                font-size: .26rem;
                font-weight: 600;
            }
            &>div:nth-of-type(2){
                width: 100%;
                span{
                    margin: 0 5px;
                    float: left;
                }
                p{
                    float: left;
                    max-width: 30%;
                    color: #ff9900;
                    &:nth-of-type(2){
                        max-width: calc(70% - 15px);
                        color: #999999;
                    }
                }
            }
        }
    }
}

#demo3{
    background-color: #fff;
    padding-top: 10px;
    a{
        color: #b5b5d6;
        &.layui-laypage-next,&.layui-laypage-prev,&.layui-laypage-last,&.layui-laypage-first {
            color:#d9d9d9;
        }
    }
}
.pageUi{
    text-align: center;
    .layui-laypage {
        position: relative;
        padding-right:20px;
        padding-left: 30px;
        margin: 0!important;
        a,span{
            border: 1px solid #b5b5d6!important;
            // width: .66rem;
            height:auto;
            padding: .15rem .2rem!important;
            text-align: center;
            line-height: normal;
            margin-right: 12px!important;
            border-radius: 5px;
            background-color: #f7f7fa!important; 
        }
        span{
            &.layui-laypage-curr{
                border: 1px solid #ff9900!important;
            }
        }
        .layui-laypage-curr em{
            color: #ff9900!important;
            background-color: #f7f7fa;
        }
        .layui-laypage-first{
            position: absolute;
            border: none!important;
            left: 0;
            top: 1px;
            padding-right: 0;
            background-color: transparent!important;
        }
        .layui-laypage-last{
            position: absolute;
            right: 1px;
            top: 1px;
            padding-left: 0;
            margin-right: 0!important;
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-spr{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-prev{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-next{
            border: none!important;
            background-color: transparent!important;
            transform: translate(1px,0);
        }
    }
}
.layui-form-select{
    font-size: 12px;
}
//评论列表
.allComments{
    font-size: 12px;
    padding: 0 20px;
    box-sizing: border-box;
    width:688px;
    height: calc(100vh - 48px);
    background-color: #fff;
    .repalyNum {
        padding: 10px;
        font-size: .27rem;
        border-bottom: 1px solid #f6f6f6;
      }
    ul {
        /* padding:0 20px; */
        padding-top: 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        li {
            img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
            }
            .commentHandle {
                margin-top: 10px;
                a {
                    margin-right: 20px;
                  }
            }
            .replayItem {
                margin-top: 20px;
            }
            .descInfo {
                padding-left: 36px;
                .userDesc {
                    color: #121215;
                    line-height: 1.6;
                }
                .showAll {
                  padding: 12px 0 12px 36px;
                  margin-top: 10px;
                }
            }
            .userHead{
                a{
                    &:nth-of-type(2) {
                        margin: 0 8px;
                        display: inline-block;
                      }
                }
                &>span{
                    float: right;
                }
                &>a{
                    &>span{
                        margin: 0 8px;
                    }
                }
            }
        }
    }
    .commentList{
        padding-bottom: 15px;
        box-shadow: 0 1px 3px rgba(18,18,18,.1);
        box-sizing: border-box;
        margin-top: 20px;
        &>ul{
            li{
                margin-bottom: 15px;
            }
        }
        .commentNum{
            height: 51px;
            padding:0 .37rem;
            line-height: 51px;
            border-bottom: 1px solid #f6f6f6;
            border-radius: 2px;
            span{
                float: left;
                font-size: 12px;
                color: #121212;
                font-weight: 600;
            }
            a{
                float: right;
                font-size: 12px;
                color: #76839b;
            }
            .excellent{
                height: 39px;
                line-height: 39px;
                padding:0 20px;
                background-color: #f6f6f6;
                font-size: 14px;
                color: grey;
                font-weight: 600;
            }
        }
    }
}
.requestList {
    
.commentList{
    box-shadow: 0 1px 3px rgba(18,18,18,.1);
    box-sizing: border-box;
    margin-top: 20px;
    >ul {
            padding:0 20px;
            // padding-top: 15px;
            box-sizing: border-box;
        li{
            margin-bottom: 15px;
            font-size: 12px;
            &>.userHead {
                font-size: 12px;
                &>div{
                    line-height:.74rem;
                    >img{
                        float:left;
                        width:.74rem;
                        height:.74rem;
                        border-radius:50%;
                        margin-right:.35rem;
                    }
                    >div{
                        float:left;
                        width:calc(100% - 1.11rem);
                        >span{
                            &:nth-of-type(1){
                                color:#379be9;
                                margin-right:16px;
                                display:inline-block; 
                            }
                        }
                    }
                }
            }
            .userHead{
                >a{
                    > img{
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                    }
                    >span{
                        margin: 0 8px;
                    }
                    &:nth-of-type(2){
                        margin: 0 8px;
                        display: inline-block;
                     }
                }
            }
            .descInfo{
                padding-left: .59rem;
                .userDesc{
                    color: #121215;
                    line-height: 1.6;
                }
                .showAll{
                    padding: 12px 0 12px 32px;
                    margin-top: 10px;
                }
            }
            >.descInfo{
                padding-left:.94rem!important;
                >.userDesc{
                    word-wrap: break-word;
                }
                .moreAnswer{
                    background-color: #f7f7f7;
                    padding: 17px 0;
                    span{
                        display: inline-block;
                        padding-left: 17px;
                        border-left: 3px solid #ff9900;
                    }
                }
            }
            .commentHandle{
                margin-top: 10px;
                >a{
                    color:#afb0b1;
                    >i{
                        color:#afb0b1;
                    }
                    >span{
                        color:#afb0b1;
                    }
                }
            }
            .replayItem{
                margin-top: 0!important;
                background-color:#f7f7f7;
                padding-bottom:24px;
                padding-left:17px;
                padding-right:10px;
                box-sizing:border-box;
                >.userHead{
                    >a{
                        float:left;
                        >span{
                            font-weight:bold;
                        }
                    }
                    >.userDesc{
                        max-width:calc(100% - 60px);
                        float:left;
                        word-wrap:break-word;
                    }
                }
                >.descInfo{
                    padding-left:9px!important;
                    color:#afb0b1;
                }
            }
        }
    }
    .commentNum{
        height: 51px;
        padding:0 20px;
        line-height: 51px;
        border-bottom: 1px solid #f6f6f6;
        border-radius: 2px;
        span{
            float: left;
            font-size: 12px;
            color: #121212;
            font-weight: 600;
        }
        a{
            float: right;
            font-size: 12px;
            color: #76839b;
        }
    }
    .excellent{
        height: 39px;
        line-height: 39px;
        padding:0 20px;
        background-color: #f6f6f6;
        font-size: 14px;
        color: grey;
        font-weight: 600;
    }
}
}
//富文本编辑器
.editPush {
    position: relative;
    font-size: 12px;
    margin: 0 20px;
    z-index: 1;
    margin-top: 15px;
    a {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 0 !important;
        font-size: 14px;
        display: inline-block;
        padding: 8px 16px;
        color: white;
        background-color: #ff9900;
        &:hover {
            color: #fff;
          }
      }
    &> div {
        z-index: 0;
        position: relative;
        width: calc(100% - 75px);
        display: inline-block;
        border: 1px solid #eee;
        &> div{
            &:nth-of-type(1) {
                position: absolute;
                right: 0;
                top: 0;
                .w-e-toolbar {
                    padding: 0;
                }
            }
            &:nth-of-type(2) {
                padding-right: 40px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
        }
    }
    .w-e-menu{
        width: 20px!important;
        height: 38px !important;
    }
    .w-e-menu-tooltip{
        font-size: 12px!important;
    }
    .w-e-text-container{
        height: auto;
        min-height: 20px;
        .placeholder{
            font-size: 12px;
        }
    }
    &.editPushItem {
        margin: 0;
        margin-top: 15px;
        z-index: 0;
    }
}

.commentBox {
    width: 100%;
    height: 100vh;
    z-index: 9;
    background-color: rgba(18, 18, 18, 0.65);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .commentHead {
    height: 50px;
    line-height: 50px;
    color: #121212;
    font-weight: 600;
    border-bottom: 1px solid #f6f6f6;
  }
  
  .commentHead a {
    float: right;
  }
  
// 发布文章
.release {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, 0.65);
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .releaseBox {
        font-size: 15px;
        width: 90%;
        padding: .37rem .37rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: scroll;
        background-color: #fff;
        height: calc(100% - 60px);
        .smallType{
            .layui-unselect.layui-form-select{
                width: calc(100% - 80px);
                display: inline-block;
            }
        }
        .tiptitle {
            span {
                font-size: 15px;
                color: #444;
                font-weight: 600;
                float: left;
            }
            a {
                float: right;
            }
        }
        form {
            width: 100%;
            margin: 0 auto;
            margin-top: 10px;
            // height: calc(100vh - 120px);
            // overflow: hidden;
            // overflow-y: scroll;
            input{
                height:  .7rem;
                font-size: 12px;
            }
            .layui-form-item{
                // margin-bottom: 0;
                .w-e-menu{
                    width: 20px;
                    height: 20px;
                }
                .w-e-menu-tooltip{
                    font-size: 12px;
                }
                .w-e-text-container{
                    height: auto;
                    min-height: 200px;
                }
            }
            .layui-form-label{
                padding: 2px 0px;
                width: auto;
                font-size: 12px;
                max-width: 50px;
            }
            .layui-input-block{
                margin-left: 1.42rem;
                min-height: auto;
            }
            .imgUpload{
                .layui-upload-drag {
                    width: 100%;
                    min-height: 145px;
                    padding: 0 !important;
                    p {
                        line-height: 145px;
                    }
                    .layui-hide {
                        width: 100%;
                        height: 100%;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                      }
                }
            }
        }
      }
  }

  .bannerImg{
    display: block;
    padding-bottom: .46rem;
    padding-top: .51rem;
    img{
        width: 100%;
    }
}
  .title{
    span{
        font-size: .55rem;
        padding-bottom: .19rem;
        display: inline-block;
        font-weight: 600;
        border-bottom: 8px solid #ff9900;
    }
    border-bottom: 2px solid #ffdfb0;
}
.smallTitle{
    margin-top: .33rem;
    font-size: 0;
    span{
        font-size: .46rem;
        font-weight: 600;
    }
}


// 省市区下拉
.itemAddress{
    .layui-form {
        display: inline-block;
        width: 100%;
        .layui-form-item {
            margin-bottom: 0 !important;
          }
      }
    .layui-form-label {
        width: auto !important;
        padding: 9px 0 !important;
        font-size: 12px;
        color: #444444;
        margin-right: 10px;
        font-weight: 600;
        font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
      }
      &> a {
        font-size: 16px;
        color: #cccccc;
        display: inline-block;
        padding: 10px 22px;
        vertical-align: top;
        line-height: 16px;
        border: 1px solid #cccccc;
      }
      .cityBox {
        float: left;
        margin-left: 0;
        width: calc(100% - 1.5rem);
        .layui-input-inline {
            width: 48% !important;
            float: left!important;
            margin: 0;
            margin-right: 0 !important;
            &:nth-of-type(1) {
                margin-right: 4% !important;
              }
          }
      }
}
.cityBox {
    float: left;
    margin-left: 0.82rem;
    width: calc(100% - 1.5rem);
    .layui-input-inline{
        width: 48% !important;
        float: left!important;
        margin: 0!important;
        margin-right: 0 !important;
        &:nth-of-type(1) {
            margin-right: 4% !important;
          }
      }
  }
.topTable{
    p{  
        font-size: 12px;
        &:nth-of-type(1){
            float: left;
        }
        &:nth-of-type(2){
            float: right;
        }
    }   
}
.handleZan{
    &.active{
        color: #ff9900!important;
        i{
            color: #ff9900!important;
        }
        span{
            color: #ff9900!important;
        }
    }
}
.bindTip{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(18, 18, 18, 0.65);
    justify-content: center;
    align-items: center;
    .tipbox{
        width: 90%;
        background-color: #fff;
        padding: .35rem .45rem;
        box-sizing: border-box;
        height: calc(100% - 100px);
        .toptips{
            &>div{
                span{
                    float: left;
                }
                a{
                    float: right;
                }
            }
            span{
                font-size: .33rem;
                font-weight: 600;
                float: left;
            }
            .tipInput{
                float: right;
                width: 4.5rem;
                padding-left: .35rem;
                box-sizing: border-box;
                height: .61rem;
                font-size: 0;
                border: 1px solid #cccccc;
                input{
                    width: calc(100% - .69rem);
                    border: none;
                    height: 100%;
                    font-size: 12px;
                }
                i{
                    font-size: .4rem;
                    vertical-align: middle;
                    color: #ccc;
                    cursor: pointer;
                }
            }
        }
        ul{
            margin-top: .5rem;
            height: calc(100% - 87px);
            overflow: hidden;
            overflow-y: scroll;
            li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 12px;
                >.users{
                    width: calc(100% - 60px);
                }
                div{
                    &>img{
                        width: .92rem;
                        height: .92rem;
                        margin-right: .26rem;
                        float: left;
                    }
                    &>div{
                        float: left;
                        // width: calc(100% - 1.19rem);
                        .userName{
                            font-size: .3rem;
                            font-weight: 600;
                            padding-bottom: 8px;
                        }
                        .companyName{
                            font-size: 0;
                            img{
                                width: .37rem;
                                height: .33rem;
                                margin-right: 4px;
                                vertical-align: baseline;
                            }
                            span{
                                font-size: .26rem;
                                color: #808080;
                            }
                        }
                    }
                }
                a{
                    font-size: .26rem;
                    display: inline-block;
                    color: #ccc;
                    padding: 2px 5px;
                    margin-top: 10px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    border: 1px solid #ccc;
                    &:nth-of-type(1){
                        margin-top: 0;
                    }
                    &.cancelBind{
                        background-color: #ff9900;
                        color: #fff;
                        border: none;
                    }
                    &.hide{
                        display: none!important;
                    }
                }
            }
        }
    }
}
.msgBox{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color:rgba(18,18,18,.65);
    display: none;
    justify-content: center;
    align-items: center;
    .msgs{
        font-size: 12px;
        width:90%;
        padding: .37rem .4rem;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: scroll;
        background-color: #fff;
        height: calc(100% - 1.1rem);
        .layui-form-label{
            width: 25px!important;
        }
        .layui-input-block{
            margin-left: 55px !important;
        }
    }
}
.flow-default{
    height: calc(100% - 190px); 
    overflow: auto;
    overflow-y: scroll;
    li{
        margin-bottom: 15px;
    }
    img{
        width: 36px;
        height: 36px;
    }
}
// .orderby{
//     float: right;
//     padding: 0.33rem 0;
// }
.small-menu{
    ul{ 
        >div{
            a{
                font-size: .33rem;
                padding: 0.33rem 0;
            }
        }
        li{
            a{
                font-size: .33rem;
            }
        }
    }
}
.layui-select-title{
    font-size: 12px;
    >input{
        height: .7rem;
    }
}
.itemAddress {
    .layui-form-label{
        padding: 0!important;
    }
}
.listCreatTime,.articlName,.detailInfo,.btnBox{
    font-size: 12px;
}
.layui-layer{
    font-size: 12px;
}
.userName{
    font-size: 14px;
}
.editFu{
    font-size: 12px;
    .w-e-menu{
        width: .74rem;
        height: .74rem;
        i{
            font-size: 12px;
        }
    }
    
}

.right_menu{
    position: fixed;
    z-index: 9999999;
    top:0px;
    left: -100%;
    width: 75%;
    height: 100%;
    background: #fff;
    -webkit-transition: all .5s cubic-bezier(.83,.11,.33,.49);
    -o-transition: .5s all cubic-bezier(.83,.11,.33,.49);
    transition: all .5s cubic-bezier(.83,.11,.33,.49);
    >ul{
        height: 100vh;
        img{
            display: inline-block;
            position: absolute;
            width: 0.54rem;
            height: 0.54rem;
            top:.37rem;
            right: .37rem;
        }
        li{
            float: none;
            padding: 0;
            height: 12.5%;
            margin: 0;
            background: #26252b;
            &.active{
                a{
                    background: #ff9900;
                }
            }
            a{
                font-size: 0.5rem;
                color: #fff;
                width: 100%;
                height: 100%;
                display: flex;
                align-items:center;/*垂直居中*/
                justify-content: center;/*水平居中*/
            }
        }
    }
}
.right_menu_open{
    left: 0;
    -webkit-transition: all .5s cubic-bezier(.83,.11,.33,.49);
    -o-transition: .5s all cubic-bezier(.83,.11,.33,.49);
    transition: all .5s cubic-bezier(.83,.11,.33,.49);
}