@charset "UTF-8";
header {
  background-color: #fff;
}
header .container {
  padding-top: 0.43rem;
}
header .container > div > img {
  width: 1.59rem;
  height: 1.59rem;
  float: left;
  padding-right: 0.15rem;
}
header .container .headContent {
  float: left;
}
header .container .headContent > p {
  font-size: 0.55rem;
  color: #444;
  font-weight: 600;
  padding-bottom: 0.43rem;
}
header .container .headContent .search {
  height: 0.7rem;
  line-height: 0.7rem;
}
header .container .headContent .search .searchBox {
  position: relative;
  float: left;
  width: 4.2rem;
  height: 0.7rem;
  padding-right: 0.44rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.7rem;
  border: 1px solid #cfcfcf;
}
header .container .headContent .search .searchBox > input {
  width: calc(100% - 80px);
  font-size: 12px;
  margin-left: 62px;
  border: none;
  vertical-align: top;
  position: relative;
  z-index: 99;
  height: 100%;
}
header .container .headContent .search .searchBox #demo2 {
  width: calc(100% - .8rem);
  position: absolute;
  padding-left: 8px;
  border: none;
  top: 0;
  height: 0.65rem;
  left: 0;
}
header .container .headContent .search .searchBox #demo2 xm-select {
  line-height: 0.7rem;
  min-height: 100%;
  height: 100%;
  border: none;
}
header .container .headContent .search .searchBox #demo2 xm-select .xm-icon {
  right: 0 !important;
}
header .container .headContent .search .searchBox #demo2 xm-select .xm-label.single-row .scroll {
  height: 100%;
}
header .container .headContent .search .searchBox #demo2 xm-select .xm-label.single-row .scroll .label-content {
  padding: 0 !important;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .headContent .search .searchBox #demo2 xm-select .xm-label.single-row .scroll .label-content .xm-label-block {
  height: 0.5rem !important;
  line-height: 0.5rem !important;
  margin: 0 !important;
  padding: 0 3px !important;
  background-color: transparent !important;
}
header .container .headContent .search .searchBox #demo2 xm-select .xm-label.single-row .scroll .label-content .xm-label-block span {
  font-size: 12px !important;
  color: #ff9900;
}
header .container .headContent .search .searchBox #demo2 xm-select .xm-label.single-row .scroll .label-content .xm-label-block .xm-iconfont {
  display: none !important;
}
header .container .headContent .search .searchBox > i {
  font-size: 0.3rem;
  color: #ff9900;
  position: absolute;
  right: 7px;
}
header .container .headContent .search .collect {
  float: left;
  padding: 0 0.18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .headContent .search .collect i {
  font-size: 0.3rem;
  margin-right: 0.22rem;
}
header .container .headContent .search .collect i:nth-of-type(2) {
  margin-right: 0;
}
header .container .headContent .search .search_btn {
  border: 1px solid #ffa115;
  border-radius: 0.55rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.18rem;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .container .headContent .search .search_btn > i {
  width: 1px;
  background-color: #ff9900;
  margin: 0 5px;
}
header .container .headContent .search .search_btn a {
  border: none;
  color: #ff9900;
  display: inline-block;
  font-size: 12px;
  background-color: transparent;
}
header .container .headContent .search .search_btn.haslogin {
  border: none;
  border-radius: 4px;
  -webkit-transform: translateY(-25%);
      -ms-transform: translateY(-25%);
          transform: translateY(-25%);
  padding: 2px;
  font-size: 0;
  display: inline-block;
  height: auto;
  width: auto;
  outline: none;
}
header .container .headContent .search .search_btn.haslogin > .userInfo > img {
  width: 0.55rem;
  height: 0.55rem;
}
header .container .headContent .search .search_btn.haslogin .userInfo {
  font-size: 0;
  line-height: 0;
  position: relative;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
header .container .headContent .search .search_btn.haslogin .userInfo > div {
  position: absolute;
  background: #fff;
  display: none;
  width: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 36px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid #ebebeb;
  border-radius: 4px;
  margin-top: 0;
  -webkit-box-shadow: 0 5px 20px rgba(18, 18, 18, 0.1);
  box-shadow: 0 5px 20px rgba(18, 18, 18, 0.1);
  z-index: 203;
}
header .container .headContent .search .search_btn.haslogin .userInfo > div span {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
      transform: translate(-50%, -100%);
}
header .container .headContent .search .search_btn.haslogin .userInfo > div span:after {
  content: "";
  left: 0;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 1px solid #ebebeb;
  border-bottom: none;
  border-right: none;
  background: #fff;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  -ms-transform: rotate(45deg) translate(-50%, -50%);
      transform: rotate(45deg) translate(-50%, -50%);
  pointer-events: auto;
}
header .container .headContent .search .search_btn.haslogin .userInfo > div > div {
  position: relative;
}
header .container .headContent .search .search_btn.haslogin .userInfo > div > div > div {
  position: relative;
  padding: 6px;
  font-size: 15px;
  line-height: 16px;
  outline: none;
}
header .container .headContent .search .search_btn.haslogin .userInfo > div > div > div a {
  color: #444;
  display: block;
}
header .container .headContent .search .search_btn.haslogin .userInfo > div > div > div a:hover {
  color: #ff9900;
}
header .container .menu {
  margin-top: 0.88rem;
  margin-bottom: 0.37rem;
}
header .container .menu li {
  float: left;
  margin-right: 0.55rem;
  font-weight: 600;
  color: #444;
  font-size: 0.37rem;
  padding-bottom: 0.185rem;
}
header .container .menu li.active {
  border-bottom: 2px solid #ff9900;
  font-size: 0.37rem;
}

footer {
  padding: 0.37rem 0;
  background-color: #e6e6e6;
}
footer p {
  font-size: 0.27rem;
  text-align: center;
  color: #808080;
  line-height: 0.48rem;
}
footer span {
  font-size: 0.27rem;
}
footer span:nth-of-type(1) {
  margin-right: 0.6rem;
}

.request_menu {
  width: 100%;
  font-size: 0.33rem;
  margin-bottom: 0.37rem;
  background-color: #fff;
}
.request_menu > .container > .orderby {
  float: right;
  padding: 0.16rem 0;
  padding-right: 15px;
  position: relative;
  cursor: pointer;
}
.request_menu > .container > .orderby span {
  color: #808080;
}
.request_menu > .container > .orderby i {
  position: absolute;
  right: 0;
  color: #cccccc;
}
.request_menu > .container > .orderby i:nth-of-type(1) {
  top: 5px;
}
.request_menu > .container > .orderby i:nth-of-type(2) {
  top: 12px;
}
.request_menu > .container ul {
  float: left;
}
.request_menu > .container ul > div {
  float: left;
  padding: 0.16rem 0;
}
.request_menu > .container ul li {
  padding: 0.16rem 0;
  margin-right: 0.33rem;
  float: left;
}
.request_menu > .container ul li:last-of-type {
  margin-right: 0;
}
.request_menu > .container ul li a {
  font-size: 0.33rem;
}
.request_menu > .container ul li.active a {
  color: #ff9900;
}

.searchQuest {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.searchQuest .searchInput {
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 0.72rem;
  vertical-align: bottom;
  border: 1px solid #ccc;
  /* padding-left: 25px; */
  padding-right: 31px;
  width: calc(100% - 2.5rem);
}
.searchQuest .searchInput > input {
  width: calc(100% - 70px);
  border: none;
  font-size: 14px;
  position: relative;
  z-index: 9;
  margin-left: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 0px solid #ccc;
  height: 100%;
}
.searchQuest a:nth-of-type(1) {
  display: inline-block;
  padding: 0px 3px;
  font-size: 0.3rem;
  color: #ff9900;
  border: 1px solid #ff9900;
  height: 0.66rem;
  line-height: 0.66rem;
  text-align: center;
}
.searchQuest a:nth-of-type(2) {
  display: inline-block;
  padding: 0px 3px;
  font-size: 0.3rem;
  color: #cccccc;
  border: 1px solid #ccc;
  height: 0.66rem;
  line-height: 0.66rem;
  background-color: #fff;
  text-align: center;
}
.searchQuest #searchSelect {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 100%;
}
.searchQuest #searchSelect xm-select {
  border: none;
  height: 100%;
  min-height: 0.52rem;
  line-height: 0.52rem;
}
.searchQuest #searchSelect xm-select .xm-label .scroll {
  height: 100%;
}
.searchQuest #searchSelect xm-select .xm-label .scroll .label-content {
  line-height: normal;
  height: 100% !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.searchQuest #searchSelect xm-select .xm-label .scroll .label-content .xm-label-block {
  line-height: 0.55rem !important;
  height: auto !important;
  background-color: transparent !important;
  margin: 0 !important;
}
.searchQuest #searchSelect xm-select .xm-label .scroll .label-content .xm-label-block span {
  font-size: 12px !important;
  color: #ff9900;
}
.searchQuest #searchSelect xm-select .xm-label .scroll .label-content .xm-label-block .xm-iconfont {
  display: none !important;
}

.smallType ul li {
  float: left;
  padding: 0.33rem 0;
  margin-right: 0.33rem;
  font-size: 0.33rem;
}
.smallType ul li.active {
  color: #ff9900;
}
.smallType ul div {
  float: left;
  font-weight: 600;
  padding: 0.33rem 0;
  margin-right: 0.33rem;
  font-size: 0.33rem;
}

.itemAddress .layui-form-item .layui-form-label {
  font-size: 0.33rem;
}

.requestList li {
  padding: 0.37rem 0;
  border-bottom: 1px solid #e6e6e6;
}
.requestList li .titleBox {
  margin-bottom: 0.31rem;
}
.requestList li .titleBox .listTitle {
  float: left;
  font-size: 0.37rem;
  font-weight: 600;
  width: 50%;
}
.requestList li .titleBox .listTitle.newList {
  width: 100%;
}
.requestList li .titleBox .userInfo {
  float: right;
  font-size: 0.259rem;
}
.requestList li .titleBox .userInfo img {
  vertical-align: baseline;
}
.requestList li .lisTxt {
  margin-bottom: 0.31rem;
}
.requestList li .lisTxt > img {
  float: left;
  max-width: 2.77rem;
  max-height: 1.85rem;
  margin-right: 0.18rem;
}
.requestList li .lisTxt > p {
  font-size: 0.29rem;
  line-height: 0.55rem;
}
.requestList li .lisTxt > p.newDesc {
  float: right;
  width: calc(100% - 2.95rem);
}
.requestList li .lisTxt > div {
  font-size: 0.29rem !important;
  line-height: 0.55rem;
}
.requestList li .lisTxt > div.newDesc {
  float: right;
  width: calc(100% - 2.95rem);
}
.requestList li .lisTxt > div div, .requestList li .lisTxt > div p, .requestList li .lisTxt > div span {
  font-size: 0.29rem !important;
}
.requestList li .timeAndZan .zanLeft {
  float: left;
  font-size: 0;
}
.requestList li .timeAndZan .zanLeft .favor {
  font-size: 12px;
  padding: 0.13rem 0.16rem;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #808080;
  margin-right: 6px;
}
.requestList li .timeAndZan .zanLeft .favor.upFavor {
  color: #fff;
  background-color: #ff9900;
}
.requestList li .timeAndZan .zanLeft .favor.upFavor i {
  color: #fff;
}
.requestList li .timeAndZan .zanLeft .favor.upFavor span {
  color: #fff;
}
.requestList li .timeAndZan .zanLeft .cancelfavor {
  font-size: 12px;
  padding: 0.13rem 0.16rem;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #808080;
  margin-right: 0.296rem;
}
.requestList li .timeAndZan .zanLeft .commentIcon {
  font-size: 12px;
  color: #808080;
}
.requestList li .timeAndZan .zanRight {
  float: right;
  font-size: 0;
}
.requestList li .timeAndZan .zanRight span {
  font-size: 0.259rem;
}
.requestList li .timeAndZan .zanRight span img {
  vertical-align: baseline;
}
.requestList li.shopList {
  font-size: 12px;
  width: 49%;
  float: left;
  padding: 0.3rem 0.185rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 8px #ccc;
          box-shadow: 0px 1px 8px #ccc;
  margin-right: 1.835%;
  margin-bottom: 10px;
}
.requestList li.shopList:nth-child(2n) {
  margin-right: 0;
}
.requestList li.shopList img {
  width: 100%;
}
.requestList li.shopList > p {
  font-size: 0.26rem;
  font-weight: 600;
}
.requestList li.shopList > div:nth-of-type(2) {
  width: 100%;
}
.requestList li.shopList > div:nth-of-type(2) span {
  margin: 0 5px;
  float: left;
}
.requestList li.shopList > div:nth-of-type(2) p {
  float: left;
  max-width: 30%;
  color: #ff9900;
}
.requestList li.shopList > div:nth-of-type(2) p:nth-of-type(2) {
  max-width: calc(70% - 15px);
  color: #999999;
}

#demo3 {
  background-color: #fff;
  padding-top: 10px;
}
#demo3 a {
  color: #b5b5d6;
}
#demo3 a.layui-laypage-next, #demo3 a.layui-laypage-prev, #demo3 a.layui-laypage-last, #demo3 a.layui-laypage-first {
  color: #d9d9d9;
}

.pageUi {
  text-align: center;
}
.pageUi .layui-laypage {
  position: relative;
  padding-right: 20px;
  padding-left: 30px;
  margin: 0 !important;
}
.pageUi .layui-laypage a, .pageUi .layui-laypage span {
  border: 1px solid #b5b5d6 !important;
  height: auto;
  padding: 0.15rem 0.2rem !important;
  text-align: center;
  line-height: normal;
  margin-right: 12px !important;
  border-radius: 5px;
  background-color: #f7f7fa !important;
}
.pageUi .layui-laypage span.layui-laypage-curr {
  border: 1px solid #ff9900 !important;
}
.pageUi .layui-laypage .layui-laypage-curr em {
  color: #ff9900 !important;
  background-color: #f7f7fa;
}
.pageUi .layui-laypage .layui-laypage-first {
  position: absolute;
  border: none !important;
  left: 0;
  top: 1px;
  padding-right: 0;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-last {
  position: absolute;
  right: 1px;
  top: 1px;
  padding-left: 0;
  margin-right: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-spr {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-prev {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-next {
  border: none !important;
  background-color: transparent !important;
  -webkit-transform: translate(1px, 0);
      -ms-transform: translate(1px, 0);
          transform: translate(1px, 0);
}

.layui-form-select {
  font-size: 12px;
}

.allComments {
  font-size: 12px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 688px;
  height: calc(100vh - 48px);
  background-color: #fff;
}
.allComments .repalyNum {
  padding: 10px;
  font-size: 0.27rem;
  border-bottom: 1px solid #f6f6f6;
}
.allComments ul {
  /* padding:0 20px; */
  padding-top: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.allComments ul li img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.allComments ul li .commentHandle {
  margin-top: 10px;
}
.allComments ul li .commentHandle a {
  margin-right: 20px;
}
.allComments ul li .replayItem {
  margin-top: 20px;
}
.allComments ul li .descInfo {
  padding-left: 36px;
}
.allComments ul li .descInfo .userDesc {
  color: #121215;
  line-height: 1.6;
}
.allComments ul li .descInfo .showAll {
  padding: 12px 0 12px 36px;
  margin-top: 10px;
}
.allComments ul li .userHead a:nth-of-type(2) {
  margin: 0 8px;
  display: inline-block;
}
.allComments ul li .userHead > span {
  float: right;
}
.allComments ul li .userHead > a > span {
  margin: 0 8px;
}
.allComments .commentList {
  padding-bottom: 15px;
  -webkit-box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
          box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
}
.allComments .commentList > ul li {
  margin-bottom: 15px;
}
.allComments .commentList .commentNum {
  height: 51px;
  padding: 0 0.37rem;
  line-height: 51px;
  border-bottom: 1px solid #f6f6f6;
  border-radius: 2px;
}
.allComments .commentList .commentNum span {
  float: left;
  font-size: 12px;
  color: #121212;
  font-weight: 600;
}
.allComments .commentList .commentNum a {
  float: right;
  font-size: 12px;
  color: #76839b;
}
.allComments .commentList .commentNum .excellent {
  height: 39px;
  line-height: 39px;
  padding: 0 20px;
  background-color: #f6f6f6;
  font-size: 14px;
  color: grey;
  font-weight: 600;
}

.requestList .commentList {
  -webkit-box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
          box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
}
.requestList .commentList > ul {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList .commentList > ul li {
  margin-bottom: 15px;
  font-size: 12px;
}
.requestList .commentList > ul li > .userHead {
  font-size: 12px;
}
.requestList .commentList > ul li > .userHead > div {
  line-height: 0.74rem;
}
.requestList .commentList > ul li > .userHead > div > img {
  float: left;
  width: 0.74rem;
  height: 0.74rem;
  border-radius: 50%;
  margin-right: 0.35rem;
}
.requestList .commentList > ul li > .userHead > div > div {
  float: left;
  width: calc(100% - 1.11rem);
}
.requestList .commentList > ul li > .userHead > div > div > span:nth-of-type(1) {
  color: #379be9;
  margin-right: 16px;
  display: inline-block;
}
.requestList .commentList > ul li .userHead > a > img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.requestList .commentList > ul li .userHead > a > span {
  margin: 0 8px;
}
.requestList .commentList > ul li .userHead > a:nth-of-type(2) {
  margin: 0 8px;
  display: inline-block;
}
.requestList .commentList > ul li .descInfo {
  padding-left: 0.59rem;
}
.requestList .commentList > ul li .descInfo .userDesc {
  color: #121215;
  line-height: 1.6;
}
.requestList .commentList > ul li .descInfo .showAll {
  padding: 12px 0 12px 32px;
  margin-top: 10px;
}
.requestList .commentList > ul li > .descInfo {
  padding-left: 0.94rem !important;
}
.requestList .commentList > ul li > .descInfo > .userDesc {
  word-wrap: break-word;
}
.requestList .commentList > ul li > .descInfo .moreAnswer {
  background-color: #f7f7f7;
  padding: 17px 0;
}
.requestList .commentList > ul li > .descInfo .moreAnswer span {
  display: inline-block;
  padding-left: 17px;
  border-left: 3px solid #ff9900;
}
.requestList .commentList > ul li .commentHandle {
  margin-top: 10px;
}
.requestList .commentList > ul li .commentHandle > a {
  color: #afb0b1;
}
.requestList .commentList > ul li .commentHandle > a > i {
  color: #afb0b1;
}
.requestList .commentList > ul li .commentHandle > a > span {
  color: #afb0b1;
}
.requestList .commentList > ul li .replayItem {
  margin-top: 0 !important;
  background-color: #f7f7f7;
  padding-bottom: 24px;
  padding-left: 17px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList .commentList > ul li .replayItem > .userHead > a {
  float: left;
}
.requestList .commentList > ul li .replayItem > .userHead > a > span {
  font-weight: bold;
}
.requestList .commentList > ul li .replayItem > .userHead > .userDesc {
  max-width: calc(100% - 60px);
  float: left;
  word-wrap: break-word;
}
.requestList .commentList > ul li .replayItem > .descInfo {
  padding-left: 9px !important;
  color: #afb0b1;
}
.requestList .commentList .commentNum {
  height: 51px;
  padding: 0 20px;
  line-height: 51px;
  border-bottom: 1px solid #f6f6f6;
  border-radius: 2px;
}
.requestList .commentList .commentNum span {
  float: left;
  font-size: 12px;
  color: #121212;
  font-weight: 600;
}
.requestList .commentList .commentNum a {
  float: right;
  font-size: 12px;
  color: #76839b;
}
.requestList .commentList .excellent {
  height: 39px;
  line-height: 39px;
  padding: 0 20px;
  background-color: #f6f6f6;
  font-size: 14px;
  color: grey;
  font-weight: 600;
}

.editPush {
  position: relative;
  font-size: 12px;
  margin: 0 20px;
  z-index: 1;
  margin-top: 15px;
}
.editPush a {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0 !important;
  font-size: 14px;
  display: inline-block;
  padding: 8px 16px;
  color: white;
  background-color: #ff9900;
}
.editPush a:hover {
  color: #fff;
}
.editPush > div {
  z-index: 0;
  position: relative;
  width: calc(100% - 75px);
  display: inline-block;
  border: 1px solid #eee;
}
.editPush > div > div:nth-of-type(1) {
  position: absolute;
  right: 0;
  top: 0;
}
.editPush > div > div:nth-of-type(1) .w-e-toolbar {
  padding: 0;
}
.editPush > div > div:nth-of-type(2) {
  padding-right: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.editPush .w-e-menu {
  width: 20px !important;
  height: 38px !important;
}
.editPush .w-e-menu-tooltip {
  font-size: 12px !important;
}
.editPush .w-e-text-container {
  height: auto;
  min-height: 20px;
}
.editPush .w-e-text-container .placeholder {
  font-size: 12px;
}
.editPush.editPushItem {
  margin: 0;
  margin-top: 15px;
  z-index: 0;
}

.commentBox {
  width: 100%;
  height: 100vh;
  z-index: 9;
  background-color: rgba(18, 18, 18, 0.65);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.commentHead {
  height: 50px;
  line-height: 50px;
  color: #121212;
  font-weight: 600;
  border-bottom: 1px solid #f6f6f6;
}

.commentHead a {
  float: right;
}

.release {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgba(18, 18, 18, 0.65);
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.release .releaseBox {
  font-size: 15px;
  width: 90%;
  padding: 0.37rem 0.37rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #fff;
  height: calc(100% - 60px);
}
.release .releaseBox .smallType .layui-unselect.layui-form-select {
  width: calc(100% - 80px);
  display: inline-block;
}
.release .releaseBox .tiptitle span {
  font-size: 15px;
  color: #444;
  font-weight: 600;
  float: left;
}
.release .releaseBox .tiptitle a {
  float: right;
}
.release .releaseBox form {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}
.release .releaseBox form input {
  height: 0.7rem;
  font-size: 12px;
}
.release .releaseBox form .layui-form-item .w-e-menu {
  width: 20px;
  height: 20px;
}
.release .releaseBox form .layui-form-item .w-e-menu-tooltip {
  font-size: 12px;
}
.release .releaseBox form .layui-form-item .w-e-text-container {
  height: auto;
  min-height: 200px;
}
.release .releaseBox form .layui-form-label {
  padding: 2px 0px;
  width: auto;
  font-size: 12px;
  max-width: 50px;
}
.release .releaseBox form .layui-input-block {
  margin-left: 1.42rem;
  min-height: auto;
}
.release .releaseBox form .imgUpload .layui-upload-drag {
  width: 100%;
  min-height: 145px;
  padding: 0 !important;
}
.release .releaseBox form .imgUpload .layui-upload-drag p {
  line-height: 145px;
}
.release .releaseBox form .imgUpload .layui-upload-drag .layui-hide {
  width: 100%;
  height: 100%;
}
.release .releaseBox form .imgUpload .layui-upload-drag img {
  width: 100%;
  height: 100%;
}

.bannerImg {
  display: block;
  padding-bottom: 0.46rem;
  padding-top: 0.51rem;
}
.bannerImg img {
  width: 100%;
}

.title {
  border-bottom: 2px solid #ffdfb0;
}
.title span {
  font-size: 0.55rem;
  padding-bottom: 0.19rem;
  display: inline-block;
  font-weight: 600;
  border-bottom: 8px solid #ff9900;
}

.smallTitle {
  margin-top: 0.33rem;
  font-size: 0;
}
.smallTitle span {
  font-size: 0.46rem;
  font-weight: 600;
}

.itemAddress .layui-form {
  display: inline-block;
  width: 100%;
}
.itemAddress .layui-form .layui-form-item {
  margin-bottom: 0 !important;
}
.itemAddress .layui-form-label {
  width: auto !important;
  padding: 9px 0 !important;
  font-size: 12px;
  color: #444444;
  margin-right: 10px;
  font-weight: 600;
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
}
.itemAddress > a {
  font-size: 16px;
  color: #cccccc;
  display: inline-block;
  padding: 10px 22px;
  vertical-align: top;
  line-height: 16px;
  border: 1px solid #cccccc;
}
.itemAddress .cityBox {
  float: left;
  margin-left: 0;
  width: calc(100% - 1.5rem);
}
.itemAddress .cityBox .layui-input-inline {
  width: 48% !important;
  float: left !important;
  margin: 0;
  margin-right: 0 !important;
}
.itemAddress .cityBox .layui-input-inline:nth-of-type(1) {
  margin-right: 4% !important;
}

.cityBox {
  float: left;
  margin-left: 0.82rem;
  width: calc(100% - 1.5rem);
}
.cityBox .layui-input-inline {
  width: 48% !important;
  float: left !important;
  margin: 0 !important;
  margin-right: 0 !important;
}
.cityBox .layui-input-inline:nth-of-type(1) {
  margin-right: 4% !important;
}

.topTable p {
  font-size: 12px;
}
.topTable p:nth-of-type(1) {
  float: left;
}
.topTable p:nth-of-type(2) {
  float: right;
}

.handleZan.active {
  color: #ff9900 !important;
}
.handleZan.active i {
  color: #ff9900 !important;
}
.handleZan.active span {
  color: #ff9900 !important;
}

.bindTip {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(18, 18, 18, 0.65);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bindTip .tipbox {
  width: 90%;
  background-color: #fff;
  padding: 0.35rem 0.45rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(100% - 100px);
}
.bindTip .tipbox .toptips > div span {
  float: left;
}
.bindTip .tipbox .toptips > div a {
  float: right;
}
.bindTip .tipbox .toptips span {
  font-size: 0.33rem;
  font-weight: 600;
  float: left;
}
.bindTip .tipbox .toptips .tipInput {
  float: right;
  width: 4.5rem;
  padding-left: 0.35rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 0.61rem;
  font-size: 0;
  border: 1px solid #cccccc;
}
.bindTip .tipbox .toptips .tipInput input {
  width: calc(100% - .69rem);
  border: none;
  height: 100%;
  font-size: 12px;
}
.bindTip .tipbox .toptips .tipInput i {
  font-size: 0.4rem;
  vertical-align: middle;
  color: #ccc;
  cursor: pointer;
}
.bindTip .tipbox ul {
  margin-top: 0.5rem;
  height: calc(100% - 87px);
  overflow: hidden;
  overflow-y: scroll;
}
.bindTip .tipbox ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.bindTip .tipbox ul li > .users {
  width: calc(100% - 60px);
}
.bindTip .tipbox ul li div > img {
  width: 0.92rem;
  height: 0.92rem;
  margin-right: 0.26rem;
  float: left;
}
.bindTip .tipbox ul li div > div {
  float: left;
}
.bindTip .tipbox ul li div > div .userName {
  font-size: 0.3rem;
  font-weight: 600;
  padding-bottom: 8px;
}
.bindTip .tipbox ul li div > div .companyName {
  font-size: 0;
}
.bindTip .tipbox ul li div > div .companyName img {
  width: 0.37rem;
  height: 0.33rem;
  margin-right: 4px;
  vertical-align: baseline;
}
.bindTip .tipbox ul li div > div .companyName span {
  font-size: 0.26rem;
  color: #808080;
}
.bindTip .tipbox ul li a {
  font-size: 0.26rem;
  display: inline-block;
  color: #ccc;
  padding: 2px 5px;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.bindTip .tipbox ul li a:nth-of-type(1) {
  margin-top: 0;
}
.bindTip .tipbox ul li a.cancelBind {
  background-color: #ff9900;
  color: #fff;
  border: none;
}
.bindTip .tipbox ul li a.hide {
  display: none !important;
}

.msgBox {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgba(18, 18, 18, 0.65);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.msgBox .msgs {
  font-size: 12px;
  width: 90%;
  padding: 0.37rem 0.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #fff;
  height: calc(100% - 1.1rem);
}
.msgBox .msgs .layui-form-label {
  width: 25px !important;
}
.msgBox .msgs .layui-input-block {
  margin-left: 55px !important;
}

.flow-default {
  height: calc(100% - 190px);
  overflow: auto;
  overflow-y: scroll;
}
.flow-default li {
  margin-bottom: 15px;
}
.flow-default img {
  width: 36px;
  height: 36px;
}

.small-menu ul > div a {
  font-size: 0.33rem;
  padding: 0.33rem 0;
}
.small-menu ul li a {
  font-size: 0.33rem;
}

.layui-select-title {
  font-size: 12px;
}
.layui-select-title > input {
  height: 0.7rem;
}

.itemAddress .layui-form-label {
  padding: 0 !important;
}

.listCreatTime, .articlName, .detailInfo, .btnBox {
  font-size: 12px;
}

.layui-layer {
  font-size: 12px;
}

.userName {
  font-size: 14px;
}

.editFu {
  font-size: 12px;
}
.editFu .w-e-menu {
  width: 0.74rem;
  height: 0.74rem;
}
.editFu .w-e-menu i {
  font-size: 12px;
}

.right_menu {
  position: fixed;
  z-index: 9999999;
  top: 0px;
  left: -100%;
  width: 75%;
  height: 100%;
  background: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0.83, 0.11, 0.33, 0.49);
  -o-transition: 0.5s all cubic-bezier(0.83, 0.11, 0.33, 0.49);
  -o-transition: all 0.5s cubic-bezier(0.83, 0.11, 0.33, 0.49);
  transition: all 0.5s cubic-bezier(0.83, 0.11, 0.33, 0.49);
}
.right_menu > ul {
  height: 100vh;
}
.right_menu > ul img {
  display: inline-block;
  position: absolute;
  width: 0.54rem;
  height: 0.54rem;
  top: 0.37rem;
  right: 0.37rem;
}
.right_menu > ul li {
  float: none;
  padding: 0;
  height: 12.5%;
  margin: 0;
  background: #26252b;
}
.right_menu > ul li.active a {
  background: #ff9900;
}
.right_menu > ul li a {
  font-size: 0.5rem;
  color: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*垂直居中*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*水平居中*/
}

.right_menu_open {
  left: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.83, 0.11, 0.33, 0.49);
  -o-transition: 0.5s all cubic-bezier(0.83, 0.11, 0.33, 0.49);
  -o-transition: all 0.5s cubic-bezier(0.83, 0.11, 0.33, 0.49);
  transition: all 0.5s cubic-bezier(0.83, 0.11, 0.33, 0.49);
}