main {
  background-color: #fff;
  padding-top: 0.37rem;
}

.requestList {
  min-height: auto;
}

.advertising {
  background-color: #fff;
  padding-bottom: 0.74rem;
}
.advertising .smallTitle:nth-of-type(1) {
  padding-top: 0.74rem;
}

.hasMore {
  font-size: 0.26rem;
}

.request_menu > .container ul {
  float: none;
}

.userDetail {
  background-color: #fff;
  padding: 0.37rem 0.27rem 1.11rem 0.4rem;
}
.userDetail > .container > p {
  font-size: 0.33rem;
}
.userDetail .accountName {
  font-size: 0.26rem;
}
.userDetail .userHeader {
  margin-bottom: 0.18rem;
}
.userDetail .userHeader > img {
  float: left;
  width: 1.62rem;
  height: 1.62rem;
  margin-right: 0.18rem;
}
.userDetail .userHeader > div {
  float: left;
}
.userDetail .userHeader > div p:nth-of-type(1) {
  font-size: 0.33rem;
  font-weight: bold;
  color: #444;
}
.userDetail .userHeader > div p:nth-of-type(2) {
  font-size: 0.26rem;
  margin-top: 0.22rem;
  margin-bottom: 0.22rem;
}
.userDetail .userHeader > div p:nth-of-type(2) a {
  color: #ff9900;
}
.userDetail .userHeader > div p:nth-of-type(2) img {
  vertical-align: middle;
}
.userDetail .userHeader > a {
  float: right;
  padding: 0.15rem;
  border: 1px solid #ff9900;
  text-align: center;
  color: #ff9900;
  font-size: 0.26rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
}
.userDetail .userPartIn > ul > li {
  float: left;
  font-size: 0.26rem;
  color: #444;
  width: calc(25% - 1px);
  text-align: center;
  margin-bottom: 0.3rem;
  border-right: 1px solid #ccc;
}
.userDetail .userPartIn > ul > li:nth-child(4n) {
  border: none;
}
.userDetail .userCall {
  font-size: 0.26rem;
  margin-bottom: 0.3rem;
}
.userDetail .userCall img {
  float: left;
  margin-right: 0.18rem;
  width: 1.2rem;
  height: 1.31rem;
}
.userDetail .userCall > div {
  float: left;
}
.userDetail .userCall > div p:nth-of-type(1) {
  font-size: 12px;
  color: #444;
  margin-bottom: 0.18rem;
}
.userDetail .userCall > div p:nth-of-type(2) {
  font-size: 0.33rem;
  color: #444;
}
.userDetail .userCall > a {
  float: right;
  padding: 0.15rem;
  font-size: 0.26rem;
  color: #ff9900;
  text-align: center;
  border: 1px solid #ff9900;
  border-radius: 5px;
}

.serves {
  padding: 0.3rem 0 0.26rem 0;
  background-color: #fff;
  margin-top: 10px;
}
.serves .serveHead {
  margin-bottom: 22px;
}
.serves .serveHead .titles {
  float: left;
  font-size: 18px;
  color: #444;
  font-weight: bold;
}
.serves .serveHead a {
  float: right;
  padding: 0.16rem 0.2rem 0.185rem 0.26rem;
  border: 1px solid #ff9900;
  color: #ff9900;
}
.serves .servePro ul li {
  float: left;
  width: 48.75%;
  height: 116px;
  font-size: 0;
  margin-bottom: 24px;
}
.serves .servePro ul li:nth-child(2n-1) {
  margin-right: 2.5%;
}
.serves .servePro ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #eee;
}
.serves .servePro ul li p {
  width: 100%;
  margin-top: 8px;
  text-align: center;
  color: #ff9900;
  font-size: 14px;
}

.recommend li, .hot_al li, .hot_comment li {
  font-size: 0.44rem;
  margin-top: 0.33rem;
}