body{
    background-color: #fff;
}
.banner{
    background-color: #fff;
    height: 4.64rem;
    .container {
        .swiper-container{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

.askQuest{
    padding-bottom: .85rem;
    // margin-top: 1rem;
    .container{
        .title{
            span{
                font-size: .55rem;
                padding-bottom: .19rem;
                display: inline-block;
                font-weight: 600;
                border-bottom: 8px solid #ff9900;
            }
            border-bottom: 2px solid #ffdfb0;
        }
        .smallTitle{
            margin-top: .33rem;
            span{
                font-size: .46rem;
                font-weight: 600;
            }
        }
    }
    .askContent{
        li{
            margin-top: .33rem;
            img{
                float: left;
                width: .61rem;
                margin-right: .33rem;
            }
            p{
                float: left;
                font-size: .44rem;
                width: calc(100% - 1.2rem);
            }
        }
    }
    .hotExpert{
        a{
            float: left;
            width: 50%;  
            padding-right: .9rem;
            margin-top: .33rem;
            height: .48rem;
            box-sizing: border-box;  
            p{
                float: left;
                max-width: 50%;
                font-size: .37rem;
            }
        }
    }
    
    .findteam,.projectInfos,.projectCase,.finduser,.tenderInfo,.newsExchange,.newsInfo,.leaderInfo,.advancedScience,.talentFlow{
        li{
            font-size: .44rem;
            margin-top: .33rem;
        }
    }
    .newsInfo,.leaderInfo,.advancedScience,.talentFlow,.projectCase{
        li{
            p{
                a{
                    &:nth-of-type(1){
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .shopInfo{
        li{
            font-size: .44rem;
            margin-top: .33rem;
            img{
                float: left;
                width: .61rem;
                margin-right: .33rem;
            }
            p{
                float: left;
                width: calc(100% - 1.2rem);
                a{
                    &:nth-of-type(2){
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

