body {
  background-color: #fff;
}

.banner {
  background-color: #fff;
  height: 4.64rem;
}
.banner .container .swiper-container img {
  width: 100%;
  height: 100%;
}

.askQuest {
  padding-bottom: 0.85rem;
}
.askQuest .container .title {
  border-bottom: 2px solid #ffdfb0;
}
.askQuest .container .title span {
  font-size: 0.55rem;
  padding-bottom: 0.19rem;
  display: inline-block;
  font-weight: 600;
  border-bottom: 8px solid #ff9900;
}
.askQuest .container .smallTitle {
  margin-top: 0.33rem;
}
.askQuest .container .smallTitle span {
  font-size: 0.46rem;
  font-weight: 600;
}
.askQuest .askContent li {
  margin-top: 0.33rem;
}
.askQuest .askContent li img {
  float: left;
  width: 0.61rem;
  margin-right: 0.33rem;
}
.askQuest .askContent li p {
  float: left;
  font-size: 0.44rem;
  width: calc(100% - 1.2rem);
}
.askQuest .hotExpert a {
  float: left;
  width: 50%;
  padding-right: 0.9rem;
  margin-top: 0.33rem;
  height: 0.48rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.askQuest .hotExpert a p {
  float: left;
  max-width: 50%;
  font-size: 0.37rem;
}
.askQuest .findteam li, .askQuest .projectInfos li, .askQuest .projectCase li, .askQuest .finduser li, .askQuest .tenderInfo li, .askQuest .newsExchange li, .askQuest .newsInfo li, .askQuest .leaderInfo li, .askQuest .advancedScience li, .askQuest .talentFlow li {
  font-size: 0.44rem;
  margin-top: 0.33rem;
}
.askQuest .newsInfo li p a:nth-of-type(1), .askQuest .leaderInfo li p a:nth-of-type(1), .askQuest .advancedScience li p a:nth-of-type(1), .askQuest .talentFlow li p a:nth-of-type(1), .askQuest .projectCase li p a:nth-of-type(1) {
  font-weight: 600;
}
.askQuest .shopInfo li {
  font-size: 0.44rem;
  margin-top: 0.33rem;
}
.askQuest .shopInfo li img {
  float: left;
  width: 0.61rem;
  margin-right: 0.33rem;
}
.askQuest .shopInfo li p {
  float: left;
  width: calc(100% - 1.2rem);
}
.askQuest .shopInfo li p a:nth-of-type(2) {
  font-weight: bold;
}