.recommdRead li, .hotInfo li {
  font-size: 0.44rem;
  margin-top: 0.33rem;
}

.small-menu li {
  padding: 0.16rem 0 !important;
}

.searchQuest {
  padding: 0.3rem 2.66%;
  background-color: #fff;
}

.advertising {
  background-color: #fff;
}

.topTable {
  padding-top: 20px;
}

.requestList {
  padding: 0 2.66%;
  margin-top: 10px;
  background-color: #fff;
}
.requestList .commentList > ul li:nth-last-child(1) {
  margin-bottom: 0;
}

.projectDetail {
  padding: 0 2.66%;
  background-color: #fff;
  padding-bottom: 20px;
}
.projectDetail .statement {
  font-size: 14px;
  color: #cbcbcb;
}
.projectDetail .detatiTit {
  font-size: 0.44rem;
  color: #444;
  font-weight: bold;
  padding-top: 0.33rem;
  margin: 0 0 0.37rem 0;
}
.projectDetail .timeAndAuthor {
  font-size: 0.3rem;
  color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.44rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projectDetail .timeAndAuthor > div:nth-of-type(1) span:nth-of-type(2) {
  margin-left: 10px;
}
.projectDetail .timeAndAuthor > div:nth-of-type(2) {
  color: #ccc;
}
.projectDetail .timeAndAuthor > div:nth-of-type(2) > a {
  color: #e6e6e6;
}
.projectDetail .timeAndAuthor > div:nth-of-type(2) > a span {
  color: #e6e6e6;
}
.projectDetail .timeAndAuthor > div:nth-of-type(2) > a.isSelect {
  color: #ff9900;
}
.projectDetail .timeAndAuthor > div:nth-of-type(2) > a.isSelect span {
  color: #ff9900;
}
.projectDetail .detailInfo img {
  max-width: 100%;
}

.answerEdit {
  padding: 0 2.66%;
  background-color: #fff;
  margin-top: 10px;
  padding-top: 20px;
}
.answerEdit .userInfor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13px;
}
.answerEdit .userInfor > p:nth-of-type(1) > span {
  display: inline-block;
  height: 0.74rem;
  line-height: 0.74rem;
  vertical-align: middle;
}
.answerEdit .userInfor > p:nth-of-type(1) > span:nth-of-type(1) {
  width: 0.74rem;
  height: 0.74rem;
  border-radius: 50%;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
.answerEdit .userInfor > p:nth-of-type(1) > span:nth-of-type(1) img {
  width: 100%;
  height: 100%;
  vertical-align: baseline;
}
.answerEdit .userInfor > p:nth-of-type(2) {
  line-height: 36px;
  font-size: 14px;
  color: #808080;
}
.answerEdit .editFu #div1 > div:nth-of-type(1) {
  border: none !important;
  border-top: 1px solid #e6e6e6 !important;
  border-bottom: 1px solid #e6e6e6 !important;
}
.answerEdit .editFu #div1 > div:nth-of-type(2) {
  border: none !important;
}
.answerEdit .editFu .btnBox {
  text-align: right;
  padding-bottom: 19px;
  padding-top: 5px;
}
.answerEdit .editFu button {
  padding: 9px 12px;
  border: none;
  border-radius: 5px;
  background-color: #ff9900;
  color: #fff;
}

.hasTurn {
  position: relative;
}
.hasTurn:hover .shareBox {
  display: inline-block;
}
.hasTurn .shareBox {
  position: absolute;
  right: 0;
  top: 17px;
  background-color: #fff;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  width: 168px;
  display: none;
}