main {
  background-color: #fff;
  padding-top: 0.37rem;
}

.advertising {
  background-color: #fff;
}

.small-menu li {
  padding: 0.16rem 0 !important;
}

.recommdRead li, .hotInfo li {
  font-size: 0.44rem;
  margin-top: 0.33rem;
}

.request_menu {
  padding-bottom: 0.33rem;
}
.request_menu ul li {
  padding: 0;
  padding-top: 0.33rem;
}
.request_menu ul div {
  float: left;
  padding: 0;
  padding-top: 0.33rem;
}