main{
    background-color: #fff;
    padding-top: .37rem;
}

.advertising{
    background-color: #fff;
}
.small-menu{
    li{
        padding: .16rem 0!important;
    }
}
.recommdRead,.hotInfo{
    li{
        font-size: .44rem;
        margin-top: .33rem;
    }
}
.request_menu {
    padding-bottom: .33rem;
    ul {
        li{
            padding: 0;
            padding-top: .33rem;
        }
        div{
            
            float: left;
            padding: 0;
            padding-top: .33rem;
        }
    }
}