main{
    // background-color: #fff;
    // padding-top: .37rem;
}
.recommdRead,.hotInfo{
    li{
        font-size: .44rem;
        margin-top: .33rem;
    }
}
.small-menu{
    li{
        padding: .16rem 0!important;
    }
}
.searchQuest {
    padding:  .3rem 2.66%;
    background-color: #fff;
}
.advertising{
    background-color: #fff;
}
.topTable{
    padding-top: 20px;
}
.requestList{
    padding: 0 2.66%;
    margin-top: 10px;
    background-color: #fff;
    .commentList{
        > ul{
            li{
                &:nth-last-child(1){
                    margin-bottom: 0;
                }
            }
        }
    }
}
.projectDetail{
    // padding-top: .44rem;
    padding: 0 2.66%;
    background-color: #fff;
    padding-bottom: 20px;
    .statement{
        font-size: 14px;
        color: #cbcbcb;
    }
    .detatiTit{
        font-size: .44rem;
        color: #444;
        font-weight: bold;
        // text-align: center;
        padding-top: .33rem;
        margin: 0 0 .37rem 0;
    }
    .timeAndAuthor{
        font-size: .3rem;
        color: #808080;
        display: flex;
        margin-bottom: .44rem;
        justify-content: space-between;
        >div{
            &:nth-of-type(1){
                span{
                    &:nth-of-type(2){
                        margin-left: 10px;
                    }
                }
            }
            &:nth-of-type(2){
                color: #ccc;
                >a{
                    color: #e6e6e6;
                    span{
                        color: #e6e6e6; 
                    }
                    &.isSelect{
                        color: #ff9900;
                        span{
                            color: #ff9900; 
                        }
                    }
                }
                
            }
        }
    }
    .detailInfo{
        img{
            max-width: 100%;
        }
    }
}

.answerEdit{
    padding: 0 2.66%;
    background-color: #fff;
    margin-top: 10px;
    padding-top: 20px;
    .userInfor{
        display: flex;
        justify-content: space-between;
        // padding-top: 19px;
        margin-bottom: 13px;
        &>p{
            &:nth-of-type(1){
                &>span{
                    display: inline-block;
                    height: .74rem;
                    line-height: .74rem;
                    vertical-align: middle;
                    &:nth-of-type(1){
                        width: .74rem;
                        height: .74rem;
                        border-radius: 50%;
                        margin-right: 6px;
                        display: inline-block;
                        vertical-align: middle;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            vertical-align: baseline;
                        }
                    }
                }
            }
            &:nth-of-type(2){
                line-height: 36px;
                font-size: 14px;
                color: #808080;
            }
        }
    }
    .editFu{
        #div1{
            &>div{
                &:nth-of-type(1){
                    border: none!important;
                    border-top: 1px solid #e6e6e6!important;
                    border-bottom: 1px solid #e6e6e6!important;
                }
                &:nth-of-type(2){
                    border: none!important;
                }
            }
        }
        .btnBox{
            text-align: right;
            padding-bottom: 19px;
            padding-top: 5px;
        }
        button{
            padding: 9px 12px;
            border: none;
            border-radius: 5px;
            background-color: #ff9900;
            color: #fff;
        }
    }
}
.hasTurn{
    position: relative;
    &:hover{
        .shareBox{
            display: inline-block;
        }
    }
    .shareBox{
        position: absolute;
        right: 0;
        top: 17px;
        background-color: #fff;
        transform: translate(50%, 0);
        width: 168px;
        display: none;
    }
}