main{
    background-color: #fff;
    padding-top: .37rem;
}
.requestList{
    min-height: auto;
}
.advertising{
    background-color: #fff;
    .smallTitle{
        &:nth-of-type(1){
            padding-top: .74rem;
        }
    }
    padding-bottom: .74rem;
}
.hasMore{
    font-size: 0.26rem;
}
.userDetail{
    background-color: #fff;
    padding: .37rem .27rem 1.11rem .4rem;
    >.container{
        >p{
            font-size: 0.33rem;
        }
    }
    .accountName{
        font-size: 0.26rem;
    }
    .userHeader{
        margin-bottom: .18rem;
        >img{
            float: left;
            width: 1.62rem;
            height: 1.62rem;
            margin-right:  .18rem;
        }
        >div{
            float: left;
            p{
                &:nth-of-type(1){
                    font-size: .33rem;
                    font-weight: bold;
                    color: #444;
                }
                &:nth-of-type(2){
                    font-size: .26rem;
                    margin-top: .22rem;
                    margin-bottom: .22rem;
                    a{
                        color: #ff9900;
                    }
                    img{
                        vertical-align: middle;
                    }
                }
            }
        }
        >a{
            float: right;
            // width: 1.48rem;
            padding: .15rem;
            // height: .57rem;
            border: 1px solid #ff9900;
            text-align: center;
            color: #ff9900;
            font-size: .26rem;
            // line-height: .57rem;
            box-sizing: border-box;
            background-color: #fff;
            border-radius: 5px;
        }
    }
    .userPartIn{
        >ul{
            >li{
                float: left;
                font-size: .26rem;
                color: #444;
                width: calc(25% - 1px);
                text-align: center;
                margin-bottom: .3rem;
                border-right: 1px solid #ccc;
                &:nth-child(4n){
                    border: none;
                }
            }
        }
    }
    .userCall {
        font-size: 0.26rem;
        margin-bottom: .3rem;
        img{
            float: left;
            margin-right:  .18rem;
            width: 1.2rem;
            height:1.31rem ;
        }
        >div{
            float: left;
            p{
                &:nth-of-type(1){
                    font-size: 12px;
                    color: #444;
                    margin-bottom:  .18rem;
                }
                &:nth-of-type(2){
                    font-size: .33rem;
                    color: #444;
                }
            }
        }
        >a{
            float: right;
            // width: 1.46rem;
            // height: .57rem;
            padding: .15rem;
            font-size: .26rem;
            color: #ff9900;
            // line-height: .57rem;
            text-align: center;
            border: 1px solid #ff9900;
            border-radius: 5px;
        }
    }
}
.serves{
    padding: .3rem .26rem .26rem .44rem;
    background-color: #fff;
    margin-top: 10px;
    .serveHead{
        margin-bottom: 22px;
        .titles{
            float: left;
            font-size: 18px;
            color: #444;
            font-weight: bold;
        }
        a{
            float: right;
            padding: .16rem .2rem .185rem .26rem;
            border: 1px solid #ff9900;
            color: #ff9900;
        }
    }
    .servePro{
        ul{
            li{
                float: left;
                width: 48.75%;
                height: 116px;
                font-size: 0;
                margin-bottom: 24px;
                &:nth-child(2n-1){
                    margin-right: 2.5%;
                }
                a{
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    background-color: #eee;
                }
                p{
                    width: 100%;
                    text-align: center;
                    color: #ff9900;
                    font-size: 14px;
                }
            }
        }
    }
}
.request_menu{
    >.container{
        ul{
            float: none;
        }
    }
}
.projectDetail{
    background-color: #fff;
    padding-top: .44rem;
    padding-bottom: .44rem ;
    .statement{
        font-size: 14px;
        color: #cbcbcb;
    }
    .detatiTit{
        font-size: .44rem;
        color: #444;
        font-weight: bold;
        // text-align: center;
        margin: .33rem 0 .37rem 0;
    }
    .timeAndAuthor{
        font-size: .3rem;
        color: #808080;
        display: flex;
        margin-bottom: .44rem;
        justify-content: space-between;
        >div{
            &:nth-of-type(1){
                span{
                    &:nth-of-type(2){
                        margin-left: 10px;
                    }
                }
            }
            &:nth-of-type(2){
                color: #ccc;
                >a{
                    color: #e6e6e6;
                    span{
                        color: #e6e6e6; 
                    }
                    &.isSelect{
                        color: #ff9900;
                        span{
                            color: #ff9900; 
                        }
                    }
                }
                
            }
        }
    }
    .detailInfo{
        img{
            max-width: 100%;
        }
    }
}
.recommend,.hot_al,.hot_comment{
    li{
        font-size: .44rem;
        margin-top: .33rem;
    }
}
.hasTurn{
    position: relative;
    &:hover{
        .shareBox{
            display: inline-block;
        }
    }
    .shareBox{
        position: absolute;
        right: 0;
        top: 17px;
        background-color: #fff;
        transform: translate(50%, 0);
        width: 168px;
        display: none;
    }
}
.layui-input-block {
    position: relative;
}
.word {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #aaa;
    font-size: 12px;
}
.layui-textarea{
    min-height: 60px!important;
    font-size: 12px;
}