.request_menu ul {
  padding-bottom: 0.33rem;
}
.request_menu ul li {
  padding: 0;
  padding-top: 0.33rem;
}
.request_menu ul .orderby {
  margin-right: 0.33rem;
  float: right !important;
  padding-right: 15px !important;
  position: relative;
  cursor: pointer;
}
.request_menu ul .orderby span {
  color: #808080;
}
.request_menu ul .orderby i {
  position: absolute;
  right: 0;
  color: #cccccc;
}
.request_menu ul .orderby i:nth-of-type(1) {
  top: 5px;
}
.request_menu ul .orderby i:nth-of-type(2) {
  top: 12px;
}

.shopList img {
  height: 132px;
}

main {
  background-color: #fff;
  padding-top: 0.37rem;
}

.requestList {
  padding-top: 0.33rem;
}
.requestList ul li.projectItem {
  width: 32.11%;
  float: left;
  padding: 0.3rem 0.185rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 8px #ccc;
          box-shadow: 0px 1px 8px #ccc;
  margin-right: 1.835%;
  margin-bottom: 10px;
}
.requestList ul li.projectItem:nth-child(3n) {
  margin-right: 0;
}
.requestList ul li.projectItem img {
  width: 100%;
}
.requestList ul li.projectItem > p {
  font-size: 0.26rem;
  font-weight: 600;
}
.requestList ul li.projectItem > div {
  width: 100%;
}
.requestList ul li.projectItem > div p {
  float: left;
  max-width: 30%;
}
.requestList ul li.projectItem > div p:nth-of-type(2) {
  max-width: 70%;
}

.showproList li, .showhotList li, .hotProblem li {
  font-size: 0.44rem;
  margin-top: 0.33rem;
}

.advertising {
  background-color: #fff;
}

.showhotList a:nth-of-type(1), .showproList a:nth-of-type(1) {
  max-width: 100px;
  font-weight: bold;
  color: #444;
}

.layui-input-block {
  position: relative;
}

.word {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #aaa;
  font-size: 12px;
}

.layui-textarea {
  min-height: 60px !important;
  font-size: 12px;
}