main {
  background-color: #fff;
  padding-top: 0.37rem;
}

.requestList {
  min-height: auto;
}

.advertising {
  background-color: #fff;
  padding-bottom: 0.74rem;
}
.advertising .smallTitle:nth-of-type(1) {
  padding-top: 0.74rem;
}

.hasMore {
  font-size: 0.26rem;
}

.userDetail {
  background-color: #fff;
  padding: 0.37rem 0.27rem 1.11rem 0.4rem;
}
.userDetail > .container > p {
  font-size: 0.33rem;
}
.userDetail .accountName {
  font-size: 0.26rem;
}
.userDetail .userHeader {
  margin-bottom: 0.18rem;
}
.userDetail .userHeader > img {
  float: left;
  width: 1.62rem;
  height: 1.62rem;
  margin-right: 0.18rem;
}
.userDetail .userHeader > div {
  float: left;
}
.userDetail .userHeader > div p:nth-of-type(1) {
  font-size: 0.33rem;
  font-weight: bold;
  color: #444;
}
.userDetail .userHeader > div p:nth-of-type(2) {
  font-size: 0.26rem;
  margin-top: 0.22rem;
  margin-bottom: 0.22rem;
}
.userDetail .userHeader > div p:nth-of-type(2) a {
  color: #ff9900;
}
.userDetail .userHeader > div p:nth-of-type(2) img {
  vertical-align: middle;
}
.userDetail .userHeader > a {
  float: right;
  padding: 0.15rem;
  border: 1px solid #ff9900;
  text-align: center;
  color: #ff9900;
  font-size: 0.26rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
}
.userDetail .userPartIn > ul > li {
  float: left;
  font-size: 0.26rem;
  color: #444;
  width: calc(25% - 1px);
  text-align: center;
  margin-bottom: 0.3rem;
  border-right: 1px solid #ccc;
}
.userDetail .userPartIn > ul > li:nth-child(4n) {
  border: none;
}
.userDetail .userCall {
  font-size: 0.26rem;
  margin-bottom: 0.3rem;
}
.userDetail .userCall img {
  float: left;
  margin-right: 0.18rem;
  width: 1.2rem;
  height: 1.31rem;
}
.userDetail .userCall > div {
  float: left;
}
.userDetail .userCall > div p:nth-of-type(1) {
  font-size: 12px;
  color: #444;
  margin-bottom: 0.18rem;
}
.userDetail .userCall > div p:nth-of-type(2) {
  font-size: 0.33rem;
  color: #444;
}
.userDetail .userCall > a {
  float: right;
  padding: 0.15rem;
  font-size: 0.26rem;
  color: #ff9900;
  text-align: center;
  border: 1px solid #ff9900;
  border-radius: 5px;
}

.serves {
  padding: 0.3rem 0.26rem 0.26rem 0.44rem;
  background-color: #fff;
  margin-top: 10px;
}
.serves .serveHead {
  margin-bottom: 22px;
}
.serves .serveHead .titles {
  float: left;
  font-size: 18px;
  color: #444;
  font-weight: bold;
}
.serves .serveHead a {
  float: right;
  padding: 0.16rem 0.2rem 0.185rem 0.26rem;
  border: 1px solid #ff9900;
  color: #ff9900;
}
.serves .servePro ul li {
  float: left;
  width: 48.75%;
  height: 116px;
  font-size: 0;
  margin-bottom: 24px;
}
.serves .servePro ul li:nth-child(2n-1) {
  margin-right: 2.5%;
}
.serves .servePro ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #eee;
}
.serves .servePro ul li p {
  width: 100%;
  text-align: center;
  color: #ff9900;
  font-size: 14px;
}

.request_menu > .container ul {
  float: none;
}

.projectDetail {
  background-color: #fff;
  padding-top: 0.44rem;
  padding-bottom: 0.44rem;
}
.projectDetail .statement {
  font-size: 14px;
  color: #cbcbcb;
}
.projectDetail .detatiTit {
  font-size: 0.44rem;
  color: #444;
  font-weight: bold;
  margin: 0.33rem 0 0.37rem 0;
}
.projectDetail .timeAndAuthor {
  font-size: 0.3rem;
  color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.44rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projectDetail .timeAndAuthor > div:nth-of-type(1) span:nth-of-type(2) {
  margin-left: 10px;
}
.projectDetail .timeAndAuthor > div:nth-of-type(2) {
  color: #ccc;
}
.projectDetail .timeAndAuthor > div:nth-of-type(2) > a {
  color: #e6e6e6;
}
.projectDetail .timeAndAuthor > div:nth-of-type(2) > a span {
  color: #e6e6e6;
}
.projectDetail .timeAndAuthor > div:nth-of-type(2) > a.isSelect {
  color: #ff9900;
}
.projectDetail .timeAndAuthor > div:nth-of-type(2) > a.isSelect span {
  color: #ff9900;
}
.projectDetail .detailInfo img {
  max-width: 100%;
}

.recommend li, .hot_al li, .hot_comment li {
  font-size: 0.44rem;
  margin-top: 0.33rem;
}

.hasTurn {
  position: relative;
}
.hasTurn:hover .shareBox {
  display: inline-block;
}
.hasTurn .shareBox {
  position: absolute;
  right: 0;
  top: 17px;
  background-color: #fff;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  width: 168px;
  display: none;
}

.layui-input-block {
  position: relative;
}

.word {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #aaa;
  font-size: 12px;
}

.layui-textarea {
  min-height: 60px !important;
  font-size: 12px;
}