.request_menu{
    ul{
        padding-bottom: .33rem;
        li{
            padding: 0;
            padding-top: .33rem;
        }
        .orderby{
            margin-right: 0.33rem;
            float: right!important;
            padding-right: 15px!important;
            position: relative;
            cursor: pointer;
            span{
                color: #808080;
            }
            i{
                position: absolute;
                right: 0;
                color: #cccccc;
                &:nth-of-type(1){
                    top: 5px;
                }
                &:nth-of-type(2){
                    top: 12px;
                }
            }
        }
    }
}
.shopList{
    img{
        height: 132px;
    }
}
main{
    background-color: #fff;
    padding-top: .37rem;
}
.requestList{
    padding-top: .33rem;
    ul{
        li.projectItem{
            width: 32.11%;;
            float: left;
            padding: .3rem .185rem;
            box-sizing: border-box;
            box-shadow: 0px 1px 8px #ccc;
            margin-right: 1.835%;
            margin-bottom: 10px;
            &:nth-child(3n){
                margin-right: 0;
            }
            img{
                width: 100%;
            }
            &>p{
                font-size: .26rem;
                font-weight: 600;
            }
            &>div{
                width: 100%;
                p{
                    float: left;
                    max-width: 30%;
                    &:nth-of-type(2){
                        max-width: 70%;
                    }
                }
            }
        }
    }
}

.showproList,.showhotList,.hotProblem{
    li{
        font-size: .44rem;
        margin-top: .33rem;
    }
}
.advertising{
    background-color: #fff;
}
.showhotList,.showproList{
    a{
        &:nth-of-type(1){
            max-width: 100px;
            // display: inline-block;
            font-weight: bold;
            color: #444;
        }
    }
}
.layui-input-block {
    position: relative;
}
.word {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #aaa;
    font-size: 12px;
}
.layui-textarea{
    min-height: 60px!important;
    font-size: 12px;
}