main{
    background-color: #fff;
    padding-top: .37rem;
}
.recommedRead,.hotmeetting,.hotnews{
    li{
        font-size: .44rem;
        margin-top: .33rem;
    }
}

.advertising{
    background-color: #fff;
}
.projectDetail{
    background-color: #fff;
    padding-top: .44rem;
    padding-bottom: .44rem ;
    .statement{
        font-size: 14px;
        color: #cbcbcb;
    }
    .detatiTit{
        font-size: .44rem;
        color: #444;
        font-weight: bold;
        // text-align: center;
        margin: .33rem 0 .37rem 0;
    }
    .timeAndAuthor{
        font-size: .3rem;
        color: #808080;
        display: flex;
        margin-bottom: .44rem;
        justify-content: space-between;
        >div{
            &:nth-of-type(1){
                span{
                    &:nth-of-type(2){
                        margin-left: 10px;
                    }
                }
            }
            &:nth-of-type(2){
                color: #ccc;
                >a{
                    color: #e6e6e6;
                    span{
                        color: #e6e6e6; 
                    }
                    &.isSelect{
                        color: #ff9900;
                        span{
                            color: #ff9900; 
                        }
                    }
                }
                
            }
        }
    }
    .detailInfo{
        img{
            max-width: 100%;
        }
    }
}
.hasTurn{
    position: relative;
    &:hover{
        .shareBox{
            display: inline-block;
        }
    }
    .shareBox{
        position: absolute;
        right: 0;
        top: 17px;
        background-color: #fff;
        transform: translate(50%, 0);
        width: 168px;
        display: none;
    }
}
.hightItem{
    .companyName{
        font-weight: bold;
    }
}