main {
  background-color: #fff;
  padding-top: 0.37rem;
}

.recommedRead li, .hotmeetting li, .hotnews li {
  font-size: 0.44rem;
  margin-top: 0.33rem;
}

.hightItem .companyName {
  font-weight: bold;
}

.advertising {
  background-color: #fff;
}