main{
    background-color: #fff;
    padding-top: .37rem;
}
.recommedRead,.hotmeetting,.hotnews{
    li{
        font-size: .44rem;
        margin-top: .33rem;
    }
}
.hightItem{
    .companyName{
        font-weight: bold;
    }
}
.advertising{
    background-color: #fff;
}