main{
    background-color: #fff;
    padding-top: .37rem;
    .small-menu{
        ul{
            li{
                float: left;
                padding: 0.33rem 0;
                font-size: 0;
                margin-right: 0.33rem;
                &.active{
                    color: #ff9900;
                    a{
                        color: #ff9900;
                    }
                }
            }
            div{
                float: left;
                font-size: 0;
                font-weight: 600;
                padding: 0.33rem 0;
                margin-right: 0.33rem;
            }
        }
    }
}
.itemAddress{
    .cityBox{
        .layui-input-inline{
            width: 100%!important;
        }
    }
}
.cityBox{
    .layui-input-inline{
        width: 100%!important;
    }
}
.advertising{
    background-color: #fff;
}
.showrecommends,.showHotItem,.showHotTeam{
    li{
        font-size: .44rem;
        margin-top: .33rem;
    }
}
.itemAddress{
    .layui-form-label{
        line-height: 25px;
    }
}