main {
  background-color: #fff;
  padding-top: 0.37rem;
}
main .small-menu ul li {
  float: left;
  padding: 0.33rem 0;
  font-size: 0;
  margin-right: 0.33rem;
}
main .small-menu ul li.active {
  color: #ff9900;
}
main .small-menu ul li.active a {
  color: #ff9900;
}
main .small-menu ul div {
  float: left;
  font-size: 0;
  font-weight: 600;
  padding: 0.33rem 0;
  margin-right: 0.33rem;
}

.itemAddress .cityBox .layui-input-inline {
  width: 100% !important;
}

.cityBox .layui-input-inline {
  width: 100% !important;
}

.advertising {
  background-color: #fff;
}

.showrecommends li, .showHotItem li, .showHotTeam li {
  font-size: 0.44rem;
  margin-top: 0.33rem;
}

.itemAddress .layui-form-label {
  line-height: 25px;
}