/*reset*/
*{padding: 0;margin: 0;}
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}
article, aside, figure, footer, header, nav, section, details, summary {display: block;}
html, body { height: 100%;  color: #333; font-size: 12px; font-family: "微软雅黑",MicrosoftYaHei;}
a { text-decoration: none; color: #3cf; -webkit-tap-highlight-color: transparent;}
li{list-style: none;}
table{border-collapse: collapse;}
input {outline: medium none;font-family: "微软雅黑",MicrosoftYaHei;font-size: 14px;}
button{font-family:"微软雅黑",MicrosoftYaHei;}
em {font-style: normal;}
.wrap{max-width: 100%;min-height: 100%;overflow: hidden;margin: 0 auto;background: #ccc;}

.left{float: left;}
.right{float: right;}
.clear{clear:both;}
.red{color: #f60;}

.ececk_warning{
	font-size: 13px;
	color: red;
	width: 300px;
	margin: 0 auto;
	display: none;
}

form{
	// width: 530px;
	// margin: 0 auto;
	// height: calc(100vh - 120px);
	// overflow: hidden;
	// overflow-y: scroll;
	.imgUpload{
		// margin-left: 0!important;
		.layui-upload-drag{
			width: 100%;
			height: 145px;
			padding: 0!important;
			p{
				line-height: 145px;
			}
			.layui-hide{
				width: 100%;
				height: 100%;
				img{
					width: 100%;
					height: 100%;  
				}
			}
		}
	}
}
header{
	width: 100%;
	height: 50px;
	background: #1e1b29;
	border-bottom: solid 4px red;
}
.header_item{
	overflow: hidden;
}
.user_menu{
	width: 100%;
	height: 170px;
	padding: 20px 0;
	background:url(../images/banner_bg.html) repeat;
}
.header_item{
	
	width: 980px;
	margin: 0 auto;
}
.menu_head{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border: solid 3px #fff;
	overflow: hidden;
}
.menu_head img{
	width: 100%;
	height: 100%;
}
.menu_info{
	width:840px;
	margin-left: 20px;	
}
.info_name{
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	color: #fff;
}
.info_name_box{
	margin-top: 10px;
}
.level{
	font-size: 14px;
	color: #f60;
	font-weight: bold;
}
.info_desc{
	margin-top: 10px;
	font-size: 14px;
	color: #FFF;
}
.banner_menu{
	width: 980px;
	height: 50px;
	margin: 20px auto;
	background: #fff;
}


.nav_box{
	margin-top: 50px;
}
.nav_box ul {
	overflow: hidden;
}
.nav_box ul li{
	display: block;
	padding: 0 20px;
}
.nav_box ul li a{
	color: #fff;
	font-size: 16px;
}
.nav_box ul li a:hover{
	color: red;
}





.login_wrap{
	background: url(../images/logo_bg.jpg) no-repeat center;
	background-size: cover;
}
.logo{
	width: 500px;
	height: 150px;
	margin: 0px auto;
	background: url(../images/logowz.png) no-repeat center;
}
.login_box{
	width: 360px;
	background: #FFFFFF;
	margin: 0px auto;
	padding-bottom: 20px;
}
.login_title{
	font-size: 25px;
	text-align: center;
	color: #FF7F50;
	padding: 15px 0;
	width: 300px;
	margin: 0 auto;
	border-bottom: solid 1px #CCCCCC;
}
.form_text_ipt{
	width: 300px;
	border: solid 1px #CCCCCC;
	margin: 20px auto 0 auto;
	background: #FFFFFF;
}
.form_check_ipt{
	width: 300px;
	margin:  10px auto;
	overflow: hidden;
}
.form_text_ipt input{
	width: 290px;
	height: 30px;
	margin: 5px;
	border: none;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #666;
}
.check_left label{
	cursor: pointer;
}
.check_left label input{
	position: relative;
	top: 2px;
}
.form_btn{
	width: 300px;
	height: 40px;
	margin:  10px auto;
}
.form_btn button{
	width: 100%;
	height: 100%;
	border: none;
	color: #FFFFFF;
	font-size: 14px;
	background: #FF7F50;
	cursor: pointer;
}
.form_reg_btn{
	width: 300px;
	margin: 0 auto;
	font-size: 14px;
	color: #666;
}
.other_login{
	overflow: hidden;
	width: 300px;
	height: 80px;
	line-height: 80px;
	margin: 0px auto;
}
.other_left{
	font-size: 14px;
	color: #999;
}

.other_right a{
	margin:5px;
	color:#636363;
}

.other_right a:hover{
	color:#AEEEEE;
}

.hide{
	display: none;
}

