.skeleton1 .skeleton-header {
    float: left;
    width: 26px;
    height: 26px;
    background: rgba(194, 207, 214, 0.2);
  }
  .skeleton1 .skeleton-body {
    margin-left: 38px;
    height: 26px;
    background: rgba(194, 207, 214, 0.2);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(55%, rgba(255, 255, 255, 0.4)), color-stop(85%, transparent));
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 55%, transparent 85%);
    background-size: 30rem 20rem;
    -webkit-animation: skeleton-stripes 2s ease infinite;
            animation: skeleton-stripes 2s ease infinite;
  }
  .skeleton1 .skeleton-item {
    padding-top: 12px;
    height: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .skeleton1 .skeleton-item:nth-child(0) .skeleton-body {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .skeleton1 .skeleton-item:nth-child(1) .skeleton-body {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .skeleton1 .skeleton-item:nth-child(2) .skeleton-body {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .skeleton1 .skeleton-item:nth-child(3) .skeleton-body {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .skeleton1 .skeleton-item:nth-child(4) .skeleton-body {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .skeleton1 .skeleton-item:nth-child(5) .skeleton-body {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .skeleton1 .skeleton-item:nth-child(6) .skeleton-body {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .skeleton1 .skeleton-item:nth-child(7) .skeleton-body {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .skeleton1 .skeleton-item:nth-child(8) .skeleton-body {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .skeleton1 .skeleton-item:nth-child(9) .skeleton-body {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  .skeleton1 .skeleton-item:nth-child(10) .skeleton-body {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  
  @-webkit-keyframes skeleton-stripes {
    0% {
      background-position: 0 0;
    }
    90% {
      background-position: 30rem 0;
    }
    100% {
      background-position: 30rem 0;
    }
  }
  
  @keyframes skeleton-stripes {
    0% {
      background-position: 0 0;
    }
    90% {
      background-position: 30rem 0;
    }
    100% {
      background-position: 30rem 0;
    }
  }
  .skeleton2 .skeleton-header {
    float: left;
    width: 0px;
    height: 0px;
    background: rgba(194, 207, 214, 0.2);
  }
  .skeleton2 .skeleton-body {
    margin-left: 0px;
    height: 26px;
    background: rgba(194, 207, 214, 0.2);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(55%, rgba(255, 255, 255, 0.4)), color-stop(85%, transparent));
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 55%, transparent 85%);
    background-size: 30rem 20rem;
    -webkit-animation: skeleton-stripes 2s ease infinite;
            animation: skeleton-stripes 2s ease infinite;
  }
  .skeleton3 .skeleton-header {
    float: left;
    width: 45%;
    height: 26px;
    background: rgba(194, 207, 214, 0.2);
  }
  .skeleton3 .skeleton-body {
    float: right;
    margin-left: 26px;
    width: 45%;
    height: 26px;
    background: rgba(194, 207, 214, 0.2);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(55%, rgba(255, 255, 255, 0.4)), color-stop(85%, transparent));
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 55%, transparent 85%);
    background-size: 30rem 20rem;
    -webkit-animation: skeleton-stripes 2s ease infinite;
            animation: skeleton-stripes 2s ease infinite;
  }