main {
  background-color: #fff;
  padding-top: 0.37rem;
}

.advertising {
  background-color: #fff;
}

.recommedRead li, .hotleader li, .technologys li, .leaders li {
  font-size: 0.44rem;
  margin-top: 0.33rem;
}

.infos {
  margin-bottom: 10px;
}

.leaders a {
  color: #444;
}
.leaders a:nth-of-type(1) {
  font-weight: bold;
  margin-right: 10px;
}

.titleBox a {
  float: right;
  max-width: 50%;
  font-size: 14px;
}

.hotleader .hightItem a, .recommedRead .hightItem a {
  vertical-align: bottom;
  max-width: 100px;
  font-weight: bold;
  color: #444;
}