main{
    background-color: #fff;
    padding-top: .37rem;
}

.advertising{
    background-color: #fff;
}
.recommedRead,.hotleader,.technologys,.leaders{
    li{
        font-size: .44rem;
        margin-top: .33rem;
    }
}
.infos {
    margin-bottom: 10px;
}
.leaders{
    a{
        color: #444;
        &:nth-of-type(1){
            font-weight: bold;
            margin-right: 10px;
        }
    }
}
.titleBox{
    a{
        float: right;
        max-width: 50%;
        font-size: 14px;
    }
}
.hotleader,.recommedRead{
    .hightItem{
        a{
            // display: inline-block;
            vertical-align: bottom;
            max-width: 100px;
            font-weight: bold;
            color: #444;
        }
    }
}