.projectDetail{
    background-color: #fff;
    // padding-top: .44rem;
    padding-bottom: .44rem ;
    .statement{
        font-size: 14px;
        color: #cbcbcb;
    }
    .detatiTit{
        font-size: .44rem;
        color: #444;
        font-weight: bold;
        // text-align: center;
        margin: .33rem 0 .37rem 0;
    }
    .timeAndAuthor{
        font-size: .3rem;
        color: #808080;
        display: flex;
        margin-bottom: .44rem;
        justify-content: space-between;
        >div{
            &:nth-of-type(1){
                span{
                    &:nth-of-type(2){
                        margin-left: 10px;
                    }
                }
            }
            &:nth-of-type(2){
                color: #ccc;
                >a{
                    color: #e6e6e6;
                    span{
                        color: #e6e6e6; 
                    }
                    &.isSelect{
                        color: #ff9900;
                        span{
                            color: #ff9900; 
                        }
                    }
                }
                
            }
        }
    }
    .detailInfo{
        img{
            max-width: 100%;
        }
    }
}


.advertising{
    background-color: #fff;
}

main{
    background-color: #fff;
    padding-top: .37rem;
}
.recommedRead,.hotleader,.technologys,.leaders{
    li{
        font-size: .44rem;
        margin-top: .33rem;
    }
}
.leaders{
    a{
        color: #444;
        &:nth-of-type(1){
            font-weight: bold;
            margin-right: 10px;
        }
    }
}
.hotleader,.recommedRead{
    .hightItem{
        a{
            // display: inline-block;
            vertical-align: bottom;
            max-width: 100px;
            font-weight: bold;
            color: #444;
        }
    }
}
.hasTurn{
    position: relative;
    &:hover{
        .shareBox{
            display: inline-block;
        }
    }
    .shareBox{
        position: absolute;
        right: 0;
        top: 17px;
        background-color: #fff;
        transform: translate(50%, 0);
        width: 168px;
        display: none;
    }
}