.projectDetail {
  background-color: #fff;
  padding-bottom: 0.44rem;
}
.projectDetail .statement {
  font-size: 14px;
  color: #cbcbcb;
}
.projectDetail .detatiTit {
  font-size: 0.44rem;
  color: #444;
  font-weight: bold;
  margin: 0.33rem 0 0.37rem 0;
}
.projectDetail .timeAndAuthor {
  font-size: 0.3rem;
  color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.44rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projectDetail .timeAndAuthor > div:nth-of-type(1) span:nth-of-type(2) {
  margin-left: 10px;
}
.projectDetail .timeAndAuthor > div:nth-of-type(2) {
  color: #ccc;
}
.projectDetail .timeAndAuthor > div:nth-of-type(2) > a {
  color: #e6e6e6;
}
.projectDetail .timeAndAuthor > div:nth-of-type(2) > a span {
  color: #e6e6e6;
}
.projectDetail .timeAndAuthor > div:nth-of-type(2) > a.isSelect {
  color: #ff9900;
}
.projectDetail .timeAndAuthor > div:nth-of-type(2) > a.isSelect span {
  color: #ff9900;
}
.projectDetail .detailInfo img {
  max-width: 100%;
}

.advertising {
  background-color: #fff;
}

main {
  background-color: #fff;
  padding-top: 0.37rem;
}

.recommedRead li, .hotleader li, .technologys li, .leaders li {
  font-size: 0.44rem;
  margin-top: 0.33rem;
}

.leaders a {
  color: #444;
}
.leaders a:nth-of-type(1) {
  font-weight: bold;
  margin-right: 10px;
}

.hotleader .hightItem a, .recommedRead .hightItem a {
  vertical-align: bottom;
  max-width: 100px;
  font-weight: bold;
  color: #444;
}

.hasTurn {
  position: relative;
}
.hasTurn:hover .shareBox {
  display: inline-block;
}
.hasTurn .shareBox {
  position: absolute;
  right: 0;
  top: 17px;
  background-color: #fff;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  width: 168px;
  display: none;
}