main{
    background-color: #fff;
    padding-top: .37rem;
}
.requestList{
    min-height: auto;
}
.advertising{
    background-color: #fff;
}
.userDetail{
    background-color: #fff;
    padding: .37rem .27rem .24rem .4rem;
    .container{
        &>p{
            font-size: 14px;
        }
    }
    .userHeader{
        margin-bottom: .18rem;
        >img{
            float: left;
            width: 1.62rem;
            height: 1.62rem;
            margin-right:  .18rem;
        }
        >div{
            float: left;
            .accountLevel{
                font-size: 0;
            }
            p{
                &:nth-of-type(1){
                    font-size: .33rem;
                    font-weight: bold;
                    color: #444;
                }
                &:nth-of-type(2){
                    font-size: .26rem;
                    margin-top: .22rem;
                    margin-bottom: .22rem;
                    a{
                        color: #ff9900;
                    }
                    img{
                        vertical-align: middle;
                    }
                }
            }
        }
        >a{
            float: right;
            // width: 1.48rem;
            padding: .15rem;
            // height: .57rem;
            border: 1px solid #ff9900;
            text-align: center;
            color: #ff9900;
            font-size: .26rem;
            // line-height: .57rem;
            box-sizing: border-box;
            background-color: #fff;
            border-radius: 5px;
        }
    }
    .userPartIn{
        >ul{
            >li{
                float: left;
                font-size: .26rem;
                color: #444;
                width: calc(25% - 1px);
                text-align: center;
                margin-bottom: .3rem;
                border-right: 1px solid #ccc;
                &:nth-child(4n){
                    border: none;
                }
            }
        }
    }
    .userCall {
        margin-bottom: .3rem;
        img{
            float: left;
            margin-right:  .18rem;
        }
        >div{
            float: left;
            p{
                &:nth-of-type(1){
                    font-size: 12px;
                    color: #444;
                    margin-bottom:  .18rem;
                }
                &:nth-of-type(2){
                    font-size: .33rem;
                    color: #444;
                }
            }
        }
        >a{
            float: right;
            // width: 1.46rem;
            // height: .57rem;
            padding: .15rem;
            font-size: .26rem;
            color: #ff9900;
            // line-height: .57rem;
            text-align: center;
            border: 1px solid #ff9900;
            border-radius: 5px;
        }
    }
}

.recommend,.hot_al,.hot_comment{
    li{
        font-size: .44rem;
        margin-top: .33rem;
    }
}