main {
  background-color: #fff;
  padding-top: 0.37rem;
}

.requestList {
  min-height: auto;
}

.advertising {
  background-color: #fff;
}

.userDetail {
  background-color: #fff;
  padding: 0.37rem 0.27rem 0.24rem 0.4rem;
}
.userDetail .container > p {
  font-size: 14px;
}
.userDetail .userHeader {
  margin-bottom: 0.18rem;
}
.userDetail .userHeader > img {
  float: left;
  width: 1.62rem;
  height: 1.62rem;
  margin-right: 0.18rem;
}
.userDetail .userHeader > div {
  float: left;
}
.userDetail .userHeader > div .accountLevel {
  font-size: 0;
}
.userDetail .userHeader > div p:nth-of-type(1) {
  font-size: 0.33rem;
  font-weight: bold;
  color: #444;
}
.userDetail .userHeader > div p:nth-of-type(2) {
  font-size: 0.26rem;
  margin-top: 0.22rem;
  margin-bottom: 0.22rem;
}
.userDetail .userHeader > div p:nth-of-type(2) a {
  color: #ff9900;
}
.userDetail .userHeader > div p:nth-of-type(2) img {
  vertical-align: middle;
}
.userDetail .userHeader > a {
  float: right;
  padding: 0.15rem;
  border: 1px solid #ff9900;
  text-align: center;
  color: #ff9900;
  font-size: 0.26rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
}
.userDetail .userPartIn > ul > li {
  float: left;
  font-size: 0.26rem;
  color: #444;
  width: calc(25% - 1px);
  text-align: center;
  margin-bottom: 0.3rem;
  border-right: 1px solid #ccc;
}
.userDetail .userPartIn > ul > li:nth-child(4n) {
  border: none;
}
.userDetail .userCall {
  margin-bottom: 0.3rem;
}
.userDetail .userCall img {
  float: left;
  margin-right: 0.18rem;
}
.userDetail .userCall > div {
  float: left;
}
.userDetail .userCall > div p:nth-of-type(1) {
  font-size: 12px;
  color: #444;
  margin-bottom: 0.18rem;
}
.userDetail .userCall > div p:nth-of-type(2) {
  font-size: 0.33rem;
  color: #444;
}
.userDetail .userCall > a {
  float: right;
  padding: 0.15rem;
  font-size: 0.26rem;
  color: #ff9900;
  text-align: center;
  border: 1px solid #ff9900;
  border-radius: 5px;
}

.recommend li, .hot_al li, .hot_comment li {
  font-size: 0.44rem;
  margin-top: 0.33rem;
}