main .container{
    overflow: hidden;
}

main .container .main-left{
    float: left;
    width: calc(66.66% - 10px);
     padding-bottom: 9999px; margin-bottom: -9999px;
}
main .container .main-right{
    float: right;
    width: 33.33%;
    /* min-height: 2678px; */
    background-color: #fff;
     padding-bottom: 9999px;
    margin-bottom: -9999px;
}
main .container .main-left .main-container{
    background: #fff;
    margin-top: 10px;
    padding: 20px 8px 0 15px;
}
main .container .main-left .main-container .searchQuest{
    font-size: 0;
    display: flex;
    justify-content: space-between;
}
main .container .main-left .main-container .searchQuest .searchInput{
    display: inline-block;
    position: relative;
    margin: 0 10px;
    width: calc(74.08% - 20px);
    box-sizing: border-box;
    height: 41px;
    vertical-align: bottom;
    border: 1px solid #ccc;
    /* padding-left: 25px; */
    padding-right: 31px;
}
/* main .container .main-left .main-container .searchQuest .searchInput i{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0,-50%);
    color: #ccc;
    cursor: pointer;
} */
main .container .main-left .main-container .searchQuest .searchInput input{
    width: calc(100% - 75px);
    border: none;
    font-size: 14px;
    position: relative;
    z-index: 9;
    margin-left: 74px;
    box-sizing: border-box;
    border-right: 0px solid #ccc;
    height: 100%;
}
main .container .main-left .main-container .searchQuest a:nth-of-type(1){
    width: 98px;
    display: inline-block;
    height: 41px;
    width: 12.69%;
    font-size: 16px;
    /* color: #ff9900; */
    /* border: 1px solid #ff9900; */
    background-color: #ff9900;
    color: #fff;
    line-height: 39px;
    text-align: center;
}
main .container .main-left .main-container .searchQuest a:nth-of-type(2){
    width: 99px;
    width: 12.69%;
    height: 39px;
    display: inline-block;
    font-size: 16px;
    color: #cccccc;
    background-color: #fff;
    border: 1px solid #ccc;
    line-height: 41px;
    text-align: center;
}
main .container .main-left .request_menu{
    width: 100%;
    height: 52px;
    line-height: 52px;
    background-color: #fff;
}
main .container .main-left .request_menu ul li{
    float: left;
    font-size: 15px;
    padding: 0 17px;
}
main .container .main-left .request_menu ul li.active a{
    color: #ff9900;
}
main .container .main-left .request_menu ul li:hover a{
    color: #ff9900;
}


main .container .main-left .requestList{
    /* padding-bottom: 25px; */
    min-height:1035px;
}
main .container .main-left .requestList>ul>li{
    padding-top: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
}
main .container .main-left .requestList>ul>li>.questitle .QuestionTit:hover{
    color: #ff9900;
}
main .container .main-left .requestList .userQuestion>.userInfo:hover a span{
    color: #ff9900;
}
main .container .main-left .requestList .userQuestion>div{
    float: left;
}

main .container .main-left .requestList .userQuestion>div:nth-of-type(2){
    float: right;
}
main .container .main-left .requestList .userQuestion .QuestionTit{
    color: #444444;
    font-weight: bold;
    font-size: 18px;
    color: #444;
    float: left;
    width: 75%;
}

main .container .main-left .requestList .userQuestion .userInfo {
    padding-right: 20px;
    box-sizing: border-box;
    float: right;
    width: 25%;
    text-align: right;
}
main .container .main-left .requestList .userQuestion .userInfo span{
    font-size: 16px;
    color: #444;
}
main .container .main-left .requestList .QuestionDetail >img{
    max-width: 150px;
    max-height: 100px;
    margin-right: 10px;
    float: left;
}
main .container .main-left .requestList .QuestionDetail{
    margin-top: 23px;
    overflow: hidden;
    font-size: 15px;
    margin-bottom: 16px;
} 
main .container .main-left .requestList .QuestionDetail>div{
    word-wrap: break-word;
}
main .container .main-left .requestList .QuestionDetail>div img{
    display: none!important;
}
main .container .main-left .requestList .QuestionDetail p{
    font-size: 14px;
    color: #444;
    line-height: 24px;
}
main .container .main-left .requestList .QuestionDetail p.newDesc{
    width: calc(100% - 160px);
    float: right;
    line-height: 30px;
    word-wrap: break-word;
} 
main .container .main-left .requestList .QuestionDetail p span{
    font-weight: bold;
}
main .container .main-left .requestList .commentList{
    box-shadow: 0 1px 3px rgba(18,18,18,.1);
    box-sizing: border-box;
    margin-top: 20px;
}
main .container .main-left .requestList .commentList .commentNum{
    height: 51px;
    padding:0 20px;
    line-height: 51px;
    border-bottom: 1px solid #f6f6f6;
    border-radius: 2px;
}
main .container .main-left .requestList .commentList >ul li{
    margin-bottom: 15px;
}
main .container .main-left .requestList .commentList .commentNum span{
    float: left;
    font-size: 15px;
    color: #121212;
    font-weight: 600;
}
main .container .main-left .requestList .commentList .commentNum a{
    float: right;
    font-size: 15px;
    color: #76839b;
}
main .container .main-left .requestList .commentList .excellent{
    height: 39px;
    line-height: 39px;
    padding:0 20px;
    background-color: #f6f6f6;
    font-size: 14px;
    color: grey;
    font-weight: 600;
}
main .container .main-left .requestList .commentList>ul{
    padding:0 20px;
    padding-top: 15px;
    box-sizing: border-box;
}
main .container .main-left .requestList .commentList>ul>li .userHead>a img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
main .container .main-left .requestList .commentList>ul>li .userHead>a>span{
    margin: 0 8px;
}
main .container .main-left .requestList .commentList>ul>li .userHead a:nth-of-type(2){
   margin: 0 8px;
   display: inline-block;
}
main .container .main-left .requestList .commentList>ul>li .descInfo{
    padding-left: 32px;
}
main .container .main-left .requestList .commentList>ul>li .descInfo .userDesc{
    color: #121215;
    line-height: 1.6;
}
main .container .main-left .requestList .commentList>ul>li .descInfo .showAll{
    padding: 12px 0 12px 32px;
    margin-top: 10px;
}
main .container .main-left .requestList .commentList>ul>li .commentHandle{
    margin-top: 10px;
}
main .container .main-left .requestList .commentList>ul>li .commentHandle a{
    margin-right: 20px;
}
main .container .main-left .requestList .commentList>ul>li .replayItem{
    margin-top: 20px;
}
main .container .main-left .requestList .timeAndZan{
    font-size: 0;
}
main .container .main-left .requestList .timeAndZan .zanLeft{
    float: left;
}
main .container .main-left .requestList .timeAndZan .zanLeft span:nth-of-type(2){
    margin-right: 0;
}
main .container .main-left .requestList .timeAndZan .zanRight{
    float: right;
    padding-right: 10px;
    box-sizing: border-box;
}
main .container .main-left .requestList .timeAndZan .zanRight:hover span{
    color: #ff9900;
}
main .container .main-left .requestList .timeAndZan .zanRight span{
    font-size: 14px;
    color: #444;
    display: inline-block;
    margin-right: 7px;
    /* font-weight: bold; */
}
main .container .main-left .requestList .timeAndZan .zanRight img{
    vertical-align: baseline;
    width: 13px;
}
/* main .container .main-left .requestList .timeAndZan .favor,main .container .main-left .requestList .timeAndZan .cancelfavor{
    font-size: 12px;
    color: #999;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 24px;
    display: inline-block;
}
main .container .main-left .requestList .timeAndZan .commentIcon i{
    color: #ccc;
    padding-right: 10px;
}
main .container .main-left .requestList .timeAndZan .favor{
    padding: 7px 9px 5px 10px;
    line-height: 12px;
    font-size: 12px;
}
main .container .main-left .requestList .timeAndZan .favor span{
    color: #999;
}
main .container .main-left .requestList .timeAndZan .favor.upFavor span{
    color: #ff9900;
}
main .container .main-left .requestList .timeAndZan .favor.upFavor{
    background-color: #fff;
    color: #ff9900;
    border: 1px solid #ff9900;
}

main .container .main-left .requestList .timeAndZan .cancelfavor{
    width: 24px;
    height: 24px;
    margin-left: 5px;
    margin-right: 16px;
}
main .container .main-left .requestList .timeAndZan .cancelfavor.downFavor{
    background-color: #fff;
    color: #ff9900;
    border: 1px solid #ff9900;
} */
/* main .container .main-left .requestList .timeAndZan span{
    color: #ccc;
    font-size: 12px;
} */
main .container .main-left .requestList .timeAndZan>i{
    color: #ccc;
    padding-right: 10px;
}
main .container .main-left .requestList .timeAndZan .showComment{
    cursor: pointer;
}
.pageUi{
    text-align: center;
}
.pageUi .layui-laypage {
    position: relative;
    padding:0 39px;
    margin: 39px 0 21px 0!important;
}
.layui-laypage a, .layui-laypage span{
    border: 1px solid #b5b5d6!important;
    width: 36px;
    height: 36px;
    padding: 0!important;
    text-align: center;
    line-height: 36px;
    margin-right: 12px!important;
    border-radius: 5px;
    background-color: #f7f7fa!important;
}
.pageUi .layui-laypage .layui-laypage-first{
    position: absolute;
    border: none!important;
    left: 0;
    top: 1px;
    padding-right: 0;
    background-color: transparent!important;
}
.pageUi .layui-laypage .layui-laypage-last{
    position: absolute;
    right: 1px;
    top: 1px;
    padding-left: 0;
    margin-right: 0!important;
    border: none!important;
    background-color: transparent!important;
}
.layui-laypage .layui-laypage-spr{
    border: none!important;
    background-color: transparent!important;
}
.pageUi .layui-laypage .layui-laypage-prev{
    border: none!important;
    background-color: transparent!important;
}
.pageUi .layui-laypage .layui-laypage-next{
    border: none!important;
    background-color: transparent!important;
    transform: translate(1px,0);
}
.layui-laypage span.layui-laypage-curr{
    border: 1px solid #ff9900!important;
}
.layui-laypage .layui-laypage-curr em{
    color: #ff9900!important;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color:#f7f7fa!important;
    position: relative!important;
    padding: 0!important;
}
.main-right .right-container{
    background-color: #f4f4f4;
}
.main-right .highPraise{
    padding: 20px 15px 60px 22px;
    background-color: #fff;
    margin-top: 10px;
}
.main-right .highPraise>ul>li .hightTit{
    border-bottom: 1px solid #ffdfb0;
    margin-bottom: 18px;
}
.main-right .highPraise>ul>li .hightTit span{
    font-size: 20px;
    color: #444;
    display: inline-block;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: 4px solid #ff9900;
}
.main-right .highPraise>ul>li .hightItem{
    margin-bottom: 17px;
    font-size: 16px;
}
.main-right .highPraise>ul>li .hightItem:hover a{
    color: #ff9900;
}
.main-right .highPraise .hightImg img{
    margin-bottom: 25px;
}
.main-right .highPraise>ul>li .highOnline{
    float: left;
    font-size: 16px;
    width: 50%;
    height: 22px;
    margin-bottom: 18px;
}
.main-right .highPraise>ul>li .highOnline a:hover{
    color: #ff9900;
}
.main-right .highPraise>ul>li .highOnline span{
    font-weight: bold;
}
.main-right .highPraise>ul>li .highHot{
    float: left;
    font-size: 16px;
    height: 21px;
    width: 50%;
    margin-bottom: 18px;
}
.main-right .highPraise>ul>li .highHot:hover a{
    color: #ff9900;
}