*{
    margin: 0;
    padding: 0;
}
.hide{
    display: none;
}
body{
    background-color: #f4f4f4;
    /* min-width: 1600px; */
    position: relative;
}
.shareBox{
    z-index: 99999;
}
.searchValue::-ms-input-placeholder{
    text-align: center;
}
.searchValue::-webkit-input-placeholder{
    text-align: center;
}
.handleZan{
    &.active{
        color: #ff9900!important;
        i{
            color: #ff9900!important;
        }
        span{
            color: #ff9900!important;
        }
    }
}
#searchSelect{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    xm-select{
        border:none;
        .xm-label{
            .scroll{
                .xm-iconfont{
                    display: none!important;
                }
            }
        }
    }
  }
  .teamworkCode{
      img{
          width: 241px;
          height: 241px;
      }
  }
.editPush{
    position: relative;
    margin:0 20px;
    z-index: 1;
    margin-top: 15px;
}
.editPush.editPushItem{
    margin: 0;
    margin-top: 15px;
    z-index: 0;
}
.editPush >div{
    z-index: 0;
    min-height: 40px;
    vertical-align: middle;
    position: relative;
    width: calc(100% - 75px);
    display: inline-block;
    border: 1px solid #eee;
}
.editPush >div>div:nth-of-type(1){
    position: absolute;
    right: 0;
    top: 0;
}
.editPush >div>div:nth-of-type(1) .w-e-toolbar{
    padding: 0;
}
.editPush >div>div:nth-of-type(2){
    padding-right: 40px;
    box-sizing: border-box;
}
.editPush a{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0!important;
    font-size: 14px;
    display: inline-block;
    padding: 12px 16px;
    color: white;
    background-color: #ff9900;
}
.editPush a:hover{
    color: #fff;
}
.commentBox{
    width: 100%;
    height: 100vh;
    z-index: 9;
    background-color: rgba(18,18,18,.65);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.commentHead{
    height: 50px;
    line-height: 50px;
    color: #121212;
    font-weight: 600;
    border-bottom: 1px solid #f6f6f6;
}
.commentHead a{
    float: right;
}
.allComments{
    padding: 0 20px;
    box-sizing: border-box;
    width:688px;
    height: calc(100vh - 48px);
    background-color: #fff;
}
.allComments .commentList{
    box-shadow: 0 1px 3px rgba(18,18,18,.1);
    box-sizing: border-box;
    margin-top: 20px;
}
.allComments .commentList .commentNum{
    height: 51px;
    padding:0 20px;
    line-height: 51px;
    border-bottom: 1px solid #f6f6f6;
    border-radius: 2px;
}
.allComments .commentList >ul li{
    margin-bottom: 15px;
}
.allComments .commentList .commentNum span{
    float: left;
    font-size: 15px;
    color: #121212;
    font-weight: 600;
}
.allComments .commentList .commentNum a{
    float: right;
    font-size: 15px;
    color: #76839b;
}
.allComments .commentList .excellent{
    height: 39px;
    line-height: 39px;
    padding:0 20px;
    background-color: #f6f6f6;
    font-size: 14px;
    color: grey;
    font-weight: 600;
}
.allComments ul{
    /* padding:0 20px; */
    padding-top: 15px;
    box-sizing: border-box;
}
.allComments  ul li img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.allComments  ul li .userHead>a>span{
    margin: 0 8px;
}
.allComments  ul li .userHead>span{
    float: right;
}
.allComments  ul li .userHead a:nth-of-type(2){
   margin: 0 8px;
   display: inline-block;
}
.allComments  ul li .descInfo{
    padding-left: 36px;
}
.allComments  ul li .descInfo .userDesc{
    color: #121215;
    line-height: 1.6;
}
.allComments  ul li .descInfo .showAll{
    padding: 12px 0 12px 36px;
    margin-top: 10px;
}
.allComments  ul li .commentHandle{
    margin-top: 10px;
}
.handleZan.active{
    color: #ff9900;
}
.allComments  ul li .commentHandle a{
    // margin-right: 20px;
}
.allComments  ul li .replayItem{
    margin-top: 20px;
}
.flow-default{
    height: calc(100% - 190px); 
    overflow: auto;
    overflow-y: scroll;
}
.flow-default li{
    margin-bottom: 15px;
}
.flow-default img{
    width: 36px;
    height: 36px;
}
/* .flow-default .layui-flow-more{
    display: none!important;
} */
.allComments .repalyNum{
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid #f6f6f6;
}
.site-demo-flow{width: 600px; height: 300px; overflow: auto; text-align: center;}
    .site-demo-flow img{width: 40%; height: 200px; margin: 0 2px 5px 0; border: none;}
.commentsList{

}
.address-search .layui-form-label{
    width: auto!important;
    padding:9px 0!important;
    font-size: 16px;
    color: #444444;
    margin-right: 35px;
    font-weight: 600;
    font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu
}
.address-search>a{
    font-size: 16px;
    color: #cccccc;
    display: inline-block;
    padding: 10px 22px;
    vertical-align: top;
    line-height: 16px;
    border: 1px solid #cccccc;
}
.address-search>a:hover{
    /* color: #ff9900; */
}
.address-search .cityBox{
    float: left;
    width: calc(100% - 70px);
}
.address-search .cityBox .layui-input-inline{
    width: 48%!important;
    margin-right: 0!important;
}
.address-search .cityBox .layui-input-inline:nth-of-type(1){
    margin-right: 4%!important;
}
.address-search .layui-form{
    display: inline-block;
    width: calc(100% - 115px);
}
.address-search .layui-form .layui-form-item{
    margin-bottom: 0!important;
}
#demo3{
    background-color: #fff;
    a{
        color: #b5b5d6;
        &.layui-laypage-next,&.layui-laypage-prev,&.layui-laypage-last,&.layui-laypage-first {
            color:#d9d9d9;
        }
    }
}
li{
    list-style: none;
}
button{
    outline: none;
    cursor: pointer;
}
input{
    outline: none;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.singleHide{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.doubleHide{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.threeHide{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.fourHide{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}
.clearfix:after {
    content: "";
    display: block ;
    height: 0 ;
    clear: both ;
    visibility: hidden ;
}
.container{
    // width: 75%;
     width: 1200px; 
    margin: 0 auto;
}
header{
    height: 100px;
    background-color: #fff;
}
header .container{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
header .container > div{
    float: left;
}
header .container .header_login{
    width: 36.25%;
    display: flex;
    align-items: center;
}
header .container .header_login img{
    vertical-align: middle;
}
header .container .header_login span{
    font-size: 22px;
    display: inline-block;
    margin-left: 10px;
}
header .container .search{
    width: 38.41%;
    display: flex;
    align-items: center;
}
/* header .container .search img{
    margin-right: 10px;
    cursor: pointer;
} */
header .container .search>i{
    font-size: 18px;
    color: #808080;
    cursor: pointer;
}
header .container .search>i:nth-of-type(2){
    margin-left: 12px;
    margin-right: 10px;
    position: relative;
}
header .container .search>i:nth-of-type(2):hover>div{
    display: inline-block;
}
header .container .search>i:nth-of-type(2)>div{
    position: absolute;
    background: #fff;
    display:none;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ebebeb;
    border-radius: 4px;
    margin-top: 16px;
    -webkit-box-shadow: 0 5px 20px rgb(18 18 18 / 10%);
    box-shadow: 0 5px 20px rgb(18 18 18 / 10%);
    z-index: 203;
}
header .container .search>i:nth-of-type(2)>div>div{
    position: relative;
}
header .container .search>i:nth-of-type(2)>div>div>div{
    position: relative;
    padding:2px;
}
header .container .search>i:nth-of-type(2)>div>div>div{
    width: 170px;
}
header .container .search>i:nth-of-type(2)>div span{
    width: 32px;
    height: 16px;
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translate(-50%,-100%);
    transform: translate(-50%,-100%);
}
header .container .search>i:nth-of-type(2)>div span:after{
    content: "";
    left: 0;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 1px solid #ebebeb;
    border-bottom: none;
    border-right: none;
    background: #fff;
    -webkit-transform: rotate(45deg) translate(-50%,-50%);
    transform: rotate(45deg) translate(-50%,-50%);
    pointer-events: auto;
}
header .container .search .search_btn{
    width: 119px;
    border: 1px solid #ffa115;
    border-radius: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    padding: 3px 0;
    text-align: center;
    box-sizing: border-box;
}
header .container .search .search_btn.haslogin{
    // border: 1px solid #cccccc;
    border: none;
    border-radius: 4px;
    padding: 2px;
    font-size: 0;
    display: inline-block;
    height: auto;
    width: auto;
    outline: none;
}
header .container .search .search_btn.haslogin>.userInfo>img{
    width: 36px;
    height: 36px;
    padding-right: 5px;
}
header .container .search .search_btn a{
    border: none;
    color: #ff9900;
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    background-color: transparent;
}
header .container .search .search_btn.haslogin .userInfo{
    font-size: 0;
    line-height: 0;
    position: relative;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
header .container .search .search_btn.haslogin .userInfo>div{
    position: absolute;
    background: #fff;
    display:none;
    width: 100px;
    box-sizing: border-box;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ebebeb;
    border-radius: 4px;
    margin-top: 16px;
    -webkit-box-shadow: 0 5px 20px rgb(18 18 18 / 10%);
    box-shadow: 0 5px 20px rgb(18 18 18 / 10%);
    z-index: 203;
}
.userImages{
    cursor: pointer;
}
header .container .search .search_btn.haslogin .userInfo .userHandle{
    // outline: none;
}
header .container .search .search_btn.haslogin .userInfo>div>div{
    position: relative;
}
header .container .search .search_btn.haslogin .userInfo>div>div>div{
    position: relative;
    padding:6px;
    font-size: 15px;
    line-height: 16px;
    outline: none;
}
header .container .search .search_btn.haslogin .userInfo>div>div>div a{
    color: #444;
    display: block;
}
header .container .search .search_btn.haslogin .userInfo>div>div>div a:hover{
    color: #ff9900;
}
header .container .search .search_btn.haslogin .userInfo>div span{
    width: 32px;
    height: 16px;
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translate(-50%,-100%);
    transform: translate(-50%,-100%);
}
header .container .search .search_btn.haslogin .userInfo>div span:after{
    content: "";
    left: 0;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 1px solid #ebebeb;
    border-bottom: none;
    border-right: none;
    background: #fff;
    -webkit-transform: rotate(45deg) translate(-50%,-50%);
    transform: rotate(45deg) translate(-50%,-50%);
    pointer-events: auto;
}
header .container .search .search_btn i{
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 16px 0 13px;
    background-color: #ff9900;
}
header .container .search .search_input{
    width: 238px;
    border: 1px solid #cccccc;
    border-radius: 29px;
    height: 29px;
    padding-left: 19px;
    box-sizing: border-box;
    position: relative;
    padding-right: 26px;
    position: relative;
    margin-right: 10px;
    .layui-form{
        padding: 6px 15px;
        position: absolute;
        top: 29px;
        left: 0;
        width: 190px;
        background-color: #fff;
        .layui-form-item{
            margin-bottom: 0;
            .layui-input-block{
                margin-left: 0;
                text-align: center;
                .layui-form-radio{
                    margin: 0;
                    font-size: 12px;
                    &>i{
                        font-size: 16px;
                    }
                    &.layui-form-radioed{
                        &>i{
                            color: #ff9900;
                        }
                    }
                }
            }
        }
    }
}
header .container .search .search_input input{
    height: 100%;
    border: none;
    position: relative;
    z-index: 9;
    font-size: 12px;
    width: 100%;
    width: calc(100% - 64px);
    margin-left: 42px;
    // border-radius: 29px;
}
header .container .search .search_input>i{
    font-size: 16px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 50%;
    right: 0;
    color: #ff9900;
    transform: translate(0,-50%);
}
header .container .search .search_input input::-webkit-input-placeholder{
    color:#ccc;
    font-size: 12px;
}
header .container .search .search_input input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#ccc;
    font-size: 12px;
}
header .container .search .search_input input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#ccc;
    font-size: 12px;
}
header .container .search .search_input input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#ccc;
    font-size: 12px;
}
/* header .container .search img{
    width: 16px;
    height: 16px;
    vertical-align: middle;
} */
header .container .qrCode{
    display: flex;
}
header .container .qrCode img{
    vertical-align: middle;
    width:71px;
}
header .container .qrCode div:nth-of-type(1){
    margin-right: 14px;
}
header .container .qrCode div:nth-of-type(2){
    padding-right: 42px;
}
header .container .qrCode p{
    font-size: 12px;
    text-align: center;
}

/* 菜单栏 */
.menu{
    height: 48px;
    line-height: 48px;
    background-color: #e6e6e6;
}
// .menu .container{
//     background-color: #e6e6e6;
// }
// .menu ul li{
//     float: left;
//     width: 113px;
//     text-align: center;
//     line-height: 47px;
// }
// .menu ul li a{
//     display: inline-block;
//     height: 100%;
//     width: 100%;
//     font-size: 16px;
//     color: #444444;
// }
// .menu ul li a:hover{
//     background-color: #ff9900;
//     color: #fff;
// }
// .menu ul li a.active{
//     background-color: #ff9900;
//     color: #fff;
// }
// .menu ul>a{
//     float: right;
//     font-size: 16px;
//     color: #444;
//     padding-right: 42px;
// }
// .menu ul>a:hover{
//     color: #ff9900;
// }


/* 面包屑 */
.breadcrumb .container{
    height: 32px;
    line-height: 32px;
    color: #bfbfbf;
    font-size: 12px;
    background-color: #f4f4f4;
}
footer{
    background-color: #e6e6e6;
    // margin-top: 29px;
}
footer .container span{
    float: left;
    height: 55px;
    color: #a6a6a6;
    line-height: 55px;
    font-size: 12px;
}
footer .container span:nth-of-type(2){
    float: right;
}

.teamworks{
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rgba(18,18,18,.65);
    justify-content: center;
    align-items: center;
}
.teamworksBox{
    width: 560px;
    padding: 28px 22px;
    box-sizing: border-box;
    background-color: #fff;
}
.teamworkHeader span{
    font-size: 18px;
    color: #444;
    float: left;
    font-weight: 600;
}
.teamworkHeader a{
    float: right;
}
.teamworkCode{
    text-align: center;
    padding: 66px 0 60px 0;
}
.callUsInfo p{
    line-height: 37px;
    font-size: 16px;
    color: #808080;
}

.timeAndZan{
    font-size: 0;
    .zanLeft{
        float: left;
    }
    .zanRight{
        float: right;
    }
    a{
        font-size: 12px;
        color: #858585;
        border-radius: 5px;
        text-align: center;
        line-height: 24px;
        display: inline-block;
        &.hide{
            display: none;
        }
    }
    span{
        color: #999;
        font-size: 12px;
        margin-right: 12px;
    }
    &>i{
        color: #cccccc;
        margin-right: 10px;
    }
    .favor{
        padding: 7px 9px 5px 10px;
        line-height: 12px;
        font-size: 12px;
        color: #808080;
        background-color: #f2f2f2;
        // border: 1px solid #e6e6e6;
        span{
            margin-right: 0;
            color: #999;
        }
        &.upFavor{
            background-color: #ff9900;
            color: #fff;
            // border: 1px solid #ff9900;
            span{
                color: #fff; 
            }
            &>i{
                color: #fff!important;
            }
        }
        &.unTaken{
            &:hover{
                background-color: #ff9900;
                color: #fff;
                // border: 1px solid #ff9900;
                span{
                    color: #fff; 
                }
            }
        }
    }
    .cancelfavor{
        width: 24px;
        height: 24px;
        color: #808080;
        margin-left: 5px;
        // border: 1px solid #e6e6e6;
        background-color: #f2f2f2;
        margin-right: 16px;
        &.downFavor{
            background-color: #ff9900;
            color: #fff;
            border: 1px solid #ff9900;
        }
    }
    .commentIcon{
        span{
            color: #999999;
        }
        i{
            color: #ccc; 
        }
    }
}
.hide{
	display: none;
}

.commentList{
    padding-bottom: 15px;
}
.searchInput{
    xm-select{
        .scroll{
            .label-content{
                padding-top: 5px!important;
            }
        }
        .xm-label-block {
            background-color: transparent!important;
            span{
                color: #ff9900!important;
            }
        }
    } 
}
#demo2{
    width: calc(100% - 30px);
    position: absolute;
    border: none;
    top: -3px;
    height: 29px;
    right: 26px;
    xm-select{
        display: inline-block;
        // width: 30px;
        border: rgb(0, 150, 136);
        background-color: transparent;
        .xm-tips{
            display: none!important;
        }
        .xm-label{
            .scroll{
                .label-content{
                    padding: 3px 3px;
                    .xm-label-block {
                        padding: 0;
                        margin: 0;
                        padding: 0 2px;
                        height: 22px;
                        margin: 2px 0;
                        line-height: 22px;
                        background-color: transparent!important;
                        span{
                            font-size: 12px;
                            color: #ff9900!important;
                        }
                        i{
                            display: none;
                        }
                    }
                }
            }
        }
        .scroll-body{
            max-height: 220px!important;
            .xm-option-icon{
                width: 12px;
                height: 12px;
                font-size: 14px;
            }
            .xm-option-content{
                width: auto;
                padding-left: 10px;
            }
        }
    }
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width:10px;
    }
    /* 滚动槽 */
    ::-webkit-scrollbar-track {
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
    border-radius:10px;
    }
    /* 滚动条滑块 */
    ::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:rgba(0,0,0,0.1);
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
    }
    ::-webkit-scrollbar-thumb:window-inactive {
    // background:rgba(255,0,0,0.4);
    }
.release{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background-color:rgba(18,18,18,.65);
    display: none;
    justify-content: center;
    align-items: center;
    .releaseBox{
        width:836px;
        padding: 20px 22px;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: scroll;
        background-color: #fff;
        height: calc(100% - 60px);
        .smallType{
            .layui-unselect.layui-form-select{
                width: calc(100% - 80px);
                display: inline-block;
            }
        }
        .formbox{
            height: calc(100% - 24px);
            overflow: hidden;
            overflow-y: scroll;
        }
        .addOrdel{
            height: calc(100% - 24px);
            overflow: hidden;
            overflow-y: scroll;
        }
        .tiptitle{
            span{
                font-size: 18px;
                color: #444;
                font-weight: 600;
                float: left;
            }
            a{
                float: right;
            }
        }
        form{
            width: 650px;
            margin: 0 auto;
            // height: calc(100vh - 120px);
            // overflow: hidden;
            // overflow-y: scroll;
            .imgUpload{
                // margin-left: 0!important;
                .layui-upload-drag{
                    width: 100%;
                    min-height: 145px;
                    padding: 0!important;
                    p{
                        line-height: 145px;
                    }
                    .layui-hide{
                        width: 100%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;  
                        }
                    }
                }
            }
            #edit1{
                // margin-left: 110px;
            }
        }
    }

}

.msgBox{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color:rgba(18,18,18,.65);
    display: none;
    justify-content: center;
    align-items: center;
    .msgs{
        width:836px;
        padding: 20px 22px;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: scroll;
        background-color: #fff;
        height: calc(100% - 60px);
    }
}

.linkUrl{
    .container{
        padding: 14px 25px 23px 25px;
        // margin-top: 31px;
        box-sizing: border-box;
        background-color: #fff;
        .linkTit{
            font-size: 16px;
            font-weight: 600;
            color: #444444;
            margin-bottom: 13px;
        }
        .linkList{
            display: flex;
            // justify-content: space-between;
            ul{
                li{
                   margin-bottom: 8px;
                   float: left;
                   width: 16.6%;
                   font-size: 12px;
                   &:hover{
                       a{
                           color: #ff9900;
                       }
                   }
                   &:nth-of-type(1){
                       font-weight: bold;
                   }
                }
            }
        }
    }
}
.layui-form-selectup dl{
    top: 42px!important;
    bottom: auto!important;
}
// .imgbanner{
//     padding: 16px 18px 9px 18px;;
//     img{
//         width: 100%!important;
//         height: 100%!important;
//     }
// }
.jumpTodetail{
    cursor: pointer;
}

.layui-nav{
    .handleTeam{
        a{
            font-size: 16px!important;
        }
    }
    padding: 0;
    background-color: #e6e6e6!important;
    >div{
        float: right;
        font-size: 16px;
        color: #444;
        padding-right: 42px;
        a{
            width: auto!important;
        }
        &.layui-this{
            background-color: transparent!important;
            color: #444!important;
        }
    }
    .layui-nav-bar{
        display: none;
    }
    .layui-nav-child{
        top: 48px!important;
        a{
            font-size: 14px;
            text-align: center;
            &:hover{
                background-color: #ff9900!important;
                color: #fff!important;
            }
        }
    }
    .layui-nav-item{
        >a{
            font-size: 16px;
            color: #444444!important;
            padding: 0!important;
            width: 113px;
            text-align: center;
            height: 48px;
            line-height: 48px;
        }
        >dl{
            // background-color: #e6e6e6;
        }
        &.layui-this{
            background-color: #ff9900;
            >a{
                color: #fff!important;
            }
            &:after{
                display: none;
            }
        }
        .layui-nav-more{
            display: none;
        }
    }
    
}
.Liability{
    color: #a6a6a6;
}
// .layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{
//     background-color: transparent;
// }

.cancelPointer{
    cursor: default;
}
.layui-form-select dl{
    max-height: 200px!important;
}

.layui-form-select dl{
    z-index: 99999!important;
}
.userPartIn{
    >ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

.addPro{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color:rgba(18,18,18,.65);
    display: none;
    justify-content: center;
    align-items: center;
    .addProBox{
        width:836px;
        padding: 20px 22px;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: scroll;
        background-color: #fff;
        height: calc(100% - 60px);
        .smallType{
            .layui-unselect.layui-form-select{
                width: calc(100% - 80px);
                display: inline-block;
            }
        }
        .formbox{
            height: calc(100% - 24px);
            overflow: hidden;
            overflow-y: scroll;
        }
        .addOrdel{
            height: calc(100% - 24px);
            overflow: hidden;
            overflow-y: scroll;
        }
        .tiptitle{
            span{
                font-size: 18px;
                color: #444;
                font-weight: 600;
                float: left;
            }
            a{
                float: right;
            }
        }
        form{
            width: 650px;
            margin: 0 auto;
            // height: calc(100vh - 120px);
            // overflow: hidden;
            // overflow-y: scroll;
            .imgUpload{
                // margin-left: 0!important;
                .layui-upload-drag{
                    width: 100%;
                    min-height: 145px;
                    padding: 0!important;
                    p{
                        line-height: 145px;
                    }
                    .layui-hide{
                        width: 100%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;  
                        }
                    }
                }
            }
            #edit1{
                // margin-left: 110px;
            }
        }
    }

}