.follownum{
    padding:14px 0;
    box-sizing:border-box;
    font-size: 14px;
    color:#999999;
  }
  .requestList .follownum-li{
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  .requestList .follownum-li>div{
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  .requestList .follownum-li>div>p{
    margin-right:10px;
  }
  .requestList .follownum-li .cancel{
    width:100px;
    height:40px;
    background: #ff9900;
    font-size: 14px;
    color: #fff;
    justify-content:center;
  }
  .userCall .userRole,.userCall .companyRole {
    width: calc(100% - 82px);
  
  }
  .bindTip.userTip {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(18, 18, 18, 0.65);
    justify-content: center;
    align-items: center;
    .tipbox{
        width: 560px;
        background-color: #fff;
        padding: 19px 22px;
        box-sizing: border-box;
        height: calc(100% - 100px);
        .toptips{
            &>div{
                span{
                    float: left;
                }
                a{
                    float: right;
                }
            }
            span{
                font-size: 18px;
                font-weight: 600;
                float: left;
            }
            .tipInput{
                float: right;
                width: 267px;
                padding-left: 19px;
                box-sizing: border-box;
                height: 33px;
                border: 1px solid #cccccc;
                input{
                    width: calc(100% - 37px);
                    border: none;
                    height: 100%;
                }
                i{
                    font-size: 22px;
                    vertical-align: middle;
                    color: #ccc;
                    cursor: pointer;
                }
            }
        }
        ul{
            margin-top: 27px;
            li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 12px;
                div{
                    &>img{
                        width: 50px;
                        height: 50px;
                        margin-right: 14px;
                        float: left;
                    }
                    &>div{
                        float: left;
                        width: calc(100% - 64px);
                        .userName{
                            font-size: 16px;
                            font-weight: 600;
                            padding-bottom: 8px;
                        }
                        .companyName{
                            img{
                                width: 20px;
                                height: 18px;
                                margin-right: 4px;
                            }
                            span{
                                font-size: 14px;
                                color: #808080;
                            }
                        }
                    }
                }
                a{
                    font-size: 14px;
                    display: inline-block;
                    color: #ccc;
                    padding: 2px 5px;
                    margin-top: 10px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    border: 1px solid #ccc;
                    &:nth-of-type(1){
                        margin-top: 0;
                    }
                    &.cancelBind{
                        background-color: #ff9900;
                        color: #fff;
                        border: none;
                    }
                    &.hide{
                        display: none!important;
                    }
                }
            }
        }
    }
  }

  .requestList{
      >ul{
          >li.answerMust{
            padding-top: 30px;
            padding-bottom: 25px;
            border-bottom: 1px solid #e6e6e6; 
            .questitle{
                .QuestionTit{
                    &:hover{
                        color: #ff9900;
                    }
                }
            }
            .userQuestion{
                >.userInfo{
                    &:hover{
                        a{
                            span{
                                color: #ff9900;
                            }
                        }
                    }
                }
                >div{
                    float: left;
                    &:nth-of-type(2){
                        float: right;
                    }
                }
                .QuestionTit{
                    color: #444444;
                    font-weight: bold;
                    font-size: 18px;
                    color: #444;
                }
                .userInfo {
                    padding-right: 20px;
                    box-sizing: border-box;
                    span{
                        font-size: 16px;
                        color: #444;
                    }
                }
            }
            .QuestionDetail{
                margin-top: 23px;
                overflow: hidden;
                margin-bottom: 16px;
                >img{
                    max-width: 150px;
                    max-height: 100px;
                    margin-right: 10px;
                    float: left;
                }
                >div{
                    word-wrap: break-word;
                }
                p{
                    font-size: 14px;
                    color: #444;
                    line-height: 24px;
                    &.newDesc{
                        width: calc(100% - 160px);
                        float: right;
                        line-height: 30px;
                        word-wrap: break-word;
                    } 
                    span{
                        font-weight: bold;
                    }
                }
            }
            .commentList{
                box-shadow: 0 1px 3px rgba(18,18,18,.1);
                box-sizing: border-box;
                margin-top: 20px;
                >ul{
                    padding:0 20px;
                    padding-top: 15px;
                    box-sizing: border-box;
                    li{
                        margin-bottom: 15px;
                    }
                    >li {
                        .userHead{
                            >a {
                                img{
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                }
                                span{
                                    margin: 0 8px;
                                }
                            }
                            a{
                                &:nth-of-type(2){
                                    margin: 0 8px;
                                    display: inline-block;
                                 }
                            }
                        }
                        .descInfo{
                            padding-left: 32px;
                            .userDesc{
                                color: #121215;
                                line-height: 1.6;
                            }
                            .showAll{
                                padding: 12px 0 12px 32px;
                                margin-top: 10px;
                            }
                        }
                        .commentHandle{
                            margin-top: 10px;
                            a{
                                margin-right: 20px;
                            }
                        }
                        .replayItem{
                            margin-top: 20px;
                        }
                    }
                }
                .commentNum{
                    height: 51px;
                    padding:0 20px;
                    line-height: 51px;
                    border-bottom: 1px solid #f6f6f6;
                    border-radius: 2px;
                    span{
                        float: left;
                        font-size: 15px;
                        color: #121212;
                        font-weight: 600;
                    }
                    a{
                        float: right;
                        font-size: 15px;
                        color: #76839b;
                    }
                }
                .excellent{
                    height: 39px;
                    line-height: 39px;
                    padding:0 20px;
                    background-color: #f6f6f6;
                    font-size: 14px;
                    color: grey;
                    font-weight: 600;
                }
            }
            .timeAndZan{
                font-size: 0;
                i{
                    color: #ccc;
                    padding-right: 10px;
                }
                .showComment{
                    cursor: pointer;
                }
                .zanLeft{
                    float: left;
                    span{
                        &:nth-of-type(2){
                            margin-right: 0;
                        }
                    }
                }
                .zanRight{
                    float: right;
                    padding-right: 10px;
                    box-sizing: border-box;
                    span{
                        font-size: 14px;
                        color: #444;
                        display: inline-block;
                        margin-right: 7px;
                        /* font-weight: bold; */
                    }
                    img{
                        vertical-align: baseline;
                        width: 13px;
                    }
                    &:hover{
                        span{
                            color: #ff9900;
                        }
                    }
                }
            }
          }
      }
  }

  .requestList{
    min-height: 1035px;
    &>ul{
        &>li.project{
            padding: 25px 0;
            padding-right: 20px;
            border-bottom: 1px solid #e6e6e6;
            box-sizing: border-box;
            &>.questitle{
                .QuestionTit{
                    &:hover{
                        color: #ff9900;
                    }
                }
            }
            .userQuestion{
                &>div{
                    float: left;
                    &:nth-of-type(2){
                        float: right;
                        width: 20%;
                        text-align: right;
                        &:hover{
                            span{
                                color: #ff9900;
                            }
                        }
                        span{
                            display: inline-block;
                            max-width: calc(100% - 80px);
                            vertical-align: middle;
                        }
                    }
                }
                .QuestionTit{
                    color: #444444;
                    width: 75%;
                    font-weight: bold;
                    font-size: 18px;
                    margin-bottom: 13px;
                    // span{
                    //     color: #ff9900;
                    // }
                }
                .userInfo{
                    span{
                        font-size: 14px;
                        color: #444;
                    }
                }
            }
            .QuestionDetail{
                .doubleHide{
                    font-size: 14px;
                    line-height: 22px;
                    color: #444;
                }
            }
            .infos{
                padding-top: 11px;
                margin-bottom: 15px;
                a{
                    font-size: 14px;
                    color: #ff9900;
                    text-decoration: underline;
                }
            }
            // .timeAndZan{
            //     font-size: 0;
            //     a{
            //         font-size: 12px;
            //         color: #808080;
            //         background-color: #fff;
            //         border-radius: 5px;
            //         text-align: center;
            //         line-height: 24px;
            //         display: inline-block;
            //     }
            //     .favor{
            //         height: 24px;
            //         padding: 0 10px;
            //         font-size: 12px;
            //         color: #ff9900;
            //         border: 1px solid #ff9900;
            //         span{
            //             margin-right: 5px;
            //             color: #ff9900;
            //         }
            //         &.upFavor{
            //             color: #fff;
            //             background-color: #ff9900;
            //             span{
            //                 color: #fff;  
            //             }
            //         }
            //     }
            //     .cancelfavor{
            //         width: 24px;
            //         height: 24px;
            //         margin-left: 5px;
            //         margin-right: 16px;
            //         color: #ff9900;
            //         border: 1px solid #ff9900;
            //         &.downFavor{
            //             color: #fff;
            //             background-color: #ff9900;
            //         }
            //     }
            //     span{
            //         color: #999;
            //         font-size: 12px;
            //         margin-right: 12px;
            //     }
            //     .personInfo,.callInfo{
            //         color: #444;
            //         font-weight: bold;
            //     }
            //     &>i{
            //         color: #ccc;
            //         margin-right: 10px;
            //     }
            // }
        }
    }
    
}

.requestList{
    min-height: 1035px;
    &>ul{
        &>li.material{
            padding: 25px 0;
            // padding-right: 10px;
            border-bottom: 1px solid #e6e6e6;
            box-sizing: border-box;
            &>.questitle{
                .QuestionTit{
                    &:hover{
                        color: #ff9900;
                    }
                }
            }
            .userQuestion{
                &>div{
                    float: left;
                    &:nth-of-type(2){
                        float: right;
                        padding-right: 10px;
                        box-sizing: border-box;
        
                    }
                }
                .QuestionTit{
                    color: #444444;
                    font-weight: bold;
                    font-size: 18px;
                    max-width: 75%;
                    margin-bottom: 23px;
                    // span{
                    //     color: #ff9900;
                    // }
                }
                .userInfo{
                    width: 25%;
                    text-align: right;
                    float: right;
                    padding-right: 20px;
                    box-sizing: border-box;
                    &:hover{
                        span{
                            color: #ff9900;
                        }
                    }
                    span{
                        // font-weight: bold;
                        display: inline-block;
                        // width: calc(100% - 76px);
                        width: 100px;
                        font-size: 16px;
                        color: #444;
                    }
                    img{
                        vertical-align: baseline;
                    }
                }
            }
            .QuestionDetail{
                margin-bottom: 15px;
                .doubleHide{
                    font-size: 14px;
                    color: #444;
                }
                .infos{
                    padding-top: 11px;
                    margin-bottom: 15px;
                    a{
                        font-size: 14px;
                        color: #ff9900;
                        text-decoration: underline;
                    }
                }
            }
            // .timeAndZan{
            //     font-size: 0;
            //     margin-top: 16px;
            //     a{
            //         font-size: 12px;
            //         color: #999;
            //         background-color: #fff;
            //         border-radius: 5px;
            //         text-align: center;
            //         line-height: 24px;
            //         display: inline-block;
            //     }
            //     .favor{
            //         height: 24px;
            //         padding: 0 10px;
            //         font-size: 12px;
            //         border: 1px solid #ff9900;
            //         color: #ff9900;
            //         span{
            //             color: #ff9900;
            //             margin-right: 0;
            //         }
            //         &.upFavor{
            //             background-color: #ff9900;
            //             color: #fff;
            //             span{
            //                 color: #fff;
            //             }
            //         }
            //     }
            //     .cancelfavor{
            //         width: 24px;
            //         height: 24px;
            //         margin-left: 5px;
            //         margin-right: 16px;
            //         border: 1px solid #ff9900;
            //         color: #ff9900;
            //         span{
            //             color: #ff9900;
            //         }
            //         &.downFavor{
            //             background-color: #ff9900;
            //             color: #fff;
            //         }
            //     }
            //     span{
            //         color: #999;
            //         font-size: 12px;
            //         margin-right: 12px;
            //     }
            //     .personInfo,.callInfo{
            //         color: #444;
            //         font-weight: bold;
            //     }
            //     &>i{
            //         color: #ccc;
            //         margin-right: 10px;
            //     }
            // }
        }
    }
    
}

.requestList{
    min-height: 1035px;
    &>ul{
        &>li.technology{
            padding: 25px 0;
            border-bottom: 1px solid #e6e6e6;
            .userQuestion{
                &>div{
                    float: left;
                    max-width: 75%;
                    &:nth-of-type(2){
                        float: right;
                    }
                }
                &>a{
                    float: right;
                    padding-right: 20px;
                    font-size: 16px;
                    &:hover{
                        color: #ff9900;
                    }
                    span{
                        font-size: 16px;
                    }
                    img{
                        vertical-align: baseline;
                    }
                }
                .QuestionTit{
                    color: #444444;
                    font-weight: bold;
                    font-size: 18px;
                    margin-bottom: 23px;
                    &:hover{
                        color: #ff9900;
                        span{
                            color: #ff9900;
                        }
                    }
                    // span{
                    //     color: #ff9900;
                    // }
                }
                .userInfo{
                    &:hover{
                        span{
                            color: #ff9900;
                        }
                    }
                    span{
                        font-size: 14px;
                        color: #444;
                    }
                }
            }
            .QuestionDetail{
                margin-bottom: 15px;
                .doubleHide{
                    font-size: 14px;
                    color: #444;
                }
            }
            .infos{
                padding-bottom: 11px;
                a{
                    font-size: 14px;
                    color: #ff9900;
                    text-decoration: underline;
                }
            }
            // .timeAndZan{
            //     margin-top: 15px;
            //     font-size: 0;
            //     a{
            //         font-size: 12px;
            //         color: #808080;
            //         background-color: #fff;
            //         border-radius: 5px;
            //         text-align: center;
            //         line-height: 24px;
            //         display: inline-block;
            //     }
            //     .favor{
            //         height: 24px;
            //         padding: 0 10px;
            //         font-size: 12px;
            //         border: 1px solid #ff9900;
            //         color: #ff9900;
            //         span{
            //             color: #ff9900;  
            //             margin-right: 0;
            //         }
            //         &.upFavor{
            //             background-color: #ff9900;
            //             color: #fff;
            //             span{
            //                 color: #fff;
            //             }
            //         }
            //     }
            //     .cancelfavor{
            //         width: 24px;
            //         height: 24px;
            //         margin-left: 5px;
            //         margin-right: 16px;
            //         border: 1px solid #ff9900;
            //         color: #ff9900;
            //         span{
            //             color: #ff9900;  
            //         }
            //         &.downFavor{
            //             background-color: #ff9900;
            //             color: #fff;
            //         }
            //     }
            //     span{
            //         color: #999;
            //         font-size: 12px;
            //         margin-right: 12px;
            //     }
            //     .personInfo,.callInfo{
            //         color: #444;
            //         font-weight: bold;
            //     }
            //     &>i{
            //         color: #ccc;
            //         margin-right: 10px;
            //     }
            // }
        }
    }
    
}


.requestList{
    min-height: 100vh;
    &>ul{
        &>li.newExchange{
            padding: 25px 0;
            border-bottom: 1px solid #e6e6e6;
            .userQuestion{
                &>div{
                    float: left;
                    &:nth-of-type(2){
                        float: right;
                    }
                }
                .QuestionTit{
                    color: #444444;
                    font-weight: bold;
                    font-size: 18px;
                    width: 100%;
                    margin-bottom: 23px;
                    // span{
                    //     color: #ff9900;
                    // }
                }
                .userInfo{
                    span{
                        font-size: 14px;
                        color: #444;
                    }
                }
            }
            .QuestionDetail{
                margin-bottom: 15px;
                .doubleHide{
                    font-size: 14px;
                    color: #444;
                }
                .infos{
                    padding-top: 11px;
                    margin-bottom: 15px;
                    a{
                        font-size: 14px;
                        color: #ff9900;
                        text-decoration: underline;
                    }
                }
            }
            // .timeAndZan{
            //     font-size: 0;
            //     margin-top: 16px;
            //     a{
            //         font-size: 12px;
            //         color: #808080;
            //         background-color: #f2f2f2;
            //         border-radius: 5px;
            //         text-align: center;
            //         line-height: 24px;
            //         display: inline-block;
            //     }
            //     .favor{
            //         height: 24px;
            //         padding: 0 10px;
            //         font-size: 12px;
            //         border: 1px solid #ff9900;
            //         color:#ff9900;
            //         span{
            //             color:#ff9900; 
            //         }
            //         &.upFavor{
            //           background-color: #ff9900;;
            //           color: #fff;  
            //           span{
            //             color:#fff; 
            //           }
            //         }
            //     }
            //     .cancelfavor{
            //         width: 24px;
            //         height: 24px;
            //         margin-left: 5px;
            //         margin-right: 16px;
            //         border: 1px solid #ff9900;
            //         color:#ff9900;
            //         span{
            //             color:#ff9900; 
            //         }
            //         &.downFavor{
            //             background-color: #ff9900;;
            //             color: #fff; 
            //             span{
            //                 color:#fff; 
            //               } 
            //           }
            //     }
            //     span{
            //         color: #999;
            //         font-size: 12px;
            //         margin-right: 12px;
            //     }
            //     .personInfo,.callInfo{
            //         color: #444;
            //         font-weight: bold;
            //     }
            //     &>i{
            //         color: #ccc;
            //         margin-right: 10px;
            //     }
            // }
        }
    }
    
}
.focusUser,.bindUser,.hasBindUser,.hasEndBind{
    &.hide{
        display: none!important;
    }
}
