.follownum {
  padding: 14px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  color: #999999;
}

.requestList .follownum-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.requestList .follownum-li > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.requestList .follownum-li > div > p {
  margin-right: 10px;
}

.requestList .follownum-li .cancel {
  width: 100px;
  height: 40px;
  background: #ff9900;
  font-size: 14px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.userCall .userRole, .userCall .companyRole {
  width: calc(100% - 82px);
}

.bindTip.userTip {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(18, 18, 18, 0.65);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bindTip.userTip .tipbox {
  width: 560px;
  background-color: #fff;
  padding: 19px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(100% - 100px);
}
.bindTip.userTip .tipbox .toptips > div span {
  float: left;
}
.bindTip.userTip .tipbox .toptips > div a {
  float: right;
}
.bindTip.userTip .tipbox .toptips span {
  font-size: 18px;
  font-weight: 600;
  float: left;
}
.bindTip.userTip .tipbox .toptips .tipInput {
  float: right;
  width: 267px;
  padding-left: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 33px;
  border: 1px solid #cccccc;
}
.bindTip.userTip .tipbox .toptips .tipInput input {
  width: calc(100% - 37px);
  border: none;
  height: 100%;
}
.bindTip.userTip .tipbox .toptips .tipInput i {
  font-size: 22px;
  vertical-align: middle;
  color: #ccc;
  cursor: pointer;
}
.bindTip.userTip .tipbox ul {
  margin-top: 27px;
}
.bindTip.userTip .tipbox ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.bindTip.userTip .tipbox ul li div > img {
  width: 50px;
  height: 50px;
  margin-right: 14px;
  float: left;
}
.bindTip.userTip .tipbox ul li div > div {
  float: left;
  width: calc(100% - 64px);
}
.bindTip.userTip .tipbox ul li div > div .userName {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 8px;
}
.bindTip.userTip .tipbox ul li div > div .companyName img {
  width: 20px;
  height: 18px;
  margin-right: 4px;
}
.bindTip.userTip .tipbox ul li div > div .companyName span {
  font-size: 14px;
  color: #808080;
}
.bindTip.userTip .tipbox ul li a {
  font-size: 14px;
  display: inline-block;
  color: #ccc;
  padding: 2px 5px;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.bindTip.userTip .tipbox ul li a:nth-of-type(1) {
  margin-top: 0;
}
.bindTip.userTip .tipbox ul li a.cancelBind {
  background-color: #ff9900;
  color: #fff;
  border: none;
}
.bindTip.userTip .tipbox ul li a.hide {
  display: none !important;
}

.requestList > ul > li.answerMust {
  padding-top: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}
.requestList > ul > li.answerMust .questitle .QuestionTit:hover {
  color: #ff9900;
}
.requestList > ul > li.answerMust .userQuestion > .userInfo:hover a span {
  color: #ff9900;
}
.requestList > ul > li.answerMust .userQuestion > div {
  float: left;
}
.requestList > ul > li.answerMust .userQuestion > div:nth-of-type(2) {
  float: right;
}
.requestList > ul > li.answerMust .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  color: #444;
}
.requestList > ul > li.answerMust .userQuestion .userInfo {
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList > ul > li.answerMust .userQuestion .userInfo span {
  font-size: 16px;
  color: #444;
}
.requestList > ul > li.answerMust .QuestionDetail {
  margin-top: 23px;
  overflow: hidden;
  margin-bottom: 16px;
}
.requestList > ul > li.answerMust .QuestionDetail > img {
  max-width: 150px;
  max-height: 100px;
  margin-right: 10px;
  float: left;
}
.requestList > ul > li.answerMust .QuestionDetail > div {
  word-wrap: break-word;
}
.requestList > ul > li.answerMust .QuestionDetail p {
  font-size: 14px;
  color: #444;
  line-height: 24px;
}
.requestList > ul > li.answerMust .QuestionDetail p.newDesc {
  width: calc(100% - 160px);
  float: right;
  line-height: 30px;
  word-wrap: break-word;
}
.requestList > ul > li.answerMust .QuestionDetail p span {
  font-weight: bold;
}
.requestList > ul > li.answerMust .commentList {
  -webkit-box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
          box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
}
.requestList > ul > li.answerMust .commentList > ul {
  padding: 0 20px;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList > ul > li.answerMust .commentList > ul li {
  margin-bottom: 15px;
}
.requestList > ul > li.answerMust .commentList > ul > li .userHead > a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.requestList > ul > li.answerMust .commentList > ul > li .userHead > a span {
  margin: 0 8px;
}
.requestList > ul > li.answerMust .commentList > ul > li .userHead a:nth-of-type(2) {
  margin: 0 8px;
  display: inline-block;
}
.requestList > ul > li.answerMust .commentList > ul > li .descInfo {
  padding-left: 32px;
}
.requestList > ul > li.answerMust .commentList > ul > li .descInfo .userDesc {
  color: #121215;
  line-height: 1.6;
}
.requestList > ul > li.answerMust .commentList > ul > li .descInfo .showAll {
  padding: 12px 0 12px 32px;
  margin-top: 10px;
}
.requestList > ul > li.answerMust .commentList > ul > li .commentHandle {
  margin-top: 10px;
}
.requestList > ul > li.answerMust .commentList > ul > li .commentHandle a {
  margin-right: 20px;
}
.requestList > ul > li.answerMust .commentList > ul > li .replayItem {
  margin-top: 20px;
}
.requestList > ul > li.answerMust .commentList .commentNum {
  height: 51px;
  padding: 0 20px;
  line-height: 51px;
  border-bottom: 1px solid #f6f6f6;
  border-radius: 2px;
}
.requestList > ul > li.answerMust .commentList .commentNum span {
  float: left;
  font-size: 15px;
  color: #121212;
  font-weight: 600;
}
.requestList > ul > li.answerMust .commentList .commentNum a {
  float: right;
  font-size: 15px;
  color: #76839b;
}
.requestList > ul > li.answerMust .commentList .excellent {
  height: 39px;
  line-height: 39px;
  padding: 0 20px;
  background-color: #f6f6f6;
  font-size: 14px;
  color: grey;
  font-weight: 600;
}
.requestList > ul > li.answerMust .timeAndZan {
  font-size: 0;
}
.requestList > ul > li.answerMust .timeAndZan i {
  color: #ccc;
  padding-right: 10px;
}
.requestList > ul > li.answerMust .timeAndZan .showComment {
  cursor: pointer;
}
.requestList > ul > li.answerMust .timeAndZan .zanLeft {
  float: left;
}
.requestList > ul > li.answerMust .timeAndZan .zanLeft span:nth-of-type(2) {
  margin-right: 0;
}
.requestList > ul > li.answerMust .timeAndZan .zanRight {
  float: right;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList > ul > li.answerMust .timeAndZan .zanRight span {
  font-size: 14px;
  color: #444;
  display: inline-block;
  margin-right: 7px;
  /* font-weight: bold; */
}
.requestList > ul > li.answerMust .timeAndZan .zanRight img {
  vertical-align: baseline;
  width: 13px;
}
.requestList > ul > li.answerMust .timeAndZan .zanRight:hover span {
  color: #ff9900;
}

.requestList {
  min-height: 1035px;
}
.requestList > ul > li.project {
  padding: 25px 0;
  padding-right: 20px;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList > ul > li.project > .questitle .QuestionTit:hover {
  color: #ff9900;
}
.requestList > ul > li.project .userQuestion > div {
  float: left;
}
.requestList > ul > li.project .userQuestion > div:nth-of-type(2) {
  float: right;
  width: 20%;
  text-align: right;
}
.requestList > ul > li.project .userQuestion > div:nth-of-type(2):hover span {
  color: #ff9900;
}
.requestList > ul > li.project .userQuestion > div:nth-of-type(2) span {
  display: inline-block;
  max-width: calc(100% - 80px);
  vertical-align: middle;
}
.requestList > ul > li.project .userQuestion .QuestionTit {
  color: #444444;
  width: 75%;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 13px;
}
.requestList > ul > li.project .userQuestion .userInfo span {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.project .QuestionDetail .doubleHide {
  font-size: 14px;
  line-height: 22px;
  color: #444;
}
.requestList > ul > li.project .infos {
  padding-top: 11px;
  margin-bottom: 15px;
}
.requestList > ul > li.project .infos a {
  font-size: 14px;
  color: #ff9900;
  text-decoration: underline;
}

.requestList {
  min-height: 1035px;
}
.requestList > ul > li.material {
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList > ul > li.material > .questitle .QuestionTit:hover {
  color: #ff9900;
}
.requestList > ul > li.material .userQuestion > div {
  float: left;
}
.requestList > ul > li.material .userQuestion > div:nth-of-type(2) {
  float: right;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList > ul > li.material .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  max-width: 75%;
  margin-bottom: 23px;
}
.requestList > ul > li.material .userQuestion .userInfo {
  width: 25%;
  text-align: right;
  float: right;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList > ul > li.material .userQuestion .userInfo:hover span {
  color: #ff9900;
}
.requestList > ul > li.material .userQuestion .userInfo span {
  display: inline-block;
  width: 100px;
  font-size: 16px;
  color: #444;
}
.requestList > ul > li.material .userQuestion .userInfo img {
  vertical-align: baseline;
}
.requestList > ul > li.material .QuestionDetail {
  margin-bottom: 15px;
}
.requestList > ul > li.material .QuestionDetail .doubleHide {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.material .QuestionDetail .infos {
  padding-top: 11px;
  margin-bottom: 15px;
}
.requestList > ul > li.material .QuestionDetail .infos a {
  font-size: 14px;
  color: #ff9900;
  text-decoration: underline;
}

.requestList {
  min-height: 1035px;
}
.requestList > ul > li.technology {
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;
}
.requestList > ul > li.technology .userQuestion > div {
  float: left;
  max-width: 75%;
}
.requestList > ul > li.technology .userQuestion > div:nth-of-type(2) {
  float: right;
}
.requestList > ul > li.technology .userQuestion > a {
  float: right;
  padding-right: 20px;
  font-size: 16px;
}
.requestList > ul > li.technology .userQuestion > a:hover {
  color: #ff9900;
}
.requestList > ul > li.technology .userQuestion > a span {
  font-size: 16px;
}
.requestList > ul > li.technology .userQuestion > a img {
  vertical-align: baseline;
}
.requestList > ul > li.technology .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 23px;
}
.requestList > ul > li.technology .userQuestion .QuestionTit:hover {
  color: #ff9900;
}
.requestList > ul > li.technology .userQuestion .QuestionTit:hover span {
  color: #ff9900;
}
.requestList > ul > li.technology .userQuestion .userInfo:hover span {
  color: #ff9900;
}
.requestList > ul > li.technology .userQuestion .userInfo span {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.technology .QuestionDetail {
  margin-bottom: 15px;
}
.requestList > ul > li.technology .QuestionDetail .doubleHide {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.technology .infos {
  padding-bottom: 11px;
}
.requestList > ul > li.technology .infos a {
  font-size: 14px;
  color: #ff9900;
  text-decoration: underline;
}

.requestList {
  min-height: 100vh;
}
.requestList > ul > li.newExchange {
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;
}
.requestList > ul > li.newExchange .userQuestion > div {
  float: left;
}
.requestList > ul > li.newExchange .userQuestion > div:nth-of-type(2) {
  float: right;
}
.requestList > ul > li.newExchange .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  margin-bottom: 23px;
}
.requestList > ul > li.newExchange .userQuestion .userInfo span {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.newExchange .QuestionDetail {
  margin-bottom: 15px;
}
.requestList > ul > li.newExchange .QuestionDetail .doubleHide {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.newExchange .QuestionDetail .infos {
  padding-top: 11px;
  margin-bottom: 15px;
}
.requestList > ul > li.newExchange .QuestionDetail .infos a {
  font-size: 14px;
  color: #ff9900;
  text-decoration: underline;
}

.focusUser.hide, .bindUser.hide, .hasBindUser.hide, .hasEndBind.hide {
  display: none !important;
}