
.commentList{
    box-shadow: 0 1px 3px rgba(18,18,18,.1);
    box-sizing: border-box;
    margin-top: 20px;
    &.detailList{
        box-shadow: none;
    }
    >ul {
            padding:0 20px;
            padding-top: 15px;
            box-sizing: border-box;
        li{
            margin-bottom: 15px;
            &>.userHead {
                &>div{
                    line-height:40px;
                    >img{
                        float:left;
                        width:40px;
                        height:40px;
                        border-radius:50%;
                        margin-right:19px;
                    }
                    >div{
                        float:left;
                        width:calc(100% - 60px);
                        >span{
                            &:nth-of-type(1){
                                margin-left: 16px;
                                // color:#379be9;
                                // margin-right:16px;
                                // display:inline-block; 
                            }
                        }
                    }
                }
            }
            .userHead{
                >a{
                    > img{
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                    }
                    >span{
                        margin: 0 8px;
                    }
                    &:nth-of-type(2){
                        margin: 0 8px;
                        display: inline-block;
                     }
                }
            }
            .descInfo{
                padding-left: 32px;
                .userDesc{
                    color: #121215;
                    line-height: 1.6;
                }
                .showAll{
                    padding: 0px 0 12px 32px;
                    // margin-top: 10px;
                    background-color: #f8fbfb;
                }
            }
            >.descInfo{
                padding-left:51px!important;
                >.userDesc{
                    word-wrap: break-word;
                }
                .moreAnswer{
                    background-color: #f8fbfb;
                    padding: 17px 0;
                    span{
                        display: inline-block;
                        padding-left: 17px;
                        border-left: 3px solid #ff9900;
                    }
                }
            }
            .commentHandle{
                margin-top: 10px;
                >a{
                    color:#afb0b1;
                    >i{
                        color:#afb0b1;
                    }
                    >span{
                        color:#afb0b1;
                    }
                }
            }
            .replayItem{
                margin-top: 0!important;
                background-color:#f8fbfb;
                padding-bottom:24px;
                padding-left:17px;
                padding-right:10px;
                box-sizing:border-box;
                >.userHead{
                    >a{
                        float:left;
                        >span{
                            font-weight:bold;
                        }
                    }
                    >.userDesc{
                        max-width:calc(100% - 60px);
                        float:left;
                        word-wrap:break-word;
                    }
                }
                >.descInfo{
                    padding-left:9px!important;
                    color:#afb0b1;
                }
            }
        }
    }
    .commentNum{
        height: 51px;
        padding:0 20px;
        line-height: 51px;
        border-bottom: 1px solid #f6f6f6;
        border-radius: 2px;
        span{
            float: left;
            font-size: 15px;
            color: #121212;
            font-weight: 600;
        }
        a{
            float: right;
            font-size: 15px;
            color: #76839b;
        }
    }
    .excellent{
        height: 39px;
        line-height: 39px;
        padding:0 20px;
        background-color: #f6f6f6;
        font-size: 14px;
        color: grey;
        font-weight: 600;
    }
}
.request_menu{
    >div{
        float: right;
        margin-right: 15px;
        padding-right: 15px;
        position: relative;
        cursor: pointer;
        span{
            color: #808080;
        }
        i{
            position: absolute;
            right: 0;
            color: #cccccc;
            &:nth-of-type(1){
                top: -4px;
            }
            &:nth-of-type(2){
                top: 4px;
            }
        }
    }
    >uL{
        float: left;
    }
}