.commentList {
  -webkit-box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
          box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
}
.commentList.detailList {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.commentList > ul {
  padding: 0 20px;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.commentList > ul li {
  margin-bottom: 15px;
}
.commentList > ul li > .userHead > div {
  line-height: 40px;
}
.commentList > ul li > .userHead > div > img {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 19px;
}
.commentList > ul li > .userHead > div > div {
  float: left;
  width: calc(100% - 60px);
}
.commentList > ul li > .userHead > div > div > span:nth-of-type(1) {
  margin-left: 16px;
}
.commentList > ul li .userHead > a > img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.commentList > ul li .userHead > a > span {
  margin: 0 8px;
}
.commentList > ul li .userHead > a:nth-of-type(2) {
  margin: 0 8px;
  display: inline-block;
}
.commentList > ul li .descInfo {
  padding-left: 32px;
}
.commentList > ul li .descInfo .userDesc {
  color: #121215;
  line-height: 1.6;
}
.commentList > ul li .descInfo .showAll {
  padding: 0px 0 12px 32px;
  background-color: #f8fbfb;
}
.commentList > ul li > .descInfo {
  padding-left: 51px !important;
}
.commentList > ul li > .descInfo > .userDesc {
  word-wrap: break-word;
}
.commentList > ul li > .descInfo .moreAnswer {
  background-color: #f8fbfb;
  padding: 17px 0;
}
.commentList > ul li > .descInfo .moreAnswer span {
  display: inline-block;
  padding-left: 17px;
  border-left: 3px solid #ff9900;
}
.commentList > ul li .commentHandle {
  margin-top: 10px;
}
.commentList > ul li .commentHandle > a {
  color: #afb0b1;
}
.commentList > ul li .commentHandle > a > i {
  color: #afb0b1;
}
.commentList > ul li .commentHandle > a > span {
  color: #afb0b1;
}
.commentList > ul li .replayItem {
  margin-top: 0 !important;
  background-color: #f8fbfb;
  padding-bottom: 24px;
  padding-left: 17px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.commentList > ul li .replayItem > .userHead > a {
  float: left;
}
.commentList > ul li .replayItem > .userHead > a > span {
  font-weight: bold;
}
.commentList > ul li .replayItem > .userHead > .userDesc {
  max-width: calc(100% - 60px);
  float: left;
  word-wrap: break-word;
}
.commentList > ul li .replayItem > .descInfo {
  padding-left: 9px !important;
  color: #afb0b1;
}
.commentList .commentNum {
  height: 51px;
  padding: 0 20px;
  line-height: 51px;
  border-bottom: 1px solid #f6f6f6;
  border-radius: 2px;
}
.commentList .commentNum span {
  float: left;
  font-size: 15px;
  color: #121212;
  font-weight: 600;
}
.commentList .commentNum a {
  float: right;
  font-size: 15px;
  color: #76839b;
}
.commentList .excellent {
  height: 39px;
  line-height: 39px;
  padding: 0 20px;
  background-color: #f6f6f6;
  font-size: 14px;
  color: grey;
  font-weight: 600;
}

.request_menu > div {
  float: right;
  margin-right: 15px;
  padding-right: 15px;
  position: relative;
  cursor: pointer;
}
.request_menu > div span {
  color: #808080;
}
.request_menu > div i {
  position: absolute;
  right: 0;
  color: #cccccc;
}
.request_menu > div i:nth-of-type(1) {
  top: -4px;
}
.request_menu > div i:nth-of-type(2) {
  top: 4px;
}
.request_menu > uL {
  float: left;
}