main .container{
    overflow: hidden;
    .main-left{
        float: left;
        width: calc(66.66% - 10px);
        padding-bottom: 9999px;
        margin-bottom: -9999px;
        .main-container{
            background: #fff;
            padding: 0 8px 0 15px;
        }
        .request_menu{
            width: 100%;
            // height: 52px;
            line-height: 52px;
            background-color: #fff;
            ul{
                float: none;
                li{
                    float: left;
                    font-size: 15px;
                    padding: 0 17px;
                    &.active{
                        a{
                            color: #ff9900;
                        }
                    }
                    a{
                        &.active{
                            color: #ff9900;
                        }
                    }
                    &:hover a{
                        color: #ff9900;
                    }
                }
            }
        }
        .publish{
            padding: 14px 12px 12px 11px;
            background: #fff;
            margin: 10px 0;
            &>div{
                margin-bottom: 10px;
                a{
                    &:nth-of-type(1){
                        padding: 12px 15px 12px 20px;
                        background-color: #ff9900;
                        font-size: 16px;
                        display: inline-block;
                        color: #fff;
                        line-height:16px;
                        margin-right: 10px;
                        text-align: center;
                    }
                    &:nth-of-type(2){
                        padding: 11px 33px 11px 33px;
                        font-size: 16px;
                        display: inline-block;
                        color: #cccccc;
                        border:1px solid #cccccc;
                        line-height:16px;
                        text-align: center;
                        margin-left: 10px;
                    }
                }
                p{
                    width: calc(100% - 230px);
                    display: inline-block;
                    border:1px solid #cccccc;
                    height: 38px;
                    box-sizing: border-box;
                    padding-left: 13px;
                    padding-right: 31px;
                    input{
                        font-size: 14px;
                        color: #ccc;
                        height: 100%;
                        border: none;
                        width: calc(100% - 44px);
                    }
                }
            }
            &>a{
                color: #ff9900;
                font-size: 14px;
                margin-right: 20px;
            }
        }
        .dynamic{
            background-color: #fff;
            margin-top: 10px;
            font-size: 14px;
            padding: 23px 8px 20px 0px;
            border-bottom: 1px solid #e6e6e6;
            span{
                float: left;
                font-weight: 600;
            }
            p{
                float: right;
                color: #808080;
            }
        }
    }
    .main-right{
        float: right;
        width: 33.33%;
        background-color: #fff;
        padding-bottom: 9999px;
        margin-bottom: -9999px;
        .right-container{
            background-color: #f4f4f4;
        }
        .userDetail{
            background-color: #fff;
            padding: 20px 15px 60px 22px;
            .userHeader{
                // &>img{
                //     float: left;
                //     margin-right: 10px;
                // }
                &>div{
                    float: left;
                    font-size: 18px;
                    font-weight: bold;
                    color: #444;
                    // p{
                    //     &:nth-of-type(1){
                    //         font-size: 18px;
                    //         font-weight: bold;
                    //         color: #444;
                    //     }
                        // &:nth-of-type(2){
                        //     font-size: 14px;
                        //     color: #808080;
                        //     margin-top: 12px;
                        //     margin-bottom: 13px;
                        //     img{
                        //         vertical-align: middle;
                        //     }
                        // }
                    // }
                }
                &>a{
                    float: right;
                    width: 80px;
                    height: 28px;
                    border: 1px solid #ff9900;
                    text-align: center;
                    color: #ff9900;
                    font-size: 14px;
                    line-height: 30px;
                    background-color: #fff;
                    border-radius: 5px;
                }
            }
            .companyLevel{
                margin-bottom: 10px;
            }
            .userPartIn{
                &>ul{
                    &>li{
                        float: left;
                        font-size: 14px;
                        color: #444;
                        width: calc(25% - 1px);
                        text-align: center;
                        margin-bottom: 17px;
                        border-right: 1px solid #ccc;
                        &:nth-child(4n){
                            border: none;
                        }
                    }
                }
            }
            .userCall {
                margin-bottom: 18px;
                img{
                    float: left;
                    margin-right: 10px;
                }
                &>div{
                    float: left;
                    &:nth-of-type(2){
                        width:calc(100% - 81px) ; 
                    }
                    p{
                        font-size: 14px;
                        color: #444;
                        margin-bottom: 10px;
                        &:nth-of-type(2){
                            font-size: 18px;
                            color: #444;
                        }
                        &:nth-of-type(1){
                            height: 19px;
                        }
                        &.clearfix{
                            >span{
                                float: left;
                            }
                            a{
                                float: right;
                                // width: 97px;
                                padding: 0 8px;
                                height: 31px;
                                font-size: 14px;
                                color: #ff9900;
                                line-height: 31px;
                                text-align: center;
                                transform: translateY(-20%);
                                border: 1px solid #ff9900;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }
        .serves{
            padding: 16px 14px 14px 24px;
            background-color: #fff;
            margin-top: 10px;
            .serveHead{
                margin-bottom: 22px;
                .titles{
                    float: left;
                    font-size: 18px;
                    color: #444;
                    font-weight: bold;
                }
                a{
                    float: right;
                    padding: 9px 11px 10px 14px;
                    border: 1px solid #ff9900;
                    color: #ff9900;
                }
                .hasEditPro{
                    padding: 8px 11px 8px 14px;
                    margin-right: 5px;
                }
            }
            .servePro{
                ul{
                    li{
                        float: left;
                        width: 48.75%;
                        height: 116px;
                        font-size: 0;
                        margin-bottom: 30px;
                        &:nth-child(2n-1){
                            margin-right: 2.5%;
                        }
                        a{
                            width: 100%;
                            height: 100%;
                            display: inline-block;
                        }
                        p{
                            width: 100%;
                            margin-top: 8px;
                            text-align: center;
                            color: #ff9900;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .highPraise{
            padding: 20px 15px 10px 22px;
            background-color: #fff;
            margin-top: 10px;
            &>ul{
                &>li {
                    .hightTit{
                        border-bottom: 1px solid #ffdfb0;
                        margin-bottom: 18px;
                        span{
                            font-size: 20px;
                            color: #444;
                            display: inline-block;
                            font-weight: bold;
                            padding-bottom: 7px;
                            border-bottom: 4px solid #ff9900;
                        }
                    }
                    .hightItem{
                        margin-bottom: 17px;
                        font-size: 16px;
                        &:hover a{
                            color: #ff9900;
                        }
                    }
                }
            }
            .hightImg {
                img{
                    margin-bottom: 25px;
                }
            }
        }
    }
}
.pageUi{
    text-align: center;
    .layui-laypage {
        position: relative;
        padding:0 39px;
        margin: 39px 0 21px 0!important;
        a,span{
            border: 1px solid #b5b5d6!important;
            width: 36px;
            height: 36px;
            padding: 0!important;
            text-align: center;
            line-height: 36px;
            margin-right: 12px!important;
            border-radius: 5px;
            background-color: #f7f7fa!important;
        }
        .layui-laypage-first{
            position: absolute;
            border: none!important;
            left: 0;
            top: 1px;
            padding-right: 0;
            background-color: transparent!important;
        }
        .layui-laypage-last{
            position: absolute;
            right: 1px;
            top: 1px;
            padding-left: 0;
            margin-right: 0!important;
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-spr{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-prev{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-next{
            border: none!important;
            background-color: transparent!important;
            transform: translate(1px,0);
        }
        .layui-laypage-curr{
            border: 1px solid #ff9900!important;
            .layui-laypage-em{
                background-color:#f7f7fa!important;
                position: relative!important;
                padding: 0!important;
            }
            em{
                color: #ff9900!important;
            }
        }
    }
}

.bindTip{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(18, 18, 18, 0.65);
    justify-content: center;
    align-items: center;
    .tipbox{
        width: 560px;
        background-color: #fff;
        padding: 19px 22px;
        box-sizing: border-box;
        height: calc(100% - 100px);
        >ul{
            height: calc(100% - 87px);
            overflow: hidden;
            overflow-y: scroll;
        }
        .toptips{
            &>div{
                span{
                    float: left;
                }
                a{
                    float: right;
                }
            }
            span{
                font-size: 18px;
                font-weight: 600;
                float: left;
            }
            .tipInput{
                float: right;
                width: 267px;
                padding-left: 19px;
                box-sizing: border-box;
                height: 33px;
                border: 1px solid #cccccc;
                input{
                    width: calc(100% - 37px);
                    border: none;
                    height: 100%;
                }
                i{
                    font-size: 22px;
                    vertical-align: middle;
                    color: #ccc;
                    cursor: pointer;
                }
            }
        }
        ul{
            margin-top: 27px;
            li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 12px;
                div{
                    &>img{
                        width: 50px;
                        height: 50px;
                        margin-right: 14px;
                        float: left;
                    }
                    &>div{
                        float: left;
                        .userName{
                            font-size: 16px;
                            font-weight: 600;
                            padding-bottom: 8px;
                        }
                        .companyName{
                            img{
                                width: 20px;
                                height: 18px;
                                margin-right: 4px;
                            }
                            span{
                                font-size: 14px;
                                color: #808080;
                            }
                        }
                    }
                }
                a{
                    font-size: 14px;
                    color: #ccc;
                    padding: 10px 25px 11px 23px;
                    box-sizing: border-box;
                    border: 1px solid #ccc;
                }
            }
        }
    }
}
.requestList{
    >ul{
        >li.answerMust{
          padding-top: 30px;
          padding-bottom: 25px;
          border-bottom: 1px solid #e6e6e6; 
          .questitle{
              .QuestionTit{
                  &:hover{
                      color: #ff9900;
                  }
              }
          }
          .userQuestion{
              >.userInfo{
                  &:hover{
                      a{
                          span{
                              color: #ff9900;
                          }
                      }
                  }
              }
              >div{
                  float: left;
                  &:nth-of-type(2){
                      float: right;
                  }
              }
              .QuestionTit{
                  color: #444444;
                  font-weight: bold;
                  font-size: 18px;
                  color: #444;
              }
              .userInfo {
                  padding-right: 20px;
                  box-sizing: border-box;
                  span{
                      font-size: 16px;
                      color: #444;
                  }
              }
          }
          .QuestionDetail{
              margin-top: 23px;
              overflow: hidden;
              margin-bottom: 16px;
              >img{
                  max-width: 150px;
                  max-height: 100px;
                  margin-right: 10px;
                  float: left;
              }
              >div{
                  word-wrap: break-word;
              }
              p{
                  font-size: 14px;
                  color: #444;
                  line-height: 24px;
                  &.newDesc{
                      width: calc(100% - 160px);
                      float: right;
                      line-height: 30px;
                      word-wrap: break-word;
                  } 
                  span{
                      font-weight: bold;
                  }
              }
          }
          .commentList{
              box-shadow: 0 1px 3px rgba(18,18,18,.1);
              box-sizing: border-box;
              margin-top: 20px;
              >ul{
                  padding:0 20px;
                  padding-top: 15px;
                  box-sizing: border-box;
                  li{
                      margin-bottom: 15px;
                  }
                  >li {
                      .userHead{
                          >a {
                              img{
                                  width: 30px;
                                  height: 30px;
                                  border-radius: 50%;
                              }
                              span{
                                  margin: 0 8px;
                              }
                          }
                          a{
                              &:nth-of-type(2){
                                  margin: 0 8px;
                                  display: inline-block;
                               }
                          }
                      }
                      .descInfo{
                          padding-left: 32px;
                          .userDesc{
                              color: #121215;
                              line-height: 1.6;
                          }
                          .showAll{
                              padding: 12px 0 12px 32px;
                              margin-top: 10px;
                          }
                      }
                      .commentHandle{
                          margin-top: 10px;
                          a{
                              margin-right: 20px;
                          }
                      }
                      .replayItem{
                          margin-top: 20px;
                      }
                  }
              }
              .commentNum{
                  height: 51px;
                  padding:0 20px;
                  line-height: 51px;
                  border-bottom: 1px solid #f6f6f6;
                  border-radius: 2px;
                  span{
                      float: left;
                      font-size: 15px;
                      color: #121212;
                      font-weight: 600;
                  }
                  a{
                      float: right;
                      font-size: 15px;
                      color: #76839b;
                  }
              }
              .excellent{
                  height: 39px;
                  line-height: 39px;
                  padding:0 20px;
                  background-color: #f6f6f6;
                  font-size: 14px;
                  color: grey;
                  font-weight: 600;
              }
          }
          .timeAndZan{
              font-size: 0;
              .favor{
                i{
                    padding-right: 10px;
                }
              }
              i{
                color: #ccc;
            }
              .showComment{
                  cursor: pointer;
              }
              .zanLeft{
                  float: left;
                  span{
                      &:nth-of-type(2){
                          margin-right: 0;
                      }
                  }
              }
              .zanRight{
                  float: right;
                  padding-right: 10px;
                  box-sizing: border-box;
                  span{
                      font-size: 14px;
                      color: #444;
                      display: inline-block;
                      margin-right: 7px;
                      /* font-weight: bold; */
                  }
                  img{
                      vertical-align: baseline;
                      width: 13px;
                  }
                  &:hover{
                      span{
                          color: #ff9900;
                      }
                  }
              }
          }
        }
    }
}

.requestList{
  min-height: 1035px;
  &>ul{
      &>li.project{
          padding: 25px 0;
          padding-right: 20px;
          border-bottom: 1px solid #e6e6e6;
          box-sizing: border-box;
          &>.questitle{
              .QuestionTit{
                  &:hover{
                      color: #ff9900;
                  }
              }
          }
          .userQuestion{
              &>div{
                  float: left;
                  &:nth-of-type(2){
                      float: right;
                      width: 20%;
                      text-align: right;
                      &:hover{
                          span{
                              color: #ff9900;
                          }
                      }
                      span{
                          display: inline-block;
                          max-width: calc(100% - 80px);
                          vertical-align: middle;
                      }
                  }
              }
              .QuestionTit{
                  color: #444444;
                  width: 75%;
                  font-weight: bold;
                  font-size: 18px;
                  margin-bottom: 13px;
                  // span{
                  //     color: #ff9900;
                  // }
              }
              .userInfo{
                  span{
                      font-size: 14px;
                      color: #444;
                  }
              }
          }
          .QuestionDetail{
              .doubleHide{
                  font-size: 14px;
                  line-height: 22px;
                  color: #444;
              }
          }
          .infos{
              padding-top: 11px;
              margin-bottom: 15px;
              a{
                  font-size: 14px;
                  color: #ff9900;
                  text-decoration: underline;
              }
          }
          // .timeAndZan{
          //     font-size: 0;
          //     a{
          //         font-size: 12px;
          //         color: #808080;
          //         background-color: #fff;
          //         border-radius: 5px;
          //         text-align: center;
          //         line-height: 24px;
          //         display: inline-block;
          //     }
          //     .favor{
          //         height: 24px;
          //         padding: 0 10px;
          //         font-size: 12px;
          //         color: #ff9900;
          //         border: 1px solid #ff9900;
          //         span{
          //             margin-right: 5px;
          //             color: #ff9900;
          //         }
          //         &.upFavor{
          //             color: #fff;
          //             background-color: #ff9900;
          //             span{
          //                 color: #fff;  
          //             }
          //         }
          //     }
          //     .cancelfavor{
          //         width: 24px;
          //         height: 24px;
          //         margin-left: 5px;
          //         margin-right: 16px;
          //         color: #ff9900;
          //         border: 1px solid #ff9900;
          //         &.downFavor{
          //             color: #fff;
          //             background-color: #ff9900;
          //         }
          //     }
          //     span{
          //         color: #999;
          //         font-size: 12px;
          //         margin-right: 12px;
          //     }
          //     .personInfo,.callInfo{
          //         color: #444;
          //         font-weight: bold;
          //     }
          //     &>i{
          //         color: #ccc;
          //         margin-right: 10px;
          //     }
          // }
      }
  }
  
}

.requestList{
  min-height: 1035px;
  &>ul{
      &>li.material{
          padding: 25px 0;
          // padding-right: 10px;
          border-bottom: 1px solid #e6e6e6;
          box-sizing: border-box;
          &>.questitle{
              .QuestionTit{
                  &:hover{
                      color: #ff9900;
                  }
              }
          }
          .userQuestion{
              &>div{
                  float: left;
                  &:nth-of-type(2){
                      float: right;
                      padding-right: 10px;
                      box-sizing: border-box;
      
                  }
              }
              .QuestionTit{
                  color: #444444;
                  font-weight: bold;
                  font-size: 18px;
                  max-width: 75%;
                  margin-bottom: 23px;
                  // span{
                  //     color: #ff9900;
                  // }
              }
              .userInfo{
                  width: 25%;
                  text-align: right;
                  float: right;
                  padding-right: 20px;
                  box-sizing: border-box;
                  &:hover{
                      span{
                          color: #ff9900;
                      }
                  }
                  span{
                      // font-weight: bold;
                      display: inline-block;
                      // width: calc(100% - 76px);
                      width: 100px;
                      font-size: 16px;
                      color: #444;
                  }
                  img{
                      vertical-align: baseline;
                  }
              }
          }
          .QuestionDetail{
              margin-bottom: 15px;
              .doubleHide{
                  font-size: 14px;
                  color: #444;
              }
              .infos{
                  padding-top: 11px;
                  margin-bottom: 15px;
                  a{
                      font-size: 14px;
                      color: #ff9900;
                      text-decoration: underline;
                  }
              }
          }
          // .timeAndZan{
          //     font-size: 0;
          //     margin-top: 16px;
          //     a{
          //         font-size: 12px;
          //         color: #999;
          //         background-color: #fff;
          //         border-radius: 5px;
          //         text-align: center;
          //         line-height: 24px;
          //         display: inline-block;
          //     }
          //     .favor{
          //         height: 24px;
          //         padding: 0 10px;
          //         font-size: 12px;
          //         border: 1px solid #ff9900;
          //         color: #ff9900;
          //         span{
          //             color: #ff9900;
          //             margin-right: 0;
          //         }
          //         &.upFavor{
          //             background-color: #ff9900;
          //             color: #fff;
          //             span{
          //                 color: #fff;
          //             }
          //         }
          //     }
          //     .cancelfavor{
          //         width: 24px;
          //         height: 24px;
          //         margin-left: 5px;
          //         margin-right: 16px;
          //         border: 1px solid #ff9900;
          //         color: #ff9900;
          //         span{
          //             color: #ff9900;
          //         }
          //         &.downFavor{
          //             background-color: #ff9900;
          //             color: #fff;
          //         }
          //     }
          //     span{
          //         color: #999;
          //         font-size: 12px;
          //         margin-right: 12px;
          //     }
          //     .personInfo,.callInfo{
          //         color: #444;
          //         font-weight: bold;
          //     }
          //     &>i{
          //         color: #ccc;
          //         margin-right: 10px;
          //     }
          // }
      }
  }
  
}

.requestList{
  min-height: 1035px;
  &>ul{
      &>li.technology{
          padding: 25px 0;
          border-bottom: 1px solid #e6e6e6;
          .userQuestion{
              &>div{
                  float: left;
                  max-width: 75%;
                  &:nth-of-type(2){
                      float: right;
                  }
              }
              &>a{
                  float: right;
                  padding-right: 20px;
                  font-size: 16px;
                  &:hover{
                      color: #ff9900;
                  }
                  span{
                      font-size: 16px;
                  }
                  img{
                      vertical-align: baseline;
                  }
              }
              .QuestionTit{
                  color: #444444;
                  font-weight: bold;
                  font-size: 18px;
                  margin-bottom: 23px;
                  &:hover{
                      color: #ff9900;
                      span{
                          color: #ff9900;
                      }
                  }
                  // span{
                  //     color: #ff9900;
                  // }
              }
              .userInfo{
                  &:hover{
                      span{
                          color: #ff9900;
                      }
                  }
                  span{
                      font-size: 14px;
                      color: #444;
                  }
              }
          }
          .QuestionDetail{
              margin-bottom: 15px;
              .doubleHide{
                  font-size: 14px;
                  color: #444;
              }
          }
          .infos{
              padding-bottom: 11px;
              a{
                  font-size: 14px;
                  color: #ff9900;
                  text-decoration: underline;
              }
          }
          // .timeAndZan{
          //     margin-top: 15px;
          //     font-size: 0;
          //     a{
          //         font-size: 12px;
          //         color: #808080;
          //         background-color: #fff;
          //         border-radius: 5px;
          //         text-align: center;
          //         line-height: 24px;
          //         display: inline-block;
          //     }
          //     .favor{
          //         height: 24px;
          //         padding: 0 10px;
          //         font-size: 12px;
          //         border: 1px solid #ff9900;
          //         color: #ff9900;
          //         span{
          //             color: #ff9900;  
          //             margin-right: 0;
          //         }
          //         &.upFavor{
          //             background-color: #ff9900;
          //             color: #fff;
          //             span{
          //                 color: #fff;
          //             }
          //         }
          //     }
          //     .cancelfavor{
          //         width: 24px;
          //         height: 24px;
          //         margin-left: 5px;
          //         margin-right: 16px;
          //         border: 1px solid #ff9900;
          //         color: #ff9900;
          //         span{
          //             color: #ff9900;  
          //         }
          //         &.downFavor{
          //             background-color: #ff9900;
          //             color: #fff;
          //         }
          //     }
          //     span{
          //         color: #999;
          //         font-size: 12px;
          //         margin-right: 12px;
          //     }
          //     .personInfo,.callInfo{
          //         color: #444;
          //         font-weight: bold;
          //     }
          //     &>i{
          //         color: #ccc;
          //         margin-right: 10px;
          //     }
          // }
      }
  }
  
}


.requestList{
  min-height: 100vh;
  &>ul{
      &>li.newExchange{
          padding: 25px 0;
          border-bottom: 1px solid #e6e6e6;
          .userQuestion{
              &>div{
                  float: left;
                  &:nth-of-type(2){
                      float: right;
                  }
              }
              .QuestionTit{
                  color: #444444;
                  font-weight: bold;
                  font-size: 18px;
                  margin-bottom: 23px;
                  float: left;
                  max-width: 75%;
                  // span{
                  //     color: #ff9900;
                  // }
              }
              .userInfo{
                  span{
                      font-size: 14px;
                      color: #444;
                  }
              }
          }
          .QuestionDetail{
              margin-bottom: 15px;
              .doubleHide{
                  font-size: 14px;
                  color: #444;
              }
              .infos{
                  padding-top: 11px;
                  margin-bottom: 15px;
                  a{
                      font-size: 14px;
                      color: #ff9900;
                      text-decoration: underline;
                  }
              }
          }
          // .timeAndZan{
          //     font-size: 0;
          //     margin-top: 16px;
          //     a{
          //         font-size: 12px;
          //         color: #808080;
          //         background-color: #f2f2f2;
          //         border-radius: 5px;
          //         text-align: center;
          //         line-height: 24px;
          //         display: inline-block;
          //     }
          //     .favor{
          //         height: 24px;
          //         padding: 0 10px;
          //         font-size: 12px;
          //         border: 1px solid #ff9900;
          //         color:#ff9900;
          //         span{
          //             color:#ff9900; 
          //         }
          //         &.upFavor{
          //           background-color: #ff9900;;
          //           color: #fff;  
          //           span{
          //             color:#fff; 
          //           }
          //         }
          //     }
          //     .cancelfavor{
          //         width: 24px;
          //         height: 24px;
          //         margin-left: 5px;
          //         margin-right: 16px;
          //         border: 1px solid #ff9900;
          //         color:#ff9900;
          //         span{
          //             color:#ff9900; 
          //         }
          //         &.downFavor{
          //             background-color: #ff9900;;
          //             color: #fff; 
          //             span{
          //                 color:#fff; 
          //               } 
          //           }
          //     }
          //     span{
          //         color: #999;
          //         font-size: 12px;
          //         margin-right: 12px;
          //     }
          //     .personInfo,.callInfo{
          //         color: #444;
          //         font-weight: bold;
          //     }
          //     &>i{
          //         color: #ccc;
          //         margin-right: 10px;
          //     }
          // }
      }
  }
  
}
.requestList{
    .questitle {
        &:hover {
            .hasEditInfo,.hasDelInfo{
                display: inline-block;
            }
        }
    }
    .hasDelInfo{
        font-weight: bold;
    }
    .hasEditInfo,.hasDelInfo{
        vertical-align: sub;
        margin-left: 15px;
        // display: none;
        color: #ff9900;
        cursor: pointer;
        &:hover{
            color: #ff9900;
            display: inline-block;
        }
    }
    ul{
        li.merchants{
            float: left;
            width: 32.11%;
            padding: 14px 11px 11px 12px;
            box-sizing: border-box;
            box-shadow: 0px 1px 8px #ccc;
            margin-right: 1.835%;
            margin-bottom: 10px;
            transition: all 1s;
            .hasEditInfo,.hasDelInfo{
                display: inline-block!important;
            }
            .hasEditInfo.hideEdit,.hasDelInfo.hideEdit{
                display: none!important;
            }
            .hasEditInfo{
                margin-left: 0;
            }
            &:hover{
                box-shadow: -1px 9px 37px #ccc;
                transform: translateY(-10px);
            }
            &:nth-child(3n){
                margin-right: 0;
            }
            &>a{
                display: inline-block;
                width: 100%;
                img{
                    width: 100%;
                    height: 201px;
                    border-radius: 3px;
                    overflow: hidden;
                }
                &>.singleHide{
                    font-size: 14px;
                    color: #444;
                    margin-top: 11px;
                    margin-bottom: 14px;
                }
            }
            .shopInfo{
                font-size: 14px;
                color: #999999;
                .mainInfo{
                    color: #ff9900;
                    max-width: 122px;
                    display: inline-block;
                    vertical-align: middle;
                }
                span.singleHide{
                    display: inline-block;
                    font-weight: bold;
                    color: #444;
                    width: calc(100% - 122px);
                    vertical-align: bottom;
                }
            }
        }
    }
}
.editTable{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color:rgba(18,18,18,.65);
    display: none;
    justify-content: center;
    align-items: center;
    .tableBox{
        width:836px;
        padding: 20px 22px;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: scroll;
        background-color: #fff;
        height: calc(100% - 60px);
    }
    .tiptitle{
        span{
            font-size: 18px;
            color: #444;
            font-weight: 600;
            float: left;
        }
        a{
            float: right;
        }
    }
}

.layui-table-view {
    .layui-table{
        width: 100%!important;
        th,td{
            width:40%;
        }
        .layui-table-col-special{
            width: 10%;
        }
    }
}

.hideEdit{
    display: none!important;
}
.pubilshAritle{
    float: right;
    line-height: 52px;
    padding-right: 10px;
    button{
        background-color: #ff9900;
        border: none;
        color: #fff;
        padding:  10px ;
    }
}

.hasBind{
    border: 1px solid #ccc;
    color: #ccc;
    padding: 9px 30px;
}
.hasBindEnd{
    border: 1px solid #ff9900;
    color: #fff;
    background-color: #ff9900;
    padding: 9px 37px;
    cursor: pointer;
}


.editSoft{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color:rgba(18,18,18,.65);
    display: none;
    justify-content: center;
    align-items: center;
    .editSoftBox{
        width:836px;
        padding: 20px 22px;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: scroll;
        background-color: #fff;
        height: calc(100% - 60px);
        .smallType{
            .layui-unselect.layui-form-select{
                width: calc(100% - 80px);
                display: inline-block;
            }
        }
        .formbox{
            height: calc(100% - 24px);
            overflow: hidden;
            overflow-y: scroll;
        }
        .addOrdel{
            height: calc(100% - 24px);
            overflow: hidden;
            overflow-y: scroll;
        }
        .tiptitle{
            span{
                font-size: 18px;
                color: #444;
                font-weight: 600;
                float: left;
            }
            a{
                float: right;
            }
        }
        form{
            width: 650px;
            margin: 0 auto;
            // height: calc(100vh - 120px);
            // overflow: hidden;
            // overflow-y: scroll;
            .imgUpload{
                // margin-left: 0!important;
                .layui-upload-drag{
                    width: 100%;
                    min-height: 145px;
                    padding: 0!important;
                    p{
                        line-height: 145px;
                    }
                    .layui-hide{
                        width: 100%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;  
                        }
                    }
                }
            }
            #edit1{
                // margin-left: 110px;
            }
        }
    }

}
.focusUser,.bindUser,.hasBindUser,.hasEndBind{
    &.hide{
        display: none!important;
    }
}
.searchBox{
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    box-sizing: border-box;
}
.searchQuest{
    font-size: 0;
    display: flex;
    justify-content: space-between;
    .hasSearch{
        width: 98px;
        display: inline-block;
        height: 39px;
        width: 12.69%;
        font-size: 16px;
        color: #ff9900;
        border: 1px solid #ff9900;
        line-height: 39px;
        text-align: center;
    }
    .searchInput{
        display: inline-block;
        position: relative;
        margin: 0 10px;
        width: calc(74.08% - 20px);
        box-sizing: border-box;
        height: 41px;
        font-size: 16px;
        vertical-align: bottom;
        border: 1px solid #ccc;
        /* padding-left: 25px; */
        padding-right: 31px;
        input{
            width: calc(100% - 75px);
            border: none;
            font-size: 14px;
            position: relative;
            z-index: 9;
            margin-left: 74px;
            box-sizing: border-box;
            border-right: 0px solid #ccc;
            height: 100%;
        }
    }
    a{
        &:nth-of-type(1){
            width: 98px;
            display: inline-block;
            height: 41px;
            width: 12.69%;
            font-size: 16px;
            /* color: #ff9900; */
            /* border: 1px solid #ff9900; */
            background-color: #ff9900;
            color: #fff;
            line-height: 39px;
            text-align: center;
        }
        &::nth-of-type(2){
            width: 99px;
            width: 12.69%;
            height: 39px;
            display: inline-block;
            font-size: 16px;
            color: #cccccc;
            background-color: #fff;
            border: 1px solid #ccc;
            line-height: 41px;
            text-align: center;
        }
    }
}