.follownum{
  padding:14px 0;
  box-sizing:border-box;
  font-size: 14px;
  color:#999999;
}

.followLists li{
    padding: 20px 0;
    border-top:1px solid #eee ;
}
.followLists .follownum-li{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.followLists .follownum-li>div{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.followLists .follownum-li>div>p{
  margin-right:10px;
}
.followLists .follownum-li .cancel{
  width:100px;
  height:40px;
  background: #ff9900;
  font-size: 14px;
  color: #fff;
  justify-content:center;
}
.userCall .userRole,.userCall .companyRole {
  width: calc(100% - 82px);

}
.bindTip.userTip {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(18, 18, 18, 0.65);
  justify-content: center;
  align-items: center;
  .tipbox{
      width: 560px;
      background-color: #fff;
      padding: 19px 22px;
      box-sizing: border-box;
      height: calc(100% - 100px);
      .toptips{
          &>div{
              span{
                  float: left;
              }
              a{
                  float: right;
              }
          }
          span{
              font-size: 18px;
              font-weight: 600;
              float: left;
          }
          .tipInput{
              float: right;
              width: 267px;
              padding-left: 19px;
              box-sizing: border-box;
              height: 33px;
              border: 1px solid #cccccc;
              input{
                  width: calc(100% - 37px);
                  border: none;
                  height: 100%;
              }
              i{
                  font-size: 22px;
                  vertical-align: middle;
                  color: #ccc;
                  cursor: pointer;
              }
          }
      }
      ul{
          margin-top: 27px;
          li{
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 12px;
              div{
                  &>img{
                      width: 50px;
                      height: 50px;
                      margin-right: 14px;
                      float: left;
                  }
                  &>div{
                      float: left;
                      width: calc(100% - 64px);
                      .userName{
                          font-size: 16px;
                          font-weight: 600;
                          padding-bottom: 8px;
                      }
                      .companyName{
                          img{
                              width: 20px;
                              height: 18px;
                              margin-right: 4px;
                          }
                          span{
                              font-size: 14px;
                              color: #808080;
                          }
                      }
                  }
              }
              a{
                  font-size: 14px;
                  display: inline-block;
                  color: #ccc;
                  padding: 2px 5px;
                  margin-top: 10px;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  border: 1px solid #ccc;
                  &:nth-of-type(1){
                      margin-top: 0;
                  }
                  &.cancelBind{
                      background-color: #ff9900;
                      color: #fff;
                      border: none;
                  }
                  &.hide{
                      display: none!important;
                  }
              }
          }
      }
  }
}
.main-right{
    float: right;
    width: 33.33%;
    background-color: #fff;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
    .right-container{
        background-color: #f4f4f4;
    }
    .userDetail{
        background-color: #fff;
        padding: 20px 15px 60px 22px;
        .userHeader{
            // &>img{
            //     float: left;
            //     margin-right: 10px;
            // }
            &>div{
                float: left;
                font-size: 18px;
                font-weight: bold;
                color: #444;
                // p{
                //     &:nth-of-type(1){
                //         font-size: 18px;
                //         font-weight: bold;
                //         color: #444;
                //     }
                    // &:nth-of-type(2){
                    //     font-size: 14px;
                    //     color: #808080;
                    //     margin-top: 12px;
                    //     margin-bottom: 13px;
                    //     img{
                    //         vertical-align: middle;
                    //     }
                    // }
                // }
            }
            &>a{
                float: right;
                width: 80px;
                height: 28px;
                border: 1px solid #ff9900;
                text-align: center;
                color: #ff9900;
                font-size: 14px;
                line-height: 30px;
                background-color: #fff;
                border-radius: 5px;
            }
        }
        .companyLevel{
            margin-bottom: 10px;
        }
        .userPartIn{
            &>ul{
                &>li{
                    float: left;
                    font-size: 14px;
                    color: #444;
                    width: calc(25% - 1px);
                    text-align: center;
                    margin-bottom: 17px;
                    border-right: 1px solid #ccc;
                    &:nth-child(4n){
                        border: none;
                    }
                }
            }
        }
        .userCall {
            margin-bottom: 18px;
            img{
                float: left;
                margin-right: 10px;
            }
            &>div{
                float: left;
                &:nth-of-type(2){
                    width:calc(100% - 81px) ; 
                }
                p{
                    font-size: 14px;
                    color: #444;
                    margin-bottom: 10px;
                    &:nth-of-type(2){
                        font-size: 18px;
                        color: #444;
                    }
                    &:nth-of-type(1){
                        height: 19px;
                    }
                    &.clearfix{
                        span{
                            float: left;
                        }
                        a{
                            float: right;
                            width: 79px;
                            height: 31px;
                            font-size: 14px;
                            color: #ff9900;
                            line-height: 31px;
                            text-align: center;
                            transform: translateY(-20%);
                            border: 1px solid #ff9900;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
    .serves{
        padding: 16px 14px 14px 24px;
        background-color: #fff;
        margin-top: 10px;
        .serveHead{
            margin-bottom: 22px;
            .titles{
                float: left;
                font-size: 18px;
                color: #444;
                font-weight: bold;
            }
            a{
                float: right;
                padding: 9px 11px 10px 14px;
                border: 1px solid #ff9900;
                color: #ff9900;
            }
        }
        .servePro{
            ul{
                li{
                    float: left;
                    width: 48.75%;
                    height: 116px;
                    font-size: 0;
                    margin-bottom: 30px;
                    &:nth-child(2n-1){
                        margin-right: 2.5%;
                    }
                    a{
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                    }
                    p{
                        width: 100%;
                        margin-top: 8px;
                        text-align: center;
                        color: #ff9900;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .highPraise{
        padding: 20px 15px 10px 22px;
        background-color: #fff;
        margin-top: 10px;
        &>ul{
            &>li {
                .hightTit{
                    border-bottom: 1px solid #ffdfb0;
                    margin-bottom: 18px;
                    span{
                        font-size: 20px;
                        color: #444;
                        display: inline-block;
                        font-weight: bold;
                        padding-bottom: 7px;
                        border-bottom: 4px solid #ff9900;
                    }
                }
                .hightItem{
                    margin-bottom: 17px;
                    font-size: 16px;
                    &:hover a{
                        color: #ff9900;
                    }
                }
            }
        }
        .hightImg {
            img{
                margin-bottom: 25px;
            }
        }
    }
}
.focusUser,.bindUser,.hasBindUser,.hasEndBind{
    &.hide{
        display: none!important;
    }
}
