.follownum {
  padding: 14px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  color: #999999;
}

.followLists li {
  padding: 20px 0;
  border-top: 1px solid #eee;
}

.followLists .follownum-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.followLists .follownum-li > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.followLists .follownum-li > div > p {
  margin-right: 10px;
}

.followLists .follownum-li .cancel {
  width: 100px;
  height: 40px;
  background: #ff9900;
  font-size: 14px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.userCall .userRole, .userCall .companyRole {
  width: calc(100% - 82px);
}

.bindTip.userTip {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(18, 18, 18, 0.65);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bindTip.userTip .tipbox {
  width: 560px;
  background-color: #fff;
  padding: 19px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(100% - 100px);
}
.bindTip.userTip .tipbox .toptips > div span {
  float: left;
}
.bindTip.userTip .tipbox .toptips > div a {
  float: right;
}
.bindTip.userTip .tipbox .toptips span {
  font-size: 18px;
  font-weight: 600;
  float: left;
}
.bindTip.userTip .tipbox .toptips .tipInput {
  float: right;
  width: 267px;
  padding-left: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 33px;
  border: 1px solid #cccccc;
}
.bindTip.userTip .tipbox .toptips .tipInput input {
  width: calc(100% - 37px);
  border: none;
  height: 100%;
}
.bindTip.userTip .tipbox .toptips .tipInput i {
  font-size: 22px;
  vertical-align: middle;
  color: #ccc;
  cursor: pointer;
}
.bindTip.userTip .tipbox ul {
  margin-top: 27px;
}
.bindTip.userTip .tipbox ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.bindTip.userTip .tipbox ul li div > img {
  width: 50px;
  height: 50px;
  margin-right: 14px;
  float: left;
}
.bindTip.userTip .tipbox ul li div > div {
  float: left;
  width: calc(100% - 64px);
}
.bindTip.userTip .tipbox ul li div > div .userName {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 8px;
}
.bindTip.userTip .tipbox ul li div > div .companyName img {
  width: 20px;
  height: 18px;
  margin-right: 4px;
}
.bindTip.userTip .tipbox ul li div > div .companyName span {
  font-size: 14px;
  color: #808080;
}
.bindTip.userTip .tipbox ul li a {
  font-size: 14px;
  display: inline-block;
  color: #ccc;
  padding: 2px 5px;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.bindTip.userTip .tipbox ul li a:nth-of-type(1) {
  margin-top: 0;
}
.bindTip.userTip .tipbox ul li a.cancelBind {
  background-color: #ff9900;
  color: #fff;
  border: none;
}
.bindTip.userTip .tipbox ul li a.hide {
  display: none !important;
}

.main-right {
  float: right;
  width: 33.33%;
  background-color: #fff;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
.main-right .right-container {
  background-color: #f4f4f4;
}
.main-right .userDetail {
  background-color: #fff;
  padding: 20px 15px 60px 22px;
}
.main-right .userDetail .userHeader > div {
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #444;
}
.main-right .userDetail .userHeader > a {
  float: right;
  width: 80px;
  height: 28px;
  border: 1px solid #ff9900;
  text-align: center;
  color: #ff9900;
  font-size: 14px;
  line-height: 30px;
  background-color: #fff;
  border-radius: 5px;
}
.main-right .userDetail .companyLevel {
  margin-bottom: 10px;
}
.main-right .userDetail .userPartIn > ul > li {
  float: left;
  font-size: 14px;
  color: #444;
  width: calc(25% - 1px);
  text-align: center;
  margin-bottom: 17px;
  border-right: 1px solid #ccc;
}
.main-right .userDetail .userPartIn > ul > li:nth-child(4n) {
  border: none;
}
.main-right .userDetail .userCall {
  margin-bottom: 18px;
}
.main-right .userDetail .userCall img {
  float: left;
  margin-right: 10px;
}
.main-right .userDetail .userCall > div {
  float: left;
}
.main-right .userDetail .userCall > div:nth-of-type(2) {
  width: calc(100% - 81px);
}
.main-right .userDetail .userCall > div p {
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
}
.main-right .userDetail .userCall > div p:nth-of-type(2) {
  font-size: 18px;
  color: #444;
}
.main-right .userDetail .userCall > div p:nth-of-type(1) {
  height: 19px;
}
.main-right .userDetail .userCall > div p.clearfix span {
  float: left;
}
.main-right .userDetail .userCall > div p.clearfix a {
  float: right;
  width: 79px;
  height: 31px;
  font-size: 14px;
  color: #ff9900;
  line-height: 31px;
  text-align: center;
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%);
  border: 1px solid #ff9900;
  border-radius: 5px;
}
.main-right .serves {
  padding: 16px 14px 14px 24px;
  background-color: #fff;
  margin-top: 10px;
}
.main-right .serves .serveHead {
  margin-bottom: 22px;
}
.main-right .serves .serveHead .titles {
  float: left;
  font-size: 18px;
  color: #444;
  font-weight: bold;
}
.main-right .serves .serveHead a {
  float: right;
  padding: 9px 11px 10px 14px;
  border: 1px solid #ff9900;
  color: #ff9900;
}
.main-right .serves .servePro ul li {
  float: left;
  width: 48.75%;
  height: 116px;
  font-size: 0;
  margin-bottom: 30px;
}
.main-right .serves .servePro ul li:nth-child(2n-1) {
  margin-right: 2.5%;
}
.main-right .serves .servePro ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.main-right .serves .servePro ul li p {
  width: 100%;
  margin-top: 8px;
  text-align: center;
  color: #ff9900;
  font-size: 14px;
}
.main-right .highPraise {
  padding: 20px 15px 10px 22px;
  background-color: #fff;
  margin-top: 10px;
}
.main-right .highPraise > ul > li .hightTit {
  border-bottom: 1px solid #ffdfb0;
  margin-bottom: 18px;
}
.main-right .highPraise > ul > li .hightTit span {
  font-size: 20px;
  color: #444;
  display: inline-block;
  font-weight: bold;
  padding-bottom: 7px;
  border-bottom: 4px solid #ff9900;
}
.main-right .highPraise > ul > li .hightItem {
  margin-bottom: 17px;
  font-size: 16px;
}
.main-right .highPraise > ul > li .hightItem:hover a {
  color: #ff9900;
}
.main-right .highPraise .hightImg img {
  margin-bottom: 25px;
}

.focusUser.hide, .bindUser.hide, .hasBindUser.hide, .hasEndBind.hide {
  display: none !important;
}