body{
    font: 16px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}
main .container{
    background-color: #fff;
    padding: 20px 25px 0 25px;
    box-sizing: border-box;
    width:1250px
}
main .main-left{
    width: 66%;
    float: left;
}
main ul li a:hover{
    color: #ff9900;
}
.item_title a:hover{
    color: #ff9900;
}


.item_title:hover{
    /* color: #ff9900; */
}
.item_title a:nth-of-type(1){
    font-weight: 600;
}
main ul li a:hover .singleHide span{
    color: #ff9900;
}
main .main-right{
    width: 34%;
    padding-left: 22px;
    box-sizing: border-box;
    float: left;
}
main .main-right .main-container>ul{
    margin-top: 0;
}
img[src=""],img:not([src]){
    opacity:0;
  }
main .main-left .main-swiper{
   min-height: 200px;
   width: 100%;
    /* height:auto */
}
main .main-left .main-swiper img{
    width: 100%;
    height:200px;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    text-align: right;
    bottom: 13px!important;
    padding-right: 18px;
    box-sizing: border-box;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    background-color:rgba(255,153,0,.9)!important ;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: rgba(255,153,0)!important;
}
main .main-container>ul{
    width: 100%;
    margin-top: 25px;
}
main .main-left  .main-container>ul>div{
    float: left;
    width: 48.86%;
}
main .main-left  .main-container>ul>div:nth-of-type(2){
    float: right;
}
main .main-container>ul>div>li{
    margin-bottom: 18px;
}
main .main-left .main-container>ul>div>li:nth-child(even){
    /* float: right; */
}
main .main-right .main-container>ul>div>li{
    width: 100%;
}
main .main-container>ul>div>li .request_title{
    border-bottom: 1px solid #ffdfb0;
    margin-bottom: 18px;
    font-size: 20px;
    color: #444;
    font-weight: 600;
}
main .main-container>ul>div>li .request_title span{
    display: inline-block;
    padding-bottom: 7px;
    border-bottom: 4px solid #ff9900;
}
main .main-container>ul>div>li .item_title{
    margin-bottom: 18px;
    display: block;
}
main .main-container>ul>div>li .item_title img{
    width: 21px;
    height: 21px;
    vertical-align: middle;
    margin:0 12px;
    float: left;
}
main .main-container>ul>div>li .item_title p{
    float: left;
    line-height: 24px;
    width: calc(100% - 60px);
}
main .main-container>ul>div>li .title-cf{
    height:24px;
    overflow: hidden;
    /* background: url("./../images/line-bar.png") right 18px no-repeat; */
}
main .main-container>ul>div>li .small_title{
    font-weight: 600;
    font-size: 18px;
    color: #444;
    margin-bottom: 18px;
    line-height: 24px;
}
main .main-container>ul>div>li .hotItem{
    float: left;
    width: 33%;
    margin-bottom: 20px;
}
main .main-container>ul>div>li .hotItem:nth-of-type(7),main .main-container>ul>div>li .hotItem:nth-of-type(8),main .main-container>ul>div>li .hotItem:nth-of-type(9){
    margin-bottom: 0;
}
main .main-container>ul>div>li .hotItem p{
    float: left;
    font-size: 14px;
    max-width: calc(100% - 76px);
    margin-right: 5px;
    line-height: 24px;
}
main .main-container>ul>div>li .hotItem >span{
    max-width: 64px;
    display: inline-block;
}
main .main-container>ul>div>li .hotItem img{
    /* float: left; */
    width: 16px;
    height: 16px;
    padding: 4px 0;
    vertical-align: middle;
}
main .main-container>ul>div>li .online_course{
    display: block;
}
main .main-container>ul>div>li .online_course img{
    width: 367px;
    height: 89px;
}
main .main-container>ul>div>li .small_title_item{
    margin-bottom: 18px;
    line-height: 24px;
    display: block;
}
main .main-container>ul>div>li .small_title_item span{
    font-weight: 600;
    color: #444;
}
.shopInfo .item_title a:nth-of-type(1){
    font-weight: normal;
}
.shopInfo .item_title a:nth-of-type(2){
    font-weight: bold;
}
.projectCase a:nth-of-type(1){
    font-weight: 600;
}
.projectInfos a:nth-of-type(1){
    font-weight: 600;
}
.newsInfo a:nth-of-type(1){
    font-weight: 600;
}
.leaderInfo a:nth-of-type(1){
    font-weight: 600;
}
.leaderInfo .leaderColor{
    font-weight: normal!important;
}
.advancedScience a:nth-of-type(1){
    font-weight: 600;
}
.talentFlow a:nth-of-type(1){
    font-weight: 600;
}
.linkUrl .container{
    box-sizing: content-box;
}
.finduser a:last-of-type,.answer-quest a:last-of-type{
    margin-bottom: 14px!important;
}