main .container{
    overflow: hidden;
}

main .container .main-left{
    float: left;
    width: calc(66.66% - 10px);
     padding-bottom: 9999px; margin-bottom: -9999px;
}
main .container .main-right{
    float: right;
    width: 33.33%;
    background-color: #fff;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}
main .container .main-left .main-container{
    /* background: #fff; */
    margin-top: 10px;
    /* padding: 0 11px 0 15px; */
}
main .container .main-left .main-container .container-box{
    background-color: #f4f4f4;
}
main .container .main-left .main-container .searchQuest{
    font-size: 0;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 17px 8px 30px 15px;
}
main .container .main-left .main-container .searchQuest .searchInput{
    display: inline-block;
    position: relative;
    margin: 0 10px;
    width: calc(74.08% - 20px);
    box-sizing: border-box;
    height: 41px;
    vertical-align: bottom;
    border: 1px solid #eee;
    // padding-left: 25px;
    padding-right: 31px;
}
// main .container .main-left .main-container .searchQuest .searchInput i{
//     position: absolute;
//     top: 50%;
//     right: 16px;
//     transform: translate(0,-50%);
//     color: #ccc;
//     cursor: pointer;
// }
main .container .main-left .main-container .searchQuest .searchInput input{
    border: none;
    font-size: 14px;
    position: relative;
    z-index: 9;
    margin-left: 75px;
    box-sizing: border-box;
    border-right: 0px solid #ccc;
    height: 100%;
    width: calc(100% - 75px);
}
main .container .main-left .main-container .searchQuest .hasSearch{
    width: 98px;
    display: inline-block;
    height: 39px;
    width: 12.69%;
    font-size: 16px;
    color: #999999;
    border: 1px solid #e6e6e6;
    line-height: 39px;
    text-align: center;
}
main .container .main-left .main-container .searchQuest .hasQuest{
    width: 99px;
    width: 12.69%;
    height: 41px;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background-color: #ff9900;
    line-height: 41px;
    text-align: center;
}
main .container .main-left .request_menu{
    width: 100%;
    // height: 52px;
    // line-height: 52px;
    background-color: #fff;
    padding: 18px 26px 12px 18px;
    box-sizing: border-box;
}
main .container .main-left .request_menu ul li{
    float: left;
    font-size: 15px;
    padding-right:34px;
}
main .container .main-left .request_menu ul li a.active{
    color: #ff9900;
}
main .container .main-left .request_menu ul li:hover a{
    color: #ff9900;
}
main .container .main-left .request_menu .small-menu{
    display:flex;
    margin-top: 16px;
    div{
        font-size: 15px;
        padding-right: 19px;
        color: #ff9900;
    }
    ul{
        width: calc(100% - 95px);
        li{
            padding-left: 0;
            line-height: 26px;
            &.active{
                a{
                    color: #ff9900;
                }
            }
        }
    }
}
main .container .main-left .main-container .questDetail>img{
    width: 100%;
    margin-bottom: 10px;
}
main .container .main-left .main-container .questDetail{
    padding-top: 28px;
    background-color: #fff;
    padding: 0 11px 0 15px;
}
.answerPush .editFu .w-e-text-container{
    height: auto!important;
    min-height: 140px!important;
    border: none!important;
}
#div1 >div:nth-of-type(1){
    border: none!important;
    border-top: 1px solid #e6e6e6!important;
    border-bottom: 1px solid #e6e6e6!important;
}
main .container .main-left .main-container .questDetail .questTit{
    // display: flex;
    // justify-content: space-between;
}
main .container .main-left .main-container .questDetail .questTit p{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
main .container .main-left .main-container .questDetail .questTit>div span{
    font-size: 15px;
    font-weight: bold;
}
main .container .main-left .main-container .questDetail .questContent{
    margin-top: 22px;
    margin-bottom: 14px;
    font-size: 14px;
    color: #444;
}
main .container .main-left .main-container .questDetail .questHandle{
    margin-top: 10px;
}
main .container .main-left .main-container .questDetail .questHandle>div:nth-of-type(1){
    float: left;
}
main .container .main-left .main-container .questDetail .questHandle .creatTime{
    margin-left: 17px;
    font-size: 12px;
}
main .container .main-left .main-container .questDetail .questHandle .downFile{
    margin-left: 17px;
    font-size: 12px;
}
main .container .main-left .main-container .questDetail .questHandle>div:nth-of-type(2){
    float: right;
}
main .container .main-left .main-container .questDetail .questHandle>div:nth-of-type(2) >a{
    color: #ccc;
}
main .container .main-left .main-container .questDetail .questHandle>div:nth-of-type(2) span{
    color: #ccc;
    cursor: pointer;
}
main .container .main-left .main-container .questDetail .questHandle>div:nth-of-type(2) span:nth-of-type(4){
    margin-left: 16px;
    color: #999;
    font-size: 12px;
    cursor: none;
}
main .container .main-left .main-container .questDetail .questHandle>div:nth-of-type(2) i,main .container .main-left .main-container .questDetail .questHandle p a{
    color: #ccc;
    font-size: 15px;
}
main .container .main-left .main-container .questDetail .questHandle>div:nth-of-type(2) a.article.isSelect{
    color: #ff9900;
    span{
        color: #ff9900;
    }
    i{
        color: #ff9900;
    }
}
main .container .main-left .main-container .questDetail .questHandle>div:nth-of-type(2) a.unTaken{
    &:hover{
        color: #ff9900;
        span{
            color: #ff9900;
        }
        i{
            color: #ff9900;
        }
    }
}
main .container .main-left .main-container .questDetail .answerPush{
    padding-bottom: 18px;
    padding-top: 36px;
    .searchBox{
        float: left;
        width: calc(100% - 108px);
        border: 1px solid #eeeeee;
        height: 120px;
        padding-left: 19px;
        box-sizing: border-box;
        input{
            width: 100%;
            height: 100%;
            color: #999999;
            border: none;
        }
    }
    a{
        // color: #ff9900;
        // font-size: 16px;
        float: right;
        margin-top: 15px;
        // line-height: 15px;
        // padding: 13px 32px 10px 32px;
        // border: 1px solid #ff9900;
        padding: 9px 12px;
        border: none;
        border-radius: 5px;
        background-color: #ff9900;
        color: #fff;
    }
}
main .container .main-left .main-container .answerEdit{
    background-color: #fff;
    margin-top: 10px;
    padding: 0 11px 0 15px;
}
main .container .main-left .main-container .answerEdit .userInfor{
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    margin-bottom: 13px;
}
main .container .main-left .main-container .answerEdit .userInfor>p:nth-of-type(1)>span{
    display: inline-block;
    height: 36px;
    line-height: 36px;
}
main .container .main-left .main-container .answerEdit .userInfor>p:nth-of-type(1)>span:nth-of-type(1){
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
main .container .main-left .main-container .answerEdit .userInfor>p:nth-of-type(1)>span:nth-of-type(1) img{
    width: 100%;
    height: 100%;
}
main .container .main-left .main-container .answerEdit .userInfor>p:nth-of-type(2){
    line-height: 36px;
    color: #808080;
}
main .container .main-left .main-container .answerEdit .editFu #div1 >div:nth-of-type(1){
    border: none!important;
    border-top: 1px solid #e6e6e6!important;
    border-bottom: 1px solid #e6e6e6!important;
}
main .container .main-left .main-container .answerEdit .editFu #div1 >div:nth-of-type(2){
    border: none!important;
}
::-webkit-scrollbar {
    width: 10px; /*对垂直流动条有效*/
}
main .container .main-left .main-container .answerEdit .editFu .btnBox{
    text-align: right;
    padding-bottom: 19px;
    padding-top: 5px;
}
main .container .main-left .main-container .answerEdit .editFu #btn{
    padding: 9px 12px;
    border: none;
    border-radius: 5px;
    background-color: #ff9900;
    color: #fff;
}
main .container .main-left .requestList{
    /* padding-bottom: 25px; */
    // margin-top: 10px;
    background-color: #fff;
    padding: 23px 11px 0 15px;
}
main .container .main-left .requestList .topTable{
    font-size: 14px;
    padding-bottom: 21px;
    border-bottom: 1px solid #e6e6e6;
}
main .container .main-left .requestList .topTable p:nth-of-type(1){
    float: left;
    color: #444;
}
main .container .main-left .requestList .topTable p:nth-of-type(1) span{
    font-weight: bold;
}
main .container .main-left .requestList .topTable p:nth-of-type(2){
    float: right;
}
main .container .main-left .requestList>ul>li{
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
}
main .container .main-left .requestList .userQuestion .QuestionTit{
    color: #444444;
    font-weight: bold;
}
main .container .main-left .requestList .userQuestion .QuestionTit span{
    font-size: 18px;
    color: #ff9900;
}
main .container .main-left .requestList .userQuestion .userInfo span{
    font-size: 14px;
    color: #444;
}
main .container .main-left .requestList .userQuestion .userInfo .headImgBox{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
main .container .main-left .requestList .userQuestion .userInfo .headImgBox img{
    width: 100%;
    height: 100%;
}
main .container .main-left .requestList .QuestionDetail{
    margin-top: 8px;
    margin-bottom: 15px;
}
main .container .main-left .requestList .QuestionDetail p{
    font-size: 14px;
    color: #444;
    float: right;
    line-height: 24px;
    width: calc(100% - 160px);
}
main .container .main-left .requestList .QuestionDetail >img{
    width: 150px;
    height: 100px;
    float: left;
}
// main .container .main-left .requestList .timeAndZan{
//     font-size: 0;
// }
// main .container .main-left .requestList .timeAndZan a{
//     font-size: 12px;
//     color: #858585;
//     border-radius: 5px;
//     text-align: center;
//     line-height: 24px;
//     display: inline-block;
// }
// main .container .main-left .requestList .timeAndZan .favor{
//     padding: 7px 9px 5px 10px;
//     line-height: 12px;
//     font-size: 12px;
//     color: #ff9900;
//     border: 1px solid #ff9900;
// }
// main .container .main-left .requestList .timeAndZan .favor span{
//     color: #ff9900;
// }
// main .container .main-left .requestList .timeAndZan .favor.upFavor span{
//     color: #fff;
// }
// main .container .main-left .requestList .timeAndZan .favor.upFavor{
//     background-color: #ff9900;
//     color: #fff;
// }
// main .container .main-left .requestList .timeAndZan .cancelfavor{
//     width: 24px;
//     height: 24px;
//     margin-left: 5px;
//     color: #ff9900;
//     // background-color: #f2f2f2;
//     border: 1px solid #ff9900;
//     margin-right: 16px;
// }
// main .container .main-left .requestList .timeAndZan .cancelfavor.downFavor{
//     background-color: #ff9900;
//     color: #fff;
// }
// main .container .main-left .requestList .timeAndZan span{
//     color: #999;
//     font-size: 12px;
//     margin-right: 12px;
// }
// main .container .main-left .requestList .timeAndZan .commentIcon span{
//     color: #999999;
// }
// main .container .main-left .requestList .timeAndZan .commentIcon>i{
//     color: #ccc;
// }
main .container .main-left .requestList .timeAndZan>i{
    color: #cccccc;
    margin-right: 10px;
}
.pageUi{
    text-align: center;
}
.pageUi .layui-laypage {
    position: relative;
    padding:0 39px;
    margin: 39px 0 21px 0!important;
}
.layui-laypage a, .layui-laypage span{
    border: 1px solid #b5b5d6!important;
    width: 36px;
    height: 36px;
    padding: 0!important;
    text-align: center;
    line-height: 36px;
    margin-right: 12px!important;
    border-radius: 5px;
    background-color: #f7f7fa!important;
}
.pageUi .layui-laypage .layui-laypage-first{
    position: absolute;
    border: none!important;
    left: 0;
    top: 1px;
    padding-right: 0;
    background-color: transparent!important;
}
.pageUi .layui-laypage .layui-laypage-last{
    position: absolute;
    right: 1px;
    top: 1px;
    padding-left: 0;
    margin-right: 0!important;
    border: none!important;
    background-color: transparent!important;
}
.layui-laypage .layui-laypage-spr{
    border: none!important;
    background-color: transparent!important;
}
.pageUi .layui-laypage .layui-laypage-prev{
    border: none!important;
    background-color: transparent!important;
}
.pageUi .layui-laypage .layui-laypage-next{
    border: none!important;
    background-color: transparent!important;
    transform: translate(1px,0);
}
.layui-laypage span.layui-laypage-curr{
    border: 1px solid #ff9900!important;
}
.layui-laypage .layui-laypage-curr em{
    color: #ff9900!important;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color:#f7f7fa!important;
    position: relative!important;
    padding: 0!important;
}
.main-right .right-container{
    background-color: #f4f4f4;
}
.main-right .highPraise{
    padding: 20px 15px 60px 22px;
    background-color: #fff;
    margin-top: 10px;
}
.main-right .highPraise>ul>li .hightTit{
    border-bottom: 1px solid #ffdfb0;
    margin-bottom: 18px;
}
.main-right .highPraise>ul>li .hightTit span{
    font-size: 20px;
    color: #444;
    display: inline-block;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: 4px solid #ff9900;
}
.main-right .highPraise>ul>li .hightItem{
    margin-bottom: 17px;
    font-size: 16px;
    a{
        &:hover{
            color: #ff9900;
        }
        &.companyName{
            font-weight: bold;
        }
    }
}
.main-right .highPraise .hightImg img{
    margin-bottom: 25px;
}
.main-right .highPraise>ul>li .highOnline{
    float: left;
    font-size: 16px;
    width: 50%;
    margin-bottom: 18px;
}
.main-right .highPraise>ul>li .highOnline span{
    font-weight: bold;
}
.main-right .highPraise>ul>li .highHot{
    float: left;
    font-size: 16px;
    width: 50%;
    margin-bottom: 18px;
}

.hasTurn{
    position: relative;
}
.hasTurn:hover .shareBox{
    display: inline-block;
}
.shareBox{
    position: absolute;
    right: 17px;
    top: 17px;
    background-color: #fff;
    transform: translate(50%, 0);
    width: 168px;
    display: none;
}