main .container{
    overflow: hidden;
    .main-left{
        float: left;
        width: calc(66.66% - 10px);
        padding-bottom: 9999px;margin-bottom: -9999px;
        .publish{
            padding: 14px 12px 12px 11px;
            background: #fff;
            margin-top: 10px;
            a{
                &:nth-of-type(1){
                    padding: 12px 15px 12px 20px;
                    background-color: #ff9900;
                    font-size: 16px;
                    display: inline-block;
                    color: #fff;
                    line-height:16px;
                    margin-right: 10px;
                    text-align: center;
                }
                &:nth-of-type(2){
                    padding: 11px 33px 11px 33px;
                    font-size: 16px;
                    display: inline-block;
                    color: #cccccc;
                    border:1px solid #cccccc;
                    line-height:16px;
                    text-align: center;
                    margin-left: 10px;
                }
            }
            .searchInput{
                width: calc(100% - 230px);
                display: inline-block;
                position: relative;
                box-sizing: border-box;
                height: 41px;
                vertical-align: bottom;
                border: 1px solid #ccc;
                /* padding-left: 25px; */
                padding-right: 31px;
                input{
                    border: none;
                    font-size: 14px;
                    position: relative;
                    z-index: 9;
                    margin-left: 75px;
                    box-sizing: border-box;
                    border-right: 0px solid #ccc;
                    height: 100%;
                    width: calc(100% - 75px);
                }
            }
        }
        .main-container{
            background: #fff;
            padding: 0 8px 0 15px;
            margin-top: 10px;
        }
        .request_menu{
            width: 100%;
            box-sizing: border-box;
            padding: 18px 26px 12px 18px;
            // height: 52px;
            // line-height: 52px;
            background-color: #fff;
            .orderby{
                float: right;
                margin-right: 0;
                i{
                    &:nth-of-type(1){
                        top: 0px;
                    }
                    &:nth-of-type(2){
                        top: 7px;
                    }
                }
            }
            ul li{
                float: left;
                font-size: 15px;
                padding-right:34px;
                &.active a{
                    color: #ff9900;
                }
                &:hover a{
                    color: #ff9900;
                }
                a.active{
                    color: #ff9900;
                }
            }
            
            .small-menu{
                display:flex;
                margin-top: 16px;
                div{
                    font-size: 15px;
                    padding-right: 19px;
                    color: #ff9900;
                }
                ul{
                    width: calc(100% - 95px);
                    li{
                        padding-left: 0;
                        line-height: 26px;
                    }
                }
            }
        }
        .requestList{
            min-height: 1035px;
            &>ul{
                &>li{
                    padding: 25px 0;
                    // padding-right: 10px;
                    border-bottom: 1px solid #e6e6e6;
                    box-sizing: border-box;
                    &>.questitle{
                        .QuestionTit{
                            &:hover{
                                color: #ff9900;
                            }
                        }
                    }
                }
            }
            .userQuestion{
                &>div{
                    float: left;
                    &:nth-of-type(2){
                        float: right;
                        padding-right: 10px;
                        box-sizing: border-box;

                    }
                }
                .QuestionTit{
                    color: #444444;
                    font-weight: bold;
                    font-size: 18px;
                    max-width: 75%;
                    margin-bottom: 23px;
                    // span{
                    //     color: #ff9900;
                    // }
                }
                .userInfo{
                    width: 25%;
                    text-align: right;
                    float: right;
                    padding-right: 20px;
                    box-sizing: border-box;
                    &:hover{
                        span{
                            color: #ff9900;
                        }
                    }
                    span{
                        // font-weight: bold;
                        display: inline-block;
                        // width: calc(100% - 76px);
                        width: 100px;
                        font-size: 16px;
                        color: #444;
                    }
                    img{
                        vertical-align: baseline;
                    }
                }
            }
            .QuestionDetail{
                margin-bottom: 15px;
                display: flex;
                >img{
                    width: 200px;
                    height: 100px;
                    margin-right: 10px;
                }
                >.doubleHide{
                    font-size: 15px;
                    color: #444;
                    width: calc(100% - 216px);
                    vertical-align: top;
                    &.fullWidth{
                        width:100%;
                    }
                }
                .infos{
                    padding-top: 11px;
                    margin-bottom: 15px;
                    a{
                        font-size: 14px;
                        color: #ff9900;
                        text-decoration: underline;
                    }
                }
            }
            // .timeAndZan{
            //     font-size: 0;
            //     margin-top: 16px;
            //     a{
            //         font-size: 12px;
            //         color: #999;
            //         background-color: #fff;
            //         border-radius: 5px;
            //         text-align: center;
            //         line-height: 24px;
            //         display: inline-block;
            //     }
            //     .favor{
            //         height: 24px;
            //         padding: 0 10px;
            //         font-size: 12px;
            //         border: 1px solid #ff9900;
            //         color: #ff9900;
            //         span{
            //             color: #ff9900;
            //             margin-right: 0;
            //         }
            //         &.upFavor{
            //             background-color: #ff9900;
            //             color: #fff;
            //             span{
            //                 color: #fff;
            //             }
            //         }
            //     }
            //     .cancelfavor{
            //         width: 24px;
            //         height: 24px;
            //         margin-left: 5px;
            //         margin-right: 16px;
            //         border: 1px solid #ff9900;
            //         color: #ff9900;
            //         span{
            //             color: #ff9900;
            //         }
            //         &.downFavor{
            //             background-color: #ff9900;
            //             color: #fff;
            //         }
            //     }
            //     span{
            //         color: #999;
            //         font-size: 12px;
            //         margin-right: 12px;
            //     }
            //     .personInfo,.callInfo{
            //         color: #444;
            //         font-weight: bold;
            //     }
            //     &>i{
            //         color: #ccc;
            //         margin-right: 10px;
            //     }
            // }
        }
    }
    .main-right{
        float: right;
        width: 33.33%;
        // background-color: #fff;
        padding-bottom: 9999px;
        margin-bottom: -9999px;
        .right-container{
            background-color: #f4f4f4;
        }
        .highPraise{
            // background-color: #fff;
            &>ul{
                &>li{
                    background-color: #fff;
                    margin-bottom: 10px;
                    padding: 16px 15px 9px 22px;
                    .hightTit{
                        border-bottom: 1px solid #ffdfb0;
                        margin-bottom: 18px;
                        span:nth-of-type(1){
                            font-size: 20px;
                            color: #444;
                            display: inline-block;
                            font-weight: bold;
                            padding-bottom: 7px;
                            margin-right: 10px;
                            border-bottom: 4px solid #ff9900;
                        }
                        .linebar{
                            width: calc(100% - 102px);
                            display: inline-block;
                            height: 4px;
                            background:url('../images/line-bar.gif') ;
                        }
                    }
                }
            }
            .hightImg {
                img{
                    margin-bottom: 25px;
                }
            }
            .hightItem{
                margin-bottom: 17px;
                font-size: 16px;
                line-height: 16px;
                a{
                    &:hover{
                        color: #ff9900;
                    }
                }
            }
        }
    }
}
.pageUi{
    text-align: center;
    .layui-laypage {
        position: relative;
        padding:0 39px;
        margin: 39px 0 21px 0!important;
        a, span{
            border: 1px solid #b5b5d6!important;
            width: 36px;
            height: 36px;
            padding: 0!important;
            text-align: center;
            line-height: 36px;
            margin-right: 12px!important;
            border-radius: 5px;
            background-color: #f7f7fa!important;
        }
        .layui-laypage-first{
            position: absolute;
            border: none!important;
            left: 0;
            top: 1px;
            padding-right: 0;
            background-color: transparent!important;
        }
        .layui-laypage-last{
            position: absolute;
            right: 1px;
            top: 1px;
            padding-left: 0;
            margin-right: 0!important;
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-spr{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-prev{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-next{
            border: none!important;
            background-color: transparent!important;
            transform: translate(1px,0);
        }
        span.layui-laypage-curr{
            border: 1px solid #ff9900!important;
        }
        .layui-laypage-curr{
            em{
                color: #ff9900!important;
            }
            .layui-laypage-em{
                background-color:#f7f7fa!important;
                position: relative!important;
                padding: 0!important;
            }
        }
    }
}

.recommdRead{
    .companyName{
        font-weight: bold;
    }
}
