main .container {
  overflow: hidden;
}
main .container .main-left {
  float: left;
  width: calc(66.66% - 10px);
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
main .container .main-left .publish {
  padding: 14px 12px 12px 11px;
  background: #fff;
  margin-top: 10px;
}
main .container .main-left .publish a:nth-of-type(1) {
  padding: 12px 15px 12px 20px;
  background-color: #ff9900;
  font-size: 16px;
  display: inline-block;
  color: #fff;
  line-height: 16px;
  margin-right: 10px;
  text-align: center;
}
main .container .main-left .publish a:nth-of-type(2) {
  padding: 11px 33px 11px 33px;
  font-size: 16px;
  display: inline-block;
  color: #cccccc;
  border: 1px solid #cccccc;
  line-height: 16px;
  text-align: center;
  margin-left: 10px;
}
main .container .main-left .publish .searchInput {
  width: calc(100% - 230px);
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 41px;
  vertical-align: bottom;
  border: 1px solid #ccc;
  /* padding-left: 25px; */
  padding-right: 31px;
}
main .container .main-left .publish .searchInput input {
  border: none;
  font-size: 14px;
  position: relative;
  z-index: 9;
  margin-left: 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 0px solid #ccc;
  height: 100%;
  width: calc(100% - 75px);
}
main .container .main-left .main-container {
  background: #fff;
  padding: 0 8px 0 15px;
  margin-top: 10px;
}
main .container .main-left .request_menu {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 26px 12px 18px;
  background-color: #fff;
}
main .container .main-left .request_menu .orderby {
  float: right;
  margin-right: 0;
}
main .container .main-left .request_menu .orderby i:nth-of-type(1) {
  top: 0px;
}
main .container .main-left .request_menu .orderby i:nth-of-type(2) {
  top: 7px;
}
main .container .main-left .request_menu ul li {
  float: left;
  font-size: 15px;
  padding-right: 34px;
}
main .container .main-left .request_menu ul li.active a {
  color: #ff9900;
}
main .container .main-left .request_menu ul li:hover a {
  color: #ff9900;
}
main .container .main-left .request_menu ul li a.active {
  color: #ff9900;
}
main .container .main-left .request_menu .small-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}
main .container .main-left .request_menu .small-menu div {
  font-size: 15px;
  padding-right: 19px;
  color: #ff9900;
}
main .container .main-left .request_menu .small-menu ul {
  width: calc(100% - 95px);
}
main .container .main-left .request_menu .small-menu ul li {
  padding-left: 0;
  line-height: 26px;
}
main .container .main-left .requestList {
  min-height: 1035px;
}
main .container .main-left .requestList > ul > li {
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main .container .main-left .requestList > ul > li > .questitle .QuestionTit:hover {
  color: #ff9900;
}
main .container .main-left .requestList .userQuestion > div {
  float: left;
}
main .container .main-left .requestList .userQuestion > div:nth-of-type(2) {
  float: right;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main .container .main-left .requestList .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  max-width: 75%;
  margin-bottom: 23px;
}
main .container .main-left .requestList .userQuestion .userInfo {
  width: 25%;
  text-align: right;
  float: right;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main .container .main-left .requestList .userQuestion .userInfo:hover span {
  color: #ff9900;
}
main .container .main-left .requestList .userQuestion .userInfo span {
  display: inline-block;
  width: 100px;
  font-size: 16px;
  color: #444;
}
main .container .main-left .requestList .userQuestion .userInfo img {
  vertical-align: baseline;
}
main .container .main-left .requestList .QuestionDetail {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .container .main-left .requestList .QuestionDetail > img {
  width: 200px;
  height: 100px;
  margin-right: 10px;
}
main .container .main-left .requestList .QuestionDetail > .doubleHide {
  font-size: 15px;
  color: #444;
  width: calc(100% - 216px);
  vertical-align: top;
}
main .container .main-left .requestList .QuestionDetail > .doubleHide.fullWidth {
  width: 100%;
}
main .container .main-left .requestList .QuestionDetail .infos {
  padding-top: 11px;
  margin-bottom: 15px;
}
main .container .main-left .requestList .QuestionDetail .infos a {
  font-size: 14px;
  color: #ff9900;
  text-decoration: underline;
}
main .container .main-right {
  float: right;
  width: 33.33%;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
main .container .main-right .right-container {
  background-color: #f4f4f4;
}
main .container .main-right .highPraise > ul > li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 16px 15px 9px 22px;
}
main .container .main-right .highPraise > ul > li .hightTit {
  border-bottom: 1px solid #ffdfb0;
  margin-bottom: 18px;
}
main .container .main-right .highPraise > ul > li .hightTit span:nth-of-type(1) {
  font-size: 20px;
  color: #444;
  display: inline-block;
  font-weight: bold;
  padding-bottom: 7px;
  margin-right: 10px;
  border-bottom: 4px solid #ff9900;
}
main .container .main-right .highPraise > ul > li .hightTit .linebar {
  width: calc(100% - 102px);
  display: inline-block;
  height: 4px;
  background: url("../images/line-bar.gif");
}
main .container .main-right .highPraise .hightImg img {
  margin-bottom: 25px;
}
main .container .main-right .highPraise .hightItem {
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 16px;
}
main .container .main-right .highPraise .hightItem a:hover {
  color: #ff9900;
}

.pageUi {
  text-align: center;
}
.pageUi .layui-laypage {
  position: relative;
  padding: 0 39px;
  margin: 39px 0 21px 0 !important;
}
.pageUi .layui-laypage a, .pageUi .layui-laypage span {
  border: 1px solid #b5b5d6 !important;
  width: 36px;
  height: 36px;
  padding: 0 !important;
  text-align: center;
  line-height: 36px;
  margin-right: 12px !important;
  border-radius: 5px;
  background-color: #f7f7fa !important;
}
.pageUi .layui-laypage .layui-laypage-first {
  position: absolute;
  border: none !important;
  left: 0;
  top: 1px;
  padding-right: 0;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-last {
  position: absolute;
  right: 1px;
  top: 1px;
  padding-left: 0;
  margin-right: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-spr {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-prev {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-next {
  border: none !important;
  background-color: transparent !important;
  -webkit-transform: translate(1px, 0);
      -ms-transform: translate(1px, 0);
          transform: translate(1px, 0);
}
.pageUi .layui-laypage span.layui-laypage-curr {
  border: 1px solid #ff9900 !important;
}
.pageUi .layui-laypage .layui-laypage-curr em {
  color: #ff9900 !important;
}
.pageUi .layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #f7f7fa !important;
  position: relative !important;
  padding: 0 !important;
}

.recommdRead .companyName {
  font-weight: bold;
}