main .container{
    overflow: hidden;
    .main-left{
        float: left;
        width: calc(66.66% - 10px);
        padding-bottom: 9999px;margin-bottom: -9999px;
        .publish{
            padding: 14px 12px 12px 11px;
            background: #fff;
            margin: 10px 0;
            a{
                &:nth-of-type(1){
                    padding: 12px 15px 12px 20px;
                    background-color: #ff9900;
                    font-size: 16px;
                    display: inline-block;
                    color: #fff;
                    line-height:16px;
                    margin-right: 10px;
                    text-align: center;
                }
                &:nth-of-type(2){
                    padding: 11px 33px 11px 33px;
                    font-size: 16px;
                    display: inline-block;
                    color: #cccccc;
                    border:1px solid #cccccc;
                    line-height:16px;
                    text-align: center;
                    margin-left: 10px;
                }
            }
            .searchInput{
                width: calc(100% - 230px);
                display: inline-block;
                position: relative;
                box-sizing: border-box;
                height: 41px;
                vertical-align: bottom;
                border: 1px solid #ccc;
                /* padding-left: 25px; */
                padding-right: 31px;
                input{
                    border: none;
                    font-size: 14px;
                    position: relative;
                    z-index: 9;
                    margin-left: 75px;
                    box-sizing: border-box;
                    border-right: 0px solid #ccc;
                    height: 100%;
                    width: calc(100% - 75px);
                }
            }
        }
        .main-container{
            background: #fff;
            padding: 28px 8px 0 15px;
            min-height: 1035px;
            ul{
                li{
                    float: left;
                    width: 32.11%;
                    padding: 14px 11px 11px 12px;
                    box-sizing: border-box;
                    box-shadow: 0px 1px 8px #ccc;
                    margin-right: 1.835%;
                    margin-bottom: 10px;
                    transition: all 1s;
                    &:hover{
                        box-shadow: -1px 9px 37px #ccc;
                        transform: translateY(-10px);
                    }
                    &:nth-child(3n){
                        margin-right: 0;
                    }
                    &>a{
                        display: inline-block;
                        width: 100%;
                        .markImg{
                            width: 100%;
                            height: 200px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            // width: 100%;
	                        // height: 200px;
	                        // overflow: hidden;
	                        // position: relative;
                            // img{
                            //     // width: 100%;
                            //     // height: 201px;
                            //     // border-radius: 3px;
                            //     // overflow: hidden;
                            //     width: 100%;
                            //     position: absolute;
                            //     top: 50%;
                            //     left: 50%;
                            //     transform: translate(-50%, -50%);
                            // }
                        }
                        >.contentBox{
                            text-align: center;
                            font-size: 14px;
                            color: #444;
                            margin-top: 11px;
                            height:38.4px;
                            margin-bottom: 14px;
                            >p{
                                display: inline-block;
                                margin: auto;
                                text-align: justify;
                            }
                        }
                        // &>.singleHide{
                        //     font-size: 14px;
                        //     color: #444;
                        //     margin-top: 11px;
                        //     margin-bottom: 14px;
                        // }
                    }
                    .shopInfo{
                        font-size: 14px;
                        color: #999999;
                        .mainInfo{
                            color: #ff9900;
                            max-width: 126px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        span{
                            font-weight: bold;
                            color: #444;
                            vertical-align: bottom;
                        }
                    }
                }
            }
        }
        .request_menu{
            width: 100%;
            height: 52px;
            line-height: 52px;
            background-color: #fff;
            ul li{
                float: left;
                font-size: 15px;
                padding: 0 17px;
                &.active a{
                    color: #ff9900; 
                }
                &:hover a{
                    color: #ff9900;
                }
                a.active{
                    color: #ff9900;
                }
            }
        }
    }
    .main-right{
        float: right;
        width: 33.33%;
        // background-color: #fff;
        padding-bottom: 9999px;
        margin-bottom: -9999px;
        .right-container{
            background-color: #f4f4f4;
        }
        .highPraise{
            // background-color: #fff;
            &>ul{
                &>li{
                    padding: 16px 15px 9px 22px;
                    background-color: #fff;
                    margin-bottom: 14px;
                    .hightTit{
                        border-bottom: 1px solid #ffdfb0;
                        margin-bottom: 18px;
                        span:nth-of-type(1){
                            font-size: 20px;
                            color: #444;
                            display: inline-block;
                            font-weight: bold;
                            padding-bottom: 7px;
                            margin-right: 10px;
                            border-bottom: 4px solid #ff9900;
                        }
                        .linebar{
                            width: calc(100% - 102px);
                            display: inline-block;
                            height: 4px;
                            background:url('../images/line-bar.gif') ;
                        }
                    }
                }
            }
            .hightImg {
                img{
                    margin-bottom: 25px;
                }
            }
            .hightItem{
                margin-bottom: 17px;
                font-size: 16px;
                line-height: 16px;
                 a{
                    &:hover{
                        color: #ff9900;
                    }
                }
            }
        }
    }
}
.pageUi{
    text-align: center;
    .layui-laypage {
        position: relative;
        padding:0 39px;
        margin: 39px 0 21px 0!important;
        a, span{
            border: 1px solid #b5b5d6!important;
            width: 36px;
            height: 36px;
            padding: 0!important;
            text-align: center;
            line-height: 36px;
            margin-right: 12px!important;
            border-radius: 5px;
            background-color: #f7f7fa!important;
        }
        .layui-laypage-first{
            position: absolute;
            border: none!important;
            left: 0;
            top: 1px;
            padding-right: 0;
            background-color: transparent!important;
        }
        .layui-laypage-last{
            position: absolute;
            right: 1px;
            top: 1px;
            padding-left: 0;
            margin-right: 0!important;
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-spr{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-prev{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-next{
            border: none!important;
            background-color: transparent!important;
            transform: translate(1px,0);
        }
        span.layui-laypage-curr{
            border: 1px solid #ff9900!important;
        }
        .layui-laypage-curr{
            em{
                color: #ff9900!important;
            }
            .layui-laypage-em{
                background-color:#f7f7fa!important;
                position: relative!important;
                padding: 0!important;
            }
        }
    }
}
.showhotList,.showproList{
    a{
        &:nth-of-type(1){
            max-width: 100px;
            display: inline-block;
            font-weight: bold;
            color: #444;
            vertical-align: bottom;
        }
    }
}
.layui-input-block {
    position: relative;
}
.word {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #aaa;
    font-size: 12px;
}
.layui-textarea{
    min-height: 60px!important;
}