@charset "UTF-8";
main .container {
  overflow: hidden;
}
main .container .main-left {
  float: left;
  width: calc(66.66% - 10px);
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
main .container .main-left .main-container {
  background: #fff;
  padding: 0 8px 0 15px;
}
main .container .main-left .request_menu {
  width: 100%;
  height: 52px;
  line-height: 52px;
  background-color: #fff;
}
main .container .main-left .request_menu ul li {
  float: left;
  font-size: 15px;
  padding: 0 17px;
}
main .container .main-left .request_menu ul li.active a {
  color: #ff9900;
}
main .container .main-left .request_menu ul li a.active {
  color: #ff9900;
}
main .container .main-left .request_menu ul li:hover a {
  color: #ff9900;
}
main .container .main-left .publish {
  padding: 14px 12px 12px 11px;
  background: #fff;
  margin: 10px 0;
}
main .container .main-left .publish > div {
  margin-bottom: 10px;
}
main .container .main-left .publish > div a:nth-of-type(1) {
  padding: 12px 15px 12px 20px;
  background-color: #ff9900;
  font-size: 16px;
  display: inline-block;
  color: #fff;
  line-height: 16px;
  margin-right: 10px;
  text-align: center;
}
main .container .main-left .publish > div a:nth-of-type(2) {
  padding: 11px 33px 11px 33px;
  font-size: 16px;
  display: inline-block;
  color: #cccccc;
  border: 1px solid #cccccc;
  line-height: 16px;
  text-align: center;
  margin-left: 10px;
}
main .container .main-left .publish > div p {
  width: calc(100% - 230px);
  display: inline-block;
  border: 1px solid #cccccc;
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 13px;
  padding-right: 31px;
}
main .container .main-left .publish > div p input {
  font-size: 14px;
  color: #ccc;
  height: 100%;
  border: none;
  width: calc(100% - 44px);
}
main .container .main-left .publish > a {
  color: #ff9900;
  font-size: 14px;
  margin-right: 20px;
}
main .container .main-left .dynamic {
  background-color: #fff;
  margin-top: 10px;
  font-size: 14px;
  padding: 23px 8px 20px 0px;
  border-bottom: 1px solid #e6e6e6;
}
main .container .main-left .dynamic span {
  float: left;
  font-weight: 600;
}
main .container .main-left .dynamic p {
  float: right;
  color: #808080;
}
main .container .main-right {
  float: right;
  width: 33.33%;
  background-color: #fff;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
main .container .main-right .right-container {
  background-color: #f4f4f4;
}
main .container .main-right .userDetail {
  background-color: #fff;
  padding: 20px 15px 60px 22px;
}
main .container .main-right .userDetail .userHeader > div {
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #444;
}
main .container .main-right .userDetail .userHeader > a {
  float: right;
  width: 80px;
  height: 28px;
  border: 1px solid #ff9900;
  text-align: center;
  color: #ff9900;
  font-size: 14px;
  line-height: 30px;
  background-color: #fff;
  border-radius: 5px;
}
main .container .main-right .userDetail .companyLevel {
  margin-bottom: 10px;
}
main .container .main-right .userDetail .userPartIn > ul > li {
  float: left;
  font-size: 14px;
  color: #444;
  width: calc(25% - 1px);
  text-align: center;
  margin-bottom: 17px;
  border-right: 1px solid #ccc;
}
main .container .main-right .userDetail .userPartIn > ul > li:nth-child(4n) {
  border: none;
}
main .container .main-right .userDetail .userCall {
  margin-bottom: 18px;
}
main .container .main-right .userDetail .userCall img {
  float: left;
  margin-right: 10px;
}
main .container .main-right .userDetail .userCall > div {
  float: left;
}
main .container .main-right .userDetail .userCall > div p {
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
}
main .container .main-right .userDetail .userCall > div p:nth-of-type(2) {
  font-size: 18px;
  color: #444;
}
main .container .main-right .userDetail .userCall > a {
  float: right;
  width: 79px;
  height: 31px;
  font-size: 14px;
  color: #ff9900;
  line-height: 31px;
  text-align: center;
  border: 1px solid #ff9900;
  border-radius: 5px;
}
main .container .main-right .serves {
  padding: 16px 14px 14px 24px;
  background-color: #fff;
  margin-top: 10px;
}
main .container .main-right .serves .serveHead {
  margin-bottom: 22px;
}
main .container .main-right .serves .serveHead .titles {
  float: left;
  font-size: 18px;
  color: #444;
  font-weight: bold;
}
main .container .main-right .serves .serveHead a {
  float: right;
  padding: 9px 11px 10px 14px;
  border: 1px solid #ff9900;
  color: #ff9900;
}
main .container .main-right .serves .servePro ul li {
  float: left;
  width: 48.75%;
  height: 116px;
  font-size: 0;
  margin-bottom: 10px;
}
main .container .main-right .serves .servePro ul li:nth-child(2n-1) {
  margin-right: 2.5%;
}
main .container .main-right .serves .servePro ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  background-color: #eee;
}
main .container .main-right .serves .servePro ul li a p {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #ff9900;
  font-size: 14px;
}
main .container .main-right .highPraise {
  padding: 20px 15px 60px 22px;
  background-color: #fff;
  margin-top: 10px;
}
main .container .main-right .highPraise > ul > li .hightTit {
  border-bottom: 1px solid #ffdfb0;
  margin-bottom: 27px;
}
main .container .main-right .highPraise > ul > li .hightTit span {
  font-size: 20px;
  color: #444;
  display: inline-block;
  font-weight: bold;
  padding-bottom: 7px;
  border-bottom: 4px solid #ff9900;
}
main .container .main-right .highPraise > ul > li .hightItem {
  margin-bottom: 17px;
  font-size: 16px;
}
main .container .main-right .highPraise > ul > li .hightItem:hover a {
  color: #ff9900;
}
main .container .main-right .highPraise .hightImg img {
  margin-bottom: 25px;
}

.pageUi {
  text-align: center;
}
.pageUi .layui-laypage {
  position: relative;
  padding: 0 39px;
  margin: 39px 0 21px 0 !important;
}
.pageUi .layui-laypage a, .pageUi .layui-laypage span {
  border: 1px solid #b5b5d6 !important;
  width: 36px;
  height: 36px;
  padding: 0 !important;
  text-align: center;
  line-height: 36px;
  margin-right: 12px !important;
  border-radius: 5px;
  background-color: #f7f7fa !important;
}
.pageUi .layui-laypage .layui-laypage-first {
  position: absolute;
  border: none !important;
  left: 0;
  top: 1px;
  padding-right: 0;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-last {
  position: absolute;
  right: 1px;
  top: 1px;
  padding-left: 0;
  margin-right: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-spr {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-prev {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-next {
  border: none !important;
  background-color: transparent !important;
  -webkit-transform: translate(1px, 0);
      -ms-transform: translate(1px, 0);
          transform: translate(1px, 0);
}
.pageUi .layui-laypage .layui-laypage-curr {
  border: 1px solid #ff9900 !important;
}
.pageUi .layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #f7f7fa !important;
  position: relative !important;
  padding: 0 !important;
}
.pageUi .layui-laypage .layui-laypage-curr em {
  color: #ff9900 !important;
}

/* 有问必答列表 */
.requestList > ul > li.questItem {
  /* padding-bottom: 25px; */
}

.requestList > ul > li {
  padding-top: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}

.requestList > ul > li > a:hover .QuestionTit {
  color: #ff9900;
}

.requestList > ul > li.questItem .userQuestion > div {
  float: left;
}

.requestList > ul > li.questItem .userQuestion > div:nth-of-type(2) {
  float: right;
}

.requestList > ul > li.questItem .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  color: #444;
}

.requestList > ul > li.questItem .userQuestion .userInfo span {
  font-size: 14px;
  color: #444;
}

.requestList > ul > li.questItem .QuestionDetail > img {
  width: 120px;
  height: 60px;
  float: left;
}

.requestList > ul > li.questItem .QuestionDetail {
  margin-top: 23px;
  margin-bottom: 16px;
}

.requestList > ul > li.questItem .QuestionDetail p {
  font-size: 14px;
  color: #444;
  line-height: 24px;
}

.requestList > ul > li.questItem .QuestionDetail p.newDesc {
  width: calc(100% - 130px);
  float: right;
}

.requestList > ul > li.questItem .QuestionDetail p span {
  font-weight: bold;
}

.requestList > ul > li.questItem .commentList {
  -webkit-box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
          box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
}

.requestList > ul > li.questItem .commentList .commentNum {
  height: 51px;
  padding: 0 20px;
  line-height: 51px;
  border-bottom: 1px solid #f6f6f6;
  border-radius: 2px;
}

.requestList > ul > li.questItem .commentList > ul li {
  margin-bottom: 15px;
}

.requestList > ul > li.questItem .commentList .commentNum span {
  float: left;
  font-size: 15px;
  color: #121212;
  font-weight: 600;
}

.requestList > ul > li.questItem .commentList .commentNum a {
  float: right;
  font-size: 15px;
  color: #76839b;
}

.requestList > ul > li.questItem .commentList .excellent {
  height: 39px;
  line-height: 39px;
  padding: 0 20px;
  background-color: #f6f6f6;
  font-size: 14px;
  color: grey;
  font-weight: 600;
}

.requestList > ul > li.questItem .commentList > ul {
  padding: 0 20px;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.requestList > ul > li.questItem .commentList > ul > li .userHead > a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.requestList > ul > li.questItem .commentList > ul > li .userHead > a > span {
  margin: 0 8px;
}

.requestList > ul > li.questItem .commentList > ul > li .userHead a:nth-of-type(2) {
  margin: 0 8px;
  display: inline-block;
}

.requestList > ul > li.questItem .commentList > ul > li .descInfo {
  padding-left: 32px;
}

.requestList > ul > li.questItem .commentList > ul > li .descInfo .userDesc {
  color: #121215;
  line-height: 1.6;
}

.requestList > ul > li.questItem .commentList > ul > li .descInfo .showAll {
  padding: 12px 0 12px 32px;
  margin-top: 10px;
}

.requestList > ul > li.questItem .commentList > ul > li .commentHandle {
  margin-top: 10px;
}

.requestList > ul > li.questItem .commentList > ul > li .commentHandle a {
  margin-right: 20px;
}

.requestList > ul > li.questItem .commentList > ul > li .replayItem {
  margin-top: 20px;
}

/* .requestList>ul>li.questItem .timeAndZan .cancelfavor span{
    color: #ff9900;
}
.requestList>ul>li.questItem .timeAndZan .cancelfavor.downFavor span{
    color: #fff;
} */
/* 项目 */
.requestList > ul > li.projectItem {
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;
}
.requestList > ul > li.projectItem > a:hover .QuestionTit {
  color: #ff9900;
}
.requestList > ul > li.projectItem .userQuestion > div {
  float: left;
}
.requestList > ul > li.projectItem .userQuestion > div:nth-of-type(2) {
  float: right;
  width: 20%;
}
.requestList > ul > li.projectItem .userQuestion > div:nth-of-type(2) span {
  display: inline-block;
  max-width: calc(100% - 80px);
}
.requestList > ul > li.projectItem .userQuestion .QuestionTit {
  color: #444444;
  width: 75%;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 23px;
}
.requestList > ul > li.projectItem .userQuestion .userInfo span {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.projectItem .QuestionDetail .doubleHide {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.projectItem .infos {
  padding-top: 11px;
  margin-bottom: 15px;
}
.requestList > ul > li.projectItem .infos a {
  font-size: 14px;
  color: #ff9900;
  text-decoration: underline;
}

.requestList > ul > li.infos {
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;
}
.requestList > ul > li.infos > a:hover .QuestionTit {
  color: #ff9900;
}
.requestList > ul > li.infos .userQuestion > div {
  float: left;
}
.requestList > ul > li.infos .userQuestion > div:nth-of-type(2) {
  float: right;
}
.requestList > ul > li.infos .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  max-width: 75%;
  margin-bottom: 23px;
}
.requestList > ul > li.infos .userQuestion .userInfo {
  max-width: 25%;
}
.requestList > ul > li.infos .userQuestion .userInfo span {
  font-weight: bold;
  display: inline-block;
  width: calc(100% - 76px);
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.infos .userQuestion .userInfo img {
  vertical-align: baseline;
}
.requestList > ul > li.infos .QuestionDetail .doubleHide {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.infos .QuestionDetail .infos {
  padding-top: 11px;
  margin-bottom: 15px;
}
.requestList > ul > li.infos .QuestionDetail .infos a {
  font-size: 14px;
  color: #ff9900;
  text-decoration: underline;
}

.requestList > ul > li.technology {
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;
}
.requestList > ul > li.technology .userQuestion > div {
  float: left;
}
.requestList > ul > li.technology .userQuestion > div:nth-of-type(2) {
  float: right;
}
.requestList > ul > li.technology .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 23px;
  max-width: 75%;
}
.requestList > ul > li.technology .userQuestion .userInfo span {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.technology .QuestionDetail .doubleHide {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.technology .infos {
  padding-top: 11px;
}
.requestList > ul > li.technology .infos a {
  font-size: 14px;
  color: #ff9900;
  text-decoration: underline;
}