main .container {
  overflow: hidden;
}
main .container .main-left {
  float: left;
  width: calc(66.66% - 10px);
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
main .container .main-left .publish {
  padding: 14px 12px 12px 11px;
  background: #fff;
  margin: 10px 0;
}
main .container .main-left .publish a:nth-of-type(1) {
  padding: 12px 15px 12px 20px;
  background-color: #ff9900;
  font-size: 16px;
  display: inline-block;
  color: #fff;
  line-height: 16px;
  margin-right: 10px;
  text-align: center;
}
main .container .main-left .publish a:nth-of-type(2) {
  padding: 11px 33px 11px 33px;
  font-size: 16px;
  display: inline-block;
  color: #cccccc;
  border: 1px solid #cccccc;
  line-height: 16px;
  text-align: center;
  margin-left: 10px;
}
main .container .main-left .publish .searchInput {
  width: calc(100% - 230px);
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 41px;
  vertical-align: bottom;
  border: 1px solid #ccc;
  /* padding-left: 25px; */
  padding-right: 31px;
}
main .container .main-left .publish .searchInput input {
  border: none;
  font-size: 14px;
  position: relative;
  z-index: 9;
  margin-left: 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 0px solid #ccc;
  height: 100%;
  width: calc(100% - 75px);
}
main .container .main-left .main-container {
  background: #fff;
  padding: 28px 8px 0 15px;
  min-height: 1035px;
}
main .container .main-left .main-container ul li {
  float: left;
  width: 32.11%;
  padding: 14px 11px 11px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 8px #ccc;
          box-shadow: 0px 1px 8px #ccc;
  margin-right: 1.835%;
  margin-bottom: 10px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
main .container .main-left .main-container ul li:hover {
  -webkit-box-shadow: -1px 9px 37px #ccc;
          box-shadow: -1px 9px 37px #ccc;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
main .container .main-left .main-container ul li:nth-child(3n) {
  margin-right: 0;
}
main .container .main-left .main-container ul li > a {
  display: inline-block;
  width: 100%;
}
main .container .main-left .main-container ul li > a .markImg {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .container .main-left .main-container ul li > a > .contentBox {
  text-align: center;
  font-size: 14px;
  color: #444;
  margin-top: 11px;
  height: 38.4px;
  margin-bottom: 14px;
}
main .container .main-left .main-container ul li > a > .contentBox > p {
  display: inline-block;
  margin: auto;
  text-align: justify;
}
main .container .main-left .main-container ul li .shopInfo {
  font-size: 14px;
  color: #999999;
}
main .container .main-left .main-container ul li .shopInfo .mainInfo {
  color: #ff9900;
  max-width: 126px;
  display: inline-block;
  vertical-align: middle;
}
main .container .main-left .main-container ul li .shopInfo span {
  font-weight: bold;
  color: #444;
  vertical-align: bottom;
}
main .container .main-left .request_menu {
  width: 100%;
  height: 52px;
  line-height: 52px;
  background-color: #fff;
}
main .container .main-left .request_menu ul li {
  float: left;
  font-size: 15px;
  padding: 0 17px;
}
main .container .main-left .request_menu ul li.active a {
  color: #ff9900;
}
main .container .main-left .request_menu ul li:hover a {
  color: #ff9900;
}
main .container .main-left .request_menu ul li a.active {
  color: #ff9900;
}
main .container .main-right {
  float: right;
  width: 33.33%;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
main .container .main-right .right-container {
  background-color: #f4f4f4;
}
main .container .main-right .highPraise > ul > li {
  padding: 16px 15px 9px 22px;
  background-color: #fff;
  margin-bottom: 14px;
}
main .container .main-right .highPraise > ul > li .hightTit {
  border-bottom: 1px solid #ffdfb0;
  margin-bottom: 18px;
}
main .container .main-right .highPraise > ul > li .hightTit span:nth-of-type(1) {
  font-size: 20px;
  color: #444;
  display: inline-block;
  font-weight: bold;
  padding-bottom: 7px;
  margin-right: 10px;
  border-bottom: 4px solid #ff9900;
}
main .container .main-right .highPraise > ul > li .hightTit .linebar {
  width: calc(100% - 102px);
  display: inline-block;
  height: 4px;
  background: url("../images/line-bar.gif");
}
main .container .main-right .highPraise .hightImg img {
  margin-bottom: 25px;
}
main .container .main-right .highPraise .hightItem {
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 16px;
}
main .container .main-right .highPraise .hightItem a:hover {
  color: #ff9900;
}

.pageUi {
  text-align: center;
}
.pageUi .layui-laypage {
  position: relative;
  padding: 0 39px;
  margin: 39px 0 21px 0 !important;
}
.pageUi .layui-laypage a, .pageUi .layui-laypage span {
  border: 1px solid #b5b5d6 !important;
  width: 36px;
  height: 36px;
  padding: 0 !important;
  text-align: center;
  line-height: 36px;
  margin-right: 12px !important;
  border-radius: 5px;
  background-color: #f7f7fa !important;
}
.pageUi .layui-laypage .layui-laypage-first {
  position: absolute;
  border: none !important;
  left: 0;
  top: 1px;
  padding-right: 0;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-last {
  position: absolute;
  right: 1px;
  top: 1px;
  padding-left: 0;
  margin-right: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-spr {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-prev {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-next {
  border: none !important;
  background-color: transparent !important;
  -webkit-transform: translate(1px, 0);
      -ms-transform: translate(1px, 0);
          transform: translate(1px, 0);
}
.pageUi .layui-laypage span.layui-laypage-curr {
  border: 1px solid #ff9900 !important;
}
.pageUi .layui-laypage .layui-laypage-curr em {
  color: #ff9900 !important;
}
.pageUi .layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #f7f7fa !important;
  position: relative !important;
  padding: 0 !important;
}

.showhotList a:nth-of-type(1), .showproList a:nth-of-type(1) {
  max-width: 100px;
  display: inline-block;
  font-weight: bold;
  color: #444;
  vertical-align: bottom;
}

.layui-input-block {
  position: relative;
}

.word {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #aaa;
  font-size: 12px;
}

.layui-textarea {
  min-height: 60px !important;
}