@charset "UTF-8";
main .container {
  overflow: hidden;
}
main .container .main-left {
  float: left;
  width: calc(66.66% - 10px);
  padding-bottom: 9999px;
  margin-bottom: -9999px;
  background-color: #fff;
}
main .container .main-left .main-container {
  background: #fff;
  padding: 20px 8px 0 15px;
}
main .container .main-left .main-container .questDetail {
  padding-top: 28px;
  background-color: #fff;
  padding: 0 11px 20px 15px;
}
main .container .main-left .main-container .questDetail > img {
  width: 100%;
  margin-bottom: 10px;
}
main .container .main-left .main-container .questDetail .questTit p {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
main .container .main-left .main-container .questDetail .questTit > div span {
  font-size: 15px;
  font-weight: bold;
}
main .container .main-left .main-container .questDetail .questContent {
  margin-top: 22px;
  min-height: 100vh;
  font-size: 14px;
  color: #444;
}
main .container .main-left .main-container .questDetail .questHandle {
  margin-top: 10px;
}
main .container .main-left .main-container .questDetail .questHandle > div {
  float: right;
}
main .container .main-left .main-container .questDetail .questHandle > div > a {
  color: #ccc;
  font-size: 15px;
}
main .container .main-left .main-container .questDetail .questHandle > div a.unTaken:hover {
  color: #ff9900;
}
main .container .main-left .main-container .questDetail .questHandle > div a.unTaken:hover span {
  color: #ff9900;
}
main .container .main-left .main-container .questDetail .questHandle > div a.unTaken:hover i {
  color: #ff9900;
}
main .container .main-left .main-container .questDetail .questHandle > div a.isSelect {
  color: #ff9900;
}
main .container .main-left .main-container .questDetail .questHandle > div a.isSelect span {
  color: #ff9900;
}
main .container .main-left .main-container .questDetail .questHandle > div a.isSelect i {
  color: #ff9900;
}
main .container .main-left .main-container .questDetail .questHandle > div span {
  color: #ccc;
  font-size: 15px;
  cursor: pointer;
}
main .container .main-left .main-container .questDetail .questHandle > div span:nth-of-type(4) {
  margin-left: 16px;
  color: #999;
  font-size: 12px;
  cursor: none;
}
main .container .main-left .main-container .questDetail .questHandle > div i {
  color: #ccc;
  font-size: 15px;
}
main .container .main-left .main-container .questDetail .questHandle > div .creatTime {
  margin-left: 22px;
  color: #999999;
}
main .container .main-left .main-container .questDetail .answerPush {
  padding-bottom: 18px;
  padding-top: 36px;
}
main .container .main-left .main-container .questDetail .answerPush .searchBox {
  float: left;
  width: calc(100% - 108px);
  border: 1px solid #eeeeee;
  height: 120px;
  padding-left: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main .container .main-left .main-container .questDetail .answerPush .searchBox input {
  width: 100%;
  height: 100%;
  color: #999999;
  border: none;
}
main .container .main-left .main-container .questDetail .answerPush a {
  color: #ff9900;
  font-size: 16px;
  float: right;
  line-height: 15px;
  padding: 13px 32px 10px 32px;
  border: 1px solid #ff9900;
}
main .container .main-left .main-container .requestList {
  background-color: #fff;
  padding: 23px 11px 0 15px;
}
main .container .main-left .main-container .requestList .topTable {
  font-size: 14px;
  padding-bottom: 21px;
  border-bottom: 1px solid #e6e6e6;
}
main .container .main-left .main-container .requestList .topTable p:nth-of-type(1) {
  float: left;
}
main .container .main-left .main-container .requestList .topTable p:nth-of-type(2) {
  float: right;
}
main .container .main-left .main-container .requestList > ul > li {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}
main .container .main-left .main-container .requestList .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
}
main .container .main-left .main-container .requestList .userQuestion .QuestionTit span {
  font-size: 18px;
  color: #ff9900;
}
main .container .main-left .main-container .requestList .userQuestion .userInfo span {
  font-size: 14px;
  color: #444;
}
main .container .main-left .main-container .requestList .userQuestion .userInfo .headImgBox {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
main .container .main-left .main-container .requestList .userQuestion .userInfo .headImgBox img {
  width: 100%;
  height: 100%;
}
main .container .main-left .main-container .requestList .QuestionDetail {
  margin-top: 8px;
  margin-bottom: 15px;
}
main .container .main-left .main-container .requestList .QuestionDetail p {
  font-size: 14px;
  color: #444;
  float: right;
  line-height: 24px;
  width: calc(100% - 160px);
}
main .container .main-left .main-container .requestList .QuestionDetail img {
  width: 150px;
  height: 100px;
  float: left;
}
main .container .main-left .main-container .requestList .timeAndZan {
  font-size: 0;
}
main .container .main-left .main-container .requestList .timeAndZan a {
  font-size: 12px;
  color: #858585;
  border-radius: 5px;
  text-align: center;
  line-height: 24px;
  display: inline-block;
}
main .container .main-left .main-container .requestList .timeAndZan span {
  color: #ff9900;
  font-size: 12px;
  margin-right: 12px;
}
main .container .main-left .main-container .requestList .timeAndZan > i {
  color: #cccccc;
  margin-right: 10px;
}
main .container .main-left .main-container .requestList .timeAndZan .favor {
  padding: 7px 9px 5px 10px;
  line-height: 12px;
  font-size: 12px;
  color: #ff9900;
  border: 1px solid #ff9900;
}
main .container .main-left .main-container .requestList .timeAndZan .favor.upFavor {
  background-color: #ff9900;
  color: #fff;
}
main .container .main-left .main-container .requestList .timeAndZan .favor.upFavor span {
  color: #fff;
}
main .container .main-left .main-container .requestList .timeAndZan .cancelfavor {
  width: 24px;
  height: 24px;
  color: #ff9900;
  margin-left: 5px;
  border: 1px solid #ff9900;
  margin-right: 16px;
}
main .container .main-left .main-container .requestList .timeAndZan .cancelfavor.downFavor {
  background-color: #ff9900;
  color: #fff;
}
main .container .main-left .main-container .requestList .timeAndZan .commentIcon span {
  color: #999999;
}
main .container .main-left .main-container .requestList .timeAndZan .commentIcon i {
  color: #ccc;
}
main .container .main-left .request_menu {
  width: 100%;
  line-height: 52px;
  background-color: #fff;
}
main .container .main-left .request_menu ul {
  float: none;
}
main .container .main-left .request_menu ul li {
  float: left;
  font-size: 15px;
  padding: 0 17px;
}
main .container .main-left .request_menu ul li.active a {
  color: #ff9900;
}
main .container .main-left .request_menu ul li a.active {
  color: #ff9900;
}
main .container .main-left .request_menu ul li:hover a {
  color: #ff9900;
}
main .container .main-left .publishBox {
  padding: 10px 0;
  background-color: #f4f4f4;
}
main .container .main-left .publish {
  padding: 14px 12px 12px 11px;
  background: #fff;
}
main .container .main-left .publish a:nth-of-type(1) {
  padding: 12px 15px 12px 20px;
  background-color: #ff9900;
  font-size: 16px;
  display: inline-block;
  color: #fff;
  line-height: 16px;
  margin-right: 10px;
  text-align: center;
}
main .container .main-left .publish a:nth-of-type(2) {
  padding: 11px 33px 11px 33px;
  font-size: 16px;
  display: inline-block;
  color: #cccccc;
  border: 1px solid #cccccc;
  line-height: 16px;
  text-align: center;
  margin-left: 10px;
}
main .container .main-left .publish .searchInput {
  width: calc(100% - 230px);
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 41px;
  vertical-align: bottom;
  border: 1px solid #ccc;
  /* padding-left: 25px; */
  padding-right: 31px;
}
main .container .main-left .publish .searchInput input {
  border: none;
  font-size: 14px;
  position: relative;
  z-index: 9;
  margin-left: 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 0px solid #ccc;
  height: 100%;
  width: calc(100% - 75px);
}
main .container .main-left .dynamic {
  background-color: #fff;
  margin-top: 10px;
  font-size: 14px;
  padding: 23px 8px 20px 0px;
  border-bottom: 1px solid #e6e6e6;
}
main .container .main-left .dynamic span {
  float: left;
  font-weight: 600;
}
main .container .main-left .dynamic p {
  float: right;
  color: #808080;
}
main .container .main-right {
  float: right;
  width: 33.33%;
  background-color: #fff;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
main .container .main-right .right-container {
  background-color: #f4f4f4;
}
main .container .main-right .userDetail {
  background-color: #fff;
  padding: 20px 15px 60px 22px;
}
main .container .main-right .userDetail .userHeader > div {
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #444;
}
main .container .main-right .userDetail .userHeader > a {
  float: right;
  width: 80px;
  height: 28px;
  border: 1px solid #ff9900;
  text-align: center;
  color: #ff9900;
  font-size: 14px;
  line-height: 30px;
  background-color: #fff;
  border-radius: 5px;
}
main .container .main-right .userDetail .companyLevel {
  margin-bottom: 10px;
}
main .container .main-right .userDetail .userPartIn > ul > li {
  float: left;
  font-size: 14px;
  color: #444;
  width: calc(25% - 1px);
  text-align: center;
  margin-bottom: 17px;
  border-right: 1px solid #ccc;
}
main .container .main-right .userDetail .userPartIn > ul > li:nth-child(4n) {
  border: none;
}
main .container .main-right .userDetail .userCall {
  margin-bottom: 18px;
}
main .container .main-right .userDetail .userCall img {
  float: left;
  margin-right: 10px;
}
main .container .main-right .userDetail .userCall > div {
  float: left;
}
main .container .main-right .userDetail .userCall > div:nth-of-type(2) {
  width: calc(100% - 81px);
}
main .container .main-right .userDetail .userCall > div p {
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
}
main .container .main-right .userDetail .userCall > div p:nth-of-type(2) {
  font-size: 18px;
  color: #444;
}
main .container .main-right .userDetail .userCall > div p:nth-of-type(1) {
  height: 19px;
}
main .container .main-right .userDetail .userCall > div p.clearfix span {
  float: left;
}
main .container .main-right .userDetail .userCall > div p.clearfix a {
  float: right;
  width: 79px;
  height: 31px;
  font-size: 14px;
  color: #ff9900;
  line-height: 31px;
  text-align: center;
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%);
  border: 1px solid #ff9900;
  border-radius: 5px;
}
main .container .main-right .userDetail .userCall > a {
  float: right;
  width: 79px;
  height: 31px;
  font-size: 14px;
  color: #ff9900;
  line-height: 31px;
  text-align: center;
  border: 1px solid #ff9900;
  border-radius: 5px;
}
main .container .main-right .serves {
  padding: 16px 14px 14px 24px;
  background-color: #fff;
  margin-top: 10px;
}
main .container .main-right .serves .serveHead {
  margin-bottom: 22px;
}
main .container .main-right .serves .serveHead .titles {
  float: left;
  font-size: 18px;
  color: #444;
  font-weight: bold;
}
main .container .main-right .serves .serveHead a {
  float: right;
  padding: 9px 11px 10px 14px;
  border: 1px solid #ff9900;
  color: #ff9900;
}
main .container .main-right .serves .serveHead .hasEditPro {
  padding: 8px 11px 8px 14px;
  margin-right: 5px;
}
main .container .main-right .serves .servePro ul li {
  float: left;
  width: 48.75%;
  height: 116px;
  font-size: 0;
  margin-bottom: 24px;
}
main .container .main-right .serves .servePro ul li:nth-child(2n-1) {
  margin-right: 2.5%;
}
main .container .main-right .serves .servePro ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
main .container .main-right .serves .servePro ul li p {
  width: 100%;
  margin-top: 8px;
  text-align: center;
  color: #ff9900;
  font-size: 14px;
}
main .container .main-right .highPraise {
  padding: 20px 15px 10px 22px;
  background-color: #fff;
  margin-top: 10px;
}
main .container .main-right .highPraise > ul > li .hightTit {
  border-bottom: 1px solid #ffdfb0;
  margin-bottom: 18px;
}
main .container .main-right .highPraise > ul > li .hightTit span {
  font-size: 20px;
  color: #444;
  display: inline-block;
  font-weight: bold;
  padding-bottom: 7px;
  border-bottom: 4px solid #ff9900;
}
main .container .main-right .highPraise > ul > li .hightItem {
  margin-bottom: 17px;
  font-size: 16px;
}
main .container .main-right .highPraise > ul > li .hightItem:hover a {
  color: #ff9900;
}
main .container .main-right .highPraise .hightImg img {
  margin-bottom: 25px;
}

.pageUi {
  text-align: center;
}
.pageUi .layui-laypage {
  position: relative;
  padding: 0 39px;
  margin: 39px 0 21px 0 !important;
}
.pageUi .layui-laypage a, .pageUi .layui-laypage span {
  border: 1px solid #b5b5d6 !important;
  width: 36px;
  height: 36px;
  padding: 0 !important;
  text-align: center;
  line-height: 36px;
  margin-right: 12px !important;
  border-radius: 5px;
  background-color: #f7f7fa !important;
}
.pageUi .layui-laypage .layui-laypage-first {
  position: absolute;
  border: none !important;
  left: 0;
  top: 1px;
  padding-right: 0;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-last {
  position: absolute;
  right: 1px;
  top: 1px;
  padding-left: 0;
  margin-right: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-spr {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-prev {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-next {
  border: none !important;
  background-color: transparent !important;
  -webkit-transform: translate(1px, 0);
      -ms-transform: translate(1px, 0);
          transform: translate(1px, 0);
}
.pageUi .layui-laypage .layui-laypage-curr {
  border: 1px solid #ff9900 !important;
}
.pageUi .layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #f7f7fa !important;
  position: relative !important;
  padding: 0 !important;
}
.pageUi .layui-laypage .layui-laypage-curr em {
  color: #ff9900 !important;
}

.bindTip {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(18, 18, 18, 0.65);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bindTip .tipbox {
  width: 560px;
  background-color: #fff;
  padding: 19px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(100% - 100px);
}
.bindTip .tipbox > ul {
  height: calc(100% - 87px);
  overflow: hidden;
  overflow-y: scroll;
}
.bindTip .tipbox .toptips > div span {
  float: left;
}
.bindTip .tipbox .toptips > div a {
  float: right;
}
.bindTip .tipbox .toptips span {
  font-size: 18px;
  font-weight: 600;
  float: left;
}
.bindTip .tipbox .toptips .tipInput {
  float: right;
  width: 267px;
  padding-left: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 33px;
  border: 1px solid #cccccc;
}
.bindTip .tipbox .toptips .tipInput input {
  width: calc(100% - 37px);
  border: none;
  height: 100%;
}
.bindTip .tipbox .toptips .tipInput i {
  font-size: 22px;
  vertical-align: middle;
  color: #ccc;
  cursor: pointer;
}
.bindTip .tipbox ul {
  margin-top: 27px;
}
.bindTip .tipbox ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.bindTip .tipbox ul li div > img {
  width: 50px;
  height: 50px;
  margin-right: 14px;
  float: left;
}
.bindTip .tipbox ul li div > div {
  float: left;
}
.bindTip .tipbox ul li div > div .userName {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 8px;
}
.bindTip .tipbox ul li div > div .companyName img {
  width: 20px;
  height: 18px;
  margin-right: 4px;
}
.bindTip .tipbox ul li div > div .companyName span {
  font-size: 14px;
  color: #808080;
}
.bindTip .tipbox ul li a {
  font-size: 14px;
  color: #ccc;
  padding: 10px 25px 11px 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
}

/* 有问必答列表 */
.requestList > ul {
  min-height: 1030px;
}

.requestList > ul > li.questItem {
  /* padding-bottom: 25px; */
}

.requestList > ul > li {
  padding-top: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}

.requestList > ul > li > a:hover .QuestionTit {
  color: #ff9900;
}

.requestList > ul > li.questItem .userQuestion > div {
  float: left;
}

.requestList > ul > li.questItem .userQuestion > div:nth-of-type(2) {
  float: right;
}

.requestList > ul > li.questItem .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  color: #444;
}

.requestList > ul > li.questItem .userQuestion .userInfo span {
  font-size: 14px;
  color: #444;
}

.requestList > ul > li.questItem .QuestionDetail > img {
  width: 120px;
  height: 60px;
  float: left;
}

.requestList > ul > li.questItem .QuestionDetail {
  margin-top: 23px;
  margin-bottom: 16px;
}

.requestList > ul > li.questItem .QuestionDetail p {
  font-size: 14px;
  color: #444;
  line-height: 24px;
}

.requestList > ul > li.questItem .QuestionDetail p.newDesc {
  width: calc(100% - 130px);
  float: right;
}

.requestList > ul > li.questItem .QuestionDetail p span {
  font-weight: bold;
}

.requestList > ul > li.questItem .commentList {
  -webkit-box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
          box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
}

.requestList > ul > li.questItem .commentList .commentNum {
  height: 51px;
  padding: 0 20px;
  line-height: 51px;
  border-bottom: 1px solid #f6f6f6;
  border-radius: 2px;
}

.requestList > ul > li.questItem .commentList > ul li {
  margin-bottom: 15px;
}

.requestList > ul > li.questItem .commentList .commentNum span {
  float: left;
  font-size: 15px;
  color: #121212;
  font-weight: 600;
}

.requestList > ul > li.questItem .commentList .commentNum a {
  float: right;
  font-size: 15px;
  color: #76839b;
}

.requestList > ul > li.questItem .commentList .excellent {
  height: 39px;
  line-height: 39px;
  padding: 0 20px;
  background-color: #f6f6f6;
  font-size: 14px;
  color: grey;
  font-weight: 600;
}

.requestList > ul > li.questItem .commentList > ul {
  padding: 0 20px;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.requestList > ul > li.questItem .commentList > ul > li .userHead > a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.requestList > ul > li.questItem .commentList > ul > li .userHead > a > span {
  margin: 0 8px;
}

.requestList > ul > li.questItem .commentList > ul > li .userHead a:nth-of-type(2) {
  margin: 0 8px;
  display: inline-block;
}

.requestList > ul > li.questItem .commentList > ul > li .descInfo {
  padding-left: 32px;
}

.requestList > ul > li.questItem .commentList > ul > li .descInfo .userDesc {
  color: #121215;
  line-height: 1.6;
}

.requestList > ul > li.questItem .commentList > ul > li .descInfo .showAll {
  padding: 12px 0 12px 32px;
  margin-top: 10px;
}

.requestList > ul > li.questItem .commentList > ul > li .commentHandle {
  margin-top: 10px;
}

.requestList > ul > li.questItem .commentList > ul > li .commentHandle a {
  margin-right: 20px;
}

.requestList > ul > li.questItem .commentList > ul > li .replayItem {
  margin-top: 20px;
}

/* .requestList>ul>li.questItem .timeAndZan .cancelfavor span{
    color: #ff9900;
}
.requestList>ul>li.questItem .timeAndZan .cancelfavor.downFavor span{
    color: #fff;
} */
/* 项目 */
.requestList > ul > li.projectItem {
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;
}
.requestList > ul > li.projectItem > a:hover .QuestionTit {
  color: #ff9900;
}
.requestList > ul > li.projectItem .userQuestion > div {
  float: left;
}
.requestList > ul > li.projectItem .userQuestion > div:nth-of-type(2) {
  float: right;
  width: 20%;
}
.requestList > ul > li.projectItem .userQuestion > div:nth-of-type(2) span {
  display: inline-block;
  max-width: calc(100% - 80px);
}
.requestList > ul > li.projectItem .userQuestion .QuestionTit {
  color: #444444;
  width: 75%;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 23px;
}
.requestList > ul > li.projectItem .userQuestion .userInfo span {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.projectItem .QuestionDetail .doubleHide {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.projectItem .infos {
  padding-top: 11px;
  margin-bottom: 15px;
}
.requestList > ul > li.projectItem .infos a {
  font-size: 14px;
  color: #ff9900;
  text-decoration: underline;
}

.requestList > ul > li.infos {
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;
}
.requestList > ul > li.infos > a:hover .QuestionTit {
  color: #ff9900;
}
.requestList > ul > li.infos .userQuestion > div {
  float: left;
}
.requestList > ul > li.infos .userQuestion > div:nth-of-type(2) {
  float: right;
}
.requestList > ul > li.infos .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  max-width: 75%;
  margin-bottom: 23px;
}
.requestList > ul > li.infos .userQuestion .userInfo {
  max-width: 25%;
}
.requestList > ul > li.infos .userQuestion .userInfo span {
  font-weight: bold;
  display: inline-block;
  width: calc(100% - 76px);
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.infos .userQuestion .userInfo img {
  vertical-align: baseline;
}
.requestList > ul > li.infos .QuestionDetail .doubleHide {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.infos .QuestionDetail .infos {
  padding-top: 11px;
  margin-bottom: 15px;
}
.requestList > ul > li.infos .QuestionDetail .infos a {
  font-size: 14px;
  color: #ff9900;
  text-decoration: underline;
}

.requestList > ul > li.technology {
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;
}
.requestList > ul > li.technology .userQuestion > div {
  float: left;
}
.requestList > ul > li.technology .userQuestion > div:nth-of-type(2) {
  float: right;
}
.requestList > ul > li.technology .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 23px;
  max-width: 75%;
}
.requestList > ul > li.technology .userQuestion .userInfo span {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.technology .QuestionDetail .doubleHide {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.technology .infos {
  padding-top: 11px;
}
.requestList > ul > li.technology .infos a {
  font-size: 14px;
  color: #ff9900;
  text-decoration: underline;
}

/* 商家 */
.requestList > ul li.projectList {
  float: left;
  width: 32.11%;
  padding: 14px 11px 11px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 8px #ccc;
          box-shadow: 0px 1px 8px #ccc;
  margin-right: 1.835%;
  margin-top: 10px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.requestList > ul li.projectList:hover {
  -webkit-box-shadow: -1px 9px 37px #ccc;
          box-shadow: -1px 9px 37px #ccc;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
.requestList > ul li.projectList:nth-child(3n) {
  margin-right: 0;
}
.requestList > ul li.projectList > a {
  display: inline-block;
  width: 100%;
}
.requestList > ul li.projectList > a img {
  width: 100%;
  height: 201px;
  border-radius: 3px;
  overflow: hidden;
}
.requestList > ul li.projectList > a > .singleHide {
  font-size: 14px;
  color: #444;
  font-weight: bold;
  margin-top: 11px;
  margin-bottom: 14px;
}
.requestList > ul li.projectList .shopInfo {
  font-size: 14px;
  color: #999999;
}
.requestList > ul li.projectList .shopInfo .mainInfo {
  color: #ff9900;
}
.requestList > ul li.projectList .shopInfo .singleHide {
  display: inline-block;
  width: calc(100% - 100px);
  vertical-align: bottom;
}

.hasTurn {
  position: relative;
}

.hasTurn:hover .shareBox {
  display: inline-block;
}

.shareBox {
  position: absolute;
  right: 17px;
  top: 17px;
  background-color: #fff;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  width: 168px;
  display: none;
}

.layui-input-block {
  position: relative;
}

.word {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #aaa;
  font-size: 12px;
}

.layui-textarea {
  min-height: 60px !important;
}

.editTable {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgba(18, 18, 18, 0.65);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.editTable .tableBox {
  width: 836px;
  padding: 20px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #fff;
  height: calc(100% - 60px);
}
.editTable .tiptitle span {
  font-size: 18px;
  color: #444;
  font-weight: 600;
  float: left;
}
.editTable .tiptitle a {
  float: right;
}

.layui-table-view .layui-table {
  width: 100% !important;
}
.layui-table-view .layui-table th, .layui-table-view .layui-table td {
  width: 40%;
}
.layui-table-view .layui-table .layui-table-col-special {
  width: 10%;
}

.editSoft {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgba(18, 18, 18, 0.65);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.editSoft .editSoftBox {
  width: 836px;
  padding: 20px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #fff;
  height: calc(100% - 60px);
}
.editSoft .editSoftBox .smallType .layui-unselect.layui-form-select {
  width: calc(100% - 80px);
  display: inline-block;
}
.editSoft .editSoftBox .formbox {
  height: calc(100% - 24px);
  overflow: hidden;
  overflow-y: scroll;
}
.editSoft .editSoftBox .addOrdel {
  height: calc(100% - 24px);
  overflow: hidden;
  overflow-y: scroll;
}
.editSoft .editSoftBox .tiptitle span {
  font-size: 18px;
  color: #444;
  font-weight: 600;
  float: left;
}
.editSoft .editSoftBox .tiptitle a {
  float: right;
}
.editSoft .editSoftBox form {
  width: 650px;
  margin: 0 auto;
}
.editSoft .editSoftBox form .imgUpload .layui-upload-drag {
  width: 100%;
  min-height: 145px;
  padding: 0 !important;
}
.editSoft .editSoftBox form .imgUpload .layui-upload-drag p {
  line-height: 145px;
}
.editSoft .editSoftBox form .imgUpload .layui-upload-drag .layui-hide {
  width: 100%;
  height: 100%;
}
.editSoft .editSoftBox form .imgUpload .layui-upload-drag .layui-hide img {
  width: 100%;
  height: 100%;
}