main .container{
    overflow: hidden;
    .main-left{
        float: left;
        width: calc(66.66% - 10px);
        padding-bottom: 9999px;margin-bottom: -9999px;
        .publish{
            padding: 14px 12px 12px 11px;
            background: #fff;
            margin: 10px 0;
            a{
                &:nth-of-type(1){
                    padding: 12px 15px 12px 20px;
                    background-color: #ff9900;
                    font-size: 16px;
                    display: inline-block;
                    color: #fff;
                    line-height:16px;
                    margin-right: 10px;
                    text-align: center;
                }
                &:nth-of-type(2){
                    padding: 11px 33px 11px 33px;
                    font-size: 16px;
                    display: inline-block;
                    color: #cccccc;
                    border:1px solid #cccccc;
                    line-height:16px;
                    text-align: center;
                    margin-left: 10px;
                }
            }
            .searchInput{
                width: calc(100% - 230px);
                display: inline-block;
                position: relative;
                box-sizing: border-box;
                height: 41px;
                vertical-align: bottom;
                border: 1px solid #ccc;
                /* padding-left: 25px; */
                padding-right: 31px;
                input{
                    border: none;
                    font-size: 14px;
                    position: relative;
                    z-index: 9;
                    padding-left: 25px;
                    box-sizing: border-box;
                    border-right: 1px solid #ccc;
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .main-container{
            background: #fff;
            padding: 28px 8px 0 15px;
            ul{
                li{
                    float: left;
                    width: 32.11%;
                    padding: 14px 11px 11px 12px;
                    box-sizing: border-box;
                    box-shadow: 0px 1px 8px #ccc;
                    margin-right: 1.835%;
                    margin-bottom: 10px;
                    transition: all 1s;
                    &:hover{
                        box-shadow: -1px 9px 37px #ccc;
                        transform: translateY(-10px);
                    }
                    &:nth-child(3n){
                        margin-right: 0;
                    }
                    &>a{
                        display: inline-block;
                        width: 100%;
                        img{
                            width: 100%;
                            height: 201px;
                            border-radius: 3px;
                            overflow: hidden;
                        }
                        &>.singleHide{
                            font-size: 14px;
                            color: #444;
                            font-weight: bold;
                            margin-top: 11px;
                            margin-bottom: 14px;
                        }
                    }
                    .shopInfo{
                        font-size: 14px;
                        color: #999999;
                        .mainInfo{
                            color: #ff9900;
                        }
                        .singleHide{
                            display: inline-block;
                            width: calc(100% - 100px);
                            vertical-align: bottom;
                        }
                    }
                }
            }
        }
        .request_menu{
            width: 100%;
            height: 52px;
            line-height: 52px;
            background-color: #fff;
            ul li{
                float: left;
                font-size: 15px;
                padding: 0 17px;
                &.active a{
                    color: #ff9900;
                }
                &:hover a{
                    color: #ff9900;
                }
                a.active{
                    color: #ff9900;
                }
            }
        }
    }
    .main-right{
        float: right;
        width: 33.33%;
        background-color: #fff;
        padding-bottom: 9999px;
        margin-bottom: -9999px;
        .right-container{
            background-color: #f4f4f4;
        }
        .userDetail{
            background-color: #fff;
            padding: 20px 15px 60px 22px;
            .userHeader{
                margin-bottom: 10px;
                // &>img{
                //     float: left;
                //     margin-right: 10px;
                // }
                &>div{
                    float: left;
                    font-size: 18px;
                    font-weight: bold;
                    color: #444;
                    // p{
                    //     &:nth-of-type(1){
                    //         font-size: 18px;
                    //         font-weight: bold;
                    //         color: #444;
                    //     }
                        // &:nth-of-type(2){
                        //     font-size: 14px;
                        //     color: #808080;
                        //     margin-top: 12px;
                        //     margin-bottom: 13px;
                        //     img{
                        //         vertical-align: middle;
                        //     }
                        // }
                    // }
                }
                &>a{
                    float: right;
                    width: 80px;
                    height: 28px;
                    text-align: center;
                    border: 1px solid #ff9900;
                    color: #ff9900;
                    font-size: 14px;
                    line-height: 30px;
                    background-color: #fff;
                    border-radius: 5px;
                }
            }
            .userPartIn{
                &>ul{
                    &>li{
                        float: left;
                        font-size: 14px;
                        color: #444;
                        width: calc(25% - 1px);
                        text-align: center;
                        margin-bottom: 17px;
                        border-right: 1px solid #ccc;
                        &:nth-child(4n){
                            border: none;
                        }
                    }
                }
            }
            .userCall {
                margin-bottom: 18px;
                img{
                    float: left;
                    margin-right: 10px;
                }
                &>div{
                    float: left;
                    p{
                        font-size: 14px;
                        color: #444;
                        margin-bottom: 10px;
                        &:nth-of-type(2){
                            font-size: 18px;
                            color: #444;
                        }
                    }
                }
                &>a{
                    float: right;
                    width: 79px;
                    height: 31px;
                    font-size: 14px;
                    color: #ff9900;
                    line-height: 31px;
                    text-align: center;
                    border: 1px solid #ff9900;
                    border-radius: 5px;
                }
            }
        }
        .serves{
            padding: 16px 14px 14px 24px;
            background-color: #fff;
            margin-top: 10px;
            .serveHead{
                margin-bottom: 22px;
                .titles{
                    float: left;
                    font-size: 18px;
                    color: #444;
                    font-weight: bold;
                }
                a{
                    float: right;
                    padding: 9px 11px 10px 14px;
                    border: 1px solid #ff9900;
                    color: #ff9900;
                }
            }
            .servePro{
                ul{
                    li{
                        float: left;
                        width: 48.75%;
                        height: 116px;
                        font-size: 0;
                        margin-bottom: 10px;
                        &:nth-child(2n-1){
                            margin-right: 2.5%;
                        }
                        a{
                            width: 100%;
                            height: 100%;
                            display: inline-block;
                            position: relative;
                            background-color: #eee;
                            p{
                                position: absolute;
                                bottom: 10px;
                                left: 0;
                                width: 100%;
                                text-align: center;
                                color: #ff9900;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        .highPraise{
            padding: 20px 15px 60px 22px;
            background-color: #fff;
            margin-top: 10px;
            &>ul{
                &>li {
                    .hightTit{
                        border-bottom: 1px solid #ffdfb0;
                        margin-bottom: 27px;
                        span{
                            font-size: 20px;
                            color: #444;
                            display: inline-block;
                            font-weight: bold;
                            padding-bottom: 7px;
                            border-bottom: 4px solid #ff9900;
                        }
                    }
                    .hightItem{
                        margin-bottom: 17px;
                        font-size: 16px;
                        &:hover a{
                            color: #ff9900;
                        }
                    }
                }
            }
            .hightImg {
                img{
                    margin-bottom: 25px;
                }
            }
        }
    }
}
.pageUi{
    text-align: center;
    .layui-laypage {
        position: relative;
        padding:0 39px;
        margin: 39px 0 21px 0!important;
        a, span{
            border: 1px solid #b5b5d6!important;
            width: 36px;
            height: 36px;
            padding: 0!important;
            text-align: center;
            line-height: 36px;
            margin-right: 12px!important;
            border-radius: 5px;
            background-color: #f7f7fa!important;
        }
        .layui-laypage-first{
            position: absolute;
            border: none!important;
            left: 0;
            top: 1px;
            padding-right: 0;
            background-color: transparent!important;
        }
        .layui-laypage-last{
            position: absolute;
            right: 1px;
            top: 1px;
            padding-left: 0;
            margin-right: 0!important;
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-spr{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-prev{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-next{
            border: none!important;
            background-color: transparent!important;
            transform: translate(1px,0);
        }
        span.layui-laypage-curr{
            border: 1px solid #ff9900!important;
        }
        .layui-laypage-curr{
            em{
                color: #ff9900!important;
            }
            .layui-laypage-em{
                background-color:#f7f7fa!important;
                position: relative!important;
                padding: 0!important;
            }
        }
    }
}
