main .container{
    overflow: hidden;
    .main-left{
        float: left;
        width: calc(66.66% - 10px);
        padding-bottom: 9999px;margin-bottom: -9999px;
        .main-container{
            background: #fff;
            padding: 20px 8px 0 15px;
            .questDetail{
                padding-top: 28px;
                background-color: #fff;
                padding: 0 11px 20px 15px;
                &>img{
                    width: 100%;
                    margin-bottom: 10px;
                }
                .questTit{
                    display: flex;
                    justify-content: space-between;
                    p{
                        font-size: 22px;
                        font-weight: bold;
                    }
                    &>div{
                        span{
                            font-size: 15px;
                            font-weight: bold;
                        }
                    }
                }
                .questContent{
                    margin-top: 22px;
                    // margin-bottom: 14px;
                    min-height: 1300px;
                    font-size: 14px;
                    color: #444;
                }
                .questHandle{
                    margin-top: 10px;
                    div{
                        float: left;
                    }
                    p{
                        float: right;
                        span{
                            color: #ff9900;
                            font-size: 15px;
                            cursor: pointer; 
                            &:nth-of-type(4){
                                margin-left: 16px;
                                color: #999;
                                font-size: 12px;
                                cursor: none;
                            }
                        }
                        i{
                            color: #ff9900;
                            font-size: 15px; 
                        }
                    }
                }
                .answerPush{
                    padding-bottom: 18px;
                    padding-top: 36px;
                    .searchBox{
                        float: left;
                        width: calc(100% - 108px);
                        border: 1px solid #eeeeee;
                        height: 120px;
                        padding-left: 19px;
                        box-sizing: border-box;
                        input{
                            width: 100%;
                            height: 100%;
                            color: #999999;
                            border: none;
                        }
                    }
                    a{
                        color: #ff9900;
                        font-size: 16px;
                        float: right;
                        line-height: 15px;
                        padding: 13px 32px 10px 32px;
                        border: 1px solid #ff9900;
                    }
                }
            }
            .requestList{
                background-color: #fff;
                padding: 23px 11px 0 15px;
                .topTable{
                    font-size: 14px;
                    padding-bottom: 21px;
                    border-bottom: 1px solid #e6e6e6;
                    p{
                       &:nth-of-type(1){
                            float: left;
                       } 
                       &:nth-of-type(2){
                        float: right;
                   } 
                    }
                }
                &>ul{
                    &>li{
                        padding-top: 20px;
                        padding-bottom: 15px;
                        border-bottom: 1px solid #e6e6e6;
                    }
                }
                .userQuestion{
                  .QuestionTit{
                    color: #444444;
                    font-weight: bold;
                    span{
                        font-size: 18px;
                        color: #ff9900;
                    }
                  }
                  .userInfo{
                      span{
                        font-size: 14px;
                        color: #444;
                      }
                      .headImgBox{
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        margin-right: 6px;
                        display: inline-block;
                        vertical-align: middle;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                      }
                  }  
                }
                .QuestionDetail{
                    margin-top: 8px;
                    margin-bottom: 15px;
                    p{
                        font-size: 14px;
                        color: #444;
                        float: right;
                        line-height: 24px;
                        width: calc(100% - 160px);
                    }
                    img{
                        width: 150px;
                        height: 100px;
                        float: left;
                    }
                }
                .timeAndZan{
                    font-size: 0;
                    a{
                        font-size: 12px;
                        color: #858585;
                        border-radius: 5px;
                        text-align: center;
                        line-height: 24px;
                        display: inline-block;
                    }
                    span{
                        color: #ff9900;
                        font-size: 12px;
                        margin-right: 12px;
                    }
                    &>i{
                        color: #cccccc;
                        margin-right: 10px;
                    }
                    .favor{
                        padding: 7px 9px 5px 10px;
                        line-height: 12px;
                        font-size: 12px;
                        color: #ff9900;
                        border: 1px solid #ff9900;
                        &.upFavor{
                            background-color: #ff9900;
                            color: #fff;
                            span{
                                color: #fff; 
                            }
                        }
                    }
                    .cancelfavor{
                        width: 24px;
                        height: 24px;
                        color: #ff9900;
                        margin-left: 5px;
                        border: 1px solid #ff9900;
                        margin-right: 16px;
                        &.downFavor{
                            background-color: #ff9900;
                            color: #fff;
                        }
                    }
                    .commentIcon{
                        span{
                            color: #999999;
                        }
                        i{
                            color: #ccc; 
                        }
                    }
                }
            }
        }
        .request_menu{
            width: 100%;
            height: 52px;
            line-height: 52px;
            background-color: #fff;
            ul{
                li{
                    float: left;
                    font-size: 15px;
                    padding: 0 17px;
                    a{
                        &.active{
                            color: #ff9900;
                        }
                    }
                    &:hover a{
                        color: #ff9900;
                    }
                }
            }
        }
        .publish{
            padding: 14px 12px 12px 11px;
            background: #fff;
            margin: 10px 0;
            a{
                &:nth-of-type(1){
                    padding: 12px 15px 12px 20px;
                    background-color: #ff9900;
                    font-size: 16px;
                    display: inline-block;
                    color: #fff;
                    line-height:16px;
                    margin-right: 10px;
                    text-align: center;
                }
                &:nth-of-type(2){
                    padding: 11px 33px 11px 33px;
                    font-size: 16px;
                    display: inline-block;
                    color: #cccccc;
                    border:1px solid #cccccc;
                    line-height:16px;
                    text-align: center;
                    margin-left: 10px;
                }
            }
            p{
                width: calc(100% - 230px);
                display: inline-block;
                border:1px solid #cccccc;
                height: 38px;
                box-sizing: border-box;
                padding-left: 13px;
                padding-right: 31px;
                input{
                    font-size: 14px;
                    color: #ccc;
                    height: 100%;
                    border: none;
                    width: calc(100% - 44px);
                }
            }
        }
        .dynamic{
            background-color: #fff;
            margin-top: 10px;
            font-size: 14px;
            padding: 23px 8px 20px 0px;
            border-bottom: 1px solid #e6e6e6;
            span{
                float: left;
                font-weight: 600;
            }
            p{
                float: right;
                color: #808080;
            }
        }
    }
    .main-right{
        float: right;
        width: 33.33%;
        background-color: #fff;
        padding-bottom: 9999px;
        margin-bottom: -9999px;
        .right-container{
            background-color: #f4f4f4;
        }
        .userDetail{
            background-color: #fff;
            padding: 20px 15px 60px 22px;
            .userHeader{
                margin-bottom: 10px;
                // &>img{
                //     float: left;
                //     margin-right: 10px;
                // }
                &>div{
                    float: left;
                    font-size: 18px;
                    font-weight: bold;
                    color: #444;
                    // p{
                    //     &:nth-of-type(1){
                    //         font-size: 18px;
                    //         font-weight: bold;
                    //         color: #444;
                    //     }
                        // &:nth-of-type(2){
                        //     font-size: 14px;
                        //     color: #808080;
                        //     margin-top: 12px;
                        //     margin-bottom: 13px;
                        //     img{
                        //         vertical-align: middle;
                        //     }
                        // }
                    // }
                }
                &>a{
                    float: right;
                    width: 80px;
                    height: 28px;
                    border: 1px solid #ff9900;
                    text-align: center;
                    color: #ff9900;
                    font-size: 14px;
                    line-height: 30px;
                    background-color: #fff;
                    border-radius: 5px;
                }
            }
            .userPartIn{
                &>ul{
                    &>li{
                        float: left;
                        font-size: 14px;
                        color: #444;
                        width: calc(25% - 1px);
                        text-align: center;
                        margin-bottom: 17px;
                        border-right: 1px solid #ccc;
                        &:nth-child(4n){
                            border: none;
                        }
                    }
                }
            }
            .userCall {
                margin-bottom: 18px;
                img{
                    float: left;
                    margin-right: 10px;
                }
                &>div{
                    float: left;
                    p{
                        font-size: 14px;
                        color: #444;
                        margin-bottom: 10px;
                        &:nth-of-type(2){
                            font-size: 18px;
                            color: #444;
                        }
                    }
                }
                &>a{
                    float: right;
                    width: 79px;
                    height: 31px;
                    font-size: 14px;
                    color: #ff9900;
                    line-height: 31px;
                    text-align: center;
                    border: 1px solid #ff9900;
                    border-radius: 5px;
                }
            }
        }
        .serves{
            padding: 16px 14px 14px 24px;
            background-color: #fff;
            margin-top: 10px;
            .serveHead{
                margin-bottom: 22px;
                .titles{
                    float: left;
                    font-size: 18px;
                    color: #444;
                    font-weight: bold;
                }
                a{
                    float: right;
                    padding: 9px 11px 10px 14px;
                    border: 1px solid #ff9900;
                    color: #ff9900;
                }
            }
            .servePro{
                ul{
                    li{
                        float: left;
                        width: 48.75%;
                        height: 116px;
                        font-size: 0;
                        margin-bottom: 10px;
                        &:nth-child(2n-1){
                            margin-right: 2.5%;
                        }
                        a{
                            width: 100%;
                            height: 100%;
                            display: inline-block;
                            position: relative;
                            background-color: #eee;
                            p{
                                position: absolute;
                                bottom: 10px;
                                left: 0;
                                width: 100%;
                                text-align: center;
                                color: #ff9900;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        .highPraise{
            padding: 20px 15px 60px 22px;
            background-color: #fff;
            margin-top: 10px;
            &>ul{
                &>li {
                    .hightTit{
                        border-bottom: 1px solid #ffdfb0;
                        margin-bottom: 27px;
                        span{
                            font-size: 20px;
                            color: #444;
                            display: inline-block;
                            font-weight: bold;
                            padding-bottom: 7px;
                            border-bottom: 4px solid #ff9900;
                        }
                    }
                    .hightItem{
                        margin-bottom: 17px;
                        font-size: 16px;
                        &:hover a{
                            color: #ff9900;
                        }
                    }
                }
            }
            .hightImg {
                img{
                    margin-bottom: 25px;
                }
            }
        }
    }
}
.pageUi{
    text-align: center;
    .layui-laypage {
        position: relative;
        padding:0 39px;
        margin: 39px 0 21px 0!important;
        a,span{
            border: 1px solid #b5b5d6!important;
            width: 36px;
            height: 36px;
            padding: 0!important;
            text-align: center;
            line-height: 36px;
            margin-right: 12px!important;
            border-radius: 5px;
            background-color: #f7f7fa!important;
        }
        .layui-laypage-first{
            position: absolute;
            border: none!important;
            left: 0;
            top: 1px;
            padding-right: 0;
            background-color: transparent!important;
        }
        .layui-laypage-last{
            position: absolute;
            right: 1px;
            top: 1px;
            padding-left: 0;
            margin-right: 0!important;
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-spr{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-prev{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-next{
            border: none!important;
            background-color: transparent!important;
            transform: translate(1px,0);
        }
        .layui-laypage-curr{
            border: 1px solid #ff9900!important;
            .layui-laypage-em{
                background-color:#f7f7fa!important;
                position: relative!important;
                padding: 0!important;
            }
            em{
                color: #ff9900!important;
            }
        }
    }
}