main .container {
  overflow: hidden;
}
main .container .main-left {
  float: left;
  width: calc(66.66% - 10px);
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
main .container .main-left .main-container {
  background: #fff;
  padding: 20px 8px 0 15px;
}
main .container .main-left .main-container .questDetail {
  padding-top: 28px;
  background-color: #fff;
  padding: 0 11px 20px 15px;
}
main .container .main-left .main-container .questDetail > img {
  width: 100%;
  margin-bottom: 10px;
}
main .container .main-left .main-container .questDetail .questTit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .container .main-left .main-container .questDetail .questTit p {
  font-size: 22px;
  font-weight: bold;
}
main .container .main-left .main-container .questDetail .questTit > div span {
  font-size: 15px;
  font-weight: bold;
}
main .container .main-left .main-container .questDetail .questContent {
  margin-top: 22px;
  min-height: 1300px;
  font-size: 14px;
  color: #444;
}
main .container .main-left .main-container .questDetail .questHandle {
  margin-top: 10px;
}
main .container .main-left .main-container .questDetail .questHandle div {
  float: left;
}
main .container .main-left .main-container .questDetail .questHandle p {
  float: right;
}
main .container .main-left .main-container .questDetail .questHandle p span {
  color: #ff9900;
  font-size: 15px;
  cursor: pointer;
}
main .container .main-left .main-container .questDetail .questHandle p span:nth-of-type(4) {
  margin-left: 16px;
  color: #999;
  font-size: 12px;
  cursor: none;
}
main .container .main-left .main-container .questDetail .questHandle p i {
  color: #ff9900;
  font-size: 15px;
}
main .container .main-left .main-container .questDetail .answerPush {
  padding-bottom: 18px;
  padding-top: 36px;
}
main .container .main-left .main-container .questDetail .answerPush .searchBox {
  float: left;
  width: calc(100% - 108px);
  border: 1px solid #eeeeee;
  height: 120px;
  padding-left: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main .container .main-left .main-container .questDetail .answerPush .searchBox input {
  width: 100%;
  height: 100%;
  color: #999999;
  border: none;
}
main .container .main-left .main-container .questDetail .answerPush a {
  color: #ff9900;
  font-size: 16px;
  float: right;
  line-height: 15px;
  padding: 13px 32px 10px 32px;
  border: 1px solid #ff9900;
}
main .container .main-left .main-container .requestList {
  background-color: #fff;
  padding: 23px 11px 0 15px;
}
main .container .main-left .main-container .requestList .topTable {
  font-size: 14px;
  padding-bottom: 21px;
  border-bottom: 1px solid #e6e6e6;
}
main .container .main-left .main-container .requestList .topTable p:nth-of-type(1) {
  float: left;
}
main .container .main-left .main-container .requestList .topTable p:nth-of-type(2) {
  float: right;
}
main .container .main-left .main-container .requestList > ul > li {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}
main .container .main-left .main-container .requestList .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
}
main .container .main-left .main-container .requestList .userQuestion .QuestionTit span {
  font-size: 18px;
  color: #ff9900;
}
main .container .main-left .main-container .requestList .userQuestion .userInfo span {
  font-size: 14px;
  color: #444;
}
main .container .main-left .main-container .requestList .userQuestion .userInfo .headImgBox {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
main .container .main-left .main-container .requestList .userQuestion .userInfo .headImgBox img {
  width: 100%;
  height: 100%;
}
main .container .main-left .main-container .requestList .QuestionDetail {
  margin-top: 8px;
  margin-bottom: 15px;
}
main .container .main-left .main-container .requestList .QuestionDetail p {
  font-size: 14px;
  color: #444;
  float: right;
  line-height: 24px;
  width: calc(100% - 160px);
}
main .container .main-left .main-container .requestList .QuestionDetail img {
  width: 150px;
  height: 100px;
  float: left;
}
main .container .main-left .main-container .requestList .timeAndZan {
  font-size: 0;
}
main .container .main-left .main-container .requestList .timeAndZan a {
  font-size: 12px;
  color: #858585;
  border-radius: 5px;
  text-align: center;
  line-height: 24px;
  display: inline-block;
}
main .container .main-left .main-container .requestList .timeAndZan span {
  color: #ff9900;
  font-size: 12px;
  margin-right: 12px;
}
main .container .main-left .main-container .requestList .timeAndZan > i {
  color: #cccccc;
  margin-right: 10px;
}
main .container .main-left .main-container .requestList .timeAndZan .favor {
  padding: 7px 9px 5px 10px;
  line-height: 12px;
  font-size: 12px;
  color: #ff9900;
  border: 1px solid #ff9900;
}
main .container .main-left .main-container .requestList .timeAndZan .favor.upFavor {
  background-color: #ff9900;
  color: #fff;
}
main .container .main-left .main-container .requestList .timeAndZan .favor.upFavor span {
  color: #fff;
}
main .container .main-left .main-container .requestList .timeAndZan .cancelfavor {
  width: 24px;
  height: 24px;
  color: #ff9900;
  margin-left: 5px;
  border: 1px solid #ff9900;
  margin-right: 16px;
}
main .container .main-left .main-container .requestList .timeAndZan .cancelfavor.downFavor {
  background-color: #ff9900;
  color: #fff;
}
main .container .main-left .main-container .requestList .timeAndZan .commentIcon span {
  color: #999999;
}
main .container .main-left .main-container .requestList .timeAndZan .commentIcon i {
  color: #ccc;
}
main .container .main-left .request_menu {
  width: 100%;
  height: 52px;
  line-height: 52px;
  background-color: #fff;
}
main .container .main-left .request_menu ul li {
  float: left;
  font-size: 15px;
  padding: 0 17px;
}
main .container .main-left .request_menu ul li a.active {
  color: #ff9900;
}
main .container .main-left .request_menu ul li:hover a {
  color: #ff9900;
}
main .container .main-left .publish {
  padding: 14px 12px 12px 11px;
  background: #fff;
  margin: 10px 0;
}
main .container .main-left .publish a:nth-of-type(1) {
  padding: 12px 15px 12px 20px;
  background-color: #ff9900;
  font-size: 16px;
  display: inline-block;
  color: #fff;
  line-height: 16px;
  margin-right: 10px;
  text-align: center;
}
main .container .main-left .publish a:nth-of-type(2) {
  padding: 11px 33px 11px 33px;
  font-size: 16px;
  display: inline-block;
  color: #cccccc;
  border: 1px solid #cccccc;
  line-height: 16px;
  text-align: center;
  margin-left: 10px;
}
main .container .main-left .publish p {
  width: calc(100% - 230px);
  display: inline-block;
  border: 1px solid #cccccc;
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 13px;
  padding-right: 31px;
}
main .container .main-left .publish p input {
  font-size: 14px;
  color: #ccc;
  height: 100%;
  border: none;
  width: calc(100% - 44px);
}
main .container .main-left .dynamic {
  background-color: #fff;
  margin-top: 10px;
  font-size: 14px;
  padding: 23px 8px 20px 0px;
  border-bottom: 1px solid #e6e6e6;
}
main .container .main-left .dynamic span {
  float: left;
  font-weight: 600;
}
main .container .main-left .dynamic p {
  float: right;
  color: #808080;
}
main .container .main-right {
  float: right;
  width: 33.33%;
  background-color: #fff;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
main .container .main-right .right-container {
  background-color: #f4f4f4;
}
main .container .main-right .userDetail {
  background-color: #fff;
  padding: 20px 15px 60px 22px;
}
main .container .main-right .userDetail .userHeader {
  margin-bottom: 10px;
}
main .container .main-right .userDetail .userHeader > div {
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #444;
}
main .container .main-right .userDetail .userHeader > a {
  float: right;
  width: 80px;
  height: 28px;
  border: 1px solid #ff9900;
  text-align: center;
  color: #ff9900;
  font-size: 14px;
  line-height: 30px;
  background-color: #fff;
  border-radius: 5px;
}
main .container .main-right .userDetail .userPartIn > ul > li {
  float: left;
  font-size: 14px;
  color: #444;
  width: calc(25% - 1px);
  text-align: center;
  margin-bottom: 17px;
  border-right: 1px solid #ccc;
}
main .container .main-right .userDetail .userPartIn > ul > li:nth-child(4n) {
  border: none;
}
main .container .main-right .userDetail .userCall {
  margin-bottom: 18px;
}
main .container .main-right .userDetail .userCall img {
  float: left;
  margin-right: 10px;
}
main .container .main-right .userDetail .userCall > div {
  float: left;
}
main .container .main-right .userDetail .userCall > div p {
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
}
main .container .main-right .userDetail .userCall > div p:nth-of-type(2) {
  font-size: 18px;
  color: #444;
}
main .container .main-right .userDetail .userCall > a {
  float: right;
  width: 79px;
  height: 31px;
  font-size: 14px;
  color: #ff9900;
  line-height: 31px;
  text-align: center;
  border: 1px solid #ff9900;
  border-radius: 5px;
}
main .container .main-right .serves {
  padding: 16px 14px 14px 24px;
  background-color: #fff;
  margin-top: 10px;
}
main .container .main-right .serves .serveHead {
  margin-bottom: 22px;
}
main .container .main-right .serves .serveHead .titles {
  float: left;
  font-size: 18px;
  color: #444;
  font-weight: bold;
}
main .container .main-right .serves .serveHead a {
  float: right;
  padding: 9px 11px 10px 14px;
  border: 1px solid #ff9900;
  color: #ff9900;
}
main .container .main-right .serves .servePro ul li {
  float: left;
  width: 48.75%;
  height: 116px;
  font-size: 0;
  margin-bottom: 10px;
}
main .container .main-right .serves .servePro ul li:nth-child(2n-1) {
  margin-right: 2.5%;
}
main .container .main-right .serves .servePro ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  background-color: #eee;
}
main .container .main-right .serves .servePro ul li a p {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #ff9900;
  font-size: 14px;
}
main .container .main-right .highPraise {
  padding: 20px 15px 60px 22px;
  background-color: #fff;
  margin-top: 10px;
}
main .container .main-right .highPraise > ul > li .hightTit {
  border-bottom: 1px solid #ffdfb0;
  margin-bottom: 27px;
}
main .container .main-right .highPraise > ul > li .hightTit span {
  font-size: 20px;
  color: #444;
  display: inline-block;
  font-weight: bold;
  padding-bottom: 7px;
  border-bottom: 4px solid #ff9900;
}
main .container .main-right .highPraise > ul > li .hightItem {
  margin-bottom: 17px;
  font-size: 16px;
}
main .container .main-right .highPraise > ul > li .hightItem:hover a {
  color: #ff9900;
}
main .container .main-right .highPraise .hightImg img {
  margin-bottom: 25px;
}

.pageUi {
  text-align: center;
}
.pageUi .layui-laypage {
  position: relative;
  padding: 0 39px;
  margin: 39px 0 21px 0 !important;
}
.pageUi .layui-laypage a, .pageUi .layui-laypage span {
  border: 1px solid #b5b5d6 !important;
  width: 36px;
  height: 36px;
  padding: 0 !important;
  text-align: center;
  line-height: 36px;
  margin-right: 12px !important;
  border-radius: 5px;
  background-color: #f7f7fa !important;
}
.pageUi .layui-laypage .layui-laypage-first {
  position: absolute;
  border: none !important;
  left: 0;
  top: 1px;
  padding-right: 0;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-last {
  position: absolute;
  right: 1px;
  top: 1px;
  padding-left: 0;
  margin-right: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-spr {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-prev {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-next {
  border: none !important;
  background-color: transparent !important;
  -webkit-transform: translate(1px, 0);
      -ms-transform: translate(1px, 0);
          transform: translate(1px, 0);
}
.pageUi .layui-laypage .layui-laypage-curr {
  border: 1px solid #ff9900 !important;
}
.pageUi .layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #f7f7fa !important;
  position: relative !important;
  padding: 0 !important;
}
.pageUi .layui-laypage .layui-laypage-curr em {
  color: #ff9900 !important;
}