main .container {
  overflow: hidden;
}
main .container .main-left {
  float: left;
  width: calc(66.66% - 10px);
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
main .container .main-left .publish {
  padding: 14px 12px 12px 11px;
  background: #fff;
  margin: 10px 0;
}
main .container .main-left .publish a:nth-of-type(1) {
  padding: 12px 15px 12px 20px;
  background-color: #ff9900;
  font-size: 16px;
  display: inline-block;
  color: #fff;
  line-height: 16px;
  margin-right: 10px;
  text-align: center;
}
main .container .main-left .publish a:nth-of-type(2) {
  padding: 11px 33px 11px 33px;
  font-size: 16px;
  display: inline-block;
  color: #cccccc;
  border: 1px solid #cccccc;
  line-height: 16px;
  text-align: center;
  margin-left: 10px;
}
main .container .main-left .publish .searchInput {
  width: calc(100% - 230px);
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 41px;
  vertical-align: bottom;
  border: 1px solid #ccc;
  /* padding-left: 25px; */
  padding-right: 31px;
}
main .container .main-left .publish .searchInput input {
  border: none;
  font-size: 14px;
  position: relative;
  z-index: 9;
  padding-left: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #ccc;
  height: 100%;
  width: 100%;
}
main .container .main-left .main-container {
  background: #fff;
  padding: 28px 8px 0 15px;
}
main .container .main-left .main-container ul li {
  float: left;
  width: 32.11%;
  padding: 14px 11px 11px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 8px #ccc;
          box-shadow: 0px 1px 8px #ccc;
  margin-right: 1.835%;
  margin-bottom: 10px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
main .container .main-left .main-container ul li:hover {
  -webkit-box-shadow: -1px 9px 37px #ccc;
          box-shadow: -1px 9px 37px #ccc;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
main .container .main-left .main-container ul li:nth-child(3n) {
  margin-right: 0;
}
main .container .main-left .main-container ul li > a {
  display: inline-block;
  width: 100%;
}
main .container .main-left .main-container ul li > a img {
  width: 100%;
  height: 201px;
  border-radius: 3px;
  overflow: hidden;
}
main .container .main-left .main-container ul li > a > .singleHide {
  font-size: 14px;
  color: #444;
  font-weight: bold;
  margin-top: 11px;
  margin-bottom: 14px;
}
main .container .main-left .main-container ul li .shopInfo {
  font-size: 14px;
  color: #999999;
}
main .container .main-left .main-container ul li .shopInfo .mainInfo {
  color: #ff9900;
}
main .container .main-left .main-container ul li .shopInfo .singleHide {
  display: inline-block;
  width: calc(100% - 100px);
  vertical-align: bottom;
}
main .container .main-left .request_menu {
  width: 100%;
  height: 52px;
  line-height: 52px;
  background-color: #fff;
}
main .container .main-left .request_menu ul li {
  float: left;
  font-size: 15px;
  padding: 0 17px;
}
main .container .main-left .request_menu ul li.active a {
  color: #ff9900;
}
main .container .main-left .request_menu ul li:hover a {
  color: #ff9900;
}
main .container .main-left .request_menu ul li a.active {
  color: #ff9900;
}
main .container .main-right {
  float: right;
  width: 33.33%;
  background-color: #fff;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
main .container .main-right .right-container {
  background-color: #f4f4f4;
}
main .container .main-right .userDetail {
  background-color: #fff;
  padding: 20px 15px 60px 22px;
}
main .container .main-right .userDetail .userHeader {
  margin-bottom: 10px;
}
main .container .main-right .userDetail .userHeader > div {
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #444;
}
main .container .main-right .userDetail .userHeader > a {
  float: right;
  width: 80px;
  height: 28px;
  text-align: center;
  border: 1px solid #ff9900;
  color: #ff9900;
  font-size: 14px;
  line-height: 30px;
  background-color: #fff;
  border-radius: 5px;
}
main .container .main-right .userDetail .userPartIn > ul > li {
  float: left;
  font-size: 14px;
  color: #444;
  width: calc(25% - 1px);
  text-align: center;
  margin-bottom: 17px;
  border-right: 1px solid #ccc;
}
main .container .main-right .userDetail .userPartIn > ul > li:nth-child(4n) {
  border: none;
}
main .container .main-right .userDetail .userCall {
  margin-bottom: 18px;
}
main .container .main-right .userDetail .userCall img {
  float: left;
  margin-right: 10px;
}
main .container .main-right .userDetail .userCall > div {
  float: left;
}
main .container .main-right .userDetail .userCall > div p {
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
}
main .container .main-right .userDetail .userCall > div p:nth-of-type(2) {
  font-size: 18px;
  color: #444;
}
main .container .main-right .userDetail .userCall > a {
  float: right;
  width: 79px;
  height: 31px;
  font-size: 14px;
  color: #ff9900;
  line-height: 31px;
  text-align: center;
  border: 1px solid #ff9900;
  border-radius: 5px;
}
main .container .main-right .serves {
  padding: 16px 14px 14px 24px;
  background-color: #fff;
  margin-top: 10px;
}
main .container .main-right .serves .serveHead {
  margin-bottom: 22px;
}
main .container .main-right .serves .serveHead .titles {
  float: left;
  font-size: 18px;
  color: #444;
  font-weight: bold;
}
main .container .main-right .serves .serveHead a {
  float: right;
  padding: 9px 11px 10px 14px;
  border: 1px solid #ff9900;
  color: #ff9900;
}
main .container .main-right .serves .servePro ul li {
  float: left;
  width: 48.75%;
  height: 116px;
  font-size: 0;
  margin-bottom: 10px;
}
main .container .main-right .serves .servePro ul li:nth-child(2n-1) {
  margin-right: 2.5%;
}
main .container .main-right .serves .servePro ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  background-color: #eee;
}
main .container .main-right .serves .servePro ul li a p {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #ff9900;
  font-size: 14px;
}
main .container .main-right .highPraise {
  padding: 20px 15px 60px 22px;
  background-color: #fff;
  margin-top: 10px;
}
main .container .main-right .highPraise > ul > li .hightTit {
  border-bottom: 1px solid #ffdfb0;
  margin-bottom: 27px;
}
main .container .main-right .highPraise > ul > li .hightTit span {
  font-size: 20px;
  color: #444;
  display: inline-block;
  font-weight: bold;
  padding-bottom: 7px;
  border-bottom: 4px solid #ff9900;
}
main .container .main-right .highPraise > ul > li .hightItem {
  margin-bottom: 17px;
  font-size: 16px;
}
main .container .main-right .highPraise > ul > li .hightItem:hover a {
  color: #ff9900;
}
main .container .main-right .highPraise .hightImg img {
  margin-bottom: 25px;
}

.pageUi {
  text-align: center;
}
.pageUi .layui-laypage {
  position: relative;
  padding: 0 39px;
  margin: 39px 0 21px 0 !important;
}
.pageUi .layui-laypage a, .pageUi .layui-laypage span {
  border: 1px solid #b5b5d6 !important;
  width: 36px;
  height: 36px;
  padding: 0 !important;
  text-align: center;
  line-height: 36px;
  margin-right: 12px !important;
  border-radius: 5px;
  background-color: #f7f7fa !important;
}
.pageUi .layui-laypage .layui-laypage-first {
  position: absolute;
  border: none !important;
  left: 0;
  top: 1px;
  padding-right: 0;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-last {
  position: absolute;
  right: 1px;
  top: 1px;
  padding-left: 0;
  margin-right: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-spr {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-prev {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-next {
  border: none !important;
  background-color: transparent !important;
  -webkit-transform: translate(1px, 0);
      -ms-transform: translate(1px, 0);
          transform: translate(1px, 0);
}
.pageUi .layui-laypage span.layui-laypage-curr {
  border: 1px solid #ff9900 !important;
}
.pageUi .layui-laypage .layui-laypage-curr em {
  color: #ff9900 !important;
}
.pageUi .layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #f7f7fa !important;
  position: relative !important;
  padding: 0 !important;
}