main .container{
    overflow: hidden;
    .main-left{
        float: left;
        width: calc(66.66% - 10px);
        padding-bottom: 9999px;margin-bottom: -9999px;
        .main-container{
            background: #fff;
            padding: 0 8px 0 15px;
            margin-top: 10px;
            .publish{
                padding-top: 17px;
                a{
                    &:nth-of-type(1){
                        padding: 12px 15px 12px 20px;
                        background-color: #ff9900;
                        font-size: 16px;
                        display: inline-block;
                        color: #fff;
                        line-height:16px;
                        margin-right: 10px;
                        text-align: center;
                    }
                    &:nth-of-type(2){
                        padding: 11px 33px 11px 33px;
                        font-size: 16px;
                        display: inline-block;
                        color: #cccccc;
                        border:1px solid #cccccc;
                        line-height:16px;
                        text-align: center;
                        margin-left: 10px;
                    }
                }
                .searchInput{
                    width: calc(100% - 230px);
                    display: inline-block;
                    position: relative;
                    box-sizing: border-box;
                    height: 41px;
                    vertical-align: bottom;
                    border: 1px solid #ccc;
                    /* padding-left: 25px; */
                    padding-right: 31px;
                    input{
                        border: none;
                        font-size: 14px;
                        position: relative;
                        z-index: 9;
                        margin-left: 75px;
                        box-sizing: border-box;
                        border-right: 0px solid #ccc;
                        height: 100%;
                        width: calc(100% - 75px);
                    }
                }
            }
        }
        .request_menu{
            width: 100%;
            height: 52px;
            line-height: 52px;
            background-color: #fff;
            ul li{
                float: left;
                font-size: 15px;
                padding: 0 17px;
                &.active a{
                    color: #ff9900;
                }
                &:hover a{
                    color: #ff9900;
                }
                a.active{
                    color: #ff9900;
                }
            }
        }
        .requestList{
            min-height: 100vh;
            &>ul{
                &>li{
                    padding: 25px 0;
                    border-bottom: 1px solid #e6e6e6;
                }
            }
            .userQuestion{
                &>div{
                    float: left;
                    &:nth-of-type(2){
                        float: right;
                    }
                }
                &>a{
                    float: right;
                    width: 20%;
                    text-align: right;
                    &:hover{
                        color:#ff9900;
                    }
                }
                .QuestionTit{
                    color: #444444;
                    font-weight: bold;
                    font-size: 18px;
                    width: 75%;
                    float: left;
                    margin-bottom: 23px;
                    &:hover{
                        color:#ff9900;
                    }
                }
                .userInfo{
                    span{
                        font-size: 14px;
                        color: #444;
                    }
                }
            }
            .QuestionDetail{
                margin-bottom: 15px;
                .doubleHide{
                    font-size: 15px;
                    color: #444;
                }
                .infos{
                    padding-top: 11px;
                    margin-bottom: 15px;
                    a{
                        font-size: 14px;
                        color: #ff9900;
                        text-decoration: underline;
                    }
                }
            }
            // .timeAndZan{
            //     font-size: 0;
            //     margin-top: 16px;
            //     a{
            //         font-size: 12px;
            //         color: #808080;
            //         background-color: #f2f2f2;
            //         border-radius: 5px;
            //         text-align: center;
            //         line-height: 24px;
            //         display: inline-block;
            //     }
            //     .favor{
            //         height: 24px;
            //         padding: 0 10px;
            //         font-size: 12px;
            //         border: 1px solid #ff9900;
            //         color:#ff9900;
            //         span{
            //             color:#ff9900; 
            //         }
            //         &.upFavor{
            //           background-color: #ff9900;;
            //           color: #fff;  
            //           span{
            //             color:#fff; 
            //           }
            //         }
            //     }
            //     .cancelfavor{
            //         width: 24px;
            //         height: 24px;
            //         margin-left: 5px;
            //         margin-right: 16px;
            //         border: 1px solid #ff9900;
            //         color:#ff9900;
            //         span{
            //             color:#ff9900; 
            //         }
            //         &.downFavor{
            //             background-color: #ff9900;;
            //             color: #fff; 
            //             span{
            //                 color:#fff; 
            //               } 
            //           }
            //     }
            //     span{
            //         color: #999;
            //         font-size: 12px;
            //         margin-right: 12px;
            //     }
            //     .personInfo,.callInfo{
            //         color: #444;
            //         font-weight: bold;
            //     }
            //     &>i{
            //         color: #ccc;
            //         margin-right: 10px;
            //     }
            // }
        }
    }
    .main-right{
        float: right;
        width: 33.33%;
        background-color: #fff;
        padding-bottom: 9999px;
        margin-bottom: -9999px;
        .right-container{
            background-color: #f4f4f4;
        }
        .highPraise{
            padding: 20px 15px 60px 22px;
            background-color: #fff;
            &>ul{
                &>li{
                    .hightTit{
                        border-bottom: 1px solid #ffdfb0;
                        margin-bottom: 18px;
                        span:nth-of-type(1){
                            font-size: 20px;
                            color: #444;
                            display: inline-block;
                            font-weight: bold;
                            padding-bottom: 7px;
                            margin-right: 10px;
                            border-bottom: 4px solid #ff9900;
                        }
                        .linebar{
                            width: calc(100% - 146px);
                            display: inline-block;
                            height: 4px;
                            background:url('../images/line-bar.gif') ;
                        }
                    }
                }
            }
            .hightImg {
                img{
                    margin-bottom: 25px;
                }
            }
            .hightItem{
                margin-bottom: 17px;
                font-size: 16px;
                line-height: 16px;
                .companyName{
                    font-weight: bold;
                }
                a{
                    &:hover{
                        color: #ff9900;
                    }
                }
            }
        }
    }
}
.pageUi{
    text-align: center;
    .layui-laypage {
        position: relative;
        padding:0 39px;
        margin: 39px 0 21px 0!important;
        a, span{
            border: 1px solid #b5b5d6!important;
            width: 36px;
            height: 36px;
            padding: 0!important;
            text-align: center;
            line-height: 36px;
            margin-right: 12px!important;
            border-radius: 5px;
            background-color: #f7f7fa!important;
        }
        .layui-laypage-first{
            position: absolute;
            border: none!important;
            left: 0;
            top: 1px;
            padding-right: 0;
            background-color: transparent!important;
        }
        .layui-laypage-last{
            position: absolute;
            right: 1px;
            top: 1px;
            padding-left: 0;
            margin-right: 0!important;
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-spr{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-prev{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-next{
            border: none!important;
            background-color: transparent!important;
            transform: translate(1px,0);
        }
        span.layui-laypage-curr{
            border: 1px solid #ff9900!important;
        }
        .layui-laypage-curr{
            em{
                color: #ff9900!important;
            }
            .layui-laypage-em{
                background-color:#f7f7fa!important;
                position: relative!important;
                padding: 0!important;
            }
        }
    }
}
