@charset "UTF-8";
/*reset*/
* {
  padding: 0;
  margin: 0;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

html, body {
  height: 100%;
  color: #333;
  font-size: 12px;
  font-family: "微软雅黑", MicrosoftYaHei;
}

a {
  text-decoration: none;
  color: #3cf;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
}

input {
  outline: medium none;
  font-family: "微软雅黑", MicrosoftYaHei;
  font-size: 14px;
}

button {
  font-family: "微软雅黑", MicrosoftYaHei;
}

em {
  font-style: normal;
}

.wrap {
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: #ccc;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.red {
  color: #f60;
}

.ececk_warning {
  font-size: 13px;
  color: red;
  width: 300px;
  margin: 0 auto;
  display: none;
}

form .imgUpload .layui-upload-drag {
  width: 100%;
  height: 145px;
  padding: 0 !important;
}
form .imgUpload .layui-upload-drag p {
  line-height: 145px;
}
form .imgUpload .layui-upload-drag .layui-hide {
  width: 100%;
  height: 100%;
}
form .imgUpload .layui-upload-drag .layui-hide img {
  width: 100%;
  height: 100%;
}