main .container{
    overflow: hidden;
    .main-left{
        background-color: #fff;
        float: left;
        width: calc(66.66% - 10px);
        padding-bottom: 9999px;
        margin-bottom: -9999px;
        .main-container{
            background: #fff;
            padding: 0 8px 0 15px;
            margin-top: 10px;
            .publish{
                padding: 14px 12px 12px 11px;
                a{
                    &:nth-of-type(1){
                        padding: 12px 15px 12px 20px;
                        background-color: #ff9900;
                        font-size: 16px;
                        display: inline-block;
                        color: #fff;
                        line-height:16px;
                        margin-right: 10px;
                        text-align: center;
                    }
                    &:nth-of-type(2){
                        padding: 11px 33px 11px 33px;
                        font-size: 16px;
                        display: inline-block;
                        color: #cccccc;
                        border:1px solid #cccccc;
                        line-height:16px;
                        text-align: center;
                        margin-left: 10px;
                    }
                }
                .searchInput{
                    width: calc(100% - 230px);
                    display: inline-block;
                    position: relative;
                    box-sizing: border-box;
                    height: 41px;
                    vertical-align: bottom;
                    border: 1px solid #ccc;
                    /* padding-left: 25px; */
                    padding-right: 31px;
                    input{
                        border: none;
                        font-size: 14px;
                        position: relative;
                        z-index: 9;
                        margin-left: 75px;
                        box-sizing: border-box;
                        border-right: 0px solid #ccc;
                        height: 100%;
                        width: calc(100% - 75px);
                    }
                }
            }
        }
        .request_menu{
            width: 100%;
            height: 52px;
            line-height: 52px;
            background-color: #fff;
            ul li{
                float: left;
                font-size: 15px;
                padding: 0 17px;
                &:hover a{
                    color: #ff9900;
                }
                &.active{
                    a{
                        color: #ff9900;
                    }
                }
            }
        }
        .projectDetail{
            margin-top: 10px;
            background-color: #fff;
            padding: 30px 20px 10px 20px ;
            .statement{
                font-size: 14px;
                color: #cbcbcb;
            }
            .detatiTit{
                font-size: 24px;
                color: #444;
                font-weight: bold;
                text-align: center;
                margin: 18px 0 20px 0;
            }
            .timeAndAuthor{
                font-size: 14px;
                color: #808080;
                display: flex;
                margin-bottom: 50px;
                justify-content: space-between;
                >div{
                    &:nth-of-type(1){
                        span{
                            &:nth-of-type(3){
                                margin-left: 24px;
                            }
                        }
                    }
                    &:nth-of-type(2){
                        color: #ccc;
                        span{
                            color: #ccc;
                            font-size: 15px;
                        }
                        >a{
                            color: #ccc;
                            font-size: 15px;
                        }
                        a.isSelect{
                            color: #ff9900;
                            span{
                                color: #ff9900;
                            }
                            i{
                                color: #ff9900;
                            }
                        }
                        a.unTaken{
                            &:hover{
                                color: #ff9900;
                                span{
                                    color: #ff9900;
                                }
                                i{
                                    color: #ff9900;
                                }
                            }
                        }
                        i{
                            color: #e6e6e6;
                        }
                    }
                }
            }
        }
        .answerEdit{
            background-color: #fff;
            margin-top: 10px;
            padding: 0 11px 0 15px;
            .userInfor{
                display: flex;
                justify-content: space-between;
                padding-top: 19px;
                margin-bottom: 13px;
                >p{
                    &:nth-of-type(1){
                        >span{
                            display: inline-block;
                            height: 36px;
                            line-height: 36px;
                            &:nth-of-type(1){
                                width: 36px;
                                height: 36px;
                                border-radius: 50%;
                                margin-right: 6px;
                                display: inline-block;
                                vertical-align: middle;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    vertical-align: baseline;
                                }
                            }
                        }
                    }
                    &:nth-of-type(2){
                        line-height: 36px;
                        color: #808080;
                    }
                }
            }
            .editFu {
                #div1 {
                    >div{
                        &:nth-of-type(1){
                            border: none!important;
                            border-top: 1px solid #e6e6e6!important;
                            border-bottom: 1px solid #e6e6e6!important;
                        } 
                        &:nth-of-type(2){
                            border: none!important;
                            min-height: 140px!important;
                            height: auto!important;
                        }
                    }
                }
                .btnBox{
                    text-align: right;
                    padding-bottom: 19px;
                    padding-top: 5px;
                    button{
                        padding: 9px 12px;
                        border: none;
                        border-radius: 5px;
                        background-color: #ff9900;
                        color: #fff;
                    }
                }
            }
        }
        .requestList{
            margin-top: 10px;
            background-color: #fff;
            padding: 23px 11px 0 15px;
            .topTable{
                font-size: 14px;
                padding-bottom: 21px;
                border-bottom: 1px solid #e6e6e6;
                p{
                    &:nth-of-type(1){
                        float: left;
                        color: #999999;
                        span{
                            color: #999999;
                            font-weight: 600;
                        }
                    }
                    &:nth-of-type(2){
                        float: right;
                        color: #808080;
                        a{
                            color: #808080;
                        }
                    }
                }
            }
            >ul{
                >li{
                    padding-top: 20px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #e6e6e6;
                }
            }
            .userQuestion {
                .QuestionTit{
                    color: #444444;
                    font-weight: bold;
                    span{
                        font-size: 18px;
                        color: #ff9900;
                    }
                }
                .userInfo {
                    span{
                        font-size: 14px;
                        color: #444;
                    }
                    .headImgBox{
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        margin-right: 6px;
                        display: inline-block;
                        vertical-align: middle;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .QuestionDetail{
                margin-top: 8px;
                margin-bottom: 15px;
                p{
                    font-size: 14px;
                    color: #444;
                    float: left;
                    line-height: 24px;
                    width: calc(100% - 160px);
                }
                >img{
                    width: 150px;
                    height: 100px;
                    float: left;
                }
            }
            .timeAndZan{
                font-size: 0;
                >i{
                    color: #ccc;
                    margin-right: 10px;
                }
            }
            .pageUi{
                text-align: center;
                .layui-laypage {
                    position: relative;
                    padding:0 39px;
                    margin: 39px 0 21px 0!important;
                    a,span{
                        border: 1px solid #b5b5d6!important;
                        width: 36px;
                        height: 36px;
                        padding: 0!important;
                        text-align: center;
                        line-height: 36px;
                        margin-right: 12px!important;
                        border-radius: 5px;
                        background-color: #f7f7fa!important;
                    }
                    .layui-laypage-first{
                        position: absolute;
                        border: none!important;
                        left: 0;
                        top: 1px;
                        padding-right: 0;
                        background-color: transparent!important;
                    }
                    .layui-laypage-last{
                        position: absolute;
                        right: 1px;
                        top: 1px;
                        padding-left: 0;
                        margin-right: 0!important;
                        border: none!important;
                        background-color: transparent!important;
                    }
                    .layui-laypage-spr{
                        border: none!important;
                        background-color: transparent!important;
                    }
                    .layui-laypage-prev{
                        border: none!important;
                        background-color: transparent!important;
                    }
                    .layui-laypage-next{
                        border: none!important;
                        background-color: transparent!important;
                        transform: translate(1px,0);
                    }
                    span.layui-laypage-curr{
                        border: 1px solid #ff9900!important;
                    }
                    .layui-laypage-curr {
                        em{
                            color: #ff9900!important;
                        }
                        .layui-laypage-em{
                            background-color:#f7f7fa!important;
                            position: relative!important;
                            padding: 0!important;
                        }
                    }
                }
            }
        }
    }
    .main-right{
        float: right;
        width: 33.33%;
        background-color: #fff;
        padding-bottom: 9999px;
        margin-bottom: -9999px;
        .right-container{
            background-color: #f4f4f4;
        }
        .highPraise{
            padding: 20px 15px 60px 22px;
            background-color: #fff;
            &>ul{
                &>li{
                    .hightTit{
                        border-bottom: 1px solid #ffdfb0;
                        margin-bottom: 18px;
                        span:nth-of-type(1){
                            font-size: 20px;
                            color: #444;
                            display: inline-block;
                            font-weight: bold;
                            padding-bottom: 7px;
                            margin-right: 10px;
                            border-bottom: 4px solid #ff9900;
                        }
                        .linebar{
                            width: calc(100% - 146px);
                            display: inline-block;
                            height: 4px;
                            background:url('../images/line-bar.gif') ;
                        }
                    }
                }
            }
            .hightImg {
                img{
                    margin-bottom: 25px;
                }
            }
            .hightItem{
                margin-bottom: 17px;
                font-size: 16px;
                line-height: 16px;
                a{
                    &:hover{
                        color: #ff9900;
                    }
                }
            }
        }
    }
}
.pageUi{
    text-align: center;
    .layui-laypage {
        position: relative;
        padding:0 39px;
        margin: 39px 0 21px 0!important;
        a, span{
            border: 1px solid #b5b5d6!important;
            width: 36px;
            height: 36px;
            padding: 0!important;
            text-align: center;
            line-height: 36px;
            margin-right: 12px!important;
            border-radius: 5px;
            background-color: #f7f7fa!important;
        }
        .layui-laypage-first{
            position: absolute;
            border: none!important;
            left: 0;
            top: 1px;
            padding-right: 0;
            background-color: transparent!important;
        }
        .layui-laypage-last{
            position: absolute;
            right: 1px;
            top: 1px;
            padding-left: 0;
            margin-right: 0!important;
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-spr{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-prev{
            border: none!important;
            background-color: transparent!important;
        }
        .layui-laypage-next{
            border: none!important;
            background-color: transparent!important;
            transform: translate(1px,0);
        }
        span.layui-laypage-curr{
            border: 1px solid #ff9900!important;
        }
        .layui-laypage-curr{
            em{
                color: #ff9900!important;
            }
            .layui-laypage-em{
                background-color:#f7f7fa!important;
                position: relative!important;
                padding: 0!important;
            }
        }
    }
}
.hotleader,.recommedRead{
    .hightItem{
        a{
            // display: inline-block;
            max-width: 100px;
            font-weight: bold;
            color: #444;
            vertical-align: bottom;
            
        }
        &:hover{
            span{
                color: #ff9900;
            }
        }
    }
}
.leaders{
    a{
        color: #444;
        &:nth-of-type(1){
            font-weight: bold;
            margin-right: 10px;
        }
    }
}
.hasTurn{
    position: relative;
}
.hasTurn:hover .shareBox{
    display: inline-block;
}
.shareBox{
    position: absolute;
    right: 17px;
    top: 17px;
    background-color: #fff;
    transform: translate(50%, 0);
    width: 168px;
    display: none;
}