main .container {
  overflow: hidden;
}
main .container .main-left {
  background-color: #fff;
  float: left;
  width: calc(66.66% - 10px);
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
main .container .main-left .main-container {
  background: #fff;
  padding: 0 8px 0 15px;
  margin-top: 10px;
}
main .container .main-left .main-container .publish {
  padding: 14px 12px 12px 11px;
}
main .container .main-left .main-container .publish a:nth-of-type(1) {
  padding: 12px 15px 12px 20px;
  background-color: #ff9900;
  font-size: 16px;
  display: inline-block;
  color: #fff;
  line-height: 16px;
  margin-right: 10px;
  text-align: center;
}
main .container .main-left .main-container .publish a:nth-of-type(2) {
  padding: 11px 33px 11px 33px;
  font-size: 16px;
  display: inline-block;
  color: #cccccc;
  border: 1px solid #cccccc;
  line-height: 16px;
  text-align: center;
  margin-left: 10px;
}
main .container .main-left .main-container .publish .searchInput {
  width: calc(100% - 230px);
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 41px;
  vertical-align: bottom;
  border: 1px solid #ccc;
  /* padding-left: 25px; */
  padding-right: 31px;
}
main .container .main-left .main-container .publish .searchInput input {
  border: none;
  font-size: 14px;
  position: relative;
  z-index: 9;
  margin-left: 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 0px solid #ccc;
  height: 100%;
  width: calc(100% - 75px);
}
main .container .main-left .request_menu {
  width: 100%;
  height: 52px;
  line-height: 52px;
  background-color: #fff;
}
main .container .main-left .request_menu ul li {
  float: left;
  font-size: 15px;
  padding: 0 17px;
}
main .container .main-left .request_menu ul li:hover a {
  color: #ff9900;
}
main .container .main-left .request_menu ul li.active a {
  color: #ff9900;
}
main .container .main-left .projectDetail {
  margin-top: 10px;
  background-color: #fff;
  padding: 30px 20px 10px 20px;
}
main .container .main-left .projectDetail .statement {
  font-size: 14px;
  color: #cbcbcb;
}
main .container .main-left .projectDetail .detatiTit {
  font-size: 24px;
  color: #444;
  font-weight: bold;
  text-align: center;
  margin: 18px 0 20px 0;
}
main .container .main-left .projectDetail .timeAndAuthor {
  font-size: 14px;
  color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .container .main-left .projectDetail .timeAndAuthor > div:nth-of-type(1) span:nth-of-type(3) {
  margin-left: 24px;
}
main .container .main-left .projectDetail .timeAndAuthor > div:nth-of-type(2) {
  color: #ccc;
}
main .container .main-left .projectDetail .timeAndAuthor > div:nth-of-type(2) span {
  color: #ccc;
  font-size: 15px;
}
main .container .main-left .projectDetail .timeAndAuthor > div:nth-of-type(2) > a {
  color: #ccc;
  font-size: 15px;
}
main .container .main-left .projectDetail .timeAndAuthor > div:nth-of-type(2) a.isSelect {
  color: #ff9900;
}
main .container .main-left .projectDetail .timeAndAuthor > div:nth-of-type(2) a.isSelect span {
  color: #ff9900;
}
main .container .main-left .projectDetail .timeAndAuthor > div:nth-of-type(2) a.isSelect i {
  color: #ff9900;
}
main .container .main-left .projectDetail .timeAndAuthor > div:nth-of-type(2) a.unTaken:hover {
  color: #ff9900;
}
main .container .main-left .projectDetail .timeAndAuthor > div:nth-of-type(2) a.unTaken:hover span {
  color: #ff9900;
}
main .container .main-left .projectDetail .timeAndAuthor > div:nth-of-type(2) a.unTaken:hover i {
  color: #ff9900;
}
main .container .main-left .projectDetail .timeAndAuthor > div:nth-of-type(2) i {
  color: #e6e6e6;
}
main .container .main-left .answerEdit {
  background-color: #fff;
  margin-top: 10px;
  padding: 0 11px 0 15px;
}
main .container .main-left .answerEdit .userInfor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 19px;
  margin-bottom: 13px;
}
main .container .main-left .answerEdit .userInfor > p:nth-of-type(1) > span {
  display: inline-block;
  height: 36px;
  line-height: 36px;
}
main .container .main-left .answerEdit .userInfor > p:nth-of-type(1) > span:nth-of-type(1) {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
main .container .main-left .answerEdit .userInfor > p:nth-of-type(1) > span:nth-of-type(1) img {
  width: 100%;
  height: 100%;
  vertical-align: baseline;
}
main .container .main-left .answerEdit .userInfor > p:nth-of-type(2) {
  line-height: 36px;
  color: #808080;
}
main .container .main-left .answerEdit .editFu #div1 > div:nth-of-type(1) {
  border: none !important;
  border-top: 1px solid #e6e6e6 !important;
  border-bottom: 1px solid #e6e6e6 !important;
}
main .container .main-left .answerEdit .editFu #div1 > div:nth-of-type(2) {
  border: none !important;
  min-height: 140px !important;
  height: auto !important;
}
main .container .main-left .answerEdit .editFu .btnBox {
  text-align: right;
  padding-bottom: 19px;
  padding-top: 5px;
}
main .container .main-left .answerEdit .editFu .btnBox button {
  padding: 9px 12px;
  border: none;
  border-radius: 5px;
  background-color: #ff9900;
  color: #fff;
}
main .container .main-left .requestList {
  margin-top: 10px;
  background-color: #fff;
  padding: 23px 11px 0 15px;
}
main .container .main-left .requestList .topTable {
  font-size: 14px;
  padding-bottom: 21px;
  border-bottom: 1px solid #e6e6e6;
}
main .container .main-left .requestList .topTable p:nth-of-type(1) {
  float: left;
  color: #999999;
}
main .container .main-left .requestList .topTable p:nth-of-type(1) span {
  color: #999999;
  font-weight: 600;
}
main .container .main-left .requestList .topTable p:nth-of-type(2) {
  float: right;
  color: #808080;
}
main .container .main-left .requestList .topTable p:nth-of-type(2) a {
  color: #808080;
}
main .container .main-left .requestList > ul > li {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}
main .container .main-left .requestList .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
}
main .container .main-left .requestList .userQuestion .QuestionTit span {
  font-size: 18px;
  color: #ff9900;
}
main .container .main-left .requestList .userQuestion .userInfo span {
  font-size: 14px;
  color: #444;
}
main .container .main-left .requestList .userQuestion .userInfo .headImgBox {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
main .container .main-left .requestList .userQuestion .userInfo .headImgBox img {
  width: 100%;
  height: 100%;
}
main .container .main-left .requestList .QuestionDetail {
  margin-top: 8px;
  margin-bottom: 15px;
}
main .container .main-left .requestList .QuestionDetail p {
  font-size: 14px;
  color: #444;
  float: left;
  line-height: 24px;
  width: calc(100% - 160px);
}
main .container .main-left .requestList .QuestionDetail > img {
  width: 150px;
  height: 100px;
  float: left;
}
main .container .main-left .requestList .timeAndZan {
  font-size: 0;
}
main .container .main-left .requestList .timeAndZan > i {
  color: #ccc;
  margin-right: 10px;
}
main .container .main-left .requestList .pageUi {
  text-align: center;
}
main .container .main-left .requestList .pageUi .layui-laypage {
  position: relative;
  padding: 0 39px;
  margin: 39px 0 21px 0 !important;
}
main .container .main-left .requestList .pageUi .layui-laypage a, main .container .main-left .requestList .pageUi .layui-laypage span {
  border: 1px solid #b5b5d6 !important;
  width: 36px;
  height: 36px;
  padding: 0 !important;
  text-align: center;
  line-height: 36px;
  margin-right: 12px !important;
  border-radius: 5px;
  background-color: #f7f7fa !important;
}
main .container .main-left .requestList .pageUi .layui-laypage .layui-laypage-first {
  position: absolute;
  border: none !important;
  left: 0;
  top: 1px;
  padding-right: 0;
  background-color: transparent !important;
}
main .container .main-left .requestList .pageUi .layui-laypage .layui-laypage-last {
  position: absolute;
  right: 1px;
  top: 1px;
  padding-left: 0;
  margin-right: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
main .container .main-left .requestList .pageUi .layui-laypage .layui-laypage-spr {
  border: none !important;
  background-color: transparent !important;
}
main .container .main-left .requestList .pageUi .layui-laypage .layui-laypage-prev {
  border: none !important;
  background-color: transparent !important;
}
main .container .main-left .requestList .pageUi .layui-laypage .layui-laypage-next {
  border: none !important;
  background-color: transparent !important;
  -webkit-transform: translate(1px, 0);
      -ms-transform: translate(1px, 0);
          transform: translate(1px, 0);
}
main .container .main-left .requestList .pageUi .layui-laypage span.layui-laypage-curr {
  border: 1px solid #ff9900 !important;
}
main .container .main-left .requestList .pageUi .layui-laypage .layui-laypage-curr em {
  color: #ff9900 !important;
}
main .container .main-left .requestList .pageUi .layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #f7f7fa !important;
  position: relative !important;
  padding: 0 !important;
}
main .container .main-right {
  float: right;
  width: 33.33%;
  background-color: #fff;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
main .container .main-right .right-container {
  background-color: #f4f4f4;
}
main .container .main-right .highPraise {
  padding: 20px 15px 60px 22px;
  background-color: #fff;
}
main .container .main-right .highPraise > ul > li .hightTit {
  border-bottom: 1px solid #ffdfb0;
  margin-bottom: 18px;
}
main .container .main-right .highPraise > ul > li .hightTit span:nth-of-type(1) {
  font-size: 20px;
  color: #444;
  display: inline-block;
  font-weight: bold;
  padding-bottom: 7px;
  margin-right: 10px;
  border-bottom: 4px solid #ff9900;
}
main .container .main-right .highPraise > ul > li .hightTit .linebar {
  width: calc(100% - 146px);
  display: inline-block;
  height: 4px;
  background: url("../images/line-bar.gif");
}
main .container .main-right .highPraise .hightImg img {
  margin-bottom: 25px;
}
main .container .main-right .highPraise .hightItem {
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 16px;
}
main .container .main-right .highPraise .hightItem a:hover {
  color: #ff9900;
}

.pageUi {
  text-align: center;
}
.pageUi .layui-laypage {
  position: relative;
  padding: 0 39px;
  margin: 39px 0 21px 0 !important;
}
.pageUi .layui-laypage a, .pageUi .layui-laypage span {
  border: 1px solid #b5b5d6 !important;
  width: 36px;
  height: 36px;
  padding: 0 !important;
  text-align: center;
  line-height: 36px;
  margin-right: 12px !important;
  border-radius: 5px;
  background-color: #f7f7fa !important;
}
.pageUi .layui-laypage .layui-laypage-first {
  position: absolute;
  border: none !important;
  left: 0;
  top: 1px;
  padding-right: 0;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-last {
  position: absolute;
  right: 1px;
  top: 1px;
  padding-left: 0;
  margin-right: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-spr {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-prev {
  border: none !important;
  background-color: transparent !important;
}
.pageUi .layui-laypage .layui-laypage-next {
  border: none !important;
  background-color: transparent !important;
  -webkit-transform: translate(1px, 0);
      -ms-transform: translate(1px, 0);
          transform: translate(1px, 0);
}
.pageUi .layui-laypage span.layui-laypage-curr {
  border: 1px solid #ff9900 !important;
}
.pageUi .layui-laypage .layui-laypage-curr em {
  color: #ff9900 !important;
}
.pageUi .layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #f7f7fa !important;
  position: relative !important;
  padding: 0 !important;
}

.hotleader .hightItem a, .recommedRead .hightItem a {
  max-width: 100px;
  font-weight: bold;
  color: #444;
  vertical-align: bottom;
}
.hotleader .hightItem:hover span, .recommedRead .hightItem:hover span {
  color: #ff9900;
}

.leaders a {
  color: #444;
}
.leaders a:nth-of-type(1) {
  font-weight: bold;
  margin-right: 10px;
}

.hasTurn {
  position: relative;
}

.hasTurn:hover .shareBox {
  display: inline-block;
}

.shareBox {
  position: absolute;
  right: 17px;
  top: 17px;
  background-color: #fff;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  width: 168px;
  display: none;
}