main .container{
    overflow: hidden;
}
main .container .main-left{
    float: left;
    width: calc(66.66% - 10px);
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}
main .container .main-right{
    float: right;
    width: 33.33%;
    background-color: #fff;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}
main .container .main-left .main-container{
    background: #fff;
    padding: 0 8px 0 15px;
}
#userList{
    height: calc(100% - 60px);
    overflow: hidden;
    overflow-y: scroll;
}
main .container .main-left .request_menu>ul{
    float: none;
}
main .container .main-left .request_menu{
    width: 100%;
    height: 52px;
    line-height: 52px;
    background-color: #fff;
}
main .container .main-left .request_menu ul li{
    float: left;
    font-size: 15px;
    padding: 0 17px;
}
main .container .main-left .request_menu ul li.active a{
    color: #ff9900;
}
main .container .main-left .request_menu ul li:hover a{
    color: #ff9900;
}

main .container .main-left .dynamic{
    background-color: #fff;
    margin-top: 10px;
    font-size: 14px;
    padding: 23px 8px 20px 0px;
    border-bottom: 1px solid #e6e6e6;
}
main .container .main-left .dynamic span{
    float: left;
    font-weight: 600;
}
main .container .main-left .dynamic p{
    float: right;
    color: #808080;
}
.pageUi{
    text-align: center;
}
.pageUi .layui-laypage {
    position: relative;
    padding:0 39px;
    margin: 39px 0 21px 0!important;
}
.layui-laypage a, .layui-laypage span{
    border: 1px solid #b5b5d6!important;
    width: 36px;
    height: 36px;
    padding: 0!important;
    text-align: center;
    line-height: 36px;
    margin-right: 12px!important;
    border-radius: 5px;
    background-color: #f7f7fa!important;
}
.pageUi .layui-laypage .layui-laypage-first{
    position: absolute;
    border: none!important;
    left: 0;
    top: 1px;
    padding-right: 0;
    background-color: transparent!important;
}
.pageUi .layui-laypage .layui-laypage-last{
    position: absolute;
    right: 1px;
    top: 1px;
    padding-left: 0;
    margin-right: 0!important;
    border: none!important;
    background-color: transparent!important;
}
.layui-laypage .layui-laypage-spr{
    border: none!important;
    background-color: transparent!important;
}
.pageUi .layui-laypage .layui-laypage-prev{
    border: none!important;
    background-color: transparent!important;
}
.pageUi .layui-laypage .layui-laypage-next{
    border: none!important;
    background-color: transparent!important;
    transform: translate(1px,0);
}
.layui-laypage span.layui-laypage-curr{
    border: 1px solid #ff9900!important;
}
.layui-laypage .layui-laypage-curr em{
    color: #ff9900!important;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color:#f7f7fa!important;
    position: relative!important;
    padding: 0!important;
}
.main-right .right-container{
    background-color: #f4f4f4;
}
.main-right .userDetail{
    background-color: #fff;
    padding: 20px 15px 60px 22px;
}
.main-right .userDetail .userHeader{
    margin-bottom: 10px;
}
.main-right .userDetail .userHeader>img{
    float: left;
    width: 88px;
    height: 88px;
    margin-right: 10px;
}
.main-right .userDetail .userHeader>div{
    float: left;
}
.main-right .userDetail .userHeader>div p:nth-of-type(1){
    font-size: 18px;
    font-weight: bold;
    color: #444;
}
.main-right .userDetail .userHeader>div p:nth-of-type(2){
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 13px;
}
.main-right .userDetail .userHeader>div p:nth-of-type(2) a{
    color: #ff9900;
}
.main-right .userDetail .userHeader>div p:nth-of-type(2) img{
    vertical-align: middle;
}
.main-right .userDetail .userHeader>a{
    float: right;
    width: 80px;
    height: 28px;
    border: 1px solid #ff9900;
    text-align: center;
    color: #ff9900;
    font-size: 14px;
    line-height: 30px;
    background-color: #fff;
    border-radius: 5px;
}

.main-right .userDetail .userPartIn>ul>li{
    float: left;
    font-size: 14px;
    color: #444;
    width: calc(25% - 1px);
    text-align: center;
    margin-bottom: 17px;
    border-right: 1px solid #ccc;
}
.main-right .userDetail .userPartIn>ul>li:nth-child(4n){
    border: none;
}
.main-right .userDetail .userCall {
    margin-bottom: 18px;
}
.main-right .userDetail .userCall img{
    float: left;
    margin-right: 10px;
}
.main-right .userDetail .userCall>div{
    float: left;
}
.main-right .userDetail .userCall>div p:nth-of-type(1){
    font-size: 14px;
    color: #444;
    margin-bottom: 10px;
}
.main-right .userDetail .userCall>div p:nth-of-type(2){
    font-size: 18px;
    color: #444;
}
.main-right .userDetail .userCall>a{
    float: right;
    // width: 79px;
    padding: 0 8px;
    height: 31px;
    font-size: 14px;
    color: #ff9900;
    line-height: 31px;
    text-align: center;
    border: 1px solid #ff9900;
    border-radius: 5px;
}
.main-right .highPraise{
    padding: 20px 15px 10px 22px;
    background-color: #fff;
    margin-top: 10px;
}
.main-right .highPraise>ul>li .hightTit{
    border-bottom: 1px solid #ffdfb0;
    margin-bottom: 27px;
}
.main-right .highPraise>ul>li .hightTit span{
    font-size: 20px;
    color: #444;
    display: inline-block;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: 4px solid #ff9900;
}
.main-right .highPraise>ul>li .hightItem{
    margin-bottom: 17px;
    font-size: 16px;
}
.main-right .highPraise .hightImg img{
    margin-bottom: 25px;
}
.requestList{
    >ul{
        >li.answerMust{
          padding-top: 30px;
          padding-bottom: 25px;
          border-bottom: 1px solid #e6e6e6; 
          .questitle{
              .QuestionTit{
                  &:hover{
                      color: #ff9900;
                  }
              }
          }
          .userQuestion{
              >.userInfo{
                  &:hover{
                      a{
                          span{
                              color: #ff9900;
                          }
                      }
                  }
              }
              >div{
                  float: left;
                  &:nth-of-type(2){
                      float: right;
                  }
              }
              .QuestionTit{
                  color: #444444;
                  font-weight: bold;
                  font-size: 18px;
                  color: #444;
              }
              .userInfo {
                  padding-right: 20px;
                  box-sizing: border-box;
                  span{
                      font-size: 16px;
                      color: #444;
                  }
              }
          }
          .QuestionDetail{
              margin-top: 23px;
              overflow: hidden;
              margin-bottom: 16px;
              >img{
                  width: 150px;
                  height: 100px;
                  margin-right: 10px;
                  float: left;
              }
              >div{
                  word-wrap: break-word;
              }
              .newDesc{
                  img{
                      display: none;
                  }
              }
              p{
                  font-size: 14px;
                  color: #444;
                  line-height: 24px;
                  &.newDesc{
                      width: calc(100% - 160px);
                      float: right;
                      line-height: 30px;
                      word-wrap: break-word;
                  } 
                  span{
                      font-weight: bold;
                  }
              }
          }
          .commentList{
              box-shadow: 0 1px 3px rgba(18,18,18,.1);
              box-sizing: border-box;
              margin-top: 20px;
              >ul{
                  padding:0 20px;
                  padding-top: 15px;
                  box-sizing: border-box;
                  li{
                      margin-bottom: 15px;
                  }
                  >li {
                      .userHead{
                          >a {
                              img{
                                  width: 30px;
                                  height: 30px;
                                  border-radius: 50%;
                              }
                              span{
                                  margin: 0 8px;
                              }
                          }
                          a{
                              &:nth-of-type(2){
                                  margin: 0 8px;
                                  display: inline-block;
                               }
                          }
                      }
                      .descInfo{
                          padding-left: 32px;
                          .userDesc{
                              color: #121215;
                              line-height: 1.6;
                          }
                          .showAll{
                              padding: 12px 0 12px 32px;
                              margin-top: 10px;
                          }
                      }
                      .commentHandle{
                          margin-top: 10px;
                          a{
                              margin-right: 20px;
                          }
                      }
                      .replayItem{
                          margin-top: 20px;
                      }
                  }
              }
              .commentNum{
                  height: 51px;
                  padding:0 20px;
                  line-height: 51px;
                  border-bottom: 1px solid #f6f6f6;
                  border-radius: 2px;
                  span{
                      float: left;
                      font-size: 15px;
                      color: #121212;
                      font-weight: 600;
                  }
                  a{
                      float: right;
                      font-size: 15px;
                      color: #76839b;
                  }
              }
              .excellent{
                  height: 39px;
                  line-height: 39px;
                  padding:0 20px;
                  background-color: #f6f6f6;
                  font-size: 14px;
                  color: grey;
                  font-weight: 600;
              }
          }
          .timeAndZan{
              font-size: 0;
              i{
                  color: #ccc;
                  padding-right: 10px;
              }
              .showComment{
                  cursor: pointer;
              }
              .zanLeft{
                  float: left;
                  span{
                      &:nth-of-type(2){
                          margin-right: 0;
                      }
                  }
              }
              .zanRight{
                  float: right;
                  padding-right: 10px;
                  box-sizing: border-box;
                  span{
                      font-size: 14px;
                      color: #444;
                      display: inline-block;
                      margin-right: 7px;
                      /* font-weight: bold; */
                  }
                  img{
                      vertical-align: baseline;
                      width: 13px;
                  }
                  &:hover{
                      span{
                          color: #ff9900;
                      }
                  }
              }
          }
        }
    }
}

.requestList{
  min-height: 1035px;
  &>ul{
      &>li.project{
          padding: 25px 0;
          padding-right: 20px;
          border-bottom: 1px solid #e6e6e6;
          box-sizing: border-box;
          &>.questitle{
              .QuestionTit{
                  &:hover{
                      color: #ff9900;
                  }
              }
          }
          .userQuestion{
              &>div{
                  float: left;
                  &:nth-of-type(2){
                      float: right;
                      width: 20%;
                      text-align: right;
                      &:hover{
                          span{
                              color: #ff9900;
                          }
                      }
                      span{
                          display: inline-block;
                          max-width: calc(100% - 80px);
                          vertical-align: middle;
                      }
                  }
              }
              .QuestionTit{
                  color: #444444;
                  width: 75%;
                  font-weight: bold;
                  font-size: 18px;
                  margin-bottom: 13px;
                  // span{
                  //     color: #ff9900;
                  // }
              }
              .userInfo{
                  span{
                      font-size: 14px;
                      color: #444;
                  }
              }
          }
          .QuestionDetail{
              .doubleHide{
                  font-size: 14px;
                  line-height: 22px;
                  color: #444;
              }
          }
          .infos{
              padding-top: 11px;
              margin-bottom: 15px;
              a{
                  font-size: 14px;
                  color: #ff9900;
                  text-decoration: underline;
              }
          }
          // .timeAndZan{
          //     font-size: 0;
          //     a{
          //         font-size: 12px;
          //         color: #808080;
          //         background-color: #fff;
          //         border-radius: 5px;
          //         text-align: center;
          //         line-height: 24px;
          //         display: inline-block;
          //     }
          //     .favor{
          //         height: 24px;
          //         padding: 0 10px;
          //         font-size: 12px;
          //         color: #ff9900;
          //         border: 1px solid #ff9900;
          //         span{
          //             margin-right: 5px;
          //             color: #ff9900;
          //         }
          //         &.upFavor{
          //             color: #fff;
          //             background-color: #ff9900;
          //             span{
          //                 color: #fff;  
          //             }
          //         }
          //     }
          //     .cancelfavor{
          //         width: 24px;
          //         height: 24px;
          //         margin-left: 5px;
          //         margin-right: 16px;
          //         color: #ff9900;
          //         border: 1px solid #ff9900;
          //         &.downFavor{
          //             color: #fff;
          //             background-color: #ff9900;
          //         }
          //     }
          //     span{
          //         color: #999;
          //         font-size: 12px;
          //         margin-right: 12px;
          //     }
          //     .personInfo,.callInfo{
          //         color: #444;
          //         font-weight: bold;
          //     }
          //     &>i{
          //         color: #ccc;
          //         margin-right: 10px;
          //     }
          // }
      }
  }
  
}

.requestList{
  min-height: 1035px;
  &>ul{
      &>li.material{
          padding: 25px 0;
          // padding-right: 10px;
          border-bottom: 1px solid #e6e6e6;
          box-sizing: border-box;
          &>.questitle{
              .QuestionTit{
                  &:hover{
                      color: #ff9900;
                  }
              }
          }
          .userQuestion{
              &>div{
                  float: left;
                  &:nth-of-type(2){
                      float: right;
                      padding-right: 10px;
                      box-sizing: border-box;
      
                  }
              }
              .QuestionTit{
                  color: #444444;
                  font-weight: bold;
                  font-size: 18px;
                  max-width: 75%;
                  margin-bottom: 23px;
                  // span{
                  //     color: #ff9900;
                  // }
              }
              .userInfo{
                  width: 25%;
                  text-align: right;
                  float: right;
                  padding-right: 20px;
                  box-sizing: border-box;
                  &:hover{
                      span{
                          color: #ff9900;
                      }
                  }
                  span{
                      // font-weight: bold;
                      display: inline-block;
                      // width: calc(100% - 76px);
                      width: 100px;
                      font-size: 16px;
                      color: #444;
                  }
                  img{
                      vertical-align: baseline;
                  }
              }
          }
          .QuestionDetail{
              margin-bottom: 15px;
              .doubleHide{
                  font-size: 14px;
                  color: #444;
              }
              .infos{
                  padding-top: 11px;
                  margin-bottom: 15px;
                  a{
                      font-size: 14px;
                      color: #ff9900;
                      text-decoration: underline;
                  }
              }
          }
          // .timeAndZan{
          //     font-size: 0;
          //     margin-top: 16px;
          //     a{
          //         font-size: 12px;
          //         color: #999;
          //         background-color: #fff;
          //         border-radius: 5px;
          //         text-align: center;
          //         line-height: 24px;
          //         display: inline-block;
          //     }
          //     .favor{
          //         height: 24px;
          //         padding: 0 10px;
          //         font-size: 12px;
          //         border: 1px solid #ff9900;
          //         color: #ff9900;
          //         span{
          //             color: #ff9900;
          //             margin-right: 0;
          //         }
          //         &.upFavor{
          //             background-color: #ff9900;
          //             color: #fff;
          //             span{
          //                 color: #fff;
          //             }
          //         }
          //     }
          //     .cancelfavor{
          //         width: 24px;
          //         height: 24px;
          //         margin-left: 5px;
          //         margin-right: 16px;
          //         border: 1px solid #ff9900;
          //         color: #ff9900;
          //         span{
          //             color: #ff9900;
          //         }
          //         &.downFavor{
          //             background-color: #ff9900;
          //             color: #fff;
          //         }
          //     }
          //     span{
          //         color: #999;
          //         font-size: 12px;
          //         margin-right: 12px;
          //     }
          //     .personInfo,.callInfo{
          //         color: #444;
          //         font-weight: bold;
          //     }
          //     &>i{
          //         color: #ccc;
          //         margin-right: 10px;
          //     }
          // }
      }
  }
  
}

.requestList{
  min-height: 1035px;
  &>ul{
      &>li.technology{
          padding: 25px 0;
          border-bottom: 1px solid #e6e6e6;
          .userQuestion{
              &>div{
                  float: left;
                  max-width: 75%;
                  &:nth-of-type(2){
                      float: right;
                  }
              }
              &>a{
                  float: right;
                  padding-right: 20px;
                  font-size: 16px;
                  &:hover{
                      color: #ff9900;
                  }
                  span{
                      font-size: 16px;
                  }
                  img{
                      vertical-align: baseline;
                  }
              }
              .QuestionTit{
                  color: #444444;
                  font-weight: bold;
                  font-size: 18px;
                  margin-bottom: 23px;
                  &:hover{
                      color: #ff9900;
                      span{
                          color: #ff9900;
                      }
                  }
                  // span{
                  //     color: #ff9900;
                  // }
              }
              .userInfo{
                  &:hover{
                      span{
                          color: #ff9900;
                      }
                  }
                  span{
                      font-size: 14px;
                      color: #444;
                  }
              }
          }
          .QuestionDetail{
              margin-bottom: 15px;
              .doubleHide{
                  font-size: 14px;
                  color: #444;
              }
          }
          .infos{
              padding-bottom: 11px;
              a{
                  font-size: 14px;
                  color: #ff9900;
                  text-decoration: underline;
              }
          }
          // .timeAndZan{
          //     margin-top: 15px;
          //     font-size: 0;
          //     a{
          //         font-size: 12px;
          //         color: #808080;
          //         background-color: #fff;
          //         border-radius: 5px;
          //         text-align: center;
          //         line-height: 24px;
          //         display: inline-block;
          //     }
          //     .favor{
          //         height: 24px;
          //         padding: 0 10px;
          //         font-size: 12px;
          //         border: 1px solid #ff9900;
          //         color: #ff9900;
          //         span{
          //             color: #ff9900;  
          //             margin-right: 0;
          //         }
          //         &.upFavor{
          //             background-color: #ff9900;
          //             color: #fff;
          //             span{
          //                 color: #fff;
          //             }
          //         }
          //     }
          //     .cancelfavor{
          //         width: 24px;
          //         height: 24px;
          //         margin-left: 5px;
          //         margin-right: 16px;
          //         border: 1px solid #ff9900;
          //         color: #ff9900;
          //         span{
          //             color: #ff9900;  
          //         }
          //         &.downFavor{
          //             background-color: #ff9900;
          //             color: #fff;
          //         }
          //     }
          //     span{
          //         color: #999;
          //         font-size: 12px;
          //         margin-right: 12px;
          //     }
          //     .personInfo,.callInfo{
          //         color: #444;
          //         font-weight: bold;
          //     }
          //     &>i{
          //         color: #ccc;
          //         margin-right: 10px;
          //     }
          // }
      }
  }
  
}


.requestList{
  min-height: 100vh;
  &>ul{
      &>li.newExchange{
          padding: 25px 0;
          border-bottom: 1px solid #e6e6e6;
          .userQuestion{
              &>div{
                  float: left;
                  &:nth-of-type(2){
                      float: right;
                  }
              }
              .QuestionTit{
                  color: #444444;
                  font-weight: bold;
                  font-size: 18px;
                  width: 100%;
                  margin-bottom: 23px;
                  // span{
                  //     color: #ff9900;
                  // }
              }
              .userInfo{
                  span{
                      font-size: 14px;
                      color: #444;
                  }
              }
          }
          .QuestionDetail{
              margin-bottom: 15px;
              .doubleHide{
                  font-size: 14px;
                  color: #444;
              }
              .infos{
                  padding-top: 11px;
                  margin-bottom: 15px;
                  a{
                      font-size: 14px;
                      color: #ff9900;
                      text-decoration: underline;
                  }
              }
          }
          // .timeAndZan{
          //     font-size: 0;
          //     margin-top: 16px;
          //     a{
          //         font-size: 12px;
          //         color: #808080;
          //         background-color: #f2f2f2;
          //         border-radius: 5px;
          //         text-align: center;
          //         line-height: 24px;
          //         display: inline-block;
          //     }
          //     .favor{
          //         height: 24px;
          //         padding: 0 10px;
          //         font-size: 12px;
          //         border: 1px solid #ff9900;
          //         color:#ff9900;
          //         span{
          //             color:#ff9900; 
          //         }
          //         &.upFavor{
          //           background-color: #ff9900;;
          //           color: #fff;  
          //           span{
          //             color:#fff; 
          //           }
          //         }
          //     }
          //     .cancelfavor{
          //         width: 24px;
          //         height: 24px;
          //         margin-left: 5px;
          //         margin-right: 16px;
          //         border: 1px solid #ff9900;
          //         color:#ff9900;
          //         span{
          //             color:#ff9900; 
          //         }
          //         &.downFavor{
          //             background-color: #ff9900;;
          //             color: #fff; 
          //             span{
          //                 color:#fff; 
          //               } 
          //           }
          //     }
          //     span{
          //         color: #999;
          //         font-size: 12px;
          //         margin-right: 12px;
          //     }
          //     .personInfo,.callInfo{
          //         color: #444;
          //         font-weight: bold;
          //     }
          //     &>i{
          //         color: #ccc;
          //         margin-right: 10px;
          //     }
          // }
      }
  }
  
}
.requestList{
    .questitle {
        &:hover {
            .hasEditInfo,.hasDelInfo{
                display: inline-block;
            }
        }
    }
    .hasDelInfo{
        font-weight: bold;
    }
    .hasEditInfo,.hasDelInfo{
        vertical-align: sub;
        margin-left: 15px;
        // display: none;
        color: #ff9900;
        cursor: pointer;
        &:hover{
            color: #ff9900;
            display: inline-block;
        }
    }
    ul{
        li.merchants{
            float: left;
            width: 32.11%;
            padding: 14px 11px 11px 12px;
            box-sizing: border-box;
            box-shadow: 0px 1px 8px #ccc;
            margin-right: 1.835%;
            margin-bottom: 10px;
            transition: all 1s;
            &:hover{
                box-shadow: -1px 9px 37px #ccc;
                transform: translateY(-10px);
            }
            &:nth-child(3n){
                margin-right: 0;
            }
            &>a{
                display: inline-block;
                width: 100%;
                img{
                    width: 100%;
                    height: 201px;
                    border-radius: 3px;
                    overflow: hidden;
                }
                &>.singleHide{
                    font-size: 14px;
                    color: #444;
                    margin-top: 11px;
                    margin-bottom: 14px;
                }
            }
            .shopInfo{
                font-size: 14px;
                color: #999999;
                .mainInfo{
                    color: #ff9900;
                    width: 56px;
                    display: inline-block;
                    vertical-align: middle;
                }
                span.singleHide{
                    display: inline-block;
                    font-weight: bold;
                    color: #444;
                    width: calc(100% - 68px);
                    vertical-align: bottom;
                }
            }
        }
    }
}
.bindTip{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(18, 18, 18, 0.65);
    justify-content: center;
    align-items: center;
    .tipbox{
        width: 560px;
        background-color: #fff;
        padding: 19px 22px;
        box-sizing: border-box;
        height: calc(100% - 100px);
        .toptips{
            &>div{
                span{
                    float: left;
                }
                a{
                    float: right;
                }
            }
            span{
                font-size: 18px;
                font-weight: 600;
                float: left;
            }
            .tipInput{
                float: right;
                width: 267px;
                padding-left: 19px;
                box-sizing: border-box;
                height: 33px;
                border: 1px solid #cccccc;
                input{
                    width: calc(100% - 37px);
                    border: none;
                    height: 100%;
                }
                i{
                    font-size: 22px;
                    vertical-align: middle;
                    color: #ccc;
                    cursor: pointer;
                }
            }
        }
        ul{
            margin-top: 27px;
            li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 12px;
                div{
                    &>img{
                        width: 50px;
                        height: 50px;
                        margin-right: 14px;
                        float: left;
                    }
                    &>div{
                        float: left;
                        width: calc(100% - 64px);
                        .userName{
                            font-size: 16px;
                            font-weight: 600;
                            padding-bottom: 8px;
                        }
                        .companyName{
                            img{
                                width: 20px;
                                height: 18px;
                                margin-right: 4px;
                            }
                            span{
                                font-size: 14px;
                                color: #808080;
                            }
                        }
                    }
                }
                a{
                    font-size: 14px;
                    display: inline-block;
                    color: #ccc;
                    padding: 2px 5px;
                    margin-top: 10px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    border: 1px solid #ccc;
                    &:nth-of-type(1){
                        margin-top: 0;
                    }
                    &.cancelBind{
                        background-color: #ff9900;
                        color: #fff;
                        border: none;
                    }
                    &.hide{
                        display: none!important;
                    }
                }
            }
        }
    }
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width:0;
    }
    /* 滚动槽 */
    ::-webkit-scrollbar-track {
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
    border-radius:10px;
    }
    /* 滚动条滑块 */
    ::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:rgba(0,0,0,0.1);
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
    }
    ::-webkit-scrollbar-thumb:window-inactive {
    // background:rgba(255,0,0,0.4);
    }
    .hide{
        display: none!important;
    }
    .hideEdit{
        display: none!important;
    }

    .pubilshAritle{
        float: right;
        line-height: 52px;
        padding-right: 10px;
        button{
            background-color: #ff9900;
            border: none;
            color: #fff;
            padding:  10px ;
        }
    }
.searchBox{
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    box-sizing: border-box;
}
    .searchQuest{
        font-size: 0;
        display: flex;
        justify-content: space-between;
        .hasSearch{
            width: 98px;
            display: inline-block;
            height: 39px;
            width: 12.69%;
            font-size: 16px;
            color: #ff9900;
            border: 1px solid #ff9900;
            line-height: 39px;
            text-align: center;
        }
        .searchInput{
            display: inline-block;
            position: relative;
            margin: 0 10px;
            width: calc(74.08% - 20px);
            box-sizing: border-box;
            height: 41px;
            font-size: 16px;
            vertical-align: bottom;
            border: 1px solid #ccc;
            /* padding-left: 25px; */
            padding-right: 31px;
            input{
                width: calc(100% - 75px);
                border: none;
                font-size: 14px;
                position: relative;
                z-index: 9;
                margin-left: 74px;
                box-sizing: border-box;
                border-right: 0px solid #ccc;
                height: 100%;
            }
        }
        a{
            &:nth-of-type(1){
                width: 98px;
                display: inline-block;
                height: 41px;
                width: 12.69%;
                font-size: 16px;
                /* color: #ff9900; */
                /* border: 1px solid #ff9900; */
                background-color: #ff9900;
                color: #fff;
                line-height: 39px;
                text-align: center;
            }
            &::nth-of-type(2){
                width: 99px;
                width: 12.69%;
                height: 39px;
                display: inline-block;
                font-size: 16px;
                color: #cccccc;
                background-color: #fff;
                border: 1px solid #ccc;
                line-height: 41px;
                text-align: center;
            }
        }
    }