.title {
  width: 100%;
  /* height:52px;
  line-height: 52px; */
  background-color: #fff;
}

.title a {
  font-size: 15px;
  padding: 0 17px;
}

.title .titlec {
  color: #ff9900;
}

.layui-tab-brief > .layui-tab-more li.layui-this:after, .layui-tab-brief > .layui-tab-title .layui-this:after {
  border: none !important;
}

.layui-tab-brief > .layui-tab-title .layui-this {
  color: #ff9900;
}

.ncenter {
  width: 100%;
  height: 670px;
  background: url("../images/user-center.png") no-repeat center;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ncenter-in {
  width: 450px;
  height: 673px;
  background: rgba(255, 255, 255, 0.96);
  padding: 30px 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ncenter-in h2 {
  font-size: 28px;
  color: #444444;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.ncenter-in .ncenter-p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 18px;
}

.ncenter-in .ncenter-p p {
  width: 80px;
  text-align: right;
  margin-right: 20px;
  color: #444444;
}

.ncenter-in .ncenter-p img {
  display: block;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin-left: -58px;
}

.ncenter-in .ncenter-p input {
  width: 260px;
  height: 32px;
  display: block;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
}

.ncenter-p div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ncenter-in button {
  width: 120px;
  height: 50px;
  background: #ff9900;
  display: block;
  border: none;
  outline: none;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 40px;
  font-size: 14px;
  color: #fff;
}

.ncenter-in .ncenter-p label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.ncenter-in .ncenter-p label input {
  width: auto;
  height: auto;
  display: inline-block;
  margin-right: 6px;
}

.ncenter-in .ncenter-p textarea {
  width: 260px;
  height: 70px;
  display: block;
  resize: none;
  outline: none;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.ncenter-in .btninfo {
  margin-top: 0px;
}

.ncenter-in .avatarbox input {
  display: block;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  z-index: 9;
  opacity: 0;
}

.emailHeader {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.emailHeader span {
  display: inline-block;
  padding: 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.emailHeader span:nth-of-type(1) {
  width: 20%;
}
.emailHeader span:nth-of-type(2) {
  width: 55%;
}
.emailHeader span:nth-of-type(3) {
  width: 20%;
}

.emailList > li {
  cursor: pointer;
  border-bottom: 1px solid #e6e6e6;
}
.emailList > li > div {
  display: inline-block;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.emailList > li > div:nth-of-type(1) {
  width: 20%;
}
.emailList > li > div:nth-of-type(2) {
  width: 55%;
  vertical-align: middle;
}
.emailList > li > div:nth-of-type(3) {
  width: 20%;
}

.emailInfo {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgba(18, 18, 18, 0.65);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.emailInfo .emailBox {
  width: 836px;
  padding: 20px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #fff;
  height: calc(100% - 60px);
}
.emailInfo .emailBox .tiptitle span {
  font-size: 18px;
  color: #444;
  font-weight: 600;
  float: left;
}
.emailInfo .emailBox .tiptitle a {
  float: right;
}
.emailInfo .emailBox ul {
  background: #eff5fb;
  border: 1px solid #aac1de;
  height: calc(100% - 60px);
  padding: 10px;
  margin-top: 15px;
}
.emailInfo .emailBox ul > li {
  margin-bottom: 15px;
}
.emailInfo .emailBox ul > li.emailTitle {
  text-align: center;
  font-weight: bold;
}
.emailInfo .emailBox ul > li.emailTitle > div {
  display: inline-block;
  margin: auto;
  text-align: justify;
}
.emailInfo .emailBox ul > li.emailName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.emailInfo .emailBox ul > li.emailTxt p {
  display: inline-block;
}
.emailInfo .emailBox ul > li.emailTxt p:nth-of-type(1) {
  width: 42px;
}
.emailInfo .emailBox ul > li.emailTxt p:nth-of-type(2) {
  width: calc(100% - 46px);
  vertical-align: top;
  word-wrap: break-word;
}