@charset "UTF-8";
main .container {
  overflow: hidden;
}

main .container .main-left {
  float: left;
  width: calc(66.66% - 10px);
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}

main .container .main-right {
  float: right;
  width: 33.33%;
  background-color: #fff;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}

main .container .main-left .main-container {
  background: #fff;
  padding: 0 8px 0 15px;
}

#userList {
  height: calc(100% - 60px);
  overflow: hidden;
  overflow-y: scroll;
}

main .container .main-left .request_menu > ul {
  float: none;
}

main .container .main-left .request_menu {
  width: 100%;
  height: 52px;
  line-height: 52px;
  background-color: #fff;
}

main .container .main-left .request_menu ul li {
  float: left;
  font-size: 15px;
  padding: 0 17px;
}

main .container .main-left .request_menu ul li.active a {
  color: #ff9900;
}

main .container .main-left .request_menu ul li:hover a {
  color: #ff9900;
}

main .container .main-left .dynamic {
  background-color: #fff;
  margin-top: 10px;
  font-size: 14px;
  padding: 23px 8px 20px 0px;
  border-bottom: 1px solid #e6e6e6;
}

main .container .main-left .dynamic span {
  float: left;
  font-weight: 600;
}

main .container .main-left .dynamic p {
  float: right;
  color: #808080;
}

.pageUi {
  text-align: center;
}

.pageUi .layui-laypage {
  position: relative;
  padding: 0 39px;
  margin: 39px 0 21px 0 !important;
}

.layui-laypage a, .layui-laypage span {
  border: 1px solid #b5b5d6 !important;
  width: 36px;
  height: 36px;
  padding: 0 !important;
  text-align: center;
  line-height: 36px;
  margin-right: 12px !important;
  border-radius: 5px;
  background-color: #f7f7fa !important;
}

.pageUi .layui-laypage .layui-laypage-first {
  position: absolute;
  border: none !important;
  left: 0;
  top: 1px;
  padding-right: 0;
  background-color: transparent !important;
}

.pageUi .layui-laypage .layui-laypage-last {
  position: absolute;
  right: 1px;
  top: 1px;
  padding-left: 0;
  margin-right: 0 !important;
  border: none !important;
  background-color: transparent !important;
}

.layui-laypage .layui-laypage-spr {
  border: none !important;
  background-color: transparent !important;
}

.pageUi .layui-laypage .layui-laypage-prev {
  border: none !important;
  background-color: transparent !important;
}

.pageUi .layui-laypage .layui-laypage-next {
  border: none !important;
  background-color: transparent !important;
  -webkit-transform: translate(1px, 0);
      -ms-transform: translate(1px, 0);
          transform: translate(1px, 0);
}

.layui-laypage span.layui-laypage-curr {
  border: 1px solid #ff9900 !important;
}

.layui-laypage .layui-laypage-curr em {
  color: #ff9900 !important;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #f7f7fa !important;
  position: relative !important;
  padding: 0 !important;
}

.main-right .right-container {
  background-color: #f4f4f4;
}

.main-right .userDetail {
  background-color: #fff;
  padding: 20px 15px 60px 22px;
}

.main-right .userDetail .userHeader {
  margin-bottom: 10px;
}

.main-right .userDetail .userHeader > img {
  float: left;
  width: 88px;
  height: 88px;
  margin-right: 10px;
}

.main-right .userDetail .userHeader > div {
  float: left;
}

.main-right .userDetail .userHeader > div p:nth-of-type(1) {
  font-size: 18px;
  font-weight: bold;
  color: #444;
}

.main-right .userDetail .userHeader > div p:nth-of-type(2) {
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 13px;
}

.main-right .userDetail .userHeader > div p:nth-of-type(2) a {
  color: #ff9900;
}

.main-right .userDetail .userHeader > div p:nth-of-type(2) img {
  vertical-align: middle;
}

.main-right .userDetail .userHeader > a {
  float: right;
  width: 80px;
  height: 28px;
  border: 1px solid #ff9900;
  text-align: center;
  color: #ff9900;
  font-size: 14px;
  line-height: 30px;
  background-color: #fff;
  border-radius: 5px;
}

.main-right .userDetail .userPartIn > ul > li {
  float: left;
  font-size: 14px;
  color: #444;
  width: calc(25% - 1px);
  text-align: center;
  margin-bottom: 17px;
  border-right: 1px solid #ccc;
}

.main-right .userDetail .userPartIn > ul > li:nth-child(4n) {
  border: none;
}

.main-right .userDetail .userCall {
  margin-bottom: 18px;
}

.main-right .userDetail .userCall img {
  float: left;
  margin-right: 10px;
}

.main-right .userDetail .userCall > div {
  float: left;
}

.main-right .userDetail .userCall > div p:nth-of-type(1) {
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
}

.main-right .userDetail .userCall > div p:nth-of-type(2) {
  font-size: 18px;
  color: #444;
}

.main-right .userDetail .userCall > a {
  float: right;
  padding: 0 8px;
  height: 31px;
  font-size: 14px;
  color: #ff9900;
  line-height: 31px;
  text-align: center;
  border: 1px solid #ff9900;
  border-radius: 5px;
}

.main-right .highPraise {
  padding: 20px 15px 10px 22px;
  background-color: #fff;
  margin-top: 10px;
}

.main-right .highPraise > ul > li .hightTit {
  border-bottom: 1px solid #ffdfb0;
  margin-bottom: 27px;
}

.main-right .highPraise > ul > li .hightTit span {
  font-size: 20px;
  color: #444;
  display: inline-block;
  font-weight: bold;
  padding-bottom: 7px;
  border-bottom: 4px solid #ff9900;
}

.main-right .highPraise > ul > li .hightItem {
  margin-bottom: 17px;
  font-size: 16px;
}

.main-right .highPraise .hightImg img {
  margin-bottom: 25px;
}

.requestList > ul > li.answerMust {
  padding-top: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}
.requestList > ul > li.answerMust .questitle .QuestionTit:hover {
  color: #ff9900;
}
.requestList > ul > li.answerMust .userQuestion > .userInfo:hover a span {
  color: #ff9900;
}
.requestList > ul > li.answerMust .userQuestion > div {
  float: left;
}
.requestList > ul > li.answerMust .userQuestion > div:nth-of-type(2) {
  float: right;
}
.requestList > ul > li.answerMust .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  color: #444;
}
.requestList > ul > li.answerMust .userQuestion .userInfo {
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList > ul > li.answerMust .userQuestion .userInfo span {
  font-size: 16px;
  color: #444;
}
.requestList > ul > li.answerMust .QuestionDetail {
  margin-top: 23px;
  overflow: hidden;
  margin-bottom: 16px;
}
.requestList > ul > li.answerMust .QuestionDetail > img {
  width: 150px;
  height: 100px;
  margin-right: 10px;
  float: left;
}
.requestList > ul > li.answerMust .QuestionDetail > div {
  word-wrap: break-word;
}
.requestList > ul > li.answerMust .QuestionDetail .newDesc img {
  display: none;
}
.requestList > ul > li.answerMust .QuestionDetail p {
  font-size: 14px;
  color: #444;
  line-height: 24px;
}
.requestList > ul > li.answerMust .QuestionDetail p.newDesc {
  width: calc(100% - 160px);
  float: right;
  line-height: 30px;
  word-wrap: break-word;
}
.requestList > ul > li.answerMust .QuestionDetail p span {
  font-weight: bold;
}
.requestList > ul > li.answerMust .commentList {
  -webkit-box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
          box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
}
.requestList > ul > li.answerMust .commentList > ul {
  padding: 0 20px;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList > ul > li.answerMust .commentList > ul li {
  margin-bottom: 15px;
}
.requestList > ul > li.answerMust .commentList > ul > li .userHead > a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.requestList > ul > li.answerMust .commentList > ul > li .userHead > a span {
  margin: 0 8px;
}
.requestList > ul > li.answerMust .commentList > ul > li .userHead a:nth-of-type(2) {
  margin: 0 8px;
  display: inline-block;
}
.requestList > ul > li.answerMust .commentList > ul > li .descInfo {
  padding-left: 32px;
}
.requestList > ul > li.answerMust .commentList > ul > li .descInfo .userDesc {
  color: #121215;
  line-height: 1.6;
}
.requestList > ul > li.answerMust .commentList > ul > li .descInfo .showAll {
  padding: 12px 0 12px 32px;
  margin-top: 10px;
}
.requestList > ul > li.answerMust .commentList > ul > li .commentHandle {
  margin-top: 10px;
}
.requestList > ul > li.answerMust .commentList > ul > li .commentHandle a {
  margin-right: 20px;
}
.requestList > ul > li.answerMust .commentList > ul > li .replayItem {
  margin-top: 20px;
}
.requestList > ul > li.answerMust .commentList .commentNum {
  height: 51px;
  padding: 0 20px;
  line-height: 51px;
  border-bottom: 1px solid #f6f6f6;
  border-radius: 2px;
}
.requestList > ul > li.answerMust .commentList .commentNum span {
  float: left;
  font-size: 15px;
  color: #121212;
  font-weight: 600;
}
.requestList > ul > li.answerMust .commentList .commentNum a {
  float: right;
  font-size: 15px;
  color: #76839b;
}
.requestList > ul > li.answerMust .commentList .excellent {
  height: 39px;
  line-height: 39px;
  padding: 0 20px;
  background-color: #f6f6f6;
  font-size: 14px;
  color: grey;
  font-weight: 600;
}
.requestList > ul > li.answerMust .timeAndZan {
  font-size: 0;
}
.requestList > ul > li.answerMust .timeAndZan i {
  color: #ccc;
  padding-right: 10px;
}
.requestList > ul > li.answerMust .timeAndZan .showComment {
  cursor: pointer;
}
.requestList > ul > li.answerMust .timeAndZan .zanLeft {
  float: left;
}
.requestList > ul > li.answerMust .timeAndZan .zanLeft span:nth-of-type(2) {
  margin-right: 0;
}
.requestList > ul > li.answerMust .timeAndZan .zanRight {
  float: right;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList > ul > li.answerMust .timeAndZan .zanRight span {
  font-size: 14px;
  color: #444;
  display: inline-block;
  margin-right: 7px;
  /* font-weight: bold; */
}
.requestList > ul > li.answerMust .timeAndZan .zanRight img {
  vertical-align: baseline;
  width: 13px;
}
.requestList > ul > li.answerMust .timeAndZan .zanRight:hover span {
  color: #ff9900;
}

.requestList {
  min-height: 1035px;
}
.requestList > ul > li.project {
  padding: 25px 0;
  padding-right: 20px;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList > ul > li.project > .questitle .QuestionTit:hover {
  color: #ff9900;
}
.requestList > ul > li.project .userQuestion > div {
  float: left;
}
.requestList > ul > li.project .userQuestion > div:nth-of-type(2) {
  float: right;
  width: 20%;
  text-align: right;
}
.requestList > ul > li.project .userQuestion > div:nth-of-type(2):hover span {
  color: #ff9900;
}
.requestList > ul > li.project .userQuestion > div:nth-of-type(2) span {
  display: inline-block;
  max-width: calc(100% - 80px);
  vertical-align: middle;
}
.requestList > ul > li.project .userQuestion .QuestionTit {
  color: #444444;
  width: 75%;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 13px;
}
.requestList > ul > li.project .userQuestion .userInfo span {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.project .QuestionDetail .doubleHide {
  font-size: 14px;
  line-height: 22px;
  color: #444;
}
.requestList > ul > li.project .infos {
  padding-top: 11px;
  margin-bottom: 15px;
}
.requestList > ul > li.project .infos a {
  font-size: 14px;
  color: #ff9900;
  text-decoration: underline;
}

.requestList {
  min-height: 1035px;
}
.requestList > ul > li.material {
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList > ul > li.material > .questitle .QuestionTit:hover {
  color: #ff9900;
}
.requestList > ul > li.material .userQuestion > div {
  float: left;
}
.requestList > ul > li.material .userQuestion > div:nth-of-type(2) {
  float: right;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList > ul > li.material .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  max-width: 75%;
  margin-bottom: 23px;
}
.requestList > ul > li.material .userQuestion .userInfo {
  width: 25%;
  text-align: right;
  float: right;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.requestList > ul > li.material .userQuestion .userInfo:hover span {
  color: #ff9900;
}
.requestList > ul > li.material .userQuestion .userInfo span {
  display: inline-block;
  width: 100px;
  font-size: 16px;
  color: #444;
}
.requestList > ul > li.material .userQuestion .userInfo img {
  vertical-align: baseline;
}
.requestList > ul > li.material .QuestionDetail {
  margin-bottom: 15px;
}
.requestList > ul > li.material .QuestionDetail .doubleHide {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.material .QuestionDetail .infos {
  padding-top: 11px;
  margin-bottom: 15px;
}
.requestList > ul > li.material .QuestionDetail .infos a {
  font-size: 14px;
  color: #ff9900;
  text-decoration: underline;
}

.requestList {
  min-height: 1035px;
}
.requestList > ul > li.technology {
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;
}
.requestList > ul > li.technology .userQuestion > div {
  float: left;
  max-width: 75%;
}
.requestList > ul > li.technology .userQuestion > div:nth-of-type(2) {
  float: right;
}
.requestList > ul > li.technology .userQuestion > a {
  float: right;
  padding-right: 20px;
  font-size: 16px;
}
.requestList > ul > li.technology .userQuestion > a:hover {
  color: #ff9900;
}
.requestList > ul > li.technology .userQuestion > a span {
  font-size: 16px;
}
.requestList > ul > li.technology .userQuestion > a img {
  vertical-align: baseline;
}
.requestList > ul > li.technology .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 23px;
}
.requestList > ul > li.technology .userQuestion .QuestionTit:hover {
  color: #ff9900;
}
.requestList > ul > li.technology .userQuestion .QuestionTit:hover span {
  color: #ff9900;
}
.requestList > ul > li.technology .userQuestion .userInfo:hover span {
  color: #ff9900;
}
.requestList > ul > li.technology .userQuestion .userInfo span {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.technology .QuestionDetail {
  margin-bottom: 15px;
}
.requestList > ul > li.technology .QuestionDetail .doubleHide {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.technology .infos {
  padding-bottom: 11px;
}
.requestList > ul > li.technology .infos a {
  font-size: 14px;
  color: #ff9900;
  text-decoration: underline;
}

.requestList {
  min-height: 100vh;
}
.requestList > ul > li.newExchange {
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;
}
.requestList > ul > li.newExchange .userQuestion > div {
  float: left;
}
.requestList > ul > li.newExchange .userQuestion > div:nth-of-type(2) {
  float: right;
}
.requestList > ul > li.newExchange .userQuestion .QuestionTit {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  margin-bottom: 23px;
}
.requestList > ul > li.newExchange .userQuestion .userInfo span {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.newExchange .QuestionDetail {
  margin-bottom: 15px;
}
.requestList > ul > li.newExchange .QuestionDetail .doubleHide {
  font-size: 14px;
  color: #444;
}
.requestList > ul > li.newExchange .QuestionDetail .infos {
  padding-top: 11px;
  margin-bottom: 15px;
}
.requestList > ul > li.newExchange .QuestionDetail .infos a {
  font-size: 14px;
  color: #ff9900;
  text-decoration: underline;
}

.requestList .questitle:hover .hasEditInfo, .requestList .questitle:hover .hasDelInfo {
  display: inline-block;
}
.requestList .hasDelInfo {
  font-weight: bold;
}
.requestList .hasEditInfo, .requestList .hasDelInfo {
  vertical-align: sub;
  margin-left: 15px;
  color: #ff9900;
  cursor: pointer;
}
.requestList .hasEditInfo:hover, .requestList .hasDelInfo:hover {
  color: #ff9900;
  display: inline-block;
}
.requestList ul li.merchants {
  float: left;
  width: 32.11%;
  padding: 14px 11px 11px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 8px #ccc;
          box-shadow: 0px 1px 8px #ccc;
  margin-right: 1.835%;
  margin-bottom: 10px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.requestList ul li.merchants:hover {
  -webkit-box-shadow: -1px 9px 37px #ccc;
          box-shadow: -1px 9px 37px #ccc;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
.requestList ul li.merchants:nth-child(3n) {
  margin-right: 0;
}
.requestList ul li.merchants > a {
  display: inline-block;
  width: 100%;
}
.requestList ul li.merchants > a img {
  width: 100%;
  height: 201px;
  border-radius: 3px;
  overflow: hidden;
}
.requestList ul li.merchants > a > .singleHide {
  font-size: 14px;
  color: #444;
  margin-top: 11px;
  margin-bottom: 14px;
}
.requestList ul li.merchants .shopInfo {
  font-size: 14px;
  color: #999999;
}
.requestList ul li.merchants .shopInfo .mainInfo {
  color: #ff9900;
  width: 56px;
  display: inline-block;
  vertical-align: middle;
}
.requestList ul li.merchants .shopInfo span.singleHide {
  display: inline-block;
  font-weight: bold;
  color: #444;
  width: calc(100% - 68px);
  vertical-align: bottom;
}

.bindTip {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(18, 18, 18, 0.65);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bindTip .tipbox {
  width: 560px;
  background-color: #fff;
  padding: 19px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(100% - 100px);
}
.bindTip .tipbox .toptips > div span {
  float: left;
}
.bindTip .tipbox .toptips > div a {
  float: right;
}
.bindTip .tipbox .toptips span {
  font-size: 18px;
  font-weight: 600;
  float: left;
}
.bindTip .tipbox .toptips .tipInput {
  float: right;
  width: 267px;
  padding-left: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 33px;
  border: 1px solid #cccccc;
}
.bindTip .tipbox .toptips .tipInput input {
  width: calc(100% - 37px);
  border: none;
  height: 100%;
}
.bindTip .tipbox .toptips .tipInput i {
  font-size: 22px;
  vertical-align: middle;
  color: #ccc;
  cursor: pointer;
}
.bindTip .tipbox ul {
  margin-top: 27px;
}
.bindTip .tipbox ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.bindTip .tipbox ul li div > img {
  width: 50px;
  height: 50px;
  margin-right: 14px;
  float: left;
}
.bindTip .tipbox ul li div > div {
  float: left;
  width: calc(100% - 64px);
}
.bindTip .tipbox ul li div > div .userName {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 8px;
}
.bindTip .tipbox ul li div > div .companyName img {
  width: 20px;
  height: 18px;
  margin-right: 4px;
}
.bindTip .tipbox ul li div > div .companyName span {
  font-size: 14px;
  color: #808080;
}
.bindTip .tipbox ul li a {
  font-size: 14px;
  display: inline-block;
  color: #ccc;
  padding: 2px 5px;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.bindTip .tipbox ul li a:nth-of-type(1) {
  margin-top: 0;
}
.bindTip .tipbox ul li a.cancelBind {
  background-color: #ff9900;
  color: #fff;
  border: none;
}
.bindTip .tipbox ul li a.hide {
  display: none !important;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 0;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

.hide {
  display: none !important;
}

.hideEdit {
  display: none !important;
}

.pubilshAritle {
  float: right;
  line-height: 52px;
  padding-right: 10px;
}
.pubilshAritle button {
  background-color: #ff9900;
  border: none;
  color: #fff;
  padding: 10px;
}

.searchBox {
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.searchQuest {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.searchQuest .hasSearch {
  width: 98px;
  display: inline-block;
  height: 39px;
  width: 12.69%;
  font-size: 16px;
  color: #ff9900;
  border: 1px solid #ff9900;
  line-height: 39px;
  text-align: center;
}
.searchQuest .searchInput {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  width: calc(74.08% - 20px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 41px;
  font-size: 16px;
  vertical-align: bottom;
  border: 1px solid #ccc;
  /* padding-left: 25px; */
  padding-right: 31px;
}
.searchQuest .searchInput input {
  width: calc(100% - 75px);
  border: none;
  font-size: 14px;
  position: relative;
  z-index: 9;
  margin-left: 74px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 0px solid #ccc;
  height: 100%;
}
.searchQuest a:nth-of-type(1) {
  width: 98px;
  display: inline-block;
  height: 41px;
  width: 12.69%;
  font-size: 16px;
  /* color: #ff9900; */
  /* border: 1px solid #ff9900; */
  background-color: #ff9900;
  color: #fff;
  line-height: 39px;
  text-align: center;
}
.searchQuest a::nth-of-type(2) {
  width: 99px;
  width: 12.69%;
  height: 39px;
  display: inline-block;
  font-size: 16px;
  color: #cccccc;
  background-color: #fff;
  border: 1px solid #ccc;
  line-height: 41px;
  text-align: center;
}